{% use 'bootstrap_4_layout.html.twig' %}


{# A lenti reszt ha kikommentelem, akkor a hibauzentek felul, a label mellett is megjelennek!! #}

{% block form_label_errors %}
{% endblock form_label_errors %}


{# Ez azért kell, hogy az ERROR badge ne jelenjen meg a hibaüzenetben. #}
{% block form_errors -%}
    {%- if errors|length > 0 -%}
        <span class="{% if form is not rootform %}invalid-feedback{% else %}alert alert-danger{% endif %} d-block">
            {%- for error in errors -%}
                <span class="d-block">
                    <span class="form-error-message">{{ error.message }}</span>
                </span>
            {%- endfor -%}
        </span>
    {%- endif %}
{%- endblock form_errors %}


{#{%- block choice_widget_collapsed -%}#}
    {#{%- if required and placeholder is none and not placeholder_in_choices and not multiple and (attr.size is not defined or attr.size <= 1) -%}#}
        {#{% set required = false %}#}
    {#{%- endif -%}#}
    {#<select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>#}
        {#{%- if placeholder is not none -%}#}
            {#<option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</option>#}
        {#{%- endif -%}#}
        {#{%- if preferred_choices|length > 0 -%}#}
            {#{% set options = preferred_choices %}#}
            {#{{- block('choice_widget_options') -}}#}
            {#{%- if choices|length > 0 and separator is not none -%}#}
                {#<option disabled="disabled">{{ separator }}</option>#}
            {#{%- endif -%}#}
        {#{%- endif -%}#}
        {#{%- set options = choices -%}#}
        {#{{- block('choice_widget_options') -}}#}
    {#</select>#}
    {# Ezt szurtam en be !! #}
    {#{% if not multiple %}<i class="fas fa-chevron-down form-control-dropdown"></i>{% endif %}#}
{#{%- endblock choice_widget_collapsed -%}#}