    <h6 class="checkout-block-title">Fizetés mód</h6>

    <div class="mt-2">
        {% if order.paymentMethod is defined and order.paymentMethod %}
            {{ order.paymentMethod.getName() }}
        {% else %}
            {{ 'order.payment.Payment'|trans }}
        {% endif %}
        <div class="text-size-secondary text-muted mt-1">
        {% if order.paymentMethod is defined and order.paymentMethod %}
            <p>{{ order.paymentMethod.short() }} </p>
            {% if order.paymentMethod.image %}
                <div class="mt-2">
                    <img class="h-20px" src="{{ asset('/uploads/images/termekek/' ~ order.paymentMethod.image) }}" />
                </div>
            {% endif %}
            {% if order.isBankTransfer is defined and order.isBankTransfer == true %}
                <a class="btnX btn-link-secondaryX" data-toggle="collapse" href="#collapseReszletek" role="button" aria-expanded="false" aria-controls="collapseReszletek">Az utaláshoz szükséges infók <i class="fas fa-angle-down ml-1"></i></a>
                <div class="text-smX mt-1 collapse" id="collapseReszletek">
                    {{ order.paymentMethod.description|raw }}
                </div>
            {% endif %}
        {% else %}
            {% include 'admin/_missing-data-insert.html.twig' %}
        {% endif %}
        </div>
    </div>