    <h5 class="checkout-block-title">{{ 'checkout.payment.payment-method'|trans }}</h5>

    <div class="mt-2">
        {% if order.paymentMethod is defined and order.paymentMethod is not empty %}
            {{ order.paymentMethod.name }}
        {% else %}
            {% include 'admin/_missing-data-insert.html.twig' %}
        {% endif %}
        <div class="text-muted mt-1">
        {% if order.paymentMethod is defined and order.paymentMethod %}
            <div>
                <p>{{ order.paymentMethod.short() }} </p>
                {% if order.paymentMethod.image %}
                    <div class="mt-2">
                        <img class="h-20px" src="{{ asset('/uploads/images/icons/' ~ order.paymentMethod.image) }}" />
                    </div>
                {% endif %}
            </div>
            {% if order.isBankTransfer is defined and order.isBankTransfer == true %}
                <div class="mt-3">
                    <a class="btn btn-secondary collapse-arrow-show" data-toggle="collapse" href="#collapseReszletek" role="button" aria-expanded="false" aria-controls="collapseReszletek">Az utaláshoz szükséges infók</a>
                    <div class="mt-3 collapse" id="collapseReszletek">
                        {{ order.paymentMethod.description|raw }}
                    </div>
                </div>
            {% endif %}
        {% else %}
            {% include 'admin/_missing-data-insert.html.twig' %}
        {% endif %}
        </div>
    </div>