{{ form_start(form) }}

<section name="szallitasi_cim">
    <div class="container mb-4">
        <div class="row">
            <div class="col-lg-12">
                <div class="cartX bg-white">
                    <div class="cart-wrapper">

                        <!-- header -->
                        <div class="checkout-block-header">
                            <div class="row">
                                <div class="col-xl-8 mx-autoX">
                                    <h4 class="text-uppercase">Szállítási cím</h4>
                                </div>
                            </div>
                        </div>

                        <div class="block-body">
                            <div class="row">

                                <div class="col-lg-8">
                                    <p class="text-sm text-muted">Ide írd be annak a személynek a nevét, címét, telefonszámát aki kapni fogja a virágot/ajándékot.</p>
                                </div>

                                <!-- delivery fields -->
                                {{ include('/webshop/cart/deliveryAddress_fields.html.twig') }}
                                <!-- /delivery fields -->

                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>
</section>

<section name="uzenet_irasa">
    <div class="container mb-4">
        <div class="row">
            <div class="col-lg-12">
                <div class="cartX bg-white">
                    <div class="cart-wrapper">

                        <!-- header -->
                        <div class="checkout-block-header">
                            <div class="row">
                                <div class="col-xl-8 mx-autoX">
                                    <h4 class="text-uppercase">Üzenet a címzettnek</h4>
                                    <!--p class="text-sm text-muted">Megadhatsz egy egyéni üzenetet, amelyet egy üdvözlölapra írunk.</p-->
                                </div>
                            </div>
                        </div>

                        <!-- body-->

                        <div class="block-body col-lg-6">
                            <div class="row">
                                <!--div class="col-lg-8">
                                    <p class="text-sm text-muted">Megadhatsz egy egyéni üzenetet, amelyet egy üdvözlölapra írunk.</p>
                                </div-->
                                <div class="form-group col-lg-12">
                                    <label for="{{ form.message.vars.full_name }}" class="form-label">Ide írd az üzenetet (max 200 karakter) *</label>
                                    {#<textarea rows="5" name="personal_message" id="personal_message" placeholder="Ide írd az üzenetet" required="required" class="form-control"></textarea>#}
                                    {#<textarea rows="5" id="{{ form.message.vars.id }}" name="{{ form.message.vars.full_name }}" placeholder="Ide írd az üzenetet" class="form-control"></textarea>#}
                                    {{ form_widget(form.message, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="{{ form.messageAuthor.vars.full_name }}" class="form-label">Aláírásnév (ezt írjuk az üdvözlőlapra)</label>
                                    {#<input type="text" id="{{ form.messageAuthor.vars.id }}" name="{{ form.messageAuthor.vars.full_name }}" placeholder="Szabó János" class="form-control">#}
                                    {{ form_widget(form.messageAuthor, {'attr': {'class': 'form-control'}}) }}
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>



        </div>
    </div>
</section>

<section name="tovabb_lepes">
    <div class="container mb-5">
        <div class="row">
            <div class="col-lg-12">

                <div class="d-flex justify-content-between flex-column flex-lg-row">
                    <a href="category.html" class="btn btn-lg btn-link text-muted order-2 order-lg-1"><i class="fa fa-chevron-left"></i> Vásárlás folytatása</a>
                    <button type="submit" class="btn btn-lg btn-success order-1 order-lg-2">Tovább a fizetéshez <i class="fa fa-chevron-right"></i></button>

                    {#<a href="{{ path('site_payment') }}" class="btn btn-lg btn-success order-1 order-lg-2"><i class="fa fa-chevron-right"></i></a>#}
                </div>

            </div>
        </div>
    </div>
</section>



{{ form_end(form) }}