{% for item in order.items %}
    <div class="JS--Wrapper-cartItem cart-item" data-item-quantity="{% if item.quantity is defined %}{{ item.quantity }}{% endif %}">
        <div class="d-flex justify-content-between align-items-start">

            <div class="flex-grow-1 pr-0">
                <div class="">
                    <div class="d-flex align-items-start mr-2">
                        <a href="{{ path('site-product-show', {'slug': item.product.slug}) }}" class="{% if hasProductLink is defined and not hasProductLink %}pointer-events-none{% endif %}">
                            <img src="{{ uploaded_asset(item.product.coverImageAsset)|imagine_filter('product_small') }}" alt="{{ item.product.name}}" class="img-fluid cart-item-img">
                        </a>
                        <div class="d-flex w-100 justify-content-between">
                            <div class="pl-3">
                                <a href="{{ path('site-product-show', {'slug': item.product.slug}) }}" class="cart-item-link{% if hasProductLink is defined and not hasProductLink %} pointer-events-none{% endif %}">{{ item.product.name }}</a>
                                {% if showQuantity is defined and showQuantity %}
                                    <div class="mt-1">
                                        <div class="d-flex align-items-center">
                                            <div class="JS--Wrapper-itemQuantityBody d-flex align-items-center text-center">
                                                {{ render(controller('App\\Controller\\Shop\\CartController::setItemQuantityForm', {'id' : item.id})) }}
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <span class="d-block cart-item-quantity">{{ 'cart.quantity'|trans }}: {{ item.quantity }} </span>
                                    {% if item.product.isOnSale %}
                                        <div class="price">
                                            <span class="price-sale">{{ (item.product.sellingPrice * item.quantity)|money }}</span>
                                            <span class="price-compare">{{ (item.product.compareAtPrice * item.quantity)|money }}</span>
                                        </div>
                                    {% else %}
                                        <div class="price">
                                            <span class="price-regular">{{ (item.product.sellingPrice * item.quantity)|money }}</span>
                                        </div>
                                    {% endif %}
                                {% endif %}
                                {% if not item.product.isPubliclyAvailable %}
                                    <em class="d-block cart-item-missing">{{ 'cart.product-no-longer-available'|trans }}</em>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex flex-column flex-sm-row justify-content-end justify-content-sm-between align-items-end align-items-sm-start">
                {% if showQuantity is defined and showQuantity %}
                    {% if item.product.isOnSale %}
                        <div class="price">
                            <span class="price-sale">{{ (item.product.sellingPrice * item.quantity)|money }}</span>
                            <span class="price-compare">{{ (item.product.compareAtPrice * item.quantity)|money }}</span>
                        </div>
                    {% else %}
                        <div class="price">
                            <span class="price-regular">{{ (item.product.sellingPrice * item.quantity)|money }}</span>
                        </div>
                    {% endif %}
                {% endif %}
                {% if showRemove is defined and showRemove %}
                    <div class="pl-1 pl-sm-4 d-flex justify-content-end mt-2 mt-sm-0">
                        <button class="JS--Button-removeItem btn btn-link-secondary"
{#                                {{ stimulus_controller('submit-confirm', {#}
{#                                    text: 'Remove this item?',#}
{#                                    confirmButtonText: 'Yes, remove it',#}
{#                                    isAjaxCall: true#}
{#                                }) }}#}
{#                                data-action="submit-confirm#submitForm"#}

                                data-url="{{ path('cart-removeItem', {'id': item.id, 'showQuantity': showQuantity is defined ? showQuantity : false}) }}" title="{{ 'cart.remove-item'|trans }}"
                        >
                            <span class="loading-spinner-faded">
                                <svg class="icon mr-0">
                                    <use xlink:href="#trash"> </use>
                                </svg>
                            </span>
                            <div class="loading-spinner" role="status"></div>
                        </button>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}