<div class="loading-spinner-faded">
    {% if order.items is empty %}
        <div class="cart-item text-center">
            <div>
                <h6 class="text-uppercase">{{ 'cart.your-cart-is-empty'|trans }}</h6>
                <p class="mb-0">{{ 'cart.but-not-for-long'|trans({ '{{ link }}': path('site-product-listall') })|raw }}</p>
            </div>
            <div class="mt-4 mb-6">
                <a href="{{ path('site-product-listall') }}" class="btn btn-primary">{{ 'cart.continue-shopping'|trans }}</a>
            </div>
        </div>
    {% else %}
        {% include('/webshop/cart/cart-list.html.twig') %}

        {% if checkoutSettings.get('cart.greetings-card') %}
            {% if showMessage is defined and showMessage %}
            <div class="cart-item">
                <div class="row d-flex align-items-center text-center">
                    <div class="col-12 pr-0">
                        {% include 'webshop/cart/_cart-message-widget.html.twig' with {'message': order.message, 'messageAuthor':  order.messageAuthor} %}
                    </div>
                </div>
            </div>
            {% endif %}
        {% endif %}

        {% if showTotal is defined and showTotal %}
            <div class="cart-item cart-total">
                <span class="text-uppercase text-muted">{{ 'cart.total'|trans }}</span>
                <strong class="text-uppercase">{{  order.summary.totalAmountToPay|money }}</strong>
            </div>
        {% endif %}

        {% if showSummary is defined and showSummary %}
            <div class="row">
                <div class="col-12 col-md-6 ml-auto mt-3">
                    <ul class="order-summary mb-0 list-unstyled">
                        <li class="order-summary-item">
                            <span>{{ 'cart.shipping-fee-calculated'|trans }}</span>
                            <span class="text-nowrap">
                                <span class="JS--summaryDeliveryFee">{{ order.deliveryFee|money }}</span>
                            </span>
                        </li>
                        <li class="order-summary-item border-0">
                            <span>{{ 'cart.total-amount-to-pay'|trans }}</span>
                            <span class="JS--summaryTotalPos order-summary-total text-nowrap" data-summary-total="{{ order.summary.totalAmountToPay }}">
                                <span class="JS--summaryTotal text-nowrap">{{ order.summary.totalAmountToPay|money }}</span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        {% endif %}
    {% endif %}
</div>
<div class="loading-spinner" role="status"></div>