{% for item in order.items %}
    <div class="cart-item">
        <div class="d-flex justify-content-between align-items-center">

            <div class="flex-grow-1 pr-0">
                {#                {% include('webshop/cart/cart-item.html.twig') %}#}
                <div class="">
                    <div class="d-flex align-items-center">
                        <a href="{{ path('site-product-show', {'slug': item.product.slug}) }}" class="{% if hasProductLink is defined and not hasProductLink %}pointer-events-none{% endif %}">
                            <img src="{{ uploaded_asset(item.product.coverImage)|imagine_filter('product_thumbnail') }}" alt="{{ item.product.name}}" class="img-fluid cart-item-img">
                        </a>
                        <div class="d-flex w-100 justify-content-between">
                            <div class="pl-3">
                                <a href="{{ path('site-product-show', {'slug': item.product.slug}) }}" class="cart-item-link{% if hasProductLink is defined and not hasProductLink %} pointer-events-none{% endif %}">{{ item.product.name }}</a>
                                <span class="d-block cart-item-quantity">{{ 'cart.quantity'|trans }}: {{ item.quantity }} </span>
                                <span class="d-block cart-item-price">{{ (item.price * item.quantity) |money }}</span>
                                {% if not item.product.isPubliclyAvailable %}
                                    <em class="d-block cart-item-missing">*A termék már nem áll forgalmazásban </em>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex flex-column flex-sm-row justify-content-end justify-content-sm-between align-items-end align-items-sm-center">
                {% if showQuantity is defined and showQuantity %}
                    <div class="ml-2 mr-1 mr-md-6">
                        <div class="d-flex align-items-center">
                            <div class="d-flex align-items-center JS--formWrapper text-center btn-loading-bg" data-wrapper-item-quantity>
                                {{ render(controller('App\\Controller\\Shop\\CartController::setItemQuantityForm', {'id' : item.id})) }}
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if showRemove is defined and showRemove %}
                    <div class="pl-1 pl-sm-4 d-flex justify-content-end mt-2 mt-sm-0">
                        <button class="btn btn-link-secondary" data-selector="button" data-eval="removeItemFromCart" data-url="{{ path('cart-removeItem', {'id': item.id, 'showQuantity': showQuantity is defined ? showQuantity : false}) }}" title="{{ 'cart.remove-item'|trans }}">
                            <span class="btn-loading-invisible"><i class="far fa-trash-alt"></i></span>
                            <div class="loading-spinner" role="status"></div>
                        </button>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}