        <div class="form-row">
            {% if gifts is defined %}
            {% for gift in gifts %}
                {% if gift.isPubliclyAvailable %}
                    <div class="col-lg-3 col-md-3 col-4">
                            <div class="product position-relative">
                                <div class="product-image">
                                    <img src="{{ uploaded_asset(gift.coverImage)|imagine_filter('product_medium') }}" alt="{{ gift.productName}}" class="img-fluid">
    {#                                            <a href="{{ path('site-product-show', {'slug': gift.slug}) }}" class="tile-link product-hover-overlay-link">#}
    {#                                            </a>#}
                                </div>
                                <div class="product-title text-center">
                                    <p class="productList--name">{{ gift.productName }}</p>
{#                                    <a href="{{ path('site-product-show', {'slug': gift.slug}) }}" class="text-link-product"></a>#}
                                    <span class="productList--price-gross">{{ gift.price.numericValue|money }}</span>
                                </div>
                                <div class="product-button">
                                    <button type="button" class="JS--Button-addGiftToCart btn btn-sm btn-primary" data-url="{{ path('cart-addGift', {'id': gift.id}) }}" data-product-json="{{ gift.json }}">
                                        <span class="loading-spinner-invisible">{{ 'cart.gift.choose-gift'|trans }}</span>
                                        <div class="loading-spinner" role="status"></div>
                                    </button>
                                </div>
                            </div>
                    </div>
                {% endif %}
            {% endfor %}
            {% endif %}
        </div>
