{#{% extends 'webshop/site/template-checkout-asos.html.twig' %}#}
{% extends 'webshop/site/template-checkout-shopi.html.twig' %}

{%- block title -%}
    {{ flowerShopMode ? 'checkout.flower-shop.recipient-page-title'|trans : 'checkout.recipient-page-title'|trans }} | {{ parent() }}
{%- endblock -%}

{% block trackingCodes %}
    {% include 'webshop/widgets/tracking-codes.html.twig' with { 'isInitiateCheckout': true } %}
{% endblock %}

{% block modal %}
{% endblock %}

{% block leftColumn %}
    <div id="shipping_address" class="shipping-address">
        <div class="row">
            <div class="col-lg-12 correction-no-padding">
                <div class="card">
                    <div class="card-body">
                        <div class="JS--Wrapper-recipient">
                            <div class="JS--Wrapper-alert">
                                <div class="checkout-block-header">
                                    <h4 class="checkout-block-title">{{ flowerShopMode ? 'checkout.flower-shop.recipient-title'|trans : 'checkout.recipient.recipient-title'|trans }}</h4>
                                </div>
{#                                <div class="checkout-block-text">#}
{#                                    <span class="">{{ flowerShopMode ? 'checkout.flower-shop.recipient-description'|trans : 'checkout.recipient.recipient-description'|trans }}</span>#}
{#                                </div>#}
                            </div>

                            <div class="mt-3">
                                <div class="modal fade" id="modal--recipientList" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <h3 class="modal-title" id="modalLabel">{{ flowerShopMode ? 'checkout.flower-shop.previously-saved-recipients-modal-title'|trans : 'checkout.recipient.previously-saved-recipients-modal-title'|trans }}</h3>
                                                <div class="JS--Wrapper-recipientList">
                                                    {% if recipients is defined %}
                                                        {% include('webshop/cart/recipient_list.html.twig') %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="JS--Wrapper-recipientBody">
                                    {#                        {% if recipient is defined and recipient %}#}
                                    {#                            {% include 'webshop/cart/recipient-current.html.twig' %}#}
                                    {#                        {% endif %}#}
                                    {% if recipientForm is defined %}
                                        {% include('webshop/cart/recipient_form.html.twig') %}
                                    {% endif %}
                                </div>
                                {% if recipients.count >= 1 %}
                                    <div class="row">
                                        <div class="col-md-12">
                                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                                <div class="vertical-form-row">
                                                    <div class="vertical-col mr-3">
                                                        <a href="#" class="JS--Button-showRecipientForm text-link-checkout" data-url="{{ path('cart-editRecipient') }}">
                                                            <span class="loading-spinner-invisible">{{ flowerShopMode ? 'checkout.flower-shop.new-recipient'|trans : 'checkout.recipient.new-recipient'|trans }}</span>
                                                            <div class="loading-spinner" role="status"></div>
                                                        </a>
                                                    </div>
                                                    <div class="vertical-col">
                                                        <a href="#" class="text-link-checkout" data-toggle="modal" data-target="#modal--recipientList">
                                                            <span class="loading-spinner-invisible">{{ flowerShopMode ? 'checkout.flower-shop.previously-saved-recipients'|trans : 'checkout.recipient.previously-saved-recipients'|trans }}</span>
                                                            <div class="loading-spinner" role="status"></div>
                                                        </a>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                                <button class="JS--Button-refreshRecipientList d-none" data-url="{{ path('cart-getRecipients') }}"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="customer_basic_details" class="customer-basic-details">
        <div class="row">
            <div class="col-lg-12 correction-no-padding">
                <div class="card">
                    <div class="card-body">
                        <div class="JS--Wrapper-customer">
                            <div class="JS--Wrapper-alert">
                                <div class="checkout-block-header">
                                    <h4 class="checkout-block-title">{{ flowerShopMode ? 'checkout.flower-shop.customer-information-title'|trans : 'checkout.customer.customer-information-title'|trans }}</h4>
                                </div>
                                <div class="checkout-block-text">
                                    <span class="">{{ 'checkout.customer.customer-information-description'|trans }}</span>
                                </div>
                            </div>

                            {% include('webshop/cart/alert-customerBasic-insert.html.twig') %}
                            <div class="mt-3">
                                <div class="row">
                                    <div class="col-md-12 order-2 order-md-1">
                                        <div class="JS--Wrapper-customerBody">
                                            {% if is_granted('IS_AUTHENTICATED_FULLY') is same as(true) and order.customer is defined %}
                                                <div class="checkout-customer bg-secondary d-flex align-items-center p-3">
                                                    <div class="mr-3">
                                                        <svg class="icon icon-md icon-light mr-0">
                                                            <use xlink:href="#person"> </use>
                                                        </svg>
                                                    </div>
                                                    <div class="">
                                                        {{ order.customer.fullname }} ({{ order.customer.email }}, {{ order.customer.phone }}) <br>
                                                        <a href="{{ asset('logout') }}" class="">{{ 'account.logout'|trans }}</a>

                                                    </div>

                                                </div>
                                            {% else %}
                                                {% include('webshop/cart/customer-form.html.twig') %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{%  block cartCollapse %}
    {% include 'webshop/cart/checkout-sidebar.html.twig' %}
{% endblock %}

{%  block rightColumn %}
    {% include 'webshop/cart/checkout-sidebar.html.twig' %}
{% endblock %}

{% block gotoNext %}
    <div class="mt-20px mt-md-4 mb-5 d-flex flex-column flex-md-row justify-content-center justify-content-md-between align-items-stretch align-items-md-center">
        <button data-url="{{ path('site-checkout-step2-pickShipping') }}" class="JS--Button-gotoStep2 btn btn-success btn-lg btn-goto order-1 order-md-2">
            <span class="loading-spinner-invisible">{{ 'checkout.continue-to-shipping-method-button'|trans }}</span>
            <span class="loading-spinner" role="status"></span>
        </button>
        <a href="{{ path('site-checkout-step0-pickExtraGift') }}" class="order-2 order-md-1 text-center mt-3 mt-md-0"><svg class="icon"><use xlink:href="#chevron-left"></use></svg>{{ 'checkout.back-to-cart-button'|trans }}</a>
    </div>
{% endblock %}


{% block javascripts %}
	{{ parent() }}
    <script>
        var recipientConstraints = {
            '{{ recipientForm.lastname.vars.full_name }}': {
                presence: {
                    allowEmpty: false,
                    message: '{{ 'checkout.recipient.missing-lastname'|trans}}'
                },
            },
            '{{ recipientForm.firstname.vars.full_name }}': {
                presence: {
                    allowEmpty: false,
                    message: '{{ 'checkout.recipient.missing-firstname'|trans}}'
                },
            },
            '{{ recipientForm.address.street.vars.full_name }}': {
                presence: {
                    allowEmpty: false,
                    message: '{{ 'checkout.recipient.missing-address'|trans}}'
                }
            },
            '{{ recipientForm.address.city.vars.full_name }}': {
                presence: {
                    allowEmpty: false,
                    message: '{{ 'checkout.recipient.missing-city'|trans}}'
                }
            },
            '{{ recipientForm.address.province.vars.full_name }}': {
                presence: {
                    allowEmpty: false,
                    message: '{{ 'checkout.recipient.missing-province'|trans}}'
                }
            },
            '{{ recipientForm.address.zip.vars.full_name }}': {
                presence: {
                    allowEmpty: false,
                    message: '{{ 'checkout.recipient.missing-zip'|trans}}'
                },
                numericality: {
                    greaterThanOrEqualTo: 1000,
                    lessThanOrEqualTo: 9999,
                    message: '{{ 'checkout.recipient.invalid-zip'|trans}}'
                }
            },
            '{{ recipientForm.phone.vars.full_name }}': {
                presence: {
                    allowEmpty: false,
                    message: '{{ 'checkout.recipient.missing-phone'|trans}}'
                },
                format: {
                    pattern: '^[+]?' // first character must be '+' and is optional (because of '?')
                        +'([0-9 ]{10,})$', // allowed: '0-9' and ' ' (space), min. length 10 characters (without the '+')
                    message: '{{ 'checkout.recipient.invalid-phone'|trans}}'
                }
            },
        };
        var customerConstraints = {
            '{{ customerForm.email.vars.full_name }}': {
                presence: {
                    allowEmpty: false,
                    message: '{{ 'checkout.customer.email-address'|trans}}'
                },
                // email: true,
                email: {
                    message: '{{ 'checkout.customer.invalid-email-address'|trans}}'
                }
            },
            '{{ customerForm.phone.vars.full_name }}': {
                presence: {
                    allowEmpty: false,
                    message: '{{ 'checkout.customer.missing-phone'|trans}}'
                },
                format: {
                    pattern: '^[+]?' // first character must be '+' and is optional (because of '?')
                        +'([0-9 ]{10,})$', // allowed: '0-9' and ' ' (space), min. length 10 characters (without the '+')
                    message: '{{ 'checkout.customer.invalid-phone'|trans}}'
                }
            },
            '{{ customerForm.lastname.vars.full_name }}': {
                presence: {
                    allowEmpty: false,
                    message: '{{ 'checkout.customer.missing-lastname'|trans}}'
                }
            },
            '{{ customerForm.firstname.vars.full_name }}': {
                presence: {
                    allowEmpty: false,
                    message: '{{ 'checkout.customer.missing-firstname'|trans}}'
                }
            }
        };
        $(function() {
            var options = {
                data: ["blue", "green", "pink", "red", "yellow"]
            };

//            $(".JS--name").easyAutocomplete(options);
        });
        {% for msg in app.session.flashBag.get('recipient-missing') %}
            notyf.error('{{ msg }}');
        {% endfor %}
        {% for msg in app.session.flashBag.get('customer-missing') %}
            notyf.error('{{ msg }}');
        {% endfor %}
    </script>
{% endblock %}
