{#{% extends 'webshop/site/template-checkout-asos.html.twig' %}#}
{% extends 'webshop/site/template-checkout-shopi.html.twig' %}

{%- block title -%}
    Sikeres rendelés | {{ parent() }}
{%- endblock -%}

{% block bodyClass %} {{ parent() }} thank-you-page{% endblock %}

{% block underNavbar %}
{% endblock %}

{% block leftColumn %}
    <div class="mt-2 mt-md-3">
        {% if isConversionTracked == false %}
        <div class="alert alert-success">
            <span class="mb-0"><i class="fas fa-check-circle mr-1"></i> Köszönjük, {{ order.fullname }}. A rendelést sikeresen leadtad.</span>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-lg-12 correction-no-padding">
                <div class="card">
                    <div class="card-body">
                        {% if isConversionTracked == false %}
                        <div>
                            <p class="">A <span class="text-success font-weight-bold">#{{ order.number }}</span> számú rendelést rögzítettük, feldolgozását megkezdtük. A rendelés teljesítéséről emailen fogunk tájékoztatni. </p>
                        </div>
                        {% else %}
                            <p class="">A <span class="text-success font-weight-bold">#{{ order.number }}</span> számú rendelésed állapota: {{ order.status }} </p>
                        {% endif %}
                        <div class="shipping-address">
                            <div class="content-body-thick-border">
                                <div class="bg-white p-3">
                                    {% include 'webshop/cart/_order-recipient-widget.html.twig' %}
                                </div>
                            </div>
                        </div>
                        <div class="shipping-method">
                            <div class="content-body-thick-border">
                                <div class="bg-white p-3">
                                    {% include 'webshop/cart/_order-delivery-widget.html.twig' %}
                                </div>
                            </div>
                        </div>
                        <div class="customer-basic-details">
                            <div class=" content-body-thick-border">
                                <div class="bg-white p-3">
                                    {% include 'webshop/cart/_order-sender-widget.html.twig' %}
                                </div>
                            </div>
                        </div>
                        <div class="payment-method">
                            <div class="content-body-thick-border">
                                <div class="bg-white p-3">
                                    {% include 'webshop/cart/_order-payment-widget.html.twig' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{%  block cartCollapse %}
    <div class="cart">
        {% include 'webshop/cart/cart.html.twig' with {
            'showMessage': true,
            'showQuantity': false,
            'showRemove': false,
            'showSummary': false,
            'hasProductLink': false,
        } %}
    </div>
    {% include('/webshop/cart/checkout-sidebar-paid-summary.html.twig') %}
{% endblock %}

{%  block rightColumn %}
    <div class="cart">
        {% include 'webshop/cart/cart.html.twig' with {
            'showMessage': true,
            'showQuantity': false,
            'showRemove': false,
            'showSummary': false,
            'hasProductLink': false,
        } %}
    </div>
    {% include('/webshop/cart/checkout-sidebar-paid-summary.html.twig') %}
{% endblock %}

{% block gotoNext %}
    <div class="mt-20px mt-md-4 mb-5 mb-5 d-flex flex-column flex-md-row justify-content-center">
        <a href="{{ path('homepage') }}" class="btn btn-primary">Tovább a webáruházba</a>
    </div>
{% endblock %}

{% block footerHighlights %}
{% endblock %}