{#{% extends 'webshop/site/template-checkout-asos.html.twig' %}#}
{% extends 'webshop/site/template-checkout-shopi.html.twig' %}

{% block title %}
    Szállítás | {{ parent() }}
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block modal %}
{% endblock %}

{% block leftColumn %}
    <div id="order_summary" class="order-summary">
        <div class="row no-gutters">
            <div class="col-lg-12">
                <div class="card">
                    <div class="">
                        <div class="card-body">
                            <div class="checkout-summary">
                                    <div class="">
                                        <div class="w-100 checkout-summary-item">
                                            <div class="row">
                                                <div class="col-3 col-sm-2">
                                                    <div class="checkout-summary-item-title">
                                                        Címzett
                                                    </div>
                                                </div>
                                                <div class="col-9 col-sm-8">
                                                    <div class="checkout-summary-item-description">
                                                        {{ order.recipient.fullname }},
                                                        {{ order.recipient.address.street }},
                                                        {{ order.recipient.address.zip }} {{ order.recipient.address.city }},
                                                        {{ order.recipient.address.province }}, {{ order.recipient.address.country }},
                                                        {{ order.recipient.phone }}
                                                    </div>
                                                </div>
                                                <div class="col-sm-2 text-right pt-2 pt-sm-0">
                                                    <a href="{{ path('site-checkout-step1-pickDeliveryAddress') }}" class="text-sm text-nowrap">Módosítás</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="w-100 checkout-summary-item">
                                            <div class="row">
                                                <div class="col-3 col-sm-2">
                                                    <div class="checkout-summary-item-title">
                                                        Aki küldi
                                                    </div>
                                                </div>
                                                <div class="col-9 col-sm-8">
                                                    <div class="checkout-summary-item-description">
                                                        {{ order.billingFullname }}, {{ order.email }}, {{ order.billingPhone }}
                                                    </div>
                                                </div>
                                                <div class="col-sm-2 text-right pt-2 pt-sm-0">
                                                    <a href="{{ path('site-checkout-step1-pickDeliveryAddress') }}" class="text-sm text-nowrap">Módosítás</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="shipping_method" class="shipping-method">
        <div class="card">
            <div class="card-body">
                <div class="JS--shippingWrapper" data-wrapper-shipping>

                    <div class="" data-wrapper-alert>
                        <div class="checkout-block-header">
                            <h4 class="checkout-block-title">Szállítási mód</h4>
                        </div>
                    </div>

                    {% include('webshop/cart/alert-shipping-insert.html.twig') %}
                    <div class="">
                        {% include('webshop/cart/shipping-method-form.html.twig') %}
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="shipping_deliveryDate" class="shipping-deliveryDate">
        <div class="row no-gutters">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="JS--deliveryDateContainer" data-wrapper-delivery-date>

                        <div class="" data-wrapper-alert>
                            <div class="checkout-block-header">
                                <h4 class="checkout-block-title">Szállítás ideje</h4>
                            </div>
                            <div class="checkout-block-text">
                                <span class="">Válaszd ki mikor szállítsuk ki!</span>
                            </div>
                        </div>

                        {% include('webshop/cart/alert-deliveryDate-insert.html.twig') %}
                        <div class="">
                                {#<span class="product-variant-selector-label font-weight-bold"><span>(Melyik napon szállítsuk ki?)</span></span>#}
                            <div class="row mt-3">
                                <div class="col-lg-12">
                                    <div class="row order-delivery-date">
                                        <div class="col-md-12 col-lg-12 JS--dateWrapper">
                                            <div class="d-flex justify-content-between">
                                                {% for date in generatedDates.dates|slice(0,3) %}

                                                    <button role="button" tabindex="0" class="btn p-0 vp choose-date mb-2 mb-md-0 mr-2 {% if selectedDate is defined and selectedDate is not null and selectedDate|date('Y-m-d') == date.deliveryDate|date('Y-m-d') %}vp-checked{% endif %} JS--generatedDate-{{ date.deliveryDate|date('Y-m-d') }}" data-date-value="{{ date.deliveryDate|date('Y-m-d') }}" data-chosen="false">
                                                        <div class="vp-figure">
                                                            <div class="vp-content">
                                                                {% include('webshop/site/vp-label-date.html.twig') with {
                                                                    'item1': date.deliveryDate,
                                                                    'item2': date.deliveryDate
                                                                } %}
                                                            </div>
                                                        </div>
                                                    </button>
                                                {% endfor %}
                                                <div class="vp d-flex JS--Button-clickDate" role="button" tabindex="0">
                                                    {% set foundDate = false %}
                                                    {% if selectedDate is defined and selectedDate is not null %}
                                                        {% for date in generatedDates.dates|slice(3) %}
                                                            {% if selectedDate|date('Y-m-d') == date.deliveryDate|date('Y-m-d') %}
                                                                {% set foundDate = true %}
                                                                <div class="btn p-0 vp choose-date vp-checked JS--generatedDate-{{ date.deliveryDate|date('Y-m-d') }}">
                                                                    <div class="vp-figure">
                                                                        <div class="wrapper-absolute">
                                                                            <div class="icon-wrapper">
                                                                                <i class="far fa-calendar-alt fa-2x icon-bg"></i>
                                                                            </div>
                                                                        </div>
                                                                        <div class="vp-content">
                                                                            {% include('webshop/site/vp-label-date.html.twig') with {
                                                                                'item1': date.deliveryDate,
                                                                                'item2': date.deliveryDate
                                                                            } %}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                    {% if foundDate == false %}
                                                        <div class="btn p-0 vp choose-date JS--showCalendarIcon">
                                                            <div class="vp-figure">
                                                                <div class="vp-content">
                                                                    <div class="tile tile-lg">
                                                                        <i class="far fa-calendar-alt fa-2x"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="d-none JS--hiddenContainer">
                                <div class="btn p-0 vp choose-date JS--showCalendarIcon">
                                    <div class="vp-figure">
                                        <div class="vp-content">
                                            <div class="tile tile-lg">
                                                <i class="far fa-calendar-alt fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% for date in generatedDates.dates|slice(3) %}
                                    <div class="btn p-0 vp choose-date {% if selectedDate is defined and selectedDate is not null and selectedDate|date('Y-m-d') == date.deliveryDate|date('Y-m-d') %}vp-checked{% endif %} JS--generatedDate-{{ date.deliveryDate|date('Y-m-d') }}" data-date-value="{{ date.deliveryDate|date('Y-m-d') }}" data-chosen="false">
                                        <div class="vp-figure">
                                            <div class="wrapper-absolute">
                                                <div class="icon-wrapper">
                                                    <i class="far fa-calendar-alt fa-2x icon-bg"></i>
                                                </div>
                                            </div>
                                            <div class="vp-content">
                                                {% include('webshop/site/vp-label-date.html.twig') with {
                                                    'item1': date.deliveryDate,
                                                    'item2': date.deliveryDate
                                                } %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="JS--intervalsWrapper mt-4 mt-sm-3">
                                {#{% if date.intervals is defined %}#}
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <label class="form-label">A kézbesítés az általad kért időpontban történik:</label>
                                        </div>
                                    </div>
                                    <div class="form-row order-delivery-date">
                                        {% for date in generatedDates.dates %}
                                        <div class="col-md-12 col-12 JS--generatedInterval-{{ date.deliveryDate|date('Y-m-d') }} d-none">
                                            <form>
                                                {% set index = loop.index %}

                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            <select id="dateForm_deliveryInterval" name="dateForm_deliveryInterval" required="required" class="JS--intervalDropdown form-control">
                                                                <option value="">Válassz idősávot...</option>
                                                                {% for interval in date.intervals %}
                                                                    <option value="{{ interval }}" data-fee="{% if interval.price %}{{ interval.price }}{% else %}0{% endif %}" {% if selectedDate is defined and selectedDate|date('Y-m-d') == date.deliveryDate|date('Y-m-d') and selectedInterval is defined and selectedInterval == interval.name %}selected="selected"{% endif %}>
                                                                    {{ interval }} óra között: {% if interval.price %} +{{ interval.price|money }} {% else %} Ingyenes szállítás {% endif %}
                                                                    </option>
                                                                {% endfor %}
                                                            </select>
                                                            <div class="mt-2">
                                                                <span class="form-text text-sm">
                                                                    <i class="fas fa-info-circle mr-1"></i>
                                                                    Olyan idősávot válassz, amikor a szállítási címen elerhető lesz a címzett.
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">

                                                    </div>

                                                </div>
                                            </form>
                                        </div>
                                        {% endfor %}
                                        <div class="col-md-12 col-12 mb-1">
                                            {% include('/webshop/cart/hidden-delivery-date-form.html.twig') %}
                                        </div>
                                    </div>


                                    {#<div class="form-row order-delivery-date mb-1">#}
                                        {#{% for date in generatedDates.dates %}#}
                                        {#<div class="col-md-12 col-12 JS--generatedInterval-{{ date.deliveryDate|date('Y-m-d') }} d-none">#}
                                            {#<form>#}
                                            {#{% set index = loop.index %}#}

                                            {#{% for interval in date.intervals %}#}
                                            {#<div class="custom-control custom-radio py-3 ">#}
                                                {#<input class="JS--intervalDropdown custom-control-input" type="radio" id="dateForm_deliveryInterval_{{ index }}_{{ loop.index }}" name="dateForm[deliveryInterval]" required="required" value="{{ interval }}" {% if selectedDate is defined and selectedDate|date('Y-m-d') == date.deliveryDate|date('Y-m-d') and selectedInterval is defined and selectedInterval == interval.name %}checked="checked"{% endif %}>#}
                                                {#<label class="custom-control-label font-weight-bold" for="dateForm_deliveryInterval_{{ index }}_{{ loop.index }}">#}


                                                    {#<div class="">#}

                                                        {#<div class="d-inline-block font-weight-bold my-1X">{{ interval }}</div>#}
                                                        {#<div class="d-inline-block text-sm">óra között:</div>#}
                                                        {#<div class="d-inline price--gross text-nowrapX font-weight-bold text-sm">#}
                                                            {#<em>#}
                                                                {#{% if interval.price %}#}
                                                                    {#<span class="text-nowrap"> +{{ interval.price|money }}</span>#}
                                                                {#{% else %}#}
                                                                    {#<span class="text-sm text-success font-weight-normal">Ingyenes szállítás</span>#}
                                                                    {#<span class="badge badge-success pt-1 font-weight-bold px-2">Ingyenes szállítás</span>#}
                                                                {#{% endif %}#}
                                                            {#</em>#}
                                                        {#</div>#}

                                                    {#</div>#}

                                                {#</label>#}
                                            {#</div>#}
                                            {#{% endfor %}#}
                                            {#</form>#}
                                        {#</div>#}
                                        {#{% endfor %}#}
                                    {#</div>#}



                                {#{% endif %}#}
                            </div>



                            {#{% include('/webshop/cart/deliveryDate-form.html.twig') %}#}
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{%  block cartCollapse %}
    {% include('/webshop/cart/sidebar-summary.html.twig') %}
{% endblock %}

{%  block rightColumn %}
    {% include('/webshop/cart/sidebar-summary.html.twig') %}
{% endblock %}

{% block gotoNext %}
    <div class="mt-3 mt-md-4 mb-5 d-flex flex-column flex-md-row justify-content-center justify-content-md-between align-items-stretch align-items-md-center">
        <button data-selector="button" data-eval="submitShippingMethod" data-url="{{ path('site-checkout-step3-pickPayment') }}" class="JS--Button-gotoStep3 btn btn-lg btn-success btn-goto order-1 order-md-2">
            <span class="btn-loading-invisible">Tovább a fizetéshez</span>
            <div class="loading-spinner" role="status"></div>
        </button>
        <a href="{{ path('site-checkout-step1-pickDeliveryAddress') }}" class="order-2 order-md-1 text-center mt-3 mt-md-0"><i class="fas fa-chevron-left text-sm mr-1"></i> Vissza a címzethez</a>
    </div>
{% endblock %}



{% block javascripts %}
	{{ parent() }}
    <script>
        $(function() {
            var options = {
                data: ["blue", "green", "pink", "red", "yellow"]
            };
//            $(".JS--name").easyAutocomplete(options);
        });
    </script>
    <script src="{{ asset('webshop/site/js/moment.min.js') }}"></script>
    <script src="{{ asset('webshop/site/js/daterangepicker.js') }}"></script>
    <script>
        $(function() {
            $('.JS--Button-clickDate').daterangepicker({
                opens: 'left',
                drops: 'up',
                autoApply: true,
                autoUpdateInput: false,
                singleDatePicker: true,
                //            alwaysShowCalendars: true,
                minDate: moment().add(4, 'hours'),
                maxDate: moment().add(2, 'months'),
                locale: {
                    format: 'YYYY-MM-DD',
                    separator: ' / ',
                    applyLabel: 'Alkalmaz',
                    cancelLabel: 'Mégse',
                    daysOfWeek: [
                        'V',
                        'H',
                        'K',
                        'Sz',
                        'Cs',
                        'P',
                        'Sz'
                    ],
                    monthNames: [
                        'Január',
                        'Február',
                        'Március',
                        'Április',
                        'Május',
                        'Június',
                        'Július',
                        'Augusztus',
                        'Szeptember',
                        'Október',
                        'November',
                        'December'
                    ],
                    firstDay: 1,
                },
            });
        });
    </script>
    <script>
        $(function() {
            let wrapper = $('.JS--deliveryDateContainer');
            let hiddenContainer = wrapper.find('.JS--hiddenContainer');
            let hiddenForm = {
                date: {
                    element: wrapper.find('#hidden_deliveryDate'),
                    value: wrapper.find('#hidden_deliveryDate').val(),
                    setDateValue: function (value) {
                        this.element.val(value);
                    },
                },
                interval: {
                    element: wrapper.find('#hidden_deliveryInterval'),
                    value: wrapper.find('#hidden_deliveryInterval').val(),
                    setIntervalValue: function (value) {
                        this.element.val(value);
                    },
                },
                fee: {
                    element: wrapper.find('#hidden_deliveryFee'),
                    value: wrapper.find('#hidden_deliveryFee').val(),
                    setFeeValue: function (value) {
                        this.element.val(value);
                    },
                },
            };
            let customDate = $('.JS--Button-clickDate');
            let isCalendarIconDisplayed =  customDate.find('.JS--showCalendarIcon').length ? true : false;
            console.log(isCalendarIconDisplayed);

            // selectedDate = wrapper.find('.JS--generatedDate-' + hiddenForm.date.value);
            selectedInterval = wrapper.find('.JS--generatedInterval-' + hiddenForm.date.value);
            intervalDropdown = selectedInterval.find('.JS--intervalDropdown');

            if (selectedInterval.hasClass('d-none')) {
                selectedInterval.removeClass('d-none').addClass('d-temporary');
            }

            let cart = $('.JS--cartWrapper');
            summaryDeliveryFeePos = cart.find('.JS--summaryDeliveryFee');
            summaryTotal = cart.find('.JS--summaryTotal');
            summaryTotalPos = cart.find('.JS--summaryTotalPos');
            function onSelectInterval(dropdown) {
                 dropdown.on('change', function () {
                     hiddenForm.interval.setIntervalValue($(this).val());
                     // retrieve delivery fee from 'data-' attribute
                     dropdownValue = $(this).children('option:selected').data('fee'); //.toString()
                     hiddenForm.fee.setFeeValue(dropdownValue);

                     summaryDeliveryFeePos.html(
                         dropdownValue.toLocaleString("fr-FR", {style: "decimal", minimumFractionDigits: 0, useGrouping: true})
                     );
                     summaryTotal.html(
                         (summaryTotalPos.data('summary-total') - hiddenForm.fee.value + dropdownValue).toLocaleString("fr-FR", {style: "decimal", minimumFractionDigits: 0, useGrouping: true})
                     );
                     $('.JS--deliveryDateContainer').find('.JS--alertMessage').replaceWith('');
                     alert.deliveryDate.hasError = false;
                 });
            }
            
            // Az idősáv kiválasztásakor elmenti a hidden mezőbe az értéket.
            // Ez akkor triggerelődik, amikor nem kattintunk sem dátumboxra, sem kalendáriumra.
            console.log(intervalDropdown);
            onSelectInterval(intervalDropdown);

            /**
             * Kezeli melyik dátum boxra lett kattintva, és azt jelöli kiválasztotnak.
             * Továbbá mutatja a dátumhoz tartozó idősávot.
             */
            $("[class*='JS--generatedDate-']").click(function () {
                // wrapper = $(this).closest('.JS--deliveryDateContainer');
                // customDate = wrapper.find('.JS--Button-clickDate');
                dateWrapper = wrapper.find('.JS--dateWrapper');
                intervalsWrapper = wrapper.find('.JS--intervalsWrapper');

                dateWrapper.find('.vp-checked').removeClass('vp-checked');
                $(this).addClass('vp-checked');

                intervalModule = intervalsWrapper.find('.JS--generatedInterval-' + $(this).data('date-value'));

                hiddenForm.date.setDateValue($(this).data('date-value'));
                console.log($(this).data('date-value'));

                customDate.html(hiddenContainer.find('.JS--showCalendarIcon').clone());
                if (isCalendarIconDisplayed) {
                    intervalsWrapper.find('.d-temporary').removeClass('d-temporary').addClass('d-none');
                    intervalModule.removeClass('d-none').addClass('d-temporary');
                }

                //minden elozoleg becsekkolt input/select mezot uresre allitok, es torlom a hidden input mezobol is!
                intervalsWrapper.find('.JS--intervalDropdown').prop('checked', false);
                hiddenForm.interval.setIntervalValue('');

                // Az idősáv kiválasztásakor elmenti a hidden mezőbe az értéket.
                // Ez akkor triggerelődik, amikor kattintunk a dátumboxra.
                onSelectInterval(intervalModule.find('.JS--intervalDropdown'));
            });
            $("[class*='JS--generatedDate-']").keydown(function (e) {
            // $('.JS--Button-clickDate').keydown(function (e) {
                (13 === e.keyCode) && (e.preventDefault(), e.stopPropagation(), $(e.target).click())
            });

            /**
             * Kezeli a kalendáriumra kattintást.
             */
            $('.JS--Button-clickDate').on('apply.daterangepicker', function(ev, picker) {
                ev.preventDefault();
                $pickerDate = picker.startDate.format('YYYY-MM-DD');
                // wrapper = $(this).closest('.JS--deliveryDateContainer');
                // let customDate = $('.JS--Button-clickDate');
                dateWrapper = $(this).closest('.JS--dateWrapper');
                intervalsWrapper = wrapper.find('.JS--intervalsWrapper');

                hiddenForm.date.setDateValue($pickerDate);

                dateWrapper.find('.vp-checked').removeClass('vp-checked');
                intervalsWrapper.find('.d-temporary').removeClass('d-temporary').addClass('d-none');

                dateModule = hiddenContainer.find('.JS--generatedDate-' + $pickerDate);
                intervalModule = wrapper.find('.JS--generatedInterval-' + $pickerDate);

                if (dateModule.length) {
                    customDate.html(dateModule.clone());
                    customDate.find('.vp').addClass('vp-checked');
                } else {
                    customDate.html(hiddenContainer.find('.JS--showCalendarIcon').clone());
                    dateModule = wrapper.find('.JS--generatedDate-' + $pickerDate);
                    dateModule.addClass('vp-checked');
                    dateModule.focus();
                }

                intervalModule.removeClass('d-none').addClass('d-temporary');

                if (dateWrapper.find("[class*='JS--generatedDate-']:not(.d-none)").length <= 3) {
                    // wrapper.find('.JS--showCalendarIcon').show();
                }

                //minden elozoleg becsekkolt input/select mezot uresre allitok, es torlom a hidden input mezobol is!
                intervalsWrapper.find('.JS--intervalDropdown').prop('checked', false);
                hiddenForm.interval.setIntervalValue('');

                // Az idősáv kiválasztásakor elmenti a hidden mezőbe az értéket.
                // Ez akkor triggerelődik, amikor kattintunk a kalendáriumra.
                onSelectInterval(intervalModule.find('.JS--intervalDropdown'));
            });
            $('.JS--Button-clickDate').on('cancel.daterangepicker', function(ev, picker) {
                $(this).val('');
            });
        });
    </script>

{% endblock %}
