{% extends 'webshop/site/base-checkout.html.twig' %}


{# this tag only applies to the forms defined in this template #}
{#{% form_theme form 'bootstrap_4_layout.html.twig' %}#}

{% block title %}
    {{ title }} | {{ parent() }}
{% endblock %}



{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block page_content %}
<div class="JS--globalWrapper">

    {#{% include('webshop/site/alert-widget.html.twig') }}#}

    <section name="checkout_pickRecipient_andDeliveryDate">
        <div class="container mb-4">
            <div class="row">
                <div class="col-md-12 col-lg-12 mx-lg-auto">
                    <div class="row row-narrowX">

                        <div name="left_column" class="col-md-7 col-lg-8 col-narrowX px-0 px-md-10px">

                            {% include('webshop/cart/progress-bar-3step-checkout.html.twig') %}
                            {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                                {% include('webshop/cart/already-registered-widget.html.twig') %}
                            {% endif %}
                            <div name="shipping_address" class="mb-20px">
                                <div class="row no-gutters">
                                    <div class="col-lg-12">
                                        <div class="card bg-white">
                                            <div class="cart-wrapper JS--recipientWrapper">

                                                <div class="checkout-block-header JS--alertBlock px-3 px-md-3X">
                                                    <h4>Kinek küldöd?</h4>
                                                </div>

                                                {% include('webshop/cart/alert-recipient-insert.html.twig') %}
                                                <div class="block-body px-3 px-md-4">
                                                    {#<div class="row">#}
                                                        {#<div class="col-lg-12 mb-3">#}
                                                            {#<span class="detail-option-heading font-weight-bold"></span>#}
                                                            {#<span class="text-mutedX">A sikeres kézbesítéshez add meg a címzett személy nevét, címét, telefonszámát.</span>#}
                                                        {#</div>#}
                                                    {#</div>#}

                                                    <div class="JS--recipientContentBlock">
                                                        {% if recipients is defined %}
                                                            {% include('webshop/cart/recipient_list.html.twig') %}
                                                        {% endif %}
                                                        {% if recipientForm is defined %}
                                                            {% include('webshop/cart/recipient_form.html.twig') %}
                                                        {% endif %}
                                                    </div>
                                                    {#<div class="JS--recipientListWrapper">#}
                                                        {##}
                                                    {#</div>#}
                                                    {#<div class="JS--recipientEditFormWrapper">#}
                                                        {##}
                                                    {#</div>#}
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div name="shipping_deliveryDate" class="mb-20px">
                                <div class="row no-gutters">
                                    <div class="col-lg-12">
                                        <div class="card bg-white">
                                            <div class="cart-wrapper JS--deliveryDateContainer">

                                                <div class="checkout-block-header JS--alertBlock px-3 px-md-3x">
                                                    <h4>Szállítás ideje</h4>
                                                </div>

                                                {% include('webshop/cart/alert-deliveryDate-insert.html.twig') %}
                                                <div class="block-body px-3 px-md-4">
                                                    {#<div class="d-noneX">#}
                                                        {#{% include('/webshop/cart/hiddenDeliveryDate-form.html.twig') %}#}
                                                    {#</div>#}
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="mb-2 mt-2">
                                                                <span class="form-label text-body">Válaszd ki mikor szállítsuk ki!</span>
                                                                {#<span class="detail-option-heading font-weight-bold"><span>(Melyik napon szállítsuk ki?)</span></span>#}
                                                            </div>
                                                            <div class="row order-delivery-date">
                                                                <div class="col-md-12 col-lg-12 JS--dateWrapper">
                                                                    <div class="form-row">

                                                                        {% for date in generatedDates.dates|slice(0,3) %}
                                                                            <div class="col-sm-3 col-3 JS--generatedDate-{{ date.deliveryDate|date('Y-m-d') }}" data-date-value="{{ date.deliveryDate|date('Y-m-d') }}" data-chosen="false">
                                                                                <div class="visual-picker visual-picker-md mr-2 {% if selectedDate is defined and selectedDate is not null and selectedDate|date('Y-m-d') == date.deliveryDate|date('Y-m-d') %}visual-picker-checked{% endif %}">
                                                                                    <div class="visual-picker-figure justify-content-lg-center justify-content-center required px-2">
                                                                                        <span class="visual-picker-content">
                                                                                            <span class="tile tile-lg">
                                                                                                {% include('/webshop/cart/choiceItem-label-deliveryDate.html.twig') with {
                                                                                                    'item1': date.deliveryDate,
                                                                                                    'item2': date.deliveryDate
                                                                                                } %}
                                                                                            </span>
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        {% endfor %}
                                                                        <div class="col-sm-3 col-3 JS--Button-clickDate">
                                                                            <div class="row">

                                                                                {% for date in generatedDates.dates|slice(3) %}
                                                                                    <div class="col-sm-12 col-12 JS--generatedDate-{{ date.deliveryDate|date('Y-m-d') }} d-none" data-date-value="{{ date.deliveryDate|date('Y-m-d') }}" data-chosen="false">
                                                                                        <div class="visual-picker visual-picker-md mr-2 {% if selectedDate is defined and selectedDate is not null and selectedDate|date('Y-m-d') == date.deliveryDate|date('Y-m-d') %}visual-picker-checked{% endif %}">
                                                                                            <div class="visual-picker-figure justify-content-lg-center justify-content-center required px-2">
                                                                                            <span class="visual-picker-content">
                                                                                                <span class="tile tile-lg">
                                                                                                    {% include('/webshop/cart/choiceItem-label-deliveryDate.html.twig') with {
                                                                                                        'item1': date.deliveryDate,
                                                                                                        'item2': date.deliveryDate
                                                                                                    } %}
                                                                                                </span>
                                                                                            </span>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                {% endfor %}

                                                                                <div class="col-sm-12 col-12 JS--showCalendarIcon">
                                                                                    <div class="visual-picker visual-picker-md align-top mr-2">
                                                                                        <div class="visual-picker-figure justify-content-lg-center justify-content-center required px-2">
                                                                                        <span class="visual-picker-content">
                                                                                            <span class="tile tile-lg">
                                                                                                <i class="far fa-calendar-alt fa-2x text-gray-700"></i>
                                                                                            </span>
                                                                                        </span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>

                                                                            </div>
                                                                        </div>



                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="JS--intervalsWrapper mt-4">
                                                        {#{% if date.intervals is defined %}#}
                                                            <div class="row">
                                                                <div class="col-lg-12 mb-3X">
                                                                    <span class="form-label text-body mb-0">A kézbesítés az általad kért időpontban történik:</span> <br>

                                                                </div>
                                                            </div>
                                                            <div class="form-row order-delivery-date">
                                                                {% for date in generatedDates.dates %}
                                                                <div class="col-md-12 col-12 JS--generatedInterval-{{ date.deliveryDate|date('Y-m-d') }} d-none">
                                                                    <form>
                                                                        {% set index = loop.index %}

                                                                        <div class="row">
                                                                            <div class="col-lg-8 col-12">
                                                                                <div class="custom-controlX custom-radioX form-control--Background my-1 px-0">
                                                                                    <select id="dateForm_deliveryInterval" name="dateForm_deliveryInterval" required="required" class="JS--intervalDropdown form-control">
                                                                                        <option value="">Válassz idősávot...</option>
                                                                                        {% for interval in date.intervals %}
                                                                                            <option value="{{ interval }}" data-fee="{% if interval.price %}{{ interval.price }}{% else %}0{% endif %}" {% if selectedDate is defined and selectedDate|date('Y-m-d') == date.deliveryDate|date('Y-m-d') and selectedInterval is defined and selectedInterval == interval.name %}selected="selected"{% endif %}>
                                                                                            {{ interval }} óra között: {% if interval.price %} +{{ interval.price|money }} {% else %} Ingyenes szállítás {% endif %}
                                                                                            </option>
                                                                                        {% endfor %}
                                                                                    </select>
                                                                                    {#<i class="fas fa-chevron-down form-control-dropdown"></i>#}
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-lg-4 col-12">
                                                                                <div class="text-sm text-muted-extra alertX alert-warningX py-3X mt-lg-0 mt-1">
                                                                                    <span class="text-info-lighten mr-1">
                                                                                        <i class="fas fa-info-circle"></i>
                                                                                    </span>
                                                                                    Olyan idősávot válassz, amikor a szállítási címen elerhető lesz a címzett.
                                                                                </div>
                                                                            </div>


                                                                        </div>
                                                                    </form>
                                                                </div>
                                                                {% endfor %}
                                                                <div class="col-md-12 col-12 mb-1 d-noneX">
                                                                    {% include('/webshop/cart/hiddenDeliveryDate-form.html.twig') %}
                                                                </div>
                                                            </div>


                                                            {#<div class="form-row order-delivery-date mb-1">#}
                                                                {#{% for date in generatedDates.dates %}#}
                                                                {#<div class="col-md-12 col-12 JS--generatedInterval-{{ date.deliveryDate|date('Y-m-d') }} d-none">#}
                                                                    {#<form>#}
                                                                    {#{% set index = loop.index %}#}

                                                                    {#{% for interval in date.intervals %}#}
                                                                    {#<div class="custom-control custom-radio py-3 ">#}
                                                                        {#<input class="JS--intervalDropdown custom-control-input" type="radio" id="dateForm_deliveryInterval_{{ index }}_{{ loop.index }}" name="dateForm[deliveryInterval]" required="required" value="{{ interval }}" {% if selectedDate is defined and selectedDate|date('Y-m-d') == date.deliveryDate|date('Y-m-d') and selectedInterval is defined and selectedInterval == interval.name %}checked="checked"{% endif %}>#}
                                                                        {#<label class="custom-control-label font-weight-bold" for="dateForm_deliveryInterval_{{ index }}_{{ loop.index }}">#}


                                                                            {#<div class="">#}

                                                                                {#<div class="d-inline-block font-weight-bold my-1X">{{ interval }}</div>#}
                                                                                {#<div class="d-inline-block text-sm text-muted">óra között:</div>#}
                                                                                {#<div class="d-inline price--gross text-nowrapX font-weight-bold text-sm">#}
                                                                                    {#<em>#}
                                                                                        {#{% if interval.price %}#}
                                                                                            {#<span class="text-nowrap"> +{{ interval.price|money }}</span>#}
                                                                                        {#{% else %}#}
                                                                                            {#<span class="text-sm text-success font-weight-normal">Ingyenes szállítás</span>#}
                                                                                            {#<span class="badge badge-success pt-1 font-weight-bold px-2">Ingyenes szállítás</span>#}
                                                                                        {#{% endif %}#}
                                                                                    {#</em>#}
                                                                                {#</div>#}

                                                                            {#</div>#}

                                                                        {#</label>#}
                                                                    {#</div>#}
                                                                    {#{% endfor %}#}
                                                                    {#</form>#}
                                                                {#</div>#}
                                                                {#{% endfor %}#}
                                                            {#</div>#}



                                                        {#{% endif %}#}
                                                    </div>



                                                    {#{% include('/webshop/cart/deliveryDate-form.html.twig') %}#}


                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div name="goto_payment" class="col-lg-12 mt-3 mb-5">
                                <div class="row">
                                    <div class="col-lg-12 mb-4 mt-3">
                                        <div class="d-flex justify-content-center flex-column flex-md-row">
                                            <button data-url="{{ path('site-checkout-step3-pickPayment') }}" class="JS--Button-gotoStep3 btn btn-lg btn-success order-1 order-lg-2 px-2 px-md-4 py-3">Tovább a fizetéshez <i class="fa fa-chevron-right"></i></button>
                                            <div class="JS--loadingOverlay d-flex align-items-stretch loading-lg"></div>
                                        </div>
                                    </div>
                                    {#<div class="text-lg-center col-lg-10 mx-auto">#}
                                        {#<span class="text-sm text-muted">A 'Megrendelem' gombra kattintással rendelésed rögzítésre kerül, illetve elfogadod az ÁSZF-ben foglaltakat és hozzájárulsz, hogy némely itt megadott adatot a Difiori felhasználhassa, hogy számodra fokozott vásárlási élményt nyújtson a jövőben.</span>#}
                                    {#</div>#}
                                    <div class="col-lg-12 py-4"> </div>
                                </div>
                            </div>
                        </div>

                        <div name="right_column" class="col-md-5 col-lg-4 col-narrowX px-0 px-md-10px">
                            <div class="row no-gutters navbar-sticky sticky-top">
                                <div class="col-md-12">
                                    {% include('/webshop/cart/sidebar-summary.html.twig') %}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

</div>



{% endblock %}

{% block javascripts %}
	{{ parent() }}
    <script>
        $(function() {
//            var options = {
//                url: "http://www.stulipan.dfr/webshop/people.json",
//
//                getValue: "name",
//
//                template: {
//                    type: "description",
//                    fields: {
//                        description: "email"
//                    }
//                },
//
//                list: {
//                    match: {
//                        enabled: true
//                    }
//                },
//
//                theme: "square"
//            };

            var options = {
                data: ["blue", "green", "pink", "red", "yellow"]
            };

//            $(".JS--name").easyAutocomplete(options);
        });
    </script>
    <script>
        $(document).ready(function () {
            var $globalWrapper = $('.JS--globalWrapper');
            var $gotoStep3 = new handleOrder($globalWrapper);

            var $cartWrapper = $('.JS--cartWrapper');
            var cartEdit = new InlineEdit($cartWrapper);

            var $recipientWrapper = $('.JS--recipientWrapper');
            var recipientEdit = new InlineEdit($recipientWrapper);

        });
    </script>
    <script src="{{ asset('webshop/site/js/moment.min.js') }}"></script>
    <script src="{{ asset('webshop/site/js/daterangepicker.js') }}"></script>
    <script>
        $(function() {
            $('.JS--Button-clickDate').daterangepicker({
                opens: 'left',
                autoApply: true,
                autoUpdateInput: false,
                singleDatePicker: true,
                //            alwaysShowCalendars: true,
                minDate: moment().add(4, 'hours'),
                maxDate: moment().add(2, 'months'),
                locale: {
                    format: 'YYYY-MM-DD',
                    separator: ' / ',
                    applyLabel: 'Alkalmaz',
                    cancelLabel: 'Mégse',
                    daysOfWeek: [
                        'V',
                        'H',
                        'K',
                        'Sz',
                        'Cs',
                        'P',
                        'Sz'
                    ],
                    monthNames: [
                        'Január',
                        'Február',
                        'Március',
                        'Április',
                        'Május',
                        'Június',
                        'Július',
                        'Augusztus',
                        'Szeptember',
                        'Október',
                        'November',
                        'December'
                    ],
                    firstDay: 1,
                }
            });
//            $('.JS--Button-clickDate').on('apply.daterangepicker', function(ev, picker) {
//                ev.preventDefault();
//                $pickerDate = picker.startDate.format('YYYY-MM-DD');
//                $wrapper = $(this).closest('.JS--deliveryDateContainer');
//                $dateValueWrapper = $(this).closest('.JS--dateWrapper').find('.JS--showDateValue');
//                $calendarIconWrapper = $(this).closest('.JS--dateWrapper').find('.JS--showCalendarIcon');
//                /**
//                 * Csak az első 3 rádió opcióba keresi a pickerDate-et. És ha benne van, akkor a Calendárt mutatja.
//                 */
//                $selectedRadio = $(this).closest('.JS--dateWrapper').find('input[type="radio"][value="' + $pickerDate + '"]:not(".JS--Button-clickDate")');
//                if ($selectedRadio.val()) {
////                    console.log($selectedRadio);
//                    $selectedRadio.prop('checked', true);
//                    $dateValueWrapper.hide();
//                    $calendarIconWrapper.show();
//                }
//                /**
//                 * Ha nincs benne, akkor negyedik rádió inputhoz rendeli a pickerDate-et és elrejti a Calendárt.
//                 */
//                else {
//                    $(this).val($pickerDate);  // az input, amihez kötve van a gomb, megkapja a daterangepicker értékét (dátumot)
//                    $html = '<span class="font-weight-bold my-0">' + picker.startDate.format('MMM D') + '</span><br> <span class="price--gross text-nowrap">' + picker.startDate.format('ddd') + '</span>';
//                    $dateValueWrapper.html($html);
//                    $calendarIconWrapper.hide();
//                    $dateValueWrapper.show();
//
//
//                }
//                console.log($wrapper.find('.JS--alertMessage')+ ' alertMessage');
//                $wrapper.find('.JS--alertMessage').hide();
//            });
//            $('.JS--Button-clickDate').on('cancel.daterangepicker', function(ev, picker) {
//                $(this).val('');
//            });
//            /**
//             * Amikor nem a Daterangepicker-re klikkel, akkor biztos a Calendárt kell mutatnia.
//             */
//            $('.JS--dateWrapper input[type="radio"]:not(".JS--Button-clickDate")').on('click', function () {
//                $dateValueWrapper = $(this).closest('.JS--dateWrapper').find('.JS--showDateValue');
//                $calendarIconWrapper = $(this).closest('.JS--dateWrapper').find('.JS--showCalendarIcon');
//                $dateValueWrapper.hide();
//                $calendarIconWrapper.show();
//                $wrapper = $(this).closest('.JS--deliveryDateContainer');
//                $wrapper.find('.JS--alertMessage').hide();
//            });
        });
    </script>
    <script>
        $(function() {
            let $wrapper = $('.JS--deliveryDateContainer');
            let $vp = $wrapper.find('.visual-picker-checked');
            let hiddenForm = {
                date: {
                    element: $wrapper.find('#hidden_deliveryDate'),
                    value: $wrapper.find('#hidden_deliveryDate').val(),
                    setDateValue: function (value) {
                        this.element.val(value);
                    },
                },
                interval: {
                    element: $wrapper.find('#hidden_deliveryInterval'),
                    value: $wrapper.find('#hidden_deliveryInterval').val(),
                    setIntervalValue: function (value) {
                        this.element.val(value);
                    },
                },
                fee: {
                    element: $wrapper.find('#hidden_deliveryFee'),
                    value: $wrapper.find('#hidden_deliveryFee').val(),
                    setFeeValue: function (value) {
//                        console.log(this.element);
                        this.element.val(value);
//                        console.log(this.element.val());
                    },
                },
            };
            $selectedDate = $wrapper.find('.JS--generatedDate-' + hiddenForm.date.value);
            $selectedInterval = $wrapper.find('.JS--generatedInterval-' + hiddenForm.date.value);
            $intervalDropdown = $selectedInterval.find('.JS--intervalDropdown');

            console.log($vp);

            if ($selectedDate.hasClass('d-none')) {
                $selectedDate.removeClass('d-none').addClass('d-temporary');
                $wrapper.find('.JS--showCalendarIcon').hide();
            }
            if ($selectedInterval.hasClass('d-none')) {
                $selectedInterval.removeClass('d-none').addClass('d-temporary');
            }

            $summaryDeliveryFeePos = $('.JS--cartWrapper').find('.JS--summaryDeliveryFee');
            $summaryTotal = $('.JS--cartWrapper').find('.JS--summaryTotal');
            $summaryTotalPos = $('.JS--cartWrapper').find('.JS--summaryTotalPos');
            function onSelectInterval(dropdown) {
                 dropdown.on('change', function () {
                     hiddenForm.interval.setIntervalValue($(this).val());
                     // retrieve delivery fee from 'data-' attribute
                     $dropdownValue = $(this).children('option:selected').data('fee'); //.toString()
                     hiddenForm.fee.setFeeValue($dropdownValue);

                     $summaryDeliveryFeePos.html(
                         $dropdownValue.toLocaleString("fr-FR", {style: "decimal", minimumFractionDigits: 0, useGrouping: true})
                     );
                     $summaryTotal.html(
                         ($summaryTotalPos.data('summary-total') - hiddenForm.fee.value + $dropdownValue).toLocaleString("fr-FR", {style: "decimal", minimumFractionDigits: 0, useGrouping: true})
                     );
                     $('.JS--deliveryDateContainer').find('.JS--alertMessage').replaceWith('');
                     alert.deliveryDate.hasError = false;
                 });
            }
            
            // Az idősáv kiválasztásakor elmenti a hidden mezőbe az értéket.
            // Ez akkor triggerelődik, amikor nem kattintunk sem dátumboxra, sem kalendáriumra.
            console.log($intervalDropdown);
            onSelectInterval($intervalDropdown);

            /**
             * Kezeli melyik dátum boxra lett kattintva, és azt jelöli kiválasztotnak.
             * Továbbá mutatja a dátumhoz tartozó idősávot.
             */
            $("[class*='JS--generatedDate-']").click(function () {
                $wrapper = $(this).closest('.JS--deliveryDateContainer');
                $dateWrapper = $(this).closest('.JS--dateWrapper');
                $intervalsWrapper = $wrapper.find('.JS--intervalsWrapper');

                $dateWrapper.find('.visual-picker-checked').removeClass('visual-picker-checked');
                $(this).find('.visual-picker').addClass('visual-picker-checked');
                $intervalModule = $intervalsWrapper.find('.JS--generatedInterval-' + $(this).data('date-value'));

//                $wrapper.find('#hidden_deliveryDate').val($(this).data('date-value'));
                hiddenForm.date.setDateValue($(this).data('date-value'));
                console.log($(this).data('date-value'));

                // ha a 4-ikre klikkelek amikor az ő temporary, akkor nem csinal semmit
                // amugy visszallitja (ujra mutatja) a CalendarIcont
                if (! ($(this).hasClass('d-temporary')) ) {
                    $dateWrapper.find('.d-temporary').removeClass('d-temporary').addClass('d-none');
                    $intervalsWrapper.find('.d-temporary').removeClass('d-temporary').addClass('d-none');
                    $intervalModule.removeClass('d-none').addClass('d-temporary');
                    $dateWrapper.find('.JS--showCalendarIcon').show();
                }

                //minden elozoleg becsekkolt input/select mezot uresre allitok, es torlom a hidden input mezobol is!
                $intervalsWrapper.find('.JS--intervalDropdown').prop('checked', false);
                hiddenForm.interval.setIntervalValue('');

                // Az idősáv kiválasztásakor elmenti a hidden mezőbe az értéket.
                // Ez akkor triggerelődik, amikor kattintunk a dátumboxra.
                onSelectInterval($intervalModule.find('.JS--intervalDropdown'));
            });
            /**
             * Kezeli a kalendáriumra kattintást.
             */
            $('.JS--Button-clickDate').on('apply.daterangepicker', function(ev, picker) {
                ev.preventDefault();
                $pickerDate = picker.startDate.format('YYYY-MM-DD');
                $wrapper = $(this).closest('.JS--deliveryDateContainer');
                $dateWrapper = $(this).closest('.JS--dateWrapper');
                $intervalsWrapper = $wrapper.find('.JS--intervalsWrapper');

                hiddenForm.date.setDateValue($pickerDate);

                $dateWrapper.find('.d-temporary').removeClass('d-temporary').addClass('d-none');
                $dateWrapper.find('.visual-picker-checked').removeClass('visual-picker-checked');
                $intervalsWrapper.find('.d-temporary').removeClass('d-temporary').addClass('d-none');

                $dateModule = $wrapper.find('.JS--generatedDate-' + $pickerDate);
                $intervalModule = $wrapper.find('.JS--generatedInterval-' + $pickerDate);

                if ($dateModule.is(':hidden')) {  // if it's hidden, de-hide it and make it temporary + hide the CalendarIcon
                    $wrapper.find('.JS--showCalendarIcon').hide();
                    $dateModule.removeClass('d-none').addClass('d-temporary');
                }
                $dateModule.find('.visual-picker').addClass('visual-picker-checked');
                $intervalModule.removeClass('d-none').addClass('d-temporary');

                if ($dateWrapper.find("[class*='JS--generatedDate-']:not(.d-none)").length <= 3) {
                    $wrapper.find('.JS--showCalendarIcon').show();
                }

                //minden elozoleg becsekkolt input/select mezot uresre allitok, es torlom a hidden input mezobol is!
                $intervalsWrapper.find('.JS--intervalDropdown').prop('checked', false);
                hiddenForm.interval.setIntervalValue('');

                // Az idősáv kiválasztásakor elmenti a hidden mezőbe az értéket.
                // Ez akkor triggerelődik, amikor kattintunk a kalendáriumra.
                onSelectInterval($intervalModule.find('.JS--intervalDropdown'));
            });
            $('.JS--Button-clickDate').on('cancel.daterangepicker', function(ev, picker) {
                $(this).val('');
            });
        });
    </script>

{% endblock %}
