<div class="pt-1">
    <ul class="order-summary mb-0 list-unstyled">
        <li class="order-summary-item">
            <span class="order-summary-item-label">{{ 'cart.subtotal'|trans }} </span>
            <span>{{  order.summary.totalBeforeDiscount|money }}</span>
        </li>
        <li class="order-summary-item">
            <span class="order-summary-item-label">{{ 'cart.shipping-fee'|trans }}</span>
            <span>
                                    <span class="JS--summaryDeliveryFee">{{ order.deliveryFee|money }}</span>
                                </span>
        </li>
        <li class="order-summary-item">
            <span class="order-summary-item-label">{{ 'cart.discount'|trans }}</span>
            <span>25%:</span>
        </li>
        <li class="order-summary-item border-0">
            <span class="order-summary-item-label">{{ 'cart.total-amount-paid'|trans }}</span>
            <span class="JS--summaryTotalPos order-summary-total" data-summary-total="{{ order.summary.totalAmountToPay }}">
                                    <span class="JS--summaryTotal">{{ order.summary.totalAmountToPay|money }}</span>
                                </span>
        </li>
</ul>
</div>