{% extends 'webshop/site/base-checkout.html.twig' %}


{# this tag only applies to the forms defined in this template #}
{#{% form_theme form 'bootstrap_4_layout.html.twig' %}#}

{% block title %}
    {{ title }} | {{ parent() }}
{% endblock %}



{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block page_content %}
<div class="JS--globalWrapper">

    {#{% include('webshop/site/alert-widget.html.twig') %}#}

    <section name="checkout_pickPayment">
        <div class="container mb-4">
            <div class="row">
                <div class="col-md-12 col-lg-12 mx-lg-auto">
                    <div class="row row-narrowX">

                        <div name="left_column" class="col-md-7 col-lg-8 pt-3X col-narrowX px-0 px-md-10px">
                            {% include('webshop/cart/progress-bar-3step-checkout.html.twig') %}
                            {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                                {% include('webshop/cart/already-registered-widget.html.twig') %}
                            {% endif %}

                            <div name="billing_address" class="mb-20px">
                                <div class="row no-gutters">
                                    <div class="col-lg-12">
                                        <div class="card">
                                            <div class="cart-wrapper JS--senderWrapper">

                                                <div class="checkout-block-header JS--alertBlock">
                                                    <h4>Számlázási adatok</h4>
                                                </div>

                                                {% include('webshop/cart/alert-sender-insert.html.twig') %}
                                                <div class="block-body px-3 px-md-4">
                                                    {#<div class="row">#}
                                                        {#<div class="col-lg-12 mb-3">#}
                                                            {#<span class="detail-option-heading font-weight-bold"></span>#}
                                                            {#<span class="text-mutedX">Add meg a számlázási adataidat, vagy válassz az előzőleg használtak közül.</span>#}
                                                            {#{% if not is_granted('IS_AUTHENTICATED_FULLY') %}#}
                                                                {#Ha már regisztrált felhasználó vagy, <a href="{{ path('site-login') }}">itt tudsz bejelentkezni.</a>#}
                                                            {#{% endif %}#}
                                                            {#</span>#}
                                                        {#</div>#}
                                                    {#</div>#}
                                                    <div class="JS--senderContentBlock">
                                                        {% if senders is defined %}
                                                            {% include('webshop/cart/sender_list.html.twig') %}
                                                        {% endif %}
                                                        {% if senderForm is defined %}
                                                            {% include('webshop/cart/sender_form.html.twig') %}
                                                        {% endif %}
                                                    </div>

                                                    {#{{ render(controller('App\\Controller\\Shop\\CartController::createSenderForm', {'id' : order.id})) }}#}
                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                            {{ form_start(form, { 'attr': {'class': 'JS--shipAndPayForm' }}) }}
                            <div name="shipping_method" class="mb-20px">
                                <div class="row no-gutters">
                                    <div class="col-lg-12">
                                        <div class="card">
                                            <div class="cart-wrapper JS--shippingWrapper">

                                                <div class="checkout-block-header JS--alertBlock">
                                                    <h4>Szállítási mód</h4>
                                                </div>

                                                {% include('webshop/cart/alert-shipping-insert.html.twig') %}
                                                <div class="block-body px-3 px-md-4">
                                                    {% include('webshop/cart/shipping-method-form.html.twig') %}
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div name="payment_method" class="mb-20px">
                                <div class="row no-gutters">
                                    <div class="col-lg-12">
                                        <div class="card">
                                            <div class="cart-wrapper JS--paymentWrapper">

                                                <div class="checkout-block-header JS--alertBlock">
                                                    <h4>Fizetési mód</h4>
                                                </div>

                                                {% include('webshop/cart/alert-payment-insert.html.twig') %}
                                                <div class="block-body px-3 px-md-4">
                                                    {% include('webshop/cart/payment-method-form.html.twig') %}
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {# Render CSRF token etc .#}
                            <div style="display:none">
                                {{ form_rest(form) }}
                            </div>
                            {{ form_end(form) }}

                            {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                                <div name="user_registration" class="mb-20px">
                                    <div class="row no-gutters">
                                        <div class="col-lg-12">
                                            <div class="cart bg-white">
                                                <div class="cart-wrapper">

                                                    <div class="checkout-block-header">
                                                        <h4>Fiók létrehozása</h4>
                                                    </div>

                                                    <div class="block-body col-lg-8 px-3 px-md-4">
                                                        <div class="rowX JS--registrationFormX">
                                                            {% include('webshop/cart/registration-form-duringCheckout.html.twig') %}
                                                        </div>
                                                    </div>

                                                    {#<form name="regisztracio" action="/" novalidate="novalidate" autocomplete="null">#}
                                                        {#<div class="block-body col-lg-6">#}
                                                            {#<div class="row">#}

                                                                {#<!--div class="col-lg-8">#}
                                                                    {#<p class="text-sm text-muted">Megadhatsz egy egyéni üzenetet, amelyet egy üdvözlölapra írunk.</p>#}
                                                                {#</div-->#}
                                                                {#<div class="form-group col-lg-12">#}
                                                                    {#<label for="username" class="form-label">Email címed</label>#}
                                                                    {#<input type="text" name="username" id="username" placeholder="" autocomplete="tralala" value="" class="form-control"></input>#}
                                                                {#</div>#}
                                                                {#<div class="form-group col-lg-12">#}
                                                                    {#<label for="password" class="form-label">Jelszó</label>#}
                                                                    {#<input type="password" name="password" placeholder="" id="password" class="form-control">#}
                                                                {#</div>#}
                                                                {#<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">#}

                                                            {#</div>#}
                                                        {#</div>#}
                                                    {#</form>#}

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                            <div class="row no-gutters">
                                <div class="col-lg-12 mb-4 mt-3">
                                    <div class="d-flex justify-content-center flex-column flex-lg-row px-4 px-md-0">
                                        {#<a href="{{ path('site-checkout-step2-pickRecipient') }}" class="btn btn-lg btn-link d-none d-md-inline-block text-muted order-2 order-lg-1 px-0"><i class="fa fa-chevron-left"></i> Vissza a címzetthez</a>#}
                                        <button data-url="{{ path('site-checkout-step4-thankyou') }}" class="JS--Button-gotoThankYou btn btn-lg btn-success order-1 order-lg-2 px-3 px-md-6 py-4 text-lg text-nowrap">
                                            Megrendelem <i class="fa fa-chevron-right"></i>
                                        </button>
                                        <div class="JS--loadingOverlay d-flex align-items-stretch loading-lg"></div>
                                    </div>
                                </div>
                                <div class="text-lg-center col-lg-10 mx-auto">
                                    <div class="px-4 px-md-0">
                                        <span class="text-sm text-muted">A 'Megrendelem' gombra kattintással rendelésed rögzítésre kerül, illetve elfogadod az ÁSZF-ben foglaltakat és hozzájárulsz, hogy némely itt megadott adatot a Difiori felhasználhassa, hogy számodra fokozott vásárlási élményt nyújtson a jövőben.</span>
                                    </div>
                                </div>
                                <div class="col-lg-12 py-4"> </div>
                            </div>


                        </div>

                        <div name="right_column" class="col-md-5 col-lg-4 col-narrowX px-0 px-md-10px">
                            <div class="row no-gutters navbar-sticky sticky-top">
                                <div class="col-md-12">
                                    {% include('/webshop/cart/sidebar-summary.html.twig') %}
                                </div>
                            </div>
                        </div>

                        {#<div name="goto_finish" class="col-lg-12  col-narrow mt-3 mb-5">#}
                            {#<div class="row">#}
                                {#<div class="col-lg-12">#}
                                    {#<div class="d-flex justify-content-between flex-column flex-lg-row mb-4">#}
                                        {#<a href="{{ path('site-checkout-step2-pickRecipient') }}" class="btn btn-lg btn-link d-none d-md-inline-block text-muted order-2 order-lg-1 px-0"><i class="fa fa-chevron-left"></i> Vissza a címzetthez</a>#}
                                        {#<a href="{{ path('site-checkout-step4-success') }}" class="JS--Button-placeOrder btn btn-lg btn-success order-1 order-lg-2 px-6">Megrendelem <i class="fa fa-chevron-right"></i></a>#}
                                        {#<button type="submit" value="Mentés" class="btn btn-lg btn-success order-1 order-lg-2" formnovalidate>Rendelés ellenörzése <i class="fa fa-chevron-right"></i></button>#}
                                    {#</div>#}
                                {#</div>#}
                                {#<div class="text-lg-right col-lg-6 ml-auto">#}
                                    {#<span class="text-sm text-muted">A 'Megrendelem' gombra kattintással rendelésed rögzítésre kerül, illetve elfogadod az ÁSZF-ben foglaltakat és hozzájárulsz, hogy némely itt megadott adatot a Difiori felhasználhassa, hogy számodra fokozott vásárlási élményt nyújtson a jövőben.</span>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>



{% endblock %}

{% block javascripts %}
	{{ parent() }}
    <script>
//        $(document).ready(function() {
//            $('[data-toggle="popover"]').popover({
//                trigger: 'focus'
//            });
//        });
        $(document).ready(function () {
            var $checkoutPageWrapper = $('.JS--globalWrapper');
            var checkoutPageHandler  = new handleOrder($checkoutPageWrapper);

//            var $wrapper = $('.JS--choicesContainer');
            let $wrapper = $('.JS--shipAndPayForm');
            let inlineEdit = new InlineEdit($wrapper);

            var $senderWrapper = $('.JS--senderWrapper');
            var senderEdit = new InlineEdit($senderWrapper);

            var $cartWrapper = $('.JS--cartWrapper');
            var cartEdit = new InlineEdit($cartWrapper);
        });
    </script>
{% endblock %}
