<div class="pt-1">
    <ul class="order-summary mb-0 list-unstyled">
        <li class="order-summary-item">
            <div class="order-summary-item-label">{{ 'cart.subtotal'|trans }} </div>
            <div>{{  order.summary.totalBeforeDiscount|money }}</div>
        </li>
        <li class="order-summary-item">
            <div class="order-summary-item-label">{{ 'cart.shipping-fee'|trans }}</div>
            <div>
                                    <div class="JS--summaryDeliveryFee">{{ order.deliveryFee|money }}</div>
                                </div>
        </li>
{#        <li class="order-summary-item">#}
{#            <div class="order-summary-item-label">{{ 'cart.discount'|trans }}</div>#}
{#            <div>25%:</div>#}
{#        </li>#}
        <li class="order-summary-item border-0">
            <div class="order-summary-item-label">{{ 'cart.total-amount-paid'|trans }}</div>
            <div class="JS--summaryTotalPos order-summary-total" data-summary-total="{{ order.summary.totalAmountToPay }}">
                <div class="JS--summaryTotal text-nowrap">{{ order.summary.totalAmountToPay|money }}</div>
            </div>
        </li>
    </ul>
</div>