

                            {{ form_start(messageForm) }}
                            <div class="row">
                                <!--div class="col-lg-8">
                                    <p class="text-sm text-muted">Megadhatsz egy egyéni üzenetet, amelyet egy üdvözlölapra írunk.</p>
                                </div-->
                                <div class="form-group col-lg-12">
                                    <label for="{{ messageForm.message.vars.full_name }}" class="form-label">Ide írd az üzenetet (max 200 karakter) *</label>
                                    {{ form_widget(messageForm.message, {'attr': {'class': 'form-control', 'rows': messageForm.message.vars.attr.rows, 'placeholder': 'Ide írd az üzenetet' }} ) }}
                                    {{ form_errors(messageForm.message) }}
                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="{{ messageForm.messageAuthor.vars.full_name }}" class="form-label">Aláírásnév (ezt írjuk az üdvözlőlapra)</label>
                                    {{ form_widget(messageForm.messageAuthor, {'attr': {'class': 'form-control', 'placeholder': 'Szabó János' }}) }}
                                    {{ form_errors(messageForm.messageAuthor) }}
                                </div>
                            </div>
                            {{ form_end(messageForm) }}
                            {% do messageForm.setRendered() %}


