{#{% extends 'webshop/site/base-checkout.html.twig' %}#}

{#{% block title %}#}
    {#Kosár | {{ parent() }}#}
{#{% endblock %}#}



{#{% block stylesheets %}#}
    {#{{ parent() }}#}
{#{% endblock %}#}

{#{% block page_content %}#}

                {{ form_start(messageAndCustomerForm, { 'attr': {'class': 'JS--messageAndCustomerForm' }}) }}
                <div name="write_message" class="mb-20pxX">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="cart bg-white shadow-none">
                                <div class="cart-wrapper JS--messageWrapper">

                                    <div class="checkout-block-header">
                                        <h4>Üzenet a címzettnek</h4>
                                    </div>

                                    {{ include('webshop/cart/alert-message-insert.html.twig') }}
                                    <div class="row">
                                        <div class="col-md-12 mt-3">
                                            <div class="block-body">
                                                <div class="row">
                                                    <div class="col-md-8 col-lg-7 order-2 order-md-1">
                                                        <div class="JS--formWrapper">
                                                            {% set messageForm = messageAndCustomerForm.message %}
                                                            {{ include('webshop/cart/message_form.html.twig') }}
                                                        </div>
                                                        <div class="text-sm text-mutedX">
                                                            <span class="font-weight-bold text-muted">Nem találod a szavakat?</span>
                                                            {#<i class="fas fa-info-circle mr-1"></i>#}
                                                            {#<a href="#" class="text-underline">Íme néhány üzenetötlet, amit használhatsz kedvedre.</a>#}

                                                            <a href="#cardMessageDropdown" data-toggle="collapse" class="dropdown-toggle JS--dropdown-toggle text-underline"  aria-expanded="false" aria-controls="cardMessageDropdown">Íme néhány üzenetötlet, amit kedvedre használhatsz.</a>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-4 col-lg-5 order-1 order-md-2">
                                                        <div class="card h-100X ml-lg-2 ml-0 mb-2 mb-lg-0">
                                                            <div class="minicard--body bg-light d-flex flex-column h-100">
                                                                <div class="text-sm text-mutedX">
                                                                    {#<span class="font-weight-bold text-muted">Jo tudni</span>#}
                                                                    <i class="fas fa-info-circle mr-1"></i>
                                                                    A virág mellé INGYEN igényelhetsz egy üdvözlőkártyát a saját üzeneteddel.
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 order-3">
                                                        <div class="collapse JS--cardMessageDropdown" id="cardMessageDropdown">
                                                            <div class="cardX h-100X mt-2">
                                                                    <ul role="tablist" class="nav nav-pills cardMessage--nav">
                                                                        {% for category in cardCategories %}
                                                                            <li class="nav-item">
                                                                                <a data-toggle="pill" href="#{{ category.name }}" role="tab" class="nav-link detail-nav-link {% if loop.first == 1 %}active{% endif %}" aria-selected="true">{{ category.name }}</a>
                                                                            </li>
                                                                        {% endfor %}
                                                                    </ul>
                                                                    <div class="tab-content py-2 mt-1">
                                                                        {% for category in cardCategories %}
                                                                            <div id="{{ category.name }}" role="tabpanel" class="cart--scroll card cardMessage--list-group list-group-striped tab-pane {% if loop.first == 1 %}active{% endif %}">
                                                                                {#<div class="cart--scroll">#}
                                                                                <ul class="list-group customer-nav JS--cardMessages">
                                                                                    {% for message in category.messages %}
                                                                                        <li class="list-group-item JS--cardMessage">{{ message }}</li>
                                                                                    {% endfor %}
                                                                                    <li class="list-group-item JS--cardMessage">Ezen az email címen és telefonszámon fogunk értesíteni a rendelés állapotáról, illetve a sikeres kézbesítésről.</li>
                                                                                    <li class="list-group-item JS--cardMessage">Ezen az email címen és telefonszámon fogunk értesíteni a rendelés állapotáról, illetve a sikeres kézbesítésről.</li>
                                                                                    <li class="list-group-item JS--cardMessage">Ezen az email címen és telefonszámon fogunk értesíteni a rendelés állapotáról, illetve a sikeres kézbesítésről.</li>
                                                                                    <li class="list-group-item JS--cardMessage">Ezen az email címen és telefonszámon fogunk értesíteni a rendelés állapotáról, illetve a sikeres kézbesítésről.</li>
                                                                                    <li class="list-group-item JS--cardMessage">Ezen az email címen és telefonszámon fogunk értesíteni a rendelés állapotáról, illetve a sikeres kézbesítésről.</li>

                                                                                </ul>
                                                                                {#</div>#}
                                                                            </div>
                                                                        {% endfor %}

                                                                    </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                {#{% if customerForm is defined and not null %}#}
                {% set customerForm = messageAndCustomerForm.customer %}
                <div name="sender_basic_details" class="mb-20px">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="cart bg-white shadow-none">
                                <div class="cart-wrapper JS--messageWrapperX">

                                    <div class="checkout-block-header">
                                        <h4>Add meg adataidat</h4>
                                    </div>

                                    {{ include('webshop/cart/alert-customerBasic-insert.html.twig') }}
                                    <div class="row">
                                        <div class="col-lg-12 mt-3 p-3X p-md-4X">
                                            <div class="block-body">
                                                <div class="row">
                                                    <div class="col-md-8 col-lg-7 order-2 order-md-1">
                                                        <div class="JS--formWrapperX">
                                                            {{ include('webshop/cart/user-basicDetails-form.html.twig') }}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-lg-5 order-1 order-md-2">
                                                        <div class="card ml-lg-2 ml-0 mt-md-4 mb-2 mb-lg-0">
                                                            <div class="minicard--body bg-light d-flex flex-column h-100">
                                                                                        <span class="text-sm text-mutedX">
                                                                                            {#<span class="font-weight-bold text-muted">Jo tudni</span>#}
                                                                                            <i class="fas fa-info-circle mr-1"></i>
                                                                                            Ezen az email címen és telefonszámon fogunk értesíteni a rendelés állapotáról, illetve a sikeres kézbesítésről.
                                                                                        </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {#<button type="submit" class="JS--Button-gotoStep2X btn btn-lg btn-success order-1 order-lg-2 px-lg-6 py-4">Tovább a címzett megadásához <i class="fa fa-chevron-right"></i></button>#}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {#{% endif %}#}

                {# Render CSRF token etc .#}
                <div style="display:none">
                    {{ form_rest(messageAndCustomerForm) }}
                </div>

                {{ form_end(messageAndCustomerForm) }}
                {% do messageAndCustomerForm.setRendered() %}

{#{% endblock %}#}