
        <div class="row">
            {% if not form.payment.payment.vars.valid %}
            <div class="col-lg-12 mb-3">
                <div class="alert alert-danger" role="alert">	{{ form.payment.payment.vars.errors }} </div>
            </div>
            {% endif %}
            <div class="col-lg-12">
                <div class="row">
                    {% for choice in form.payment.payment %}
                        <div class="col-lg-12 mb-2X mb-md-3X mb-1 mb-sm-0">
                            <div class="cardX paymentMethod--card rounded loadingWrapper loadingWrapper-secondary JS--choiceContainer {% if choice.vars.checked is defined and choice.vars.checked %}selected_XXXXXX{% endif %}">
                                <div class="row minicard--body px-0">
                                    <div class="col-sm-12">
                                        <div class="custom-control custom-radio JS--Button-pickPayment" data-url="{{ path('cart-setPayment', {id: choice.vars.value}) }}">
                                            <input class="custom-control-input" type="radio" id="{{ choice.vars.id }}" name="{{ choice.vars.full_name }}" required="required" value="{{ choice.vars.value }}" {% if choice.vars.checked is defined and choice.vars.checked %}checked{% endif %}/>
                                            <label class="custom-control-label font-weight-bold mr-3" for="{{ choice.vars.id }}">
                                                {{ choice.vars.label }}
                                            </label> {% if paymentMethods[loop.index0].image is defined and paymentMethods[loop.index0].image != '' %}
                                                <img class="img-fluid h-17px" src="{{ asset('/uploads/images/termekek/' ~ paymentMethods[loop.index0].image) }}" alt="{{ paymentMethods[loop.index0].name }}">
                                            {% endif %}
                                        </div>
                                        <div class="text-sm paymentMethod--description-muted mb-0 pl-4 pt-1" id="heading{{ loop.index }}">
                                            {{ paymentMethods[loop.index0].short }}
                                        </div>
                                    </div>
                                </div>
                                <div class="JS--loadingOverlay d-flex align-items-stretch loading-lg"></div>
                            </div>
                        </div>
                    {% endfor %}
                    {% do form.payment.payment.setRendered() %}
                </div>
            </div>
        </div>
