
    <div class="col-md-6 col-lg-4">
        <div class="card d-block mb-4 {% if selectedRecipient is defined and selectedRecipient == recipient.id %} border-success {% endif %}">
            <div class="card-body">
                <h5 class="card-title">{{ recipient.name }}</h5>
                <p class="card-text">
                    <span class="">{{ recipient.address.street }}</span> <br>
                    <span class="">{{ recipient.address.city }}, {{ recipient.address.province }}</span> <br>
                    <span class="">{{ recipient.address.zip }} {{ recipient.address.country }}</span><br>
                    <span class="">Telefonszám: {{ recipient.phone }}</span></p>
                <a href="{{ path('cart-pickRecipient', {id: recipient.id}) }}" class="JS--Button-pickRecipient btn btn-sm btn-primary mb-2">Szállítás erre a címre</a><br>
                <a href="" class="JS--editButton-recipient btnX btn-smX Xbtn-outline-secondary" data-url="{{ path('cart-editRecipient', {id: recipient.id}) }}">Szerkesztés</a> |
                <a href="#" class="btnX btn-smX Xbtn-outline-secondary text-dangerX">Törlés</a>
            </div> <!-- end card-body-->
        </div>
    </div>