<div class="row">
    <div class="col-lg-12">
        <div class="row row-narrowX">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class="col-lg-12 col-narrowX mt-10pxX mb-3">
                    <div class="loadingWrapper loadingWrapper-secondary">
                        <a href="" class="JS--Button-editRecipient btn btn-outline-primary px-3" data-url="{{ path('cart-editRecipient') }}"><i class="fas fa-plus mr-1"></i> Címzett hozáadása</a>
                        <div class="JS--loadingOverlay d-flex align-items-stretch"></div>
                    </div>

                </div>
            {% endif %}
                <div class="col-lg-12 col-narrowX mb-2 mt-2">
                    <span class="form-label">Előzőleg megadott címzettek:</span>
                </div>
            {% for recipient in recipients %}
                {#{{ include('webshop/cart/recipient_widget.html.twig') }}#}
                <div class="col-md-12 col-lg-10 col-narrowX mb-4">
                    <div class="JS--item card minicard h-100 {% if selectedRecipient is defined and selectedRecipient == recipient.id %} selected {% endif %}">
                        <div class="minicard--body selected-body d-flex flex-column h-100">
                            <div class="minicard--title mb-1">{{ recipient.name }}</div>
                            <div class="mb-3">
                                <span class="minicard--address">Telefonszám: <em>{{ recipient.phone }}</em></span> <br>
                                <span class="minicard--address">{{ recipient.address.zip }} {{ recipient.address.city }}, {{ recipient.address.street }}</span> <br>
                                <span class="minicard--address">{{ recipient.address.province }}, {{ recipient.address.country }}</span>
                            </div>
                            <div class="d-flex align-items-center h-100">
                                <div>

                                    <div class="loadingWrapper loadingWrapper-secondary">
                                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                        <a class="JS--Button-pickRecipient minicard--mainLink" href="{{ path('cart-pickRecipient', {id: recipient.id}) }}">Szállítás erre a címre</a>
                                        <div class="JS--loadingOverlay d-flex align-items-stretch"></div>
                                    {% endif %}
                                    </div>
                                    <div class="loadingWrapper loadingWrapper-secondary">
                                        <a href="" class="JS--Button-editRecipient minicard--toolLink" data-url="{{ path('cart-editRecipient', {id: recipient.id}) }}">Szerkeszt</a>
                                        <div class="JS--loadingOverlay d-flex align-items-stretch"></div>
                                    </div> |
                                    <div class="loadingWrapper loadingWrapper-secondary">
                                        <a href="#" class="JS--Button-deleteRecipient minicard--toolLink" data-url="{{ path('cart-deleteRecipient', {id: recipient.id}) }}">Töröl</a>
                                        <div class="JS--loadingOverlay d-flex align-items-stretch"></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>