{% form_theme recipientForm 'bootstrap_4_layout.html.twig' %}
{{ form_start(recipientForm, { 'attr': {'class': 'JS--editForm-recipient' }}) }}
        <div class="row">
            <div class="col-lg-8">
                <p class="text-sm text-muted">Ide írd be annak a személynek a nevét, címét, telefonszámát aki kapni fogja a virágot/ajándékot.</p>
            </div>

            <div class="form-group col-lg-6">
                <label for="{{ recipientForm.name.vars.full_name }}" class="recipientForm-label">Címzett neve</label>
                {#<input type="text" name="fullname_shipping" placeholder="Szabó Lajos" id="{{ recipientForm.name.vars.id }}" class="form-controlX">#}
                {{ form_widget(recipientForm.name, {'attr': {'class': 'form-controlX'}}) }}
                {{ form_errors(recipientForm.name) }}
            </div>
            <div class="form-group col-lg-6">
                <label for="{{ recipientForm.address.street.vars.full_name }}" class="recipientForm-label">Címe</label>
                {{ form_widget(recipientForm.address.street, {'attr': {'class': 'form-controlX'}}) }}
                {{ form_errors(recipientForm.address.street) }}
            </div>
            <div class="form-group col-lg-6">
                <label for="{{ recipientForm.address.city.vars.full_name }}" class="recipientForm-label">Város</label>
                {{ form_widget(recipientForm.address.city, {'attr': {'class': 'form-controlX'}}) }}
                {{ form_errors(recipientForm.address.city) }}
            </div>
            <div class="form-group col-lg-6">
                <label for="{{ recipientForm.address.zip.vars.full_name }}" class="recipientForm-label">Irányítószám</label>
                {{ form_widget(recipientForm.address.zip, {'attr': {'class': 'form-controlX'}}) }}
                {{ form_errors(recipientForm.address.zip) }}
            </div>
            <div class="form-group col-lg-6">
                <label for="{{ recipientForm.address.province.vars.full_name }}" class="recipientForm-label">Megye</label>
                {{ form_widget(recipientForm.address.province, {'attr': {'class': 'form-controlX'}}) }}
                {{ form_errors(recipientForm.address.province) }}
            </div>
            <div class="form-group col-lg-6">
                <label for="{{ recipientForm.address.country.vars.full_name }}" class="recipientForm-label">Ország</label>
                {{ form_widget(recipientForm.address.country, {'attr': {'class': 'form-controlX'}}) }}
                {{ form_errors(recipientForm.address.country) }}
            </div>
            <div class="form-group col-lg-6">
                <label for="{{ recipientForm.phone.vars.full_name }}" class="recipientForm-label">Telefonszám</label>
                {{ form_widget(recipientForm.phone, {'attr': {'class': 'form-controlX'}}) }}
                {{ form_errors(recipientForm.phone) }}
            </div>
            <!-- /delivery fields -->

            <div class="form-group col-lg-12">
                <button type="submit" class="btn btn-primary mr-2">Tovább <i class="fa fa-chevron-right"></i></button>
                <a href="" class="JS--Button-getRecipients" data-url="{{ path('cart-getRecipients') }}">Mégse</a>
            </div>

        </div>

{{ form_end(recipientForm) }}
{#{% do recipientForm.setRendered() %}#}



