
    <div class="col-md-6 col-lg-4">
        <div class="card d-block mb-4 {% if selectedRecipient is defined and selectedRecipient == recipient.id %} selected {% endif %}">
            <div class="card-body">
                <h5 class="card-title">{{ recipient.fullname }}</h5>
                <p class="card-text text-sm">
                    <span class="">{{ recipient.address.street }}</span> <br>
                    <span class="">{{ recipient.address.city }}, {{ recipient.address.province }}</span> <br>
                    <span class="">{{ recipient.address.zip }} {{ recipient.address.country }}</span><br>
                    <span class="">Telefonszám: {{ recipient.phone }}</span></p>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="{{ path('cart-pickRecipient', {id: recipient.id}) }}" class="JS--Button-pickRecipient btn btn-sm btn-secondary mb-2">Szállítás erre a címre</a>

                        <br>
                    {% endif %}

                <a href="" class="JS--editButton-recipient" data-url="{{ path('cart-editRecipient', {id: recipient.id}) }}">Szerkesztés</a> |
                <a href="#" class="">Törlés</a>
            </div>
        </div>
    </div>