<div class="row">
    <div class="col-md-12">
        <div class="d-flex flex-column checkout-sender-current">
            <div class="">
                <div class="d-flex justify-content-start justify-content-sm-between">
                    <div class="address-title mr-2 mr-sm-0">
                        <div class="address-title">{{ recipient.name }}</div>
                    </div>
                    <div class="">
                        <a href="#" class="text-sm" data-selector="button" data-eval="showRecipientForm" data-url="{{ path('cart-editRecipient', {id: recipient.id}) }}">
                            <span class="loading-spinner-invisible">Módosít</span>
                            <div class="loading-spinner" role="status"></div>
                        </a>
                    </div>
                </div>
                <div class="address-details">{{ recipient.address.street }}</div>
                <div class="address-details">{{ recipient.address.zip }} {{ recipient.address.city }}</div>
                <div class="address-details">{{ recipient.address.province }}, {{ recipient.address.country }}</div>
                <div class="address-details">{{ recipient.phone }}</div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="navbar--toolbar mt-1">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <button class="btn btn-link btn-sm" data-selector="button" data-eval="showRecipientForm" data-url="{{ path('cart-editRecipient') }}">
                    <span class="loading-spinner-invisible">Új címzett hozáadása</span>
                    <div class="loading-spinner" role="status"></div>
                </button>
                <button class="btn btn-link btn-sm" data-toggle="modal" data-target="#modal--recipientList">
                    <span class="loading-spinner-invisible">Előzőleg megadott címzettek</span>
                    <div class="loading-spinner" role="status"></div>
                </button>
            {% endif %}
        </div>
    </div>
</div>