{% import _self as myOwnMacro %}

{% macro firstname(item) %}
    <div class="form-group input-float col-md-6 {% if item.firstname.vars.value is defined and item.firstname.vars.value %}active{% endif %}">
        <label for="{{ item.firstname.vars.full_name }}" class="form-label">Keresztnév</label>
        {{ form_widget(item.firstname, {'attr': {'class': '', 'placeholder': 'Keresztnév'}}) }}
        {{ form_errors(item.firstname) }}
    </div>
{% endmacro %}

{% macro lastname(item) %}
    <div class="form-group input-float col-md-6 {% if item.lastname.vars.value is defined and item.lastname.vars.value %}active{% endif %}">
        <label for="{{ item.lastname.vars.full_name }}" class="form-label">Vezetéknév</label>
        {{ form_widget(item.lastname, {'attr': {'class': '', 'placeholder': 'Vezetéknév'}}) }}
        {{ form_errors(item.lastname) }}
    </div>
{% endmacro %}

{{ form_start(registrationForm, { 'attr': {'class': 'JS--registrationForm' }}) }}
<div class="form-row">
    <div class="form-group input-float col-sm-12 {% if registrationForm.email.vars.value is defined and registrationForm.email.vars.value is not empty %}active{% endif %}">
        <label for="{{ registrationForm.email.vars.full_name }}" class="form-label">Email címed
            {#{% if registrationForm.email.vars.required == true %} <span class='text-danger'>*</span> {% endif %}#}
        </label>
        {{ form_widget(registrationForm.email, {'attr': {'placeholder': 'Email címed'}}) }}
        {{ form_errors(registrationForm.email) }}
    </div>
    {% if app.request.locale == 'hu' %}
        {{ myOwnMacro.lastname(registrationForm) }}
        {{ myOwnMacro.firstname(registrationForm) }}
    {% endif %}
    {% if app.request.locale == 'en' %}
        {{ myOwnMacro.firstname(registrationForm) }}
        {{ myOwnMacro.lastname(registrationForm) }}
    {% endif %}
{#    <div class="form-group input-float col-sm-6 {% if registrationForm.lastname.vars.value is defined and registrationForm.lastname.vars.value is not empty %}active{% endif %}">#}
{#        <label for="{{ registrationForm.lastname.vars.full_name }}" class="form-label">Vezetéknév#}
{#            #}{#{% if registrationForm.lastname.vars.required == true %} <span class='text-danger'>*</span> {% endif %}#}
{#        </label>#}
{#        {{ form_widget(registrationForm.lastname, {'attr': {'placeholder': 'Vezetéknév'}}) }}#}
{#        {{ form_errors(registrationForm.lastname) }}#}
{#    </div>#}
{#    <div class="form-group input-float col-sm-6 {% if registrationForm.firstname.vars.value is defined and registrationForm.firstname.vars.value is not empty %}active{% endif %}">#}
{#        <label for="{{ registrationForm.firstname.vars.full_name }}" class="form-label">Keresztnév#}
{#            #}{#{% if registrationForm.firstname.vars.required == true %} <span class='text-danger'>*</span> {% endif %}#}
{#        </label>#}
{#        {{ form_widget(registrationForm.firstname, {'attr': {'placeholder': 'Keresztnév'}}) }}#}
{#        {{ form_errors(registrationForm.firstname) }}#}
{#    </div>#}
    <div class="form-group input-float col-sm-12 {% if registrationForm.password.vars.value is defined and registrationForm.password.vars.value is not empty %}active{% endif %}">
        <label for="{{ registrationForm.password.vars.full_name }}" class="form-label">Jelszó
            {#{% if registrationForm.password.vars.required == true %} <span class='text-danger'>*</span> {% endif %}#}
        </label>
{#        {{ form_widget(registrationForm.password, {'attr': {'placeholder': 'Jelszó'}}) }}#}
        {{ form_errors(registrationForm.password) }}
        <div class="field-group JS--passWrapper">
            <div class="field-item field-append">
                <div class="field-addon-append JS--passButton">
                    <i class="fas fa-eye text-dark"></i>
                </div>
            </div>
            {{ form_widget(registrationForm.password, {'attr': {'placeholder': 'Jelszó'}}) }}
        </div>
    </div>
    <div class="form-group col-sm-12">
        <div class="custom-control custom-checkbox text-sm text-muted">
            <input id="{{ registrationForm.terms.vars.id }}" type="checkbox" name="{{ registrationForm.terms.vars.full_name }}" class="custom-control-input" {{ registrationForm.terms.vars.checked == true ? 'checked=\"checked\"' : '' }}>
            <label for="{{ registrationForm.terms.vars.id }}" class="custom-control-label align-middle">Kijelentem, hogy az Általános Szerződési Feltételeket és az Adatvédelmi nyilatkozatot megismertem és elfogadom, az abban szereplő adatkezelésekhez hozzájárulok.</label>
            {{ form_errors(registrationForm.terms) }}
            {% do registrationForm.terms.setRendered() %}
        </div>
    </div>

    {# Render CSRF token etc .#}
    <div style="display:none">
        {{ form_rest(registrationForm) }}
    </div>
</div>
{{ form_end(registrationForm) }}
