{{ form_start(sameAsRecipientForm, { 'attr': {'class': 'JS--Wrapper-sameAsRecipientForm' }}) }}
    <div class="form-group radio-validation mb-0">
        <div class="checkout-method-selection content-body-thick-border">
            {% for choice in sameAsRecipientForm.sameAsRecipient %}
                <div class="checkout-payment-item JS--Wrapper-sameAsChoice{% if choice.vars.checked is defined and choice.vars.checked %} selected{% endif %}">
                    <div class="JS--Button-pickSameAsChoice custom-control custom-radio">
                        <input class="custom-control-input" type="radio" id="{{ choice.vars.id }}" name="{{ choice.vars.full_name }}" required="required" value="{{ choice.vars.value }}" {% if choice.vars.checked is defined and choice.vars.checked %}checked{% endif %}/>
                        <label class="custom-control-label w-100" for="{{ choice.vars.id }}">
                            <span class="pr-2 pr-sm-0">{{ choice.vars.label }}</span>
                        </label>
                    </div>
                </div>
            {% endfor %}
        </div>
        {{ form_errors(sameAsRecipientForm.sameAsRecipient) }}
        {% do sameAsRecipientForm.sameAsRecipient.setRendered() %}
    </div>
    <div style="display:none">
        {{ form_rest(sameAsRecipientForm) }}
    </div>
{{ form_end(sameAsRecipientForm) }}