{% import _self as myOwnMacro %}

{% macro firstname(item) %}
    <div class="form-group input-float col-md-6 {% if item.firstname.vars.value is defined and item.firstname.vars.value %}active{% endif %}">
        <label for="{{ item.firstname.vars.full_name }}" class="form-label">Keresztnév</label>
        {{ form_widget(item.firstname, {'attr': {'class': '', 'placeholder': 'Keresztnév'}}) }}
        {{ form_errors(item.firstname) }}
    </div>
{% endmacro %}

{% macro lastname(item) %}
    <div class="form-group input-float col-md-6 {% if item.lastname.vars.value is defined and item.lastname.vars.value %}active{% endif %}">
        <label for="{{ item.lastname.vars.full_name }}" class="form-label">Vezetéknév</label>
        {{ form_widget(item.lastname, {'attr': {'class': '', 'placeholder': 'Vezetéknév'}}) }}
        {{ form_errors(item.lastname) }}
    </div>
{% endmacro %}

{{ form_start(senderForm, { 'attr': {'class': 'JS--senderForm JS--editForm-sender',
    'data-wrapper-sender-form': '',
    'data-selector' : 'form',
    'data-eval' : 'submitSenderForm',
}}) }}
        <div class="form-row">
            {% if app.request.locale == 'hu' %}
                {{ myOwnMacro.lastname(senderForm) }}
                {{ myOwnMacro.firstname(senderForm) }}
            {% endif %}
            {% if app.request.locale == 'en' %}
                {{ myOwnMacro.firstname(senderForm) }}
                {{ myOwnMacro.lastname(senderForm) }}
            {% endif %}
        </div>
        <div class="form-row">
            <div class="form-group input-float col-sm-8 {% if senderForm.company.vars.value is defined and senderForm.company.vars.value %}active{% endif %}">
                <label for="{{ senderForm.company.vars.full_name }}" class="form-label">Cég neve</label>
                {{ form_widget(senderForm.company, {'attr': {'class': '', 'placeholder': 'Cég neve' }}) }}
                {{ form_errors(senderForm.company) }}
            </div>
            <div class="form-group input-float col-sm-4 {% if senderForm.companyVatNumber.vars.value is defined and senderForm.companyVatNumber.vars.value %}active{% endif %}">
                <label for="{{ senderForm.companyVatNumber.vars.full_name }}" class="form-label">ÁFA szám</label>
                {{ form_widget(senderForm.companyVatNumber, {'attr': {'class': '', 'placeholder': 'ÁFA szám' }}) }}
                {{ form_errors(senderForm.companyVatNumber) }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group input-float col-md-12 {% if senderForm.address.street.vars.value is defined and senderForm.address.street.vars.value %}active{% endif %}">
                <label for="{{ senderForm.address.street.vars.full_name }}" class="form-label">Utca</label>
                {{ form_widget(senderForm.address.street, {'attr': {'class': '', 'placeholder': 'Cím: Utca, házszám, emelet, ajtó...' }}) }}
                {{ form_errors(senderForm.address.street) }}
{#                <span class="invalid-feedback">#}
{#                    {% for error in senderForm.address.street.vars.errors %}#}
{#                        {{ error.message }}#}
{#                    {% endfor %}#}
{#                </span>#}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group input-float col-md-12 {% if senderForm.address.city.vars.value is defined and senderForm.address.city.vars.value %}active{% endif %}">
                <label for="{{ senderForm.address.city.vars.full_name }}" class="form-label">Település</label>
                {{ form_widget(senderForm.address.city, {'attr': {'class': 'JS--senderForm-city', 'placeholder': 'Város, település' }}) }}
                {{ form_errors(senderForm.address.city) }}
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm-5">
                <div class="form-group input-float input-float-select {% if senderForm.address.country.vars.value is defined and senderForm.address.country.vars.value %}active{% endif %}">
                    <label for="{{ senderForm.address.country.vars.full_name }}" class="form-label">Ország</label>
                    {{ form_widget(senderForm.address.country, {'attr': {'class': '', 'placeholder': 'Ország' }}) }}
                    {{ form_errors(senderForm.address.country) }}
                </div>
            </div>
            <div class="form-group input-float col-sm-4 {% if senderForm.address.province.vars.value is defined and senderForm.address.province.vars.value %}active{% endif %}">
                <label for="{{ senderForm.address.province.vars.full_name }}" class="form-label">Megye</label>
                {{ form_widget(senderForm.address.province, {'attr': {'class': 'JS--senderForm-province', 'placeholder': 'Megye' }}) }}
                {{ form_errors(senderForm.address.province) }}
            </div>
            <div class="form-group mb-0 input-float col-sm-3 {% if senderForm.address.zip.vars.value is defined and senderForm.address.zip.vars.value %}active{% endif %}">
                <label for="{{ senderForm.address.zip.vars.full_name }}" class="form-label">Irányítószám</label>
                {{ form_widget(senderForm.address.zip, {'attr': {'class': 'JS--senderForm-zip', 'placeholder': 'Irányítószám', 'data-url' : path('cart-getPlaceByZip') }}) }}
                {{ form_errors(senderForm.address.zip) }}
            </div>
        </div>
{#            <div class="form-group input-float col-md-12 {% if senderForm.phone.vars.value is defined and senderForm.phone.vars.value %}active{% endif %}">#}
{#                <label for="{{ senderForm.phone.vars.full_name }}" class="form-label">Telefonszám</label>#}
{#                {{ form_widget(senderForm.phone, {'attr': {'class': '', 'placeholder': 'Telefonszám, pl: +36... vagy 06...' }}) }}#}
{#                {{ form_errors(senderForm.phone) }}#}
{#            </div>#}

        {# Render CSRF token etc .#}
        <div style="display:none">
            {{ form_rest(senderForm) }}
        </div>
{{ form_end(senderForm) }}