<div class="row">
    <div class="col-lg-12">
        <div class="row row-narrowX">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class="col-lg-12 col-narrowX mt-10pxX mb-3">
                    <div class="loadingWrapper loadingWrapper-secondary">
                        <a href="" class="JS--Button-editSender btn btn-outline-info px-3" data-url="{{ path('cart-editSender') }}"><i class="fas fa-plus mr-1"></i> Új számlázási cím</a>
                        <div class="JS--loadingOverlay d-flex align-items-stretch"></div>
                    </div>

                </div>
            {% endif %}
                <div class="col-lg-12 col-narrowX mb-2 mt-2">
                    <span class="form-label">Előzőleg megadott számlázási címek:</span>
                </div>
            {% for sender in senders %}
                {#{{ include('webshop/cart/sender_widget.html.twig') }}#}
                <div class="col-md-6 col-lg-6 col-narrowX mb-4">
                    <div class="JS--item card minicard h-100 {% if selectedSender is defined and selectedSender == sender.id %} selected {% endif %}">
                        <div class="minicard--body selected-body d-flex flex-column h-100">
                            {#{% if sender.company is defined and sender.company %}#}
                                {#<div class="font-weight-bold card-titleX">{{ sender.company }}</div>#}
                            {#{% endif %}#}
                            {#<a class="" data-toggle="collapse" href="#collapse{{ loop.index }}" role="button" aria-expanded="false" aria-controls="cardCollapse{{ loop.index }}">#}
                            <div class="minicard--title mb-1">
                                    {{ sender.company is defined and sender.company ? sender.company ~ ' /' : ''}} {{ sender.name }}
                            </div>
                            {#</a>#}
                            <div class="collapseX mb-3" id="cardCollapse{{ loop.index }}">
                                <span class="minicard--address">Telefonszám: <em>{{ sender.phone }}</em></span> <br>
                                <span class="minicard--address">{{ sender.address.zip }} {{ sender.address.city }}, {{ sender.address.street }}</span> <br>
                                <span class="minicard--address">{{ sender.address.province }}, {{ sender.address.country }}</span>
                            </div>

                            <div class="d-flex align-items-end h-100">
                                <div>

                                    <div class="loadingWrapper loadingWrapper-secondary">
                                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                            {#<a class="JS--Button-pickSender minicard--mainLink {% if selectedSender is defined and selectedSender == sender.id %}d-none{% endif %}" href="{{ path('cart-pickSender', {id: sender.id}) }}">Kiválaszt</a>#}
                                            <a class="JS--Button-pickSender minicard--mainLink" href="{{ path('cart-pickSender', {id: sender.id}) }}">Kiválaszt</a>
                                            <div class="JS--loadingOverlay d-flex align-items-stretch"></div>
                                        {% endif %}
                                    </div>
                                    <div class="loadingWrapper loadingWrapper-secondary">
                                        <a href="#" class="JS--Button-editSender minicard--toolLink" data-url="{{ path('cart-editSender', {id: sender.id}) }}">Szerkeszt</a>
                                        <div class="JS--loadingOverlay d-flex align-items-stretch"></div>
                                    </div> |
                                    <div class="loadingWrapper loadingWrapper-secondary">
                                        <a href="#" class="JS--Button-deleteSender minicard--toolLink"  data-url="{{ path('cart-deleteSender', {id: sender.id}) }}">Töröl</a>
                                        <div class="JS--loadingOverlay d-flex align-items-stretch"></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

</div>