
        <div class="row">
            {% if not form.shipping.shipping.vars.valid %}
            <div class="col-lg-12 mb-3">
                <div class="alert alert-danger" role="alert"> {{ form.shipping.shipping.vars.errors }} </div>
            </div>
            {% endif %}
            {% for choice in form.shipping.shipping %}
                {% if shippingMethods[loop.index0].enabled == true %}
                <div class="col-lg-12 mb-2X mb-md-3X mb-1 mb-sm-0">
                    <div class="cardX shippingMethod--card rounded loadingWrapper loadingWrapper-secondary JS--choiceContainer {% if choice.vars.checked is defined and choice.vars.checked %}selected_XXXXXX{% endif %}">
                        <div class="row minicard--body px-0">
                            <div class="col-sm-12">
                                <div class="custom-control custom-radio JS--Button-pickShipping" data-url="{{ path('cart-setShipping', {id: choice.vars.value}) }}">
                                    <input class="custom-control-input" type="radio" id="{{ choice.vars.id }}" name="{{ choice.vars.full_name }}" required="required" value="{{ choice.vars.value }}" {{ choice.vars.checked ? 'checked' : '' }}/>
                                    <label class="custom-control-label font-weight-bold" for="{{ choice.vars.id }}">
                                        {{ choice.vars.label }}
                                    </label>
                                    <span class="price--shipping text-nowrap font-italic ml-0 ml-sm-2">
                                        {% if shippingMethods[loop.index0].price == 0 %}
                                            <span class="badge badge-success pt-1 px-2">INGYENES</span>
                                        {% else %}
                                            {{ shippingMethods[loop.index0].price|number_format(0, ',', ' ') }} Ft
                                        {% endif %}
                                    </span>

                                </div>
                                <div class="text-sm shippingMethod--description-muted mb-0 pl-4 pt-1">{{ shippingMethods[loop.index0].description|raw }}</div>
                            </div>
                            {#<div class="col-sm-4 text-right mt-3 mt-sm-0">#}
                                {#<span class="price--shipping">{{ shippingMethods[loop.index0].price|number_format(0, ',', ' ') }} Ft</span>#}
                            {#</div>#}
                        </div>
                        <div class="JS--loadingOverlay d-flex align-items-stretch loading-lg"></div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            {% do form.shipping.shipping.setRendered() %}

        </div>
