{{ form_start(shippingMethodForm, { 'attr': {'class': 'JS--Wrapper-shippingForm',
}}) }}
{#{% if not shippingMethodForm.vars.valid %}#}
{#    <div class="JS--alertMessage alert alert-danger mt-3" role="alert">#}
{#        <i class="fas fa-exclamation-circle mr-1 text-muted"></i>#}
{#        {% for error in shippingMethodForm.shippingMethod.vars.errors %}#}
{#            {{ error.message }}#}
{#        {% endfor %}#}
{#    </div>#}
{#{% endif %}#}
<div class="form-group radio-validation mb-0">
    <div class="checkout-method-selection content-body-thick-border">
        {% for choice in shippingMethodForm.shippingMethod %}
            <div class="checkout-shipping-item JS--Wrapper-choice {% if choice.vars.checked is defined and choice.vars.checked %}selected{% endif %}" data-shipping-price="{{ shippingMethods[loop.index0].price }}">
                <div class="JS--Button-pickChoice loading-spinner-has-bg">
                    <div class="loading-spinner-invisible">
                        <div class="custom-control custom-radio">
                                <input class="custom-control-input" type="radio" id="{{ choice.vars.id }}" name="{{ choice.vars.full_name }}" required="required" value="{{ choice.vars.value }}" {{ choice.vars.checked ? 'checked' : '' }}/>
                                <label class="custom-control-label w-100" for="{{ choice.vars.id }}">
                                    <div class="d-flex justify-content-start justify-content-sm-between">
                                        <div class="checkout-shipping-item-title pr-2 pr-sm-0">{{ choice.vars.label }}</div>
                                        <div class="price--shipping text-nowrap font-italic">
                                            {% if shippingMethods[loop.index0].price == 0 %}
                                                <span class="badge badge-light pt-1 px-2">INGYENES</span>
                                            {% else %}
                                                {{ shippingMethods[loop.index0].price|money }}
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-start w-100">
                                        <div class="checkout-shipping-item-description pt-1">{{ shippingMethods[loop.index0].description|raw }}</div>
                                    </div>
                                </label>
                        </div>

                    </div>
                    <div class="loading-spinner" role="status"></div>
                </div>
            </div>
        {% endfor %}
    </div>
    {{ form_errors(shippingMethodForm.shippingMethod) }}
    {% do shippingMethodForm.shippingMethod.setRendered() %}
</div>
{{ form_end(shippingMethodForm) }}