            <div class="JS--cartWrapper">
                <div class="">
                    <span class="h6">{{ 'cart.cart-content'|trans }}</span>
                    <a class="text-link-checkout float-right" href="{{ path('site-checkout-step0-pickExtraGift') }}">{{ 'generic.edit'|trans }}</a>
                </div>
                <div class="cart mt-3">
                    <div class="JS--resultWrapper">
                        {% include 'webshop/cart/cart.html.twig' with {
                            'showMessage': true,
                            'showQuantity': false,
                            'showRemove': false,
                            'showSummary': false,
                            'hasProductLink': false,
                        } %}
                    </div>
                </div>
                <div class="pt-1">

                    <div class="order-summary-item-label mt-3">{{ 'cart.shipping-fee-calculated'|trans }}</div>
                    <ul class="order-summary mb-0 list-unstyled">
                        <li class="order-summary-item">
                            <span class="order-summary-item-label">{{ 'cart.subtotal'|trans }} </span>
                            <span>{{  order.summary.totalBeforeDiscount|money }}</span>
                        </li>
                        <li class="order-summary-item">
                            <span class="order-summary-item-label">{{ 'cart.shipping-fee'|trans }}</span>
                            <span>
                                <span class="JS--summaryDeliveryFee">{{ order.deliveryFee|money }}</span>
                            </span>
                        </li>
                        {% if false == true %}
                        <li class="order-summary-item">
                            <span class="order-summary-item-label">{{ 'cart.discount'|trans }}</span>
                            <span>25%:</span>
                        </li>
                        {% endif %}
                        <li class="order-summary-item border-0">
                            <span class="order-summary-item-label">{{ 'cart.total-amount-to-pay'|trans }}</span>
                            <span class="JS--summaryTotalPos order-summary-total" data-summary-total="{{ order.summary.totalAmountToPay }}">
                                <span class="JS--summaryTotal">{{ order.summary.totalAmountToPay|money }}</span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>