    {# az alabbi sorban a 'form-boltzaras' a signin.css-bol a class neve #}
    {{ form_start(form, { 'attr': {'class': '' }}) }}
    <div class="row">
        <div class="col-lg-6">

            <div class="mb-3">
                <div class="form-group row">
                    <div class="col-sm-4 text-sm-right">
                        {{ form_label(form.company) }}
                    </div>
                    <div class="col-sm-8">
                        {{ form_widget(form.company, {'attr': {
                            'class': 'form-control custom-selectX select2 select2-multiple select2-hidden-accessible',
                            'data-toggle' : 'select2',
                            'data-placeholder' : 'Válassz...',
                            'aria-hidden' : 'true',
                        }}) }}
                        {{ form_errors(form.company) }}
                        <small class="form-text text-muted">
                            Add meg a beszállító céget.
                        </small>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <div class="form-group row">
                    <div class="col-sm-4 text-sm-right">
                        {{ form_label(form.datum) }}
                    </div>
                    <div class="col-sm-8">
                        <div >
                            <div class="input-group" id="tulipan-datepicker">
                                {{ form_widget(form.datum) }}
                                <span class="input-group-append input-group-addon">
						            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
					            </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


			<!--div class="mb-3">
				{# form_label(form.datum) #}
				<div id="datum">
				<div class="input-group date">
				#% form_widget(form.datum) #}
					<span class="input-group-append input-group-addon">
						<span class="input-group-text"><i class="fas fa-th"></i></span>
					</span>
				</div>
				</div>

			</div-->

            <div class="mb-3">
                <div class="form-group row">
                    <div class="col-sm-4 text-sm-right">
                        {{ form_label(form.osszeg) }}
                    </div>
                    <div class="col-sm-8">
                        <div class="input-group">
                            {{ form_widget(form.osszeg) }}
                            <div class="input-group-append">
                                <span class="input-group-text">Ft</span>
                            </div>
                        </div>
                        {{ form_errors(form.osszeg) }}
                        <small class="form-text text-muted">
                            Írd be a számlán szereplő végösszeget.
                        </small>
                    </div>
                </div>
            </div>


			{# Render CSRF token etc .#}
			<div style="display:none">
				{{ form_rest(form) }}
			</div>

            <div class="mb-3">
                <div class="form-group row">
                    <div class="col-sm-4 text-sm-right">
                    </div>
                    <div class="col-sm-8 ml-sm-auto">
                        <input type="submit" value="Mentés" class="btn btn-lgg btn-success" formnovalidate>
                        <a href="{{ path('invoice-list') }}" class="btn btn-outline-secondary">Mégse</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    {{ form_end(form) }}
    {% do form.setRendered() %}