		{# az alabbi sorban a 'form-boltzaras' a signin.css-bol a class neve #}
		{{ form_start(form, { 'attr': {'class': '' }}) }}

        <div class="mb-3">
            <div class="form-group row">
                <div class="col-sm-4 col-lg-2 text-sm-right">
                    {{ form_label(form.productName) }}
                </div>
                <div class="col-sm-8 col-lg-5">
                    {{ form_widget(form.productName) }}
                    {{ form_errors(form.productName) }}
                    <small class="form-text text-muted">
                        Add meg a termék megnevezését.
                    </small>
                </div>
                <div class="col-lg-5"></div>
            </div>
        </div>
        <div class="mb-3">
            <div class="form-group row">
                <div class="col-sm-4 col-lg-2 text-sm-right">
                    {{ form_label(form.category, form.category, { 'label_attr': {'class': '' }}) }}
                </div>
                <div class="col-sm-8 col-lg-5">
                    {{ form_widget(form.category) }}
                    {{ form_errors(form.category) }}
                </div>
                <div class="col-lg-5"></div>
            </div>
        </div>



			{# Render CSRF token etc .#}
			<div style="display:none">
				{{ form_rest(form) }}
			</div>

            <div class="mb-3">
                <div class="form-group row">
                    <div class="col-sm-4 col-lg-2 text-sm-right">
                    </div>
                    <div class="col-sm-8 col-lg-5 ml-sm-auto">
                        <input type="submit" value="Mentés" class="btn btn-lgg btn-primary" formnovalidate>
                        <a href="{{ path('inventory-product-list-all') }}" class="btn btn-outline-secondary">Mégse</a>
                    </div>
                    <div class="col-lg-5"></div>
                </div>
            </div>



		{{ form_end(form) }}