		{# az alabbi sorban a 'form-boltzaras' a signin.css-bol a class neve #}
		{{ form_start(form) }}

        <div class="row mb-4">
                <div class="col-auto mr-2X">
                    <h4>{{ form_label(form.datum) }}</h4>
                </div>
                <div class="col-auto">
                    <div >
                        <div class="input-group" id="tulipan-datepicker">
                            {{ form_widget(form.datum) }}
                            <span class="input-group-append input-group-addon">
						            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                            </span>
                        </div>
                    </div>
                    {{ form_errors(form.datum) }}
                    <small class="form-text text-muted">
                        A szállítmány érkezésének dátuma. Így írd be: ÉÉÉÉ-HH-NN
                    </small>
                </div>
        </div>

        <div class="">
            <h4 class="mb-0">Termékek a szállítmányban: <span class="badge badge-warning ml-1">{{ countItemsInSupply }} tétel</span></h4>
            <small class="form-text text-muted">
                Csak azoknál a termékeknél töltsd ki, amik új áruként érkeztek a szállítmánnyal.
            </small>
        </div>
        <ul class="nav nav-tabs nav-justified mt-3 px-lg-3 px-0" id="myTab" role="tablist">
            {% for category in categories %}
                <li class="nav-item">
                    <a class="nav-link py-2 text-nowrap {% if loop.first == 1 %} active {% endif %}" id="{{ category }}-tab" data-toggle="tab" href="#{{ category }}" role="tab" aria-controls="{{ category }}" aria-selected="true">
                        <span class="text-smX text-primaryX text-uppercase">{{ category }}
                            {#{% if supplyId is defined %}#}
                                {#{{ render(controller('App\\Boltzaras\\Admin\\Controller\\InventoryController::itemsPerCategory', {'supply' : supplyId, 'category' : category.id})) }}#}
                            {#{% endif %}#}
                            {% if itemsPerCategory[category.id] is defined %}
                                <span class="badge badge-number badge-warning ml-lg-1">{{ itemsPerCategory[category.id] }}</span>
                            {% endif %}
                        </span>
                    </a>
                </li>
            {% endfor %}
        </ul>

        <div class="tab-content" id="myTabContent">

            {% for category in categories %}

            <div class="tab-pane fade {% if loop.first == 1 %} show active {% endif %}" id="{{ category }}" role="tabpanel" aria-labelledby="{{ category }}-tab">
                <div class="table-responsive mb-3 px-0">
                    <table class="table table-centered table-sm table-hover table-bordered table-inventory-edit mb-0" id="inventory-supply-list-{{ category }}" data-page-length="100">
                        <thead class="thead-light">
                        <tr class="text-center">
                            <th scope="col" class="">Termék</th>
                            <th scope="col" class="">Mennyiség</th>
                            <th scope="col" class="">Beszerzési ár</th>
                            <th scope="col" class="">Szorzó</th>
                            {#<th scope="col" class="">Szorzó után</th>#}
                            <th scope="col" class="">Eladási ár</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% if form.items is defined %}
                            {% for item in form.items %}
                                {#{{ item.product.category.vars.value }} {{ category.getID }}#}
                            {% if item.product.category.vars.value == category.getId %}
                                {% if item.quantity is defined and item.quantity.vars.value != 0  %}
                                    <tr class="border-success">
                                {% else %}
                                    <tr class="">
                                {% endif %}
                            <td class="px-0">
                                <div class="col font-weight-boldX text-smX">
                                    {#{% if item.quantity is defined and item.quantity.vars.value != 0  %}#}
                                        {#<i class="fas fa-check-square text-success text-lg mr-1"></i>#}
                                    {#{% else %}#}
                                        {#<i class="fas fa-times text-danger text-lg mr-1"></i>#}
                                    {#{% endif %}#}

                                    {#{{ loop.index }}. #}
                                    {{  item.product.productName.vars.value }}
                                </div>
                            </td>
                            <td class="px-0">
                                <div class="col">
                                    {{ form_widget(item.quantity) }}
                                    {{ form_errors(item.quantity) }}
                                    <small class="form-text text-muted">
                                        {{ form_label(item.quantity) }}
                                    </small>
                                </div>
                            </td>
                            <td class="px-0">
                                <div class="col">
                                    {{ form_widget(item.cog, { 'attr': {
                                        'data-input-field' : 'cog' ~ loop.index,
                                    }}) }}
                                    {{ form_errors(item.cog) }}
                                    <small class="form-text text-muted">
                                        {{ form_label(item.cog) }}
                                    </small>
                                </div>
                            </td>
                            <td class="px-0">
                                <div class="col">
                                    {#{{ form_widget(item.markup) }}#}
                                    {{ form_widget(item.markup, { 'attr': {
                                        'data-input-field' : 'markup' ~ loop.index
                                    }}) }}

                                    {{ form_errors(item.markup) }}
                                    <small class="form-text text-muted">
                                        {{ form_label(item.markup) }}
                                    </small>
                                </div>
                            </td>
                            {#<td class="px-0">#}
                                {#<div class="col">#}
                                    {#{{ form_widget(item.afterMarkup) }}#}
                                    {#{{ form_widget(item.afterMarkup, { 'attr': {#}
                                        {#'data-input-field' : 'afterMarkup' ~ loop.index,#}
                                        {#'data-formula' : '#cog'  ~ loop.index ~'# * #markup'  ~ loop.index ~ '#'#}
                                    {#}}) }}#}

                                    {#{{ form_errors(item.afterMarkup) }}#}
                                    {#<small class="form-text text-muted">#}
                                        {#{{ form_label(item.afterMarkup) }}#}
                                    {#</small>#}
                                {#</div>#}
                            {#</td>#}
                            <td class="px-0">
                                <div class="col">
                                    {#'data-formula' : '#afterMarkup'  ~ loop.index ~'#',#}

                                    {{ form_widget(item.retailPrice, { 'attr': {
                                        'data-formula' : '#cog'  ~ loop.index ~'# * #markup'  ~ loop.index ~ '#'
                                    }}) }}
                                    {{ form_errors(item.retailPrice) }}
                                    <small class="form-text text-muted">
                                        {{ form_label(item.retailPrice) }}
                                    </small>
                                </div>
                            </td>
                        </tr>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>

            </div>
            {% endfor %}

        </div>

			{# Render CSRF token etc .#}
			<div style="display:none">
				{{ form_rest(form) }}
			</div>

            <div class="mb-3">
                <div class="form-group row">
                    <div class="col-sm-12 ml-sm-auto text-right">
                        <input type="submit" value="Mentés" class="btn btn-lgg btn-primary" formnovalidate>
                        <a href="{{ path('inventory-supply-list') }}" class="btn btn-outline-secondary">Mégse</a>
                    </div>
                </div>
            </div>



		{{ form_end(form, {'render_rest': false}) }}