		{# az alabbi sorban a 'form-boltzaras' a signin.css-bol a class neve #}
		{{ form_start(form) }}

        <div class="row mb-4">
                <div class="col-auto mr-2X">
                    <h4>{{ form_label(form.datum) }}</h4>
                </div>
                <div class="col-auto">
                    <div >
                        <div class="input-group" id="tulipan-datepicker">
                            {{ form_widget(form.datum) }}
                            <span class="input-group-append input-group-addon">
						            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                            </span>
                        </div>
                    </div>
                    {{ form_errors(form.datum) }}
                    <small class="form-text text-muted">
                        A selejt rögzítésének dátuma. Így írd be: ÉÉÉÉ-HH-NN
                    </small>
                </div>
        </div>

        <div class="">
            <h4 class="mb-0">Jelöld be a selejt termékeket: <span class="badge badge-warning ml-1">{{ countItemsInWaste }} tétel</span></h4>
            <small class="form-text text-muted">
                Az alábbi listában, csak írd be a selejt mennyiséget az adott terméknél.
            </small>
        </div>
        <ul class="nav nav-tabs nav-justified mt-3 px-lg-3 px-0" id="myTab" role="tablist">
            {% for category in categories %}
                <li class="nav-item">
                    <a class="nav-link py-2 text-nowrap {% if loop.first == 1 %} active {% endif %}" id="{{ category }}-tab" data-toggle="tab" href="#{{ category }}" role="tab" aria-controls="{{ category }}" aria-selected="true">
                        <span class="text-uppercase">{{ category }}
                            {#{% if wasteId is defined %}#}
                                {#{{ render(controller('App\\Controller\\Boltzaras\\InventoryController::itemsPerCategory', {'waste' : wasteId, 'category' : category.id})) }}#}
                            {#{% endif %}#}
                            {% if itemsPerCategory[category.id] is defined %}
                                <span class="badge badge-number badge-warning ml-lg-1">{{ itemsPerCategory[category.id] }}</span>
                            {% endif %}
                        </span>
                    </a>
                </li>
            {% endfor %}
        </ul>

        <div class="tab-content" id="myTabContent">

            {% for category in categories %}

            <div class="tab-pane fade {% if loop.first == 1 %} show active {% endif %}" id="{{ category }}" role="tabpanel" aria-labelledby="{{ category }}-tab">
                <div class="table-responsive bg-tulipan-gray mb-3 px-0">
                    <table class="table table-centered table-sm table-hover table-bordered table-inventory-edit mb-0" id="inventory-waste-list-{{ category }}" data-page-length="100">
                        <thead class="thead-light">
                        <tr class="text-center">
                            <th scope="col" class="">Termék</th>
                            <th scope="col" class="">Mennyiség</th>
                            <th scope="col" class="">...</th>
                            {#<th scope="col" class="">Szorzó</th>#}
                            {#<th scope="col" class="">Eladási ár</th>#}
                        </tr>
                        </thead>

                        <tbody>
                        {% if form.items is defined %}
                            {% for item in form.items %}
                                {% if item.product.category.vars.value == category.getId %}
                                    {% if item.quantity is defined and item.quantity.vars.value != 0  %}
                                    <tr class="border-danger">
                                    {% else %}
                                    <tr class="">
                                    {% endif %}
                                        <td class="px-0">
                                            <div class="col font-weight-boldX text-smX">
                                                {#{{ loop.index }}. #}
                                                {{  item.product.productName.vars.value }}
                                            </div>
                                        </td>
                                        <td class="px-0">
                                            <div class="col">
                                                {{ form_widget(item.quantity) }}
                                                {{ form_errors(item.quantity) }}
                                                <small class="form-text text-muted">
                                                    darab
                                                </small>
                                            </div>
                                        </td>
                                        <td></td>
                                        {#<td></td>#}
                                        {#<td></td>#}
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>

            </div>
            {% endfor %}

        </div>

			{# Render CSRF token etc .#}
			<div style="display:none">
				{{ form_rest(form) }}
			</div>

            <div class="mb-3">
                <div class="form-group row">
                    <div class="col-sm-12 ml-sm-auto text-right">
                        <input type="submit" value="Mentés" class="btn btn-lgg btn-primary" formnovalidate>
                        <a href="{{ path('inventory-waste-list') }}" class="btn btn-outline-secondary">Mégse</a>
                    </div>
                </div>
            </div>



		{{ form_end(form) }}