{% extends 'admin/base_admin.html.twig' %}

{% set activeMenu = 'boltzaras' %}
{% block title %}
	{{ title }}
{% endblock %}

{% block page_content %}

    <!-- page title -->
    {{ include('/admin/_title_widget.html.twig') }}

    <!-- header of default page content widget -->
    {{ include('/admin/_header_of_default_page_content.html.twig') }}

    <div class="row mb-2">
        <div class="col-lg-8">
            <!-- Kereso mezo + Filterek + Csoportos action opcio -->
        </div>
        <div class="col-lg-4">

        </div>
    </div>

    {{ include('/admin/inventory/_supply_form.html.twig') }}

    <!-- footer of default page content widget -->
    {{ include('/admin/_footer_of_default_page_content.html.twig') }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
//        $(document).ready( function () {
//            $.extend( $.fn.dataTable.defaults, {
//                order: [],
//                language: {
//                    url: "//cdn.datatables.net/plug-ins/1.10.19/i18n/Hungarian.json"
//                },
//            } );
//
//            $('#inventory-supply-list-Vágott').DataTable({
//                paging: false,
//                columnDefs: [{
//                    orderable : false,
//                    targets : [1,2,3,4]
//                }],
//                dom: "<'row p-2'<'col-sm-12 col-md-12'l><'col-sm-12 col-md-12'f>>",
//
//            });
//            $('#inventory-supply-list-Cserepes').DataTable({
//                paging: false,
//                columnDefs: [{
//                    orderable : false,
//                    targets : [1,2,3,4]
//                }],
//                dom: "<'row p-2'<'col-sm-12 col-md-12'l><'col-sm-12 col-md-12'f>>",
//            });
//            $('#inventory-supply-list-Zöldek').DataTable({
//                paging: false,
//                columnDefs: [{
//                    orderable : false,
//                    targets : [1,2,3,4]
//                }],
//                dom: "<'row p-2'<'col-sm-12 col-md-12'l><'col-sm-12 col-md-12'f>>",
//            });
//            $('#inventory-supply-list-Orhideák').DataTable({
//                paging: false,
//                columnDefs: [{
//                    orderable : false,
//                    targets : [1,2,3,4]
//                }],
//                dom: "<'row p-2'<'col-sm-12 col-md-12'l><'col-sm-12 col-md-12'f>>",
//            });
//            $('#inventory-supply-list-Egyéb').DataTable({
//                paging: false,
//                columnDefs: [{
//                    orderable : false,
//                    targets : [1,2,3,4]
//                }],
//                dom: "<'row p-2'<'col-sm-12 col-md-12'l><'col-sm-12 col-md-12'f>>",
//            });
//
//        } );
    </script>
{% endblock %}

