{% extends 'admin/base_admin.html.twig' %}

{% set activeMenu = 'boltzaras' %}
{% block title %}
	{{ title }}
{% endblock %}

{% block page_content %}

    <!-- page title -->
    {{ include('/admin/_title_widget.html.twig') }}

    <!-- header of default page content widget -->
    {{ include('/admin/_header_of_default_page_content.html.twig') }}

    <div class="row mb-2">
        <div class="col-lg-8">
            <!-- Kereso mezo + Filterek + Csoportos action opcio -->
        </div>
        <div class="col-lg-4">
            <!-- Gombok -->
            {#<div class="text-lg-right">#}
                {#<a href="{{ path('inventory-supply-edit') }}" class="btn btn-success mb-2 mr-2"><i class="mdi mdi-basket mr-1"></i> Új bejövő áru rögzítése</a>#}
                {#<a href="{{ path('inventory-product-edit') }}" class="btn btn-success mb-2"><i class="mdi mdi-package mr-1"></i> Új termék</a>#}
            {#</div>#}
        </div><!-- end col-->
    </div>

    {{ include('/admin/inventory/_waste_form.html.twig') }}

    <!-- footer of default page content widget -->
    {{ include('/admin/_footer_of_default_page_content.html.twig') }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready( function () {
             $.extend( $.fn.dataTable.defaults, {
                 order: [],
                 language: {
                     url: "//cdn.datatables.net/plug-ins/1.10.19/i18n/Hungarian.json"
                 },
                 // stateSave: true
                 // buttons: ['print', 'excel', 'pdf']
             } );

            /**
             * Inventory Waste tables
             */
            $('#inventory-waste-list-Vágott').DataTable({
                paging: false,
                columnDefs: [{
                    orderable : false,
                    targets : [1,2]
                }],
                dom: "<'row m-2'<'col-sm-12 col-md-12'l><'col-sm-12 col-md-12'f>>",

            });
            $('#inventory-waste-list-Cserepes').DataTable({
                paging: false,
                columnDefs: [{
                    orderable : false,
                    targets : [1,2]
                }],
                dom: "<'row m-2'<'col-sm-12 col-md-12'l><'col-sm-12 col-md-12'f>>",
            });
            $('#inventory-waste-list-Zöldek').DataTable({
                paging: false,
                columnDefs: [{
                    orderable : false,
                    targets : [1,2]
                }],
                dom: "<'row m-2'<'col-sm-12 col-md-12'l><'col-sm-12 col-md-12'f>>",
            });
            $('#inventory-waste-list-Orhideák').DataTable({
                paging: false,
                columnDefs: [{
                    orderable : false,
                    targets : [1,2]
                }],
                dom: "<'row m-2'<'col-sm-12 col-md-12'l><'col-sm-12 col-md-12'f>>",
            });
            $('#inventory-waste-list-Egyéb').DataTable({
                paging: false,
                columnDefs: [{
                    orderable : false,
                    targets : [1,2]
                }],
                dom: "<'row m-2'<'col-sm-12 col-md-12'l><'col-sm-12 col-md-12'f>>",
            });
        } );

    </script>
{% endblock %}

