{% extends 'admin/base_admin.html.twig' %}

{% set activeMenu = 'boltzaras' %}
{%- block title -%}
	{{ title }}
{%- endblock -%}


{% block stylesheets %}
    {{ parent() }}
{% endblock %}


{% block page_content %}
		
	{% block LISTA %}

        <!-- page title -->
        {#{{ include('/admin/_title_widget.html.twig') }}#}

        <div class="row mt-3 mb-2">
            <div class="col-lg-12">
                <div class="page-title h1 d-inline mr-md-2 mr-1">{{ title }}</div>
                <div class="d-inline float-rightX">
                    <a href="{{ path('inventory-waste-edit') }}" class="btn btn-primary mb-2"><i class="fas fa-plus-circle mr-1"></i> Selejtek rögzítése</a>
                </div>
            </div>
        </div>

        {% include('/admin/_alert_widget.html.twig') %}

        <!-- header of default page content widget -->
        {{ include('/admin/_header_of_default_page_content.html.twig') }}

                        <div class="table-responsive mb-3">
                            <table class="table table-sm table-centered table-stripedX table-hover mb-0">
                                <thead class="thead-light">
                                <tr>
                                    <th>#</th>
                                    <th>Dátum</th>
                                    <th>Terméktípus</th>
                                    <th><i class="fas fa-ellipsis-h"></i></th>
                                    <th>Módosítás időpontja</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if items is defined %}
                                {% for item in items %}
                                <tr>
                                    <td>{{ item.id }}</td>
                                    <td class="font-weight-bold text-sm">
                                        {{ item.datum|date('M d, Y')}}
                                    </td>
                                    <td>
                                        {% for category in item.productCategories %}
                                        <a href="{{ path('inventory-waste-edit', {'id': item.id}) }}" class="">
                                            <span class="badge badge-danger">{{ category }}</span>
                                            {{ render(controller('App\\Boltzaras\\Controller\\InventoryController::itemsPerCategory', {'isWaste' : 1, 'waste' : item.id, 'category' : category.id})) }}
                                        </a>
                                        {% endfor %}
                                    </td>
                                    <td>
                                        <a href="{{ path('inventory-waste-edit', {'id': item.id}) }}" class=""> <i class="fas fa-edit"></i></a>
                                    </td>
                                    <td class="text-muted"><small>{{ item.updatedAt|date('Y-m-d, H:i')}}</small>
                                    </td>
                                </tr>
                                {% endfor %}
                                {% else %}
                                    <tr>
                                        <li><em>nincs Supply found</em></li>
                                    </tr>
                                {% endif %}



                                </tbody>
                            </table>
                        </div>
                        <div class="pagerfanta">
                            {% if paginator is defined %}
                                {{ pagerfanta(paginator, 'twitter_bootstrap4') }}
                            {% endif %}
                        </div>

        <!-- footer of default page content widget -->
        {{ include('/admin/_footer_of_default_page_content.html.twig') }}


	{% endblock %}
{% endblock %}





{% block javascripts %}
    {{ parent() }}
{% endblock %}
        

