
    <span class="h5 admin-card-title mb-3">{{ 'order.delivery-date'|trans }}</span>
{#    {% if order.isDeliveryOverdue is defined and order.isDeliveryOverdue == true %}#}
{#        <div class="alert alert-danger mb-3"><i class="fas fa-exclamation-circle mr-1"></i> {{ 'order.delivery-date-overdue'|trans }}</div>#}
{#    {% endif %}#}

    {% if order.deliveryDate is defined and order.deliveryDate is not null %}
        <div class="font-weight-bold">{{ order.deliveryDate|localizedDate|lower }}</div>
        <div class="text-mutedZ">{{ order.deliveryInterval is defined and order.deliveryInterval ? order.deliveryInterval ~ ' óra között': '' }}</div>
    {% else %}
        <br>
        {% include('admin/_missing-data-insert.html.twig') %}
    {% endif %}

    {% if order.deliveryDate is defined and order.deliveryDate is not null %}
        <em class="text-muted text-sm">{{ order.shippingMethod.getName() }}</em>
    {% else %}
        <br>
        {% include('admin/_missing-data-insert.html.twig') %}
    {% endif %}