{#    <div class="h5 mb-0">{{ 'order.cart-products'|trans }}</div>#}

    <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex">
            <div class="d-flex badge-status-{% if order.isFulfilled == true %}success{% else %}warning{% endif %} mr-2">
                <div class="badge-status-inner"></div>
            </div>
            <div class="h5 mb-0">{{ order.status }} ({{ order.itemsCount }})</div>
        </div>
        <div class="d-flex">
            {% if order.isCanceled == false %}
            <span class="nav-item dropdown">
                <a class="btn-link-secondary text-dark" href="javascript: void(0);" id="itemsEdit" role="button" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-h"></i>
                </a>
                <div class="dropdown-menu dropdown-transition dropdown-menu-right dropdown-menu-md-left mt-20px" aria-labelledby="itemsEdit">
                    <a class="dropdown-item" href="" data-toggle="modal" data-target="#modal--orderConfirmation" data-backdrop="static" data-url="{{ path('order-editBillingInfo', {id: order.id}) }}">
                        <i class="far fa-paper-plane mr-2"></i> {{ 'order.send-order-confirmation-button'|trans }}
                    </a>
                    {% if order.isUnfulfilled %}
                        <a class="dropdown-item" href="" data-toggle="modal" data-target="#modal--orderStatus" data-backdrop="static" data-url="{{ path('order-editShippingInfo', {id: order.id}) }}">
                            <i class="fas fa-clipboard-check mr-2"></i> {{ 'order.mark-as-fulfilled'|trans }}
                        </a>
                    {% else %}
                        <a class="dropdown-item" href="" data-toggle="modal" data-target="#modal--shippingConfirmation" data-backdrop="static" data-url="{{ path('order-editShippingInfo', {id: order.id}) }}">
                            <i class="fas fa-shipping-fast mr-2"></i> {{ 'order.send-shipping-confirmation-button'|trans }}
                        </a>
                    {% endif %}
                </div>
            </span>
            {% endif %}
        </div>

    </div>

    <div id="products_in_basket" class="bg-white mt-3">
        <div class="row d-flex align-items-center">
            <div class="col-12">

                {% for item in order.items %}
                    {% include 'admin/order/_order-item-single-widget.html.twig' %}
                {% endfor %}

                {% if flowerShopMode %}
                <div class="cart-item">
                    <div class="row d-flex align-items-center text-center">
                        <div class="col-12">
                            {% include 'webshop/cart/_cart-message-widget.html.twig' with {'message': order.message, 'messageAuthor':  order.messageAuthor} %}
                        </div>
                    </div>
                </div>
                {% endif %}

            </div>
        </div>
    </div>