<div class="d-flex justify-content-betweenX align-items-center">
    {% if order.paymentStatus is defined and order.paymentStatus is not null %}
        <div class="d-flex badge-status-{% if order.isPaid == true %}success{% else %}warning{% endif %} mr-2">
            <div class="badge-status-inner"></div>
        </div>
        <div class="h5 mb-0">{{ order.paymentStatus }}</div>
    {% endif %}
</div>

{% if order.paymentMethod is defined and order.paymentMethod %}
{#    <div class="mt-3">{{ order.paymentMethod.short() }} </div>#}

    {% if order.paymentMethod.image %}
        <div class="mt-3">
            <img class="h-20px" src="{{ asset('/uploads/images/icons/' ~ order.paymentMethod.image) }}" />
        </div>
    {% endif %}
    {% if order.isBankTransfer is defined and order.isBankTransfer == true %}
        <div class="mt-3">
            <a class="" data-toggle="collapse" href="#collapseReszletek" role="button" aria-expanded="false" aria-controls="collapseReszletek">{{ 'order.instructions-for-bank-transfer'|trans }} <i class="fas fa-angle-down ml-1"></i></a>
            <div class="mt-1 collapse" id="collapseReszletek">
                {{ order.paymentMethod.description|raw }}
            </div>
        </div>
    {% endif %}
    <div class="mt-3">
        <ul class="order-summary mb-0 list-unstyled">
            <li class="order-summary-item">
                <span>{{ 'order.payment-method'|trans }}</span>
                <span>{{ order.paymentMethod }}</span>
            </li>
            <li class="order-summary-item">
                <span>{{ 'order.paid-by-customer'|trans }}</span>
                <span>{{ order.summary.amountPaidByCustomer|money }}</span>
            </li>
        </ul>
    </div>
{% else %}
    {% include 'admin/_missing-data-insert.html.twig' %}
{% endif %}
