{{ form_start(billingForm, { 'attr': {'class': 'JS--form JS--editForm-recipient' }}) }}
<div class="row">
    <div class="col-lg-12">
        <div class="form-row">
            <div class="form-group col-lg-6 pr-lg-2">
                <label for="{{ billingForm.billingName.vars.full_name }}" class="form-label">Feladó neve</label>
                {#<input type="text" name="fullname_shipping" placeholder="Szabó Lajos" id="{{ billingForm.billingName.vars.id }}" class="form-controlX">#}
                {{ form_widget(billingForm.billingName, {'attr': {'class': 'form-controlX'}}) }}
                {{ form_errors(billingForm.billingName) }}
            </div>
            <div class="form-group col-md-6">
                <label for="{{ billingForm.billingCompany.vars.full_name }}" class="form-label">Cégnév</label>
                {{ form_widget(billingForm.billingCompany, {'attr': {'class': 'form-controlX', 'placeholder': 'Válalkozás Kft.' }}) }}
                {{ form_errors(billingForm.billingCompany) }}
            </div>
            <div class="form-group col-lg-6 pl-lg-2">
                <label for="{{ billingForm.billingAddress.street.vars.full_name }}" class="form-label">Címe</label>
                {{ form_widget(billingForm.billingAddress.street, {'attr': {'class': 'form-controlX'}}) }}
                {{ form_errors(billingForm.billingAddress.street) }}
            </div>
            <div class="form-group col-lg-6 col-8 pr-lg-2">
                <label for="{{ billingForm.billingAddress.city.vars.full_name }}" class="form-label">Város</label>
                {{ form_widget(billingForm.billingAddress.city, {'attr': {'class': 'JS--form-city'}}) }}
                {{ form_errors(billingForm.billingAddress.city) }}
            </div>
            <div class="form-group col-lg-6 col-4 pl-lg-2">
                <label for="{{ billingForm.billingAddress.zip.vars.full_name }}" class="form-label">Irányítószám</label>
                {{ form_widget(billingForm.billingAddress.zip, {'attr': {'class': 'JS--form-zip', 'data-url' : path('cart-getPlaceByZip') }}) }}
                {{ form_errors(billingForm.billingAddress.zip) }}
            </div>
            <div class="form-group col-lg-6 pr-lg-2">
                <label for="{{ billingForm.billingAddress.province.vars.full_name }}" class="form-label">Megye</label>
                {{ form_widget(billingForm.billingAddress.province, {'attr': {'class': 'JS--form-province'}}) }}
                {{ form_errors(billingForm.billingAddress.province) }}
            </div>
            <div class="form-group col-lg-6 pl-lg-2">
                <label for="{{ billingForm.billingAddress.country.vars.full_name }}" class="form-label">Ország</label>
                {{ form_widget(billingForm.billingAddress.country, {'attr': {'class': 'form-control'}}) }}
                {#<i class="fas fa-chevron-down form-control-dropdown"></i>#}
                {{ form_errors(billingForm.billingAddress.country) }}
            </div>
            <div class="form-group col-lg-6 pr-lg-2">
                <label for="{{ billingForm.billingPhone.vars.full_name }}" class="form-label">Telefonszám</label>
                {{ form_widget(billingForm.billingPhone, {'attr': {'class': '' }}) }}
                {{ form_errors(billingForm.billingPhone|raw) }}
            </div>

            {#<div class="form-group col-lg-12">#}
                {#<div class="loadingWrapper">#}
                    {#<button type="submit" class="JS--Button-submit btn btn-success mr-2">Mentés</button>#}
                    {#<div class="JS--loadingOverlay d-flex align-items-stretch"></div>#}
                {#</div>#}
                {#<div class="loadingWrapper loadingWrapper-secondary">#}
                    {#<a href="" class="JS--Button-getRecipients text-secondary text-sm" data-url="{{ path('cart-getRecipients') }}">Mégse</a>#}
                    {#<div class="JS--loadingOverlay d-flex align-items-stretch"></div>#}
                {#</div>#}
            {#</div>#}

        </div>
    </div>
</div>


{{ form_end(billingForm) }}
{#{% do billingForm.setRendered() %}#}