{% extends 'admin/template-listing.html.twig' %}

{% set pageTitle = 'Rendelések' %}
{% set breadcrumb = {
    0: {
        'url': path('dashboard'),
        'text': 'dashboard.dashboard'|trans,
    },
} %}

{% block title %}
    {{ pageTitle }}
{% endblock %}

{% block bodyClass %}order order-list{% endblock %}

{% block modal %}
    <div class="sidebar sidebar-right" id="sidebar--Filters" tabindex="-1" role="dialog" aria-labelledby="sidebarLabel" aria-hidden="true">
        <div class="sidebar-dialog sidebar-dialog-scrollable sidebar-dialog-centered" role="document">
            <div class="sidebar-content">
{#                {{ form_start(filterFormModal, { 'attr': {'class': 'needs-validationX' }}) }}#}
                <div class="sidebar-header">
                    <h3 class="sidebar-title" id="sidebarLabel">{{ 'order.filter.filters'|trans }}</h3>
                    <button type="button" class="close" data-dismiss="sidebar" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="sidebar-body pb-0">
                    {{ form_start(filterFormModal, { 'attr': {'class': 'JS--orderFilters needs-validationX' }}) }}
                            <div class="form-group">
                                <label>{{ 'order.filter.search'|trans }}</label>
{#                                <div class="form-control--WrapperX input-group-prependX flex-grow-3X">#}
                                    <div class="input--area">
                                        <div class="input--area-addon input--area-prepend">
                                            <i class="fas fa-search"></i>
                                        </div>
                                        {{ form_widget(filterFormModal.searchTerm, {'attr': {'class': 'form-control form-control-smX' }}) }}
                                    </div>
{#                                </div>#}
                            </div>
                            <div class="form-group">
                                <label>{{ 'order.filter.filter-by-date'|trans }}</label>
{#                                <div class="form-control--Wrapper form-control--Wrapper-bg flex-grow-3">#}
                                    <div class="input--area" id="JS--idosav1">
                                        <div class="input--area-addon input--area-prepend">
                                            <i class="far fa-calendar-alt mr-0"></i>
                                        </div>
                                        {{ form_widget(filterFormModal.dateRange, { 'attr': {
                                            'class' : 'form-control form-control-smX bg-transparent custom-date JS--inputDate',
                                            'id' : 'singledaterangeX',
                                            'data-toggle' : 'date-pickerX',
                                        }}) }}
                                        <div class="input--area-addon input--area-append">
                                            <a href="" class="btn btn-link-secondary JS--clearDate"><i class="far fa-times-circle"></i></a>
                                        </div>
                                    </div>
{#                                </div>#}
                            </div>
                            <div class="form-group">
                                <label>{{ 'order.filter.filter-by-order-status'|trans }}</label>
                                <div class="form-control--Wrapper form-control--Wrapper-bg flex-grow-1">
                                    {{ form_widget(filterFormModal.orderStatus, {'attr': {'class': 'form-control' }}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label>{{ 'order.filter.filter-by-payment-status'|trans }}</label>
                                <div class="form-control--Wrapper form-control--Wrapper-bg flex-grow-1">
                                    {{ form_widget(filterFormModal.paymentStatus, {'attr': {'class': 'form-control' }}) }}
                                </div>
                            </div>
{#                            <div class="form-group">#}
{#                                <div class="form-control--WrapperX input-group-appendX flex-lg-grow-0X">#}
{#                                    <input type="submit" value="{{ 'generic.ok'|trans }}" class="btn btn-secondary px-4" formnovalidate>#}
{#                                </div>#}
{#                            </div>#}

                    <div style="display:none">
                        {{ form_rest(filterFormModal) }}
                    </div>
                    {{ form_end(filterFormModal) }}
                </div>
                <div class="sidebar-footer">
                    <div class="loadingWrapper">
                        <input type="submit" value="{{ 'generic.apply'|trans }}" onclick="$('.JS--orderFilters').submit();" class="btn btn-primary" formnovalidate>
                        <div class="JS--loadingOverlay d-flex align-items-stretch"></div>
                    </div>
                    <div class="loadingWrapper loadingWrapper-secondary">
                        <a href="" class="btn btn-secondary" data-dismiss="sidebar">{{ 'generic.close'|trans }}</a>
                        <div class="JS--loadingOverlay d-flex align-items-stretch"></div>
                    </div>
                </div>
{#                {{ form_end(filterFormModal) }}#}
            </div>
        </div>
    </div>

    {% if orders is defined %}
        {% for order in orders %}
            <div class="modal fade" id="modal--orderDetail-{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-sliderX modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
                    <div class="modal-content JS--orderWrapper">
                        <div class="modal-header">
                            <h3 class="modal-title" id="modalLabel">{{ 'order.order'|trans }} <span class="text-primaryX font-weight-bold">#{{ order.number }}</span></h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body JS--orderContentBlock pb-0 bg-light">
                            <div class="mb-20px">
                                {% include 'admin/order/_order-quickInfo-widget.html.twig' %}
                            </div>
                            <div class="mb-20px">
                                <div class="card">
                                    <div class="card-body">
                                        {% include 'admin/order/_order-items-widget.html.twig' %}
                                        {% include 'admin/order/_order-summary-widget.html.twig' %}
                                    </div>
                                </div>
                            </div>
                            <div class="mb-20px">
                                <div class="card">
                                    <div class="card-body">
                                {% include 'admin/order/_order-delivery-widget.html.twig' %}
                                    </div>
                                </div>
                            </div>
                            <div class="mb-20px">
                                <div class="card">
                                    <div class="card-body">
                                {% include 'admin/order/_order-sender-recipient-widget.html.twig' %}
                                    </div>
                                </div>
                            </div>
                            <div class="mb-20px">
                                <div class="card">
                                    <div class="card-body">
                                {% include 'admin/order/_order-payment-widget.html.twig' %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="loadingWrapper loadingWrapper-secondary">
                                <a href="" class="btn btn-secondary" data-dismiss="modal">Bezár</a>
                                <div class="JS--loadingOverlay d-flex align-items-stretch"></div>
                            </div>
                            <div class="loadingWrapper">
                                <a href="{{ path('order-detail', {'id': order.id}) }}" class="btn btn-primary"><i class="far fa-edit"></i> Rendelés módosítása</a>
                                <div class="JS--loadingOverlay d-flex align-items-stretch"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block headerTopright %}
    <a href="{{ path('delivery-date-type-edit') }}" class="btn btn-outline-primary"><i class="fas fa-plus-circle mr-2"></i>Új rendelés</a>
{% endblock %}

{% block contentFilter %}
    <div class="row mb-2">
        <div class="col-lg-12 mb-3">
            <div class="no-margins">
                <ul class="nav nav-tabs">
                    {% for quickLink in filterQuickLinks %}
                        <li class="nav-item">
                            <a href="{{ quickLink['url'] }}" class="nav-link {% if quickLink['active'] is defined and quickLink['active'] %}active{% endif %}">{{ quickLink['name'] }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-lg-12">
            {{ form_start(filterForm, { 'attr': {'class': 'needs-validationX' }}) }}
            <div class="w-100 d-flex justify-content-between">
                <div class="field-group align-middle flex-column flex-md-row mr-2">
                    <div class="field-item mb-2 mb-md-0 flex-grow-3">
                        <div class="field-prepend">
                            <div class="field-addon-prepend w-addon-sm">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                        {{ form_widget(filterForm.searchTerm, {'attr': {'class' : 'pl-addon-sm'}}) }}
                    </div>
{#                        <div class="d-flex flex-grow-3">#}
                        <div class="field-item mb-2 mb-md-0 flex-grow-3" id="JS--idosav">
                            <div class="field-prepend field-append">
                                <div class="field-addon-prepend w-addon-sm">
                                    <i class="far fa-calendar-alt mr-0"></i>
                                </div>
                                <div class="field-addon-append w-addon-sm">
                                    <a href="" class="btn btn-link-secondary JS--clearDate"><i class="far fa-times-circle"></i></a>
                                </div>
                            </div>
{#                                <div class="field-addon field-prepend">#}
{#                                    <i class="far fa-calendar-alt mr-0"></i>#}
{#                                </div>#}
                            {{ form_widget(filterForm.dateRange, { 'attr': {
                                'class' : 'pl-addon-sm pr-addon-sm bg-transparent custom-date JS--inputDate',
                                'id' : 'singledaterangeX',
                                'data-toggle' : 'date-pickerX',
                            }}) }}
{#                                <div class="field-addon field-append">#}
{#                                    <a href="" class="btn btn-link-secondary JS--clearDate"><i class="far fa-times-circle"></i></a>#}
{#                                </div>#}
                        </div>
{#                        </div>#}
                    <div class="field-item mb-2 mb-md-0 form-control--Wrapper form-control--Wrapper-bg flex-grow-1">
                        {{ form_widget(filterForm.orderStatus, {'attr': {'class': 'form-control' }}) }}
                    </div>
                    <div class="field-item mb-2 mb-md-0 form-control--Wrapper form-control--Wrapper-bg flex-grow-1">
                        {{ form_widget(filterForm.paymentStatus, {'attr': {'class': 'form-control' }}) }}
                    </div>
                </div>
                <div class="form-control--WrapperX input-group-appendX flex-lg-grow-0X">
                    <input type="submit" value="{{ 'generic.ok'|trans }}" class="btn btn-secondary px-4" formnovalidate>
{#                        <button type="submit" role="button" class="btn btn-secondary px-4">{{ 'generic.ok'|trans }}</button>#}
                </div>
            </div>
            <div style="display:none">
                {{ form_rest(filterForm) }}
            </div>
            {{ form_end(filterForm) }}
            <div class="w-100 d-flex justify-content-start flex-row">
                <a class="btnX btn-secondaryX" href="#" data-toggle="sidebar" data-target="#sidebar--Filters">{{ 'order.filter.more-filters'|trans }}</a>
            </div>
        </div>

        {% if filterTags is defined and filterTags is not null %}
            <div class="col-lg-12 mt-2">
                {% for filterKey,value in filterTags %}
                    {% if value is defined and value is not null %}
                        <div class="filter-tag">
                            {{ value }}
                            <a href="{{ filterUrls[filterKey] }}" class="btn-link-secondary ml-2"><i class="fas fa-times mr-0"></i></a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block tableHeader %}
    {% if orders is defined and orders is not empty %}
        <tr>
            <th scope="col">Rendelés</th>
            <th scope="col">Dátum</th>
            <th scope="col">Vásárló</th>
            <th scope="col">Címzett</th>
            <th scope="col">Szállítási időpont</th>
            <th scope="col">Fizetés</th>
            <th scope="col" class="text-right">Összesen</th>
            <th scope="col" class="text-center"><i class="fas fa-ellipsis-h"></i></th>
            {#<th scope="col" class="text-center">Állapot</th>#}
            {#<th scope="col"><i class="fas fa-ellipsis-h"></i></th>#}
        </tr>
    {% endif %}
{% endblock %}

{% block tableBody %}
    {% if orders is defined and orders is not empty %}
        {% for order in orders %}
            <tr>
                <td class="text-nowrap text-centerX">
{#                    <div class="overlay-container">#}
{#                        <div class="overlay-cell">#}
{#                            <div class="overlay-content">#}
{#                                <div class="text-centerX w-100">#}
{#                                    <a class="btn btn-sm btn-secondary" href="#" data-toggle="modal" data-target="#modal--orderDetail-{{ loop.index }}"><i class="far fa-eye mr-1"></i> Preview</a>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
                        <div class="d-flex align-items-end flex-column h-100">
                            <div class="align-self-start">
                                <a href="{{ path('order-detail', {'id': order.id}) }}" class="mr-1">#{{ order.number|number_format(0, '', '') }}</a>
                                {% if order.hasComment is defined and order.hasComment == true %}
                                    <i class="far fa-comment-dots text-muted"></i>
                                {% endif %}
    {#                            <a class="d-block btn-link-secondary text-lg mt-1" href="#" data-toggle="modal" data-target="#modal--orderDetail-{{ loop.index }}"><i class="far fa-eye"></i></a>#}
                            </div>
                            <div class="mt-autoX align-self-start align-self-centerX">
                                {#                                    {% if order.status %}#}
                                {#                                    <span class="badge badge-{{ order.status.css }}">{{ order.status }}</span>#}
                                {#                                    {% endif %}#}
                            </div>
                        </div>
{#                    </div>#}
                </td>
                <td class="text-nowrap">
{#                    <span class="">{{ order.createdAt|date('Y-m-d')}}</span>#}
{#                    {{ dump(order.createdAt) }}#}
                    <span class="">{{ order.createdAt|localizedDate }}</span>
                </td>
                <td class="text-nowrapX">
                        <span class="text-primaryX">
                            {% if order.customer is defined and order.customer is not null %}
                                <a href="{{ path('customer-show', {'id': order.customer.id}) }}">
                                {{ order.billingName ? order.billingName : '' }} {{ order.billingCompany is defined and order.billingCompany ? '/ ' ~ order.billingCompany : '' }}
                            </a>
                            {% else %}
                                {{ order.billingName ? order.billingName : '' }} {{ order.billingCompany is defined and order.billingCompany ? '/ ' ~ order.billingCompany : '' }}
                            {% endif %}
                        </span><br>
                    <div class="order-billingInfo">
                        {% if order.billingPhone %}
                            {% set firstSeg = order.billingPhone|slice(0, 2) %}
                            {% set secondSeg = order.billingPhone|slice(2, 2) %}
                            {% set thirdSeg = order.billingPhone|slice(4, 3) %}
                            {% set fourthSeg = order.billingPhone|slice(7, 4) %}

                            {% set phone = firstSeg ~ ' ' ~ secondSeg ~ ' ' ~ thirdSeg ~ ' ' ~ fourthSeg %}
                        {% endif %}
                        <span class="text-nowrap">{{ phone is defined ? '+' ~ phone : ''}} </span><br>
                        {% if order.billingAddress %}
                            <span>
                                    {{ order.billingAddress.street }} <br>
                                    {{ order.billingAddress.zip }} {{ order.billingAddress.city }}
                                </span>
                        {% endif %}
                    </div>
                </td>
                <td class="text-nowrapX">
                    <span class="text-success">{{ order.shippingName ? order.shippingName : '' }}</span> <br>
                    <div class="order-shippingInfo">
                        {% if order.shippingPhone %}
                            {% set firstSeg = order.shippingPhone|slice(0, 2) %}
                            {% set secondSeg = order.shippingPhone|slice(2, 2) %}
                            {% set thirdSeg = order.shippingPhone|slice(4, 3) %}
                            {% set fourthSeg = order.shippingPhone|slice(7, 4) %}

                            {% set phone = firstSeg ~ ' ' ~ secondSeg ~ ' ' ~ thirdSeg ~ ' ' ~ fourthSeg %}
                        {% endif %}
                        <span class="text-nowrap">{{ phone is defined ? '+' ~ phone : '' }} </span><br>
                        {% if order.shippingAddress %}
                            <span>
                                    {{ order.shippingAddress.street }} <br>
                                    {{ order.shippingAddress.zip }} {{ order.shippingAddress.city }}
                                </span>
                        {% endif %}
                    </div>
                </td>
                <td class="text-nowrapX">
                    <div class="d-flex align-items-end flex-column h-100">
                        <div class="d-flex justify-content-start align-self-start">
                            {% if order.deliveryDate %}
                                <div class="mr-1">
                                    <i class="far fa-clock mr-1 text-muted-extra"></i>
                                </div>
                                <div class="d-inline-block">
                                    <span class="text-nowrap">{{ order.deliveryDate|localizedDate('Y M j.')|lower }}</span> <br>
                                    <span class="order-deliveryInfo text-nowrap">{{ order.deliveryInterval ? order.deliveryInterval ~ ' óra között': '' }}</span>
                                </div>
                            {% endif %}
                        </div>
                        <div class="d-flex mt-auto align-self-start order-deliveryInfo">
                            <em>{{ order.shipping ? order.shipping.getName() : '' }}</em>
                        </div>
                    </div>
                </td>
                <td class="text-center text-nowrap">
                    {% if order.payment %}
                        <small>{{ order.payment.shortCode }}</small>
                    {% endif %}
                </td>
                <td class="text-right text-nowrap">
                    {#                        <div class="overlay-cell">#}
                    {#                            <div class="d-flex align-items-end flex-column h-100">#}
                    <span class="">{{ order.summary.totalAmountToPay|money }}</span>
                    {#                            </div>#}
                    {#                            <div class="card-img-overlay d-flex align-items-start p-0">#}
                    {#                                <div class="text-center overlay-badge warning">#}
                    {#                                </div>#}
                    {#                            </div>#}
                    {#                        </div>#}
                </td>
                <td class="text-center">
                    <div class="overlay-container">
                        <div class="overlay-cell">
                            <div class="overlay-content">
                                <div class="text-centerX w-100">
                                    <a class="btn btn-secondary" href="#" data-toggle="modal" data-target="#modal--orderDetail-{{ loop.index }}"><i class="far fa-eye mr-1"></i> {{ 'generic.preview'|trans }}</a>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-end flex-column h-100">
                            <div class="align-self-center">
                                {% if order.status %}
                                    <span class="badge badge-{{ order.status.css }}">{{ order.status }}</span>
                                {% endif %}
                                {% if order.isUnpaid %}
                                    <span class="badge badge-{{ order.paymentStatus.css }}">{{ order.paymentStatus }}</span>
                                {% endif %}
    {#                            <div class="d-block mt-2">#}
    {#                                <a class="d-block btn-link-secondary text-lg" href="{{ path('order-detail', {'id': order.id}) }}"><i class="far fa-edit"></i></a>#}
    {#                            </div>#}
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
    {% endif %}
{% endblock %}


{% block tableEmpty %}
    {% if orders is defined and orders is empty %}
    <div class="h-100 text-center p-4">
        <div class="h1 text-muted-extra">
            <i class="fas fa-search"></i>
        </div>
        <div class="font-18 mt-3 mb-2">Nem talált rendeléseket!</div>
        <div class="text-muted-extra">Próbáld módosítani a szűrőket.</div>
    </div>
    {% endif %}
{% endblock %}



{% block javascripts %}
    {{ parent() }}
    <script>
        $(function() {
            let dateField = $('#JS--idosav .JS--inputDate');
            dateField.daterangepicker({
                parentEl: "#JS--idosavX",
                opens: 'right',
                autoApply: true,
                autoUpdateInput: false,
                ranges: {
                    "{{ 'datetime.today'|trans }}": [moment(), moment()],
                    "{{ 'datetime.yesterday'|trans }}": [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    "{{ 'datetime.last-7-days'|trans }}": [moment().subtract(6, 'days'), moment()],
                    "{{ 'datetime.last-30-days'|trans }}": [moment().subtract(29, 'days'), moment()],
                    "{{ 'datetime.this-month'|trans }}": [moment().startOf('month'), moment().endOf('month')],
                    "{{ 'datetime.previous-month'|trans }}": [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                    "{{ 'datetime.this-year'|trans }}": [moment().startOf('year'), moment().endOf('year')],
                    "{{ 'datetime.previous-year'|trans }}": [moment().subtract(1, 'year').startOf('year'), moment().subtract(1, 'year').endOf('year')],
                    "{{ 'datetime.lifetime'|trans }}": [moment('{{ settings.get('general.launch-date') }}'), moment()],
                },
                alwaysShowCalendars: true,
                showCustomRangeLabel: true,
                maxDate: moment(),
                locale: {
                    // format: 'YYYY/MM/DD',
                    // format: 'MMM DD, [<span class="text-muted">]YYYY[</span>]',
                    format: 'MMM DD, YYYY',
                    separator: ' - ',
                    dateRange: "{{ 'datetime.date-range'|trans }}",
                    customRangeLabel: "{{ 'datetime.custom-range'|trans }}",
                    applyLabel: "{{ 'generic.apply'|trans }}",
                    cancelLabel: "{{ 'generic.delete'|trans }}",
                    daysOfWeek: [
                        "{{ 'datetime.mon'|trans }}",
                        "{{ 'datetime.tue'|trans }}",
                        "{{ 'datetime.wed'|trans }}",
                        "{{ 'datetime.thu'|trans }}",
                        "{{ 'datetime.fri'|trans }}",
                        "{{ 'datetime.sat'|trans }}",
                        "{{ 'datetime.sun'|trans }}",
                    ],
                    monthNames: [
                        "{{ 'datetime.january'|trans }}",
                        "{{ 'datetime.february'|trans }}",
                        "{{ 'datetime.march'|trans }}",
                        "{{ 'datetime.april'|trans }}",
                        "{{ 'datetime.mayy'|trans }}",
                        "{{ 'datetime.june'|trans }}",
                        "{{ 'datetime.july'|trans }}",
                        "{{ 'datetime.august'|trans }}",
                        "{{ 'datetime.september'|trans }}",
                        "{{ 'datetime.october'|trans }}",
                        "{{ 'datetime.november'|trans }}",
                        "{{ 'datetime.december'|trans }}",
                    ],
                    firstDay: 1,
                },
                buttonClasses: 'btn',
                applyClass: 'btn-primary',
                cancelClass: 'btn-secondary',
            });

            // Ha van dateRange a query-ben, akkor a ketto datumot betoltom a datum valasztoba
            let string = "{{ app.request.query.get('dateRange') is defined ? app.request.query.get("dateRange") : false }}";
            if (string) {
                picker = dateField.data('daterangepicker');
                picker.setStartDate(moment(string.split(picker.locale.separator)[0], 'YYYY-MM-DD'));
                picker.setEndDate(moment(string.split(picker.locale.separator)[1], 'YYYY-MM-DD'));
            }


            // mobilon a hatter ezzel nem mozog, nem gorgeti
            dateField.on('show.daterangepicker', function(ev, picker) {
                picker.parentEl.addClass('daterangepicker-overflow-hiddenX');
            });
            // ujra gorgetheto a hatter
            dateField.on('hide.daterangepicker', function(ev, picker) {
                picker.parentEl.removeClass('daterangepicker-overflow-hiddenX');
            });
            dateField.on('apply.daterangepicker', function(ev, picker) {
                $(this).val(picker.startDate.format('YYYY-MM-DD') + picker.locale.separator + picker.endDate.format('YYYY-MM-DD'));
                $(this).focus();
                picker.hide();
            });
            dateField.on('cancel.daterangepicker', function(ev, picker) {
                picker.startDate = moment();
                picker.endDate = moment();
                $(this).val('');
            });
            $('#JS--idosav .JS--clearDate').on('click', function(ev) {
                ev.preventDefault();
                dateField.val('');
                dateField.data('daterangepicker').setStartDate(moment());
                dateField.data('daterangepicker').setEndDate(moment());
            });
        });
    </script>
{% endblock %}
        

