{% extends 'admin/template-with-sidebar.html.twig' %}

{% set activeMenu = 'orders' %}
{% set pageTitle = 'Rendelés #' ~ order.number %}
{% set breadcrumb = {
    0: {
        'url': path('dashboard'),
        'text': 'dashboard.dashboard'|trans,
    },
    1: {
        'url': path('order-list-table'),
        'text': 'order.orders'|trans,
    }
} %}

{% if order.isClosed is defined and order.isClosed == false %}
    {% set isEditEnabled = true %}
{% else %}
    {% set isEditEnabled = false %}
{% endif %}

{%- block title -%}
    {{ pageTitle }}
{%- endblock -%}

{% block bodyClass %} order orderDetail{% endblock %}

    {% block dataSection %}class="JS--Wrapper-orderDetail" data-section-id="orderDetail" data-section-type="orderDetail-page"{% endblock %}

    {% block modal %}
        <div class="modal fade" id="modal--Recipient" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
                <div class="modal-content JS--Wrapper-recipient">
                    <div class="modal-header">
                        <h3 class="modal-title" id="modalLabel">{{ 'order.edit-recipient'|trans }}</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-body-content JS--Wrapper-recipientBody">
                            {% include('admin/order/shippingInfo-form.html.twig') %}
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" data-dismiss="modal">{{ 'generic.cancel'|trans }}</button>
                            <button type="submit" class="JS--Button-submitRecipient btn btn-primary">
                                <span class="loading-spinner-invisible">{{ 'generic.save-changes'|trans }}</span>
                                <span class="loading-spinner" role="status"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal--Sender" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
                <div class="modal-content JS--Wrapper-sender">
                    <div class="modal-header">
                        <h3 class="modal-title" id="modalLabel">{{ 'order.edit-sender'|trans }}</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-body-content JS--Wrapper-senderBody">
                            {% include('admin/order/billingInfo-form.html.twig') %}
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" data-dismiss="modal">{{ 'generic.cancel'|trans }}</button>
                            <button type="submit" class="JS--Button-submitSender btn btn-primary">
                                <span class="loading-spinner-invisible">{{ 'generic.save-changes'|trans }}</span>
                                <span class="loading-spinner" role="status"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal--DeliveryDate" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
                <div class="modal-content JS--deliveryDateContainer">
                    <div class="modal-header">
                        <h3 class="modal-title" id="modalLabel">{{ 'order.time-of-delivery'|trans }}</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body JS--deliveryContentBlockXXX">
                        <div class="modal-body-content">
                            {#{% include('webshop/cart/deliveryDate-form.html.twig') %}#}
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="mb-2 mt-2">
                                        <span class="form-label text-body">{{ 'order.pick-delivery-date'|trans }}</span>
                                        {#<span class="product-variant-selector-label font-weight-bold"><span>(Melyik napon szállítsuk ki?)</span></span>#}
                                    </div>
                                    <div class="row order-delivery-date">
                                        <div class="col-md-12 col-lg-12 JS--dateWrapper">
                                            <div class="form-row">

                                                {% for date in generatedDates.dates|slice(0,3) %}
                                                    <div class="col-sm-3 col-4 JS--generatedDate-{{ date.deliveryDate|date('Y-m-d') }}" data-date-value="{{ date.deliveryDate|date('Y-m-d') }}" data-chosen="false">
                                                        <div class="vp vp-md choose-date mr-2 mb-2 mb-md-0 {% if selectedDate is defined and selectedDate is not null and selectedDate|date('Y-m-d') == date.deliveryDate|date('Y-m-d') %}vp-checked{% endif %}" tabindex="0">
                                                            <div class="vp-figure justify-content-lg-center justify-content-center required px-2">
                                                                <span class="vp-content">
                                                                    <span class="tile tile-lg">
                                                                        {% include('webshop/site/vp-label-date.html.twig') with {
                                                                            'item1': date.deliveryDate,
                                                                            'item2': date.deliveryDate
                                                                        } %}
                                                                    </span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                                <div class="col-sm-3 col-12">
                                                    <div class="position-relative">
                                                        <a href="" class="tile-link JS--Button-clickDate" role="button" tabindex="0"></a>
                                                        <div class="">
                                                            {% for date in generatedDates.dates|slice(3) %}
                                                                <div class="JS--generatedDate-{{ date.deliveryDate|date('Y-m-d') }} d-none" data-date-value="{{ date.deliveryDate|date('Y-m-d') }}" data-chosen="false">
                                                                    <div class="vp choose-date mr-2 {% if selectedDate is defined and selectedDate is not null and selectedDate|date('Y-m-d') == date.deliveryDate|date('Y-m-d') %}vp-checked{% endif %}">
                                                                        <div class="vp-figure justify-content-lg-center justify-content-center required px-2">
                                                                            <div class="wrapper-absolute">
                                                                                <div class="icon-wrapper">
                                                                                    <i class="far fa-calendar-alt fa-2x icon-bg"></i>
                                                                                </div>
                                                                            </div>
                                                                            <span class="vp-content">
                                                                                <span class="tile tile-lg">
                                                                                    {% include('webshop/site/vp-label-date.html.twig') with {
                                                                                        'item1': date.deliveryDate,
                                                                                        'item2': date.deliveryDate
                                                                                    } %}
                                                                                </span>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            {% endfor %}

                                                            <div class="JS--showCalendarIcon">
                                                                <div class="vp vp-md choose-date mr-2">
                                                                    <div class="vp-figure justify-content-lg-center justify-content-center align-items-center required px-2">
                                                                        <span class="vp-content">
                                                                            <span class="tile tile-lg">
                                                                                <i class="far fa-calendar-alt fa-2x"></i>
                                                                            </span>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="JS--intervalsWrapper mt-4">
                            {#{% if date.intervals is defined %}#}
                                <div class="row">
                                    <div class="col-lg-12 mb-3X">
                                        <span class="form-label text-body mb-0">{{ 'order.pick-delivery-interval'|trans }}</span> <br>
                                    </div>
                                </div>
                                <div class="form-row order-delivery-date">
                                    {% for date in generatedDates.dates %}
                                        <div class="col-md-12 col-12 JS--generatedInterval-{{ date.deliveryDate|localizedDate('Y-m-d') }} d-none">
                                            <form>
                                                {% set index = loop.index %}

                                                <div class="row">
                                                    <div class="col-lg-8 col-12">
                                                        <div class="form-control--Background my-1 px-0">
                                                            <select id="dateForm_deliveryInterval" name="dateForm_deliveryInterval" required="required" class="JS--intervalDropdown form-control form-control-dropdown">
                                                                <option value="">{{ 'order.choose-time-frame'|trans }}</option>
                                                                {% for interval in date.intervals %}
                                                                    <option value="{{ interval }}" data-fee="{% if interval.price %}{{ interval.price }}{% else %}0{% endif %}" {% if selectedDate is defined and selectedDate|date('Y-m-d') == date.deliveryDate|date('Y-m-d') and selectedInterval is defined and selectedInterval == interval.name %}selected="selected"{% endif %}>
                                                                        {{ interval }} óra között: {% if interval.price %} +{{ interval.price|money }} {% else %} {{ 'order.free-delivery'|trans }} {% endif %}
                                                                    </option>
                                                                {% endfor %}
                                                            </select>
                                                            {#<i class="fas fa-chevron-down form-control-dropdown"></i>#}
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-12">
                                                        <div class="text-sm text-muted-extra alertX alert-warningX py-3X mt-lg-0 mt-1">
                                                                                            <span class="text-primary-lighten mr-1">
                                                                                                <i class="fas fa-info-circle"></i>
                                                                                            </span>
                                                            {{ 'order.choose-the-timeframe-when-the-recipient-will-available-at-delivery-address'|trans }}
                                                        </div>
                                                    </div>


                                                </div>
                                            </form>
                                        </div>
                                    {% endfor %}
                                    <div class="col-md-12 col-12 mb-1X">
                                        {% include('webshop/cart/hidden-delivery-date-form.html.twig') %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="loadingWrapper loadingWrapper-secondary">
                                <a href="" class="btn btn-secondary" data-dismiss="modal">{{ 'generic.cancel'|trans }}</a>
                                <div class="JS--loadingOverlay d-flex align-items-stretch"></div>
                            </div>
                            <div class="loadingWrapper">
                                <button type="submit" class="JS--btn-submitDeliveryDate btn btn-primary" data-url="{{ path('order-editDeliveryDate', {id: order.id}) }}">{{ 'order.save-delivery-time'|trans }}</button>
                                <div class="JS--loadingOverlay d-flex align-items-stretch"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal--orderStatus" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
                <div class="modal-content JS--Wrapper-orderStatus">
                    <div class="modal-header">
                        <h3 class="modal-title" id="modalLabel">{{ 'order.order-status'|trans }}</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-body-content JS--Wrapper-orderStatusBody">
                            <div class="">{{ 'order.fulfill-order'|trans }}</div>
                            <div>
                                <div class="form-group row mt-3">
                                    <div class="col-12">
                                        <div class="d-inline-block custom-control custom-switch">
                                            <input type="checkbox" id="sendShippingConfirmation" name="sendShippingConfirmation" class="custom-control-input" value="1" checked="checked">
                                            <label class="switch-custom custom-control-label" for="sendShippingConfirmation"><span class="invalid-feedback"></span>
                                            </label>
                                        </div>
                                        <label class="">{{ 'order.send-shipping-confirmation-email'|trans }}</label>
                                    </div>
                                </div>
                            </div>

{#                            {% include('admin/order/status-form.html.twig') %}#}
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" data-dismiss="modal">{{ 'generic.cancel'|trans }}</button>
                            <button type="submit" class="JS--Button-markAsFulfilled btn btn-primary" data-url="{{ path('order-markAsFulfilled', {'id': order.id}) }}">
                                <span class="loading-spinner-invisible">{{ 'order.mark-as-fulfilled'|trans }}</span>
                                <span class="loading-spinner" role="status"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal--paymentStatus" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
                <div class="modal-content JS--Wrapper-paymentStatus">
                    <div class="modal-header">
                        <h3 class="modal-title" id="modalLabel">{{ 'order.payment-status'|trans }}</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-body-content JS--Wrapper-paymentStatusBody">
                            <div class="">{{ 'order.payment-processed-by'|trans }} <strong>{{ order.paymentGateway }}</strong></div>
                            <div class="mt-3">{{ 'order.payment-processed-manually'|trans }}</div>

{#                            {% include('admin/order/paymentStatus-form.html.twig') %}#}
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" data-dismiss="modal">{{ 'generic.cancel'|trans }}</button>
                            <button type="submit" class="JS--Button-markAsPaid btn btn-primary" data-url="{{ path('order-markAsPaid', {'id': order.id}) }}">
                                <span class="loading-spinner-invisible">{{ 'order.mark-as-paid'|trans }}</span>
                                <span class="loading-spinner" role="status"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal--ArchiveOrder" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
                <div class="modal-content JS--archiveOrderWrapper">
                    <div class="modal-header">
                        <h3 class="modal-title" id="modalLabel">{{ 'order.archive-order-title'|trans }}</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body JS--archiveOrderContentBlock">
                        <div class="modal-body-content">
                            {{ 'order.archive-order-description'|trans }}
                        </div>
                        <div class="modal-footer">
                            <a href="" class="btn btn-secondary" data-dismiss="modal">{{ 'generic.cancel'|trans }}</a>
                                <button data-controller="order-archive" type="submit" class="btn btn-primary">{{ 'order.archive-order-proceed'|trans }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <div class="modal fade" id="modal--orderConfirmation" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
                <div class="modal-content JS--Wrapper-orderConfirmation">
                    <div class="modal-header">
                        <h3 class="modal-title" id="modalLabel">{{ 'order.resend-order-confirmation'|trans }}</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-body-content JS--Wrapper-orderConfirmationBody">
                            <div class="">{{ 'order.order-confirmation-will-be-sent-to'|trans({ '{{ email }}': order.email }) }}</div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" data-dismiss="modal">{{ 'generic.cancel'|trans }}</button>
                            <button type="submit" class="JS--Button-sendOrderConfirmation btn btn-primary" data-url="{{ path('order-sendEmail-orderConfirmation', {'id': order.id}) }}">
                                <span class="loading-spinner-invisible">{{ 'generic.send'|trans }}</span>
                                <span class="loading-spinner" role="status"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal--shippingConfirmation" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
                <div class="modal-content JS--Wrapper-shippingConfirmation">
                    <div class="modal-header">
                        <h3 class="modal-title" id="modalLabel">{{ 'order.resend-shipping-confirmation'|trans }}</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-body-content JS--Wrapper-shippingConfirmationBody">
                            <div class="">{{ 'order.shipping-confirmation-will-be-sent-to'|trans({ '{{ email }}': order.email }) }}</div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" data-dismiss="modal">{{ 'generic.cancel'|trans }}</button>
                            <button type="submit" class="JS--Button-sendShippingConfirmation btn btn-primary" data-url="{{ path('order-sendEmail-shippingConfirmation', {'id': order.id}) }}">
                                <span class="loading-spinner-invisible">{{ 'generic.send'|trans }}</span>
                                <span class="loading-spinner" role="status"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block headerTitle %}
        {{ 'order.order'|trans }} <span class="font-weight-bold">#{{ order.number }}</span>
    {% endblock %}

    {% block headerStatusWrapper %}
        {% if order.paymentStatus is defined and order.paymentStatus is not null %}
            <span class="mr-1 badge badge-{{ order.paymentStatus.css }}">{{ order.paymentStatus }}</span>
        {% endif %}
        {% if order.status %}
            <span class="mr-1 badge badge-{{ order.status.css }}">{{ order.status }}</span>
        {% endif %}
    {% endblock %}

    {% block headerActionsWrapper %}
        <nav class="w-100 adaptive-tabs adaptive-tabs-right">
            <ul class="nav nav-tabs adaptive-primary navbar--toolbarX">
                <li class="nav-item adaptive-item">
                    <a class="nav-link" href="#" onclick="window.print()"><i class="fas fa-print mr-2"></i>{{ 'order.print'|trans }}</a>
                </li>
                <li class="nav-item adaptive-item">
                    <a class="nav-link" href="#"><i class="far fa-file-alt mr-2"></i>{{ 'order.shipping-letter'|trans }}</a>
                </li>
                {% if isEditEnabled is defined and isEditEnabled == true %}
                    <li class="nav-item adaptive-item">
                        <a class="nav-link" href="" data-toggle="modal" data-target="#modal--Sender" data-backdrop="static" data-url="{{ path('order-editBillingInfo', {id: order.id}) }}">
                            <i class="fas fa-sign-out-alt mr-2"></i>
                            {{ 'order.edit-sender'|trans }}
                        </a>
                    </li>
                    <li class="nav-item adaptive-item">
                        <a class="nav-link" href="" data-toggle="modal" data-target="#modal--Recipient" data-backdrop="static" data-url="{{ path('order-editShippingInfo', {id: order.id}) }}">
                            <i class="fas fa-sign-in-alt mr-2"></i>
                            {{ 'order.edit-recipient'|trans }}
                        </a>
                    </li>
                    {% if flowerShopMode %}
                    <li class="nav-item adaptive-item">
                        <a class="nav-link" href="" data-toggle="modal" data-target="#modal--DeliveryDate" data-backdrop="static">
                            <i class="far fa-clock mr-2"></i>
                            {{ 'order.new-delivery-date'|trans }}
                        </a>
                    </li>
                    {% endif %}
                    <li class="nav-item adaptive-item">
                        <a class="nav-link" href="" data-toggle="modal" data-target="#modal--ArchiveOrder" data-backdrop="static">
                            <i class="fas fa-archive mr-2"></i>
                            {{ 'order.archive-order'|trans }}
                        </a>
                    </li>
                {% endif %}
            </ul>
            <ul class="adaptive-template">
                <li class="nav-item adaptive-item adaptive-more">
                    <a href="" class="adaptive-button nav-link dropdown-toggle btn-more-actions" aria-haspopup="true" aria-expanded="false">
                        <span>{{ 'generic.more-actions'|trans }}</span>
                    </a>
                    <ul class="adaptive-secondary">
                    </ul>
                </li>
            </ul>
        </nav>
    {% endblock %}

    {% block beforeContent %}
        <div class="row mt-1 mt-md-2">
            <div class="col-sm-12">
                {% include 'admin/order/_order-quickInfo-widget.html.twig' %}
            </div>
        </div>
    {% endblock %}

    {% block content %}
        <div class="card">
            <div class="card-body">
                {% include 'admin/order/_order-items-widget.html.twig' %}
                {% include 'admin/order/_order-summary-widget.html.twig' %}
            </div>
            {% if order.isUnfulfilled == true %}
            <div class="edit-block d-print-none">
                <div class="card-footer text-right">
                    <button class="btn btn-secondary" role="button" data-toggle="modal" data-target="#modal--orderConfirmation" data-backdrop="static">
                        <i class="far fa-paper-plane mr-2"></i>{{ 'order.send-order-confirmation-button'|trans }}
                    </button>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#modal--orderStatus" data-backdrop="static">
                        {{ 'order.mark-as-fulfilled'|trans }}
                    </button>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="card mt-20px">
            <div class="card-body">
                {% include 'admin/order/_order-sender-recipient-widget.html.twig' %}
            </div>
            {% if isEditEnabled is defined and isEditEnabled == true %}
            <div class="edit-block d-print-none">
                <div class="card-footer text-right">
                        <div class="nav-item dropdown">
                            <a class="btn btn-secondary dropdown-toggle" href="javascript: void(0);" id="navSzerkesztes" role="button" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
            {#                    <i class="far fa-edit mr-2"></i>#}
                                {{ 'generic.modify'|trans }}
                            </a>
                            <div class="dropdown-menu dropdown-transition dropdown-menu-right dropdown-menu-md-left mt-20px" aria-labelledby="navSzerkesztes">
                                <a class="dropdown-item" href="" data-toggle="modal" data-target="#modal--Sender" data-backdrop="static" data-url="{{ path('order-editBillingInfo', {id: order.id}) }}">
                                    <i class="fas fa-sign-out-alt"></i>
                                    {{ 'order.edit-sender'|trans }}
                                </a>
                                <a class="dropdown-item" href="" data-toggle="modal" data-target="#modal--Recipient" data-backdrop="static" data-url="{{ path('order-editShippingInfo', {id: order.id}) }}">
                                    <i class="fas fa-sign-in-alt"></i>
                                    {{ 'order.edit-recipient'|trans }}
                                </a>
                            </div>
                        </div>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="card mt-20px">
            <div class="card-body">
                {% include 'admin/order/_order-payment-widget.html.twig' %}
            </div>
            {% if order.hasManualPayment == true %}
                {% if order.isUnpaid is defined and order.isUnpaid == true %}
                    <div class="edit-block d-print-none">
                        <div class="card-footer text-right">
                            <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#modal--paymentStatus" data-backdrop="static">{{ 'order.mark-as-paid'|trans }}</a>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    {% endblock %}

    {% block sidebar %}
        <div class="mt-20px mt-md-0">
            {% if flowerShopMode %}
                <div class="card mb-20px">
                    {% include 'admin/order/_order-delivery-overdue-widget.html.twig' %}
                    <div class="card-body">
                        <div class="">
                            {% include 'admin/order/_order-delivery-widget.html.twig' %}
                        </div>
                    </div>
                        {% if isEditEnabled is defined and isEditEnabled == true %}
                        <div class="edit-block d-print-none">
                            <div class="card-footer text-right">
                                <a href="" class="btn btn-secondary" data-toggle="modal" data-target="#modal--DeliveryDate" data-backdrop="static" data-url="{{ path('order-editDeliveryDate', {id: order.id}) }}"><i class="far fa-edit mr-2"></i>{{ 'generic.modify'|trans }}</a>
                            </div>
                        </div>
                        {% endif %}
                </div>
            {% endif %}
            <div class="card">
            <div class="card-body">
                {% include 'admin/customer-card.html.twig' with {'customer': order.customer, 'orderCount': order.customer.ordersPlaced.count} %}
            </div>
            <div class="d-print-none">
                <div class="card-footer">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="h5 mb-0">{{ 'order.user-agent.user-agent-details'|trans }}</div>
                        <div class="">
                            <a class="" data-toggle="collapse" href="#collapseClientDetails" role="button" aria-expanded="false" aria-controls="collapseClientDetails">{{ 'order.user-agent.see-more'|trans }} <i class="fas fa-angle-down ml-1"></i></a>
                        </div>
                    </div>
                    <div class="collapse" id="collapseClientDetails">
                        <div class="mt-3">
                            {% if order.clientDetails is defined and order.clientDetails is not null %}
                                {% set cd = order.clientDetails %}
                                <p class="mt-3">
                                    <span>{{ 'order.user-agent.ip-address'|trans }}</span><br>
                                    <span class="text-muted">
                                        {% if cd.browserIp is defined and cd.browserIp is not null %}
                                            {{  cd.browserIp }}
                                        {% else %}
                                            {% include 'admin/_missing-data-insert.html.twig' %}
                                        {% endif %}
                                        </span>
                                </p>
                                <p class="mt-3">
                                    <span>{{ 'order.user-agent.browser'|trans }}</span><br>
                                    <span class="text-muted">
                                        {% if cd.userAgent is defined and cd.userAgent is not null %}
                                            {{  cd.userAgent|browser('name') }} v{{  cd.userAgent|browser('version') }}
                                        {% else %}
                                            {% include 'admin/_missing-data-insert.html.twig' %}
                                        {% endif %}
                                        </span>
                                </p>
                                <p class="mt-3">
                                    <span>{{ 'order.user-agent.platform'|trans }}</span><br>
                                    <span class="text-muted">
                                        {% if cd.userAgent is defined and cd.userAgent is not null %}
                                            {{  cd.userAgent|browser('platform') }}
                                        {% else %}
                                            {% include 'admin/_missing-data-insert.html.twig' %}
                                        {% endif %}
                                        </span>
                                </p>
                                <p class="mt-3">
                                    <span>{{ 'order.user-agent.user-agent'|trans }}</span><br>
                                    <span class="text-muted">
                                        {% if cd.userAgent is defined and cd.userAgent is not null %}
                                            {{  cd.userAgent }}
                                        {% else %}
                                            {% include 'admin/_missing-data-insert.html.twig' %}
                                        {% endif %}
                                        </span>
                                </p>
                                <p class="mt-3">
                                    <span>{{ 'order.user-agent.browser-language'|trans }}</span><br>
                                    <span class="text-muted">
                                        {% if cd.acceptLanguage is defined and cd.acceptLanguage is not null %}
                                            {{  cd.acceptLanguage }}
                                        {% else %}
                                            {% include 'admin/_missing-data-insert.html.twig' %}
                                        {% endif %}
                                        </span>
                                </p>
                            {% else %}
                                {% include 'admin/_missing-data-insert.html.twig' %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    {% endblock %}

    {% block additionalContent %}
        <div class="row d-print-none mt-20px mb-5">
            <div class="col-md-8 px-0 px-md-10px">
                <div class="card shadow-none bg-transparent">
                    <div class="card-body border-bottom px-lg-0">
                        <div class="">
                            <div class="h5 mb-0">{{ 'order.history.history-timeline'|trans }}</div>
                        </div>
                    </div>
                    <div class="card-body p-0 border-bottom pb-20px">
                            <div class="">
                                <div class="timeline-alt mt-3">
                                    <div class="">
                                        <div class="timeline-item timeline-input">
                                            <div class="timeline-icon">
                                                <div class="avatar text-white">
                                                    {{ app.user.avatar }}
{#                                                    <img class="img-thumbnail rounded-circle" src="{{ asset('/uploads/images/termekek/' ~ app.user.image) }}" />    #}
                                                </div>
                                            </div>
                                            <div class="timeline-item-info d-flex justify-content-between JS--commentWrapper">
                                                <div class="w-100 JS--commentContentBlock">
                                                    {% include 'admin/order/_form-order-comment.html.twig' %}
                                                </div>
                                            </div>
                                        </div>
                                        {% if order.logs is defined and order.logs is not null %}
                                            {% set prevDate = null %}
                                            {% for log in order.logs %}
                                                {% set currentDate = log.createdAt|localizedDate('F d') %}
                                                {% if prevDate != currentDate %}
                                                    {% set prevDate = log.createdAt|localizedDate('F d') %}
                                                    <div class="timeline-item">
                                                        <div class="timeline-item-info d-flex flex-column flex-sm-row justify-content-start justify-content-sm-between">
                                                            <span class="text-muted">{{ prevDate|upper }}</span>
                                                        </div>
                                                    </div>
                                                {% endif %}

                                                <div class="timeline-item {% if log.isComment is defined and log.isComment == true %}timeline-comment{% endif %}">
                                                    <div class="timeline-icon">
                                                        {% if log.channel is defined and log.channel.shortcode == constant('App\\Entity\\OrderLog::CHANNEL_ADMIN') %}
                                                            <div class="avatar text-white">
                                                                {{ app.user.avatar }}
        {#                                                       <img class="img-thumbnail rounded-circle" src="{{ asset('/uploads/images/termekek/' ~ app.user.image) }}" />    #}
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                    <div class="timeline-item-info d-flex flex-column flex-sm-row justify-content-start justify-content-sm-between">
                                                        <div>
{#                                                            {% if log.channel is defined and log.channel.shortcode is not null %}#}
{#                                                                <div>#}
{#                                                                    <small class="text-muted">{{ log.channel|capitalize }}</small>#}
{#                                                                </div>#}
{#                                                            {% endif %}#}
                                                            {% if log.description is defined and log.description is not null %}
                                                                <a class="btn-link-timeline" data-toggle="collapse" href="#collapseLog_{{ loop.index }}" role="button" aria-expanded="false" aria-controls="collapseLog_{{ loop.index }}">
                                                                    {{ log.message }} <i class="fas fa-angle-down ml-1"></i>
                                                                </a>
                                                                {% if log.channel is defined and log.channel.shortcode is not null and log.channel.isCheckout == false %}
                                                                    <div class="d-inline-block ml-2">
                                                                    (<small class="text-muted">{{ log.channel|capitalize }}</small>)
                                                                    </div>
                                                                {% endif %}
                                                                <div class="collapse" id="collapseLog_{{ loop.index }}">
                                                                    <div class="mt-3">
                                                                        {{ log.description|raw }}
                                                                    </div>
                                                                </div>
                                                            {% else %}
                                                                {{ log.message }}
                                                                {% if log.channel is defined and log.channel.shortcode is not null and log.channel.isCheckout == false %}
                                                                    <div class="d-inline-block">
                                                                        (<small class="text-muted">{{ log.channel|capitalize }}</small>)
                                                                    </div>
                                                                {% endif %}
                                                            {% endif %}
                                                        </div>
                                                        <div class="d-flex flex-row flex-sm-column text-nowrap ml-0 ml-sm-3 mt-1 mt-sm-0 align-items-end">
{#                                                            <div class="d-flex mr-2 mr-sm-0">#}
{#                                                                <div class="text-muted">{{ log.createdAt|localizedDate|lower }}</div>#}
{#                                                            </div>#}
                                                            <div class="d-flex">
                                                                <div class="text-muted">{{ log.createdAt|localizedTime }}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>

                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="col-md-4 px-0 px-md-10px">
            </div>
        </div>

    {% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        var recipientConstraints = {
            '{{ recipientForm.shippingLastname.vars.full_name }}': {
                presence: {
                    allowEmpty: false,
                    message: '{{ 'checkout.recipient.missing-lastname'|trans}}'
                },
            },
            '{{ recipientForm.shippingFirstname.vars.full_name }}': {
                presence: {
                    allowEmpty: false,
                    message: '{{ 'checkout.recipient.missing-firstname'|trans}}'
                },
            },
            '{{ recipientForm.shippingAddress.street.vars.full_name }}': {
                presence: {
                    allowEmpty: false,
                    message: '{{ 'checkout.recipient.missing-address'|trans}}'
                }
            },
            '{{ recipientForm.shippingAddress.city.vars.full_name }}': {
                presence: {
                    allowEmpty: false,
                    message: '{{ 'checkout.recipient.missing-city'|trans}}'
                }
            },
            '{{ recipientForm.shippingAddress.province.vars.full_name }}': {
                presence: {
                    allowEmpty: false,
                    message: '{{ 'checkout.recipient.missing-province'|trans}}'
                }
            },
            '{{ recipientForm.shippingAddress.zip.vars.full_name }}': {
                presence: {
                    allowEmpty: false,
                    message: '{{ 'checkout.recipient.missing-zip'|trans}}'
                },
                numericality: {
                    greaterThanOrEqualTo: 1000,
                    lessThanOrEqualTo: 9999,
                    message: '{{ 'checkout.recipient.invalid-zip'|trans}}'
                }
            },
            '{{ recipientForm.shippingPhone.vars.full_name }}': {
                presence: {
                    allowEmpty: false,
                    message: '{{ 'checkout.recipient.missing-phone'|trans}}'
                },
                format: {
                    pattern: '^[+]?' // first character must be '+' and is optional (because of '?')
                        +'([0-9 ]{10,})$', // allowed: '0-9' and ' ' (space), min. length 10 characters (without the '+')
                    message: '{{ 'checkout.recipient.invalid-phone'|trans}}'
                }
            },
        };
        var senderConstraints = {
            '{{ senderForm.billingLastname.vars.full_name }}': {
                presence: {
                    allowEmpty: false,
                    message: 'Add meg a vezetéknevet.'
                },
            },
            '{{ senderForm.billingFirstname.vars.full_name }}': {
                presence: {
                    allowEmpty: false,
                    message: 'Add meg a keresztnevet.'
                },
            },
            '{{ senderForm.billingAddress.street.vars.full_name }}': {
                presence: {
                    allowEmpty: false,
                    message: 'Add meg a címet.'
                }
            },
            '{{ senderForm.billingAddress.city.vars.full_name }}': {
                presence: {
                    allowEmpty: false,
                    message: 'Add meg a települést.'
                }
            },
            '{{ senderForm.billingAddress.province.vars.full_name }}': {
                presence: {
                    allowEmpty: false,
                    message: 'Add meg a megyét.'
                }
            },
            '{{ senderForm.billingAddress.zip.vars.full_name }}': {
                presence: {
                    allowEmpty: false,
                    message: 'Add meg az irányítószámot.'
                },
                numericality: {
                    greaterThanOrEqualTo: 1000,
                    lessThanOrEqualTo: 9999,
                    message: 'Hibás irányítószám.'
                }
            },
        };
        // $(document).ready(function () {
        //     let $recipientWrapper = $('.JS--recipientWrapper');
        //     let recipientEdit = new OrderDetail($recipientWrapper);
        //
        //     let $senderWrapper = $('.JS--senderWrapper');
        //     let senderEdit = new OrderDetail($senderWrapper);
        //
        //     let $ddWrapper = $('.JS--deliveryDateContainer');
        //     let ddEdit = new OrderDetail($ddWrapper);
        //
        //     let $statusWrapper = $('.JS--statusWrapper');
        //     let st = new OrderDetail($statusWrapper);
        //
        //     let $paymentStatusWrapper = $('.JS--paymentStatusWrapper');
        //     let pay = new OrderDetail($paymentStatusWrapper);
        //
        //     let $commentWrapper = $('.JS--commentWrapper');
        //     let comment = new OrderDetail($commentWrapper);
        // });
        $(function() {
            const drpConfig = Object.assign({}, drpBaseConfig, {
                parentEl: ".JS--dateWrapper",
                displayInline: true,
                opens: 'left',
                singleDatePicker: true,
                autoApply: true,
                autoUpdateInput: true,
                minDate: moment().add(4, 'hours'),
                maxDate: moment().add(2, 'months'),
            });
            $('.JS--Button-clickDate').daterangepicker(drpConfig);


            // $('.JS--Button-clickDate').daterangepicker({
            //     opens: 'left',
            //     autoApply: true,
            //     autoUpdateInput: true,
            //     singleDatePicker: true,
            //     parentEl: ".JS--dateWrapper",
            //     displayInline: true,
            //
            //     minDate: moment().add(4, 'hours'),
            //     maxDate: moment().add(2, 'months'),
            //     locale: {
            //         format: 'YYYY-MM-DD',
            //         separator: ' / ',
            //         applyLabel: 'Alkalmaz',
            //         cancelLabel: 'Mégse',
            //         daysOfWeek: ['V','H','K','Sz','Cs','P','Sz'],
            //         monthNames: ['Január','Február','Március','Április','Május','Június','Július','Augusztus','Szeptember', 'Október', 'November', 'December'],
            //         firstDay: 1,
            //     }
            // });
        });
        $(function() {
            let $wrapper = $('.JS--deliveryDateContainer');
            let $vp = $wrapper.find('.vp-checked');
            let hiddenForm = {
                date: {
                    element: $wrapper.find('#hidden_deliveryDate'),
                    value: $wrapper.find('#hidden_deliveryDate').val(),
                    setDateValue: function (value) {
                        this.element.val(value);
                    },
                },
                interval: {
                    element: $wrapper.find('#hidden_deliveryInterval'),
                    value: $wrapper.find('#hidden_deliveryInterval').val(),
                    setIntervalValue: function (value) {
                        this.element.val(value);
                    },
                },
                fee: {
                    element: $wrapper.find('#hidden_deliveryFee'),
                    value: $wrapper.find('#hidden_deliveryFee').val(),
                    setFeeValue: function (value) {
                        this.element.val(value);
                    },
                },
            };

            // Set initial value in DRP
            if (hiddenForm.date.value) {
                $('.JS--Button-clickDate').data('daterangepicker').setStartDate(hiddenForm.date.value);
                $('.JS--Button-clickDate').data('daterangepicker').setEndDate(hiddenForm.date.value);
            }

            $selectedDate = $wrapper.find('.JS--generatedDate-' + hiddenForm.date.value);
            $selectedInterval = $wrapper.find('.JS--generatedInterval-' + hiddenForm.date.value);
            $intervalDropdown = $selectedInterval.find('.JS--intervalDropdown');

            if ($selectedDate.hasClass('d-none')) {
                $selectedDate.removeClass('d-none').addClass('d-temporary');
                $wrapper.find('.JS--showCalendarIcon').hide();
            }
            if ($selectedInterval.hasClass('d-none')) {
                $selectedInterval.removeClass('d-none').addClass('d-temporary');
            }

            function onSelectInterval(dropdown) {
                dropdown.on('change', function () {
                    hiddenForm.interval.setIntervalValue($(this).val().toString());
                    // retrieve delivery fee from 'data-' attribute
                    $dropdownValue = $(this).children('option:selected').data('fee'); //.toString()
                    hiddenForm.fee.setFeeValue($dropdownValue);
                });
            }

            // Az idősáv kiválasztásakor elmenti a hidden mezőbe az értéket.
            // Ez akkor triggerelődik, amikor nem kattintunk sem dátumboxra, sem kalendáriumra.
            onSelectInterval($intervalDropdown);

            /**
             * Kezeli melyik dátum boxra lett kattintva, és azt jelöli kiválasztotnak.
             * Továbbá mutatja a dátumhoz tartozó idősávot.
             */
            $("[class*='JS--generatedDate-']").on('keydown click', function (e) {
                if (e.keyCode === 13 || e.type === 'click') {
                    $wrapper = $(this).closest('.JS--deliveryDateContainer');
                    $dateWrapper = $(this).closest('.JS--dateWrapper');
                    $intervalsWrapper = $wrapper.find('.JS--intervalsWrapper');

                    $dateWrapper.find('.vp-checked').removeClass('vp-checked');
                    $(this).find('.vp').addClass('vp-checked');
                    $intervalModule = $intervalsWrapper.find('.JS--generatedInterval-' + $(this).data('date-value'));

                    hiddenForm.date.setDateValue($(this).data('date-value'));

                    // ha a 4-ikre klikkelek amikor az ő temporary, akkor nem csinal semmit
                    // amugy visszallitja (ujra mutatja) a CalendarIcont
                    if (!($(this).hasClass('d-temporary'))) {
                        $dateWrapper.find('.d-temporary').removeClass('d-temporary').addClass('d-none');
                        $intervalsWrapper.find('.d-temporary').removeClass('d-temporary').addClass('d-none');
                        $intervalModule.removeClass('d-none').addClass('d-temporary');
                        $dateWrapper.find('.JS--showCalendarIcon').show();
                    }

                    //minden elozoleg becsekkolt input/select mezot uresre allitok, es torlom a hidden input mezobol is!
                    $intervalsWrapper.find('.JS--intervalDropdown').prop('checked', false);
                    hiddenForm.interval.setIntervalValue('');

                    // Az idősáv kiválasztásakor elmenti a hidden mezőbe az értéket.
                    // Ez akkor triggerelődik, amikor kattintunk a dátumboxra (ami nem a kallendárium).
                    onSelectInterval($intervalModule.find('.JS--intervalDropdown'));

                    // Set daterangepicker to current value
                    $('.JS--Button-clickDate').data('daterangepicker').setStartDate($(this).data('date-value'));
                    $('.JS--Button-clickDate').data('daterangepicker').setEndDate($(this).data('date-value'));
                }
            });
            /**
             * Kezeli a kalendáriumra kattintást.
             */
            $('.JS--Button-clickDate').on('apply.daterangepicker', function(ev, picker) {
                ev.preventDefault();
                $pickerDate = picker.startDate.format('YYYY-MM-DD');
                $wrapper = $(this).closest('.JS--deliveryDateContainer');
                $dateWrapper = $(this).closest('.JS--dateWrapper');
                $intervalsWrapper = $wrapper.find('.JS--intervalsWrapper');

                hiddenForm.date.setDateValue($pickerDate);

                $dateWrapper.find('.d-temporary').removeClass('d-temporary').addClass('d-none');
                $dateWrapper.find('.vp-checked').removeClass('vp-checked');
                $intervalsWrapper.find('.d-temporary').removeClass('d-temporary').addClass('d-none');

                $dateModule = $wrapper.find('.JS--generatedDate-' + $pickerDate);
                $intervalModule = $wrapper.find('.JS--generatedInterval-' + $pickerDate);

                if ($dateModule.is(':hidden')) {  // if it's hidden, de-hide it and make it temporary + hide the CalendarIcon
                    $wrapper.find('.JS--showCalendarIcon').hide();
                    $dateModule.removeClass('d-none').addClass('d-temporary');
                }
                $dateModule.find('.vp').addClass('vp-checked');
                $intervalModule.removeClass('d-none').addClass('d-temporary');

                if ($dateWrapper.find("[class*='JS--generatedDate-']:not(.d-none)").length <= 3) {
                    $wrapper.find('.JS--showCalendarIcon').show();
                }

                //minden elozoleg becsekkolt input/select mezot uresre allitok, es torlom a hidden input mezobol is!
                $intervalsWrapper.find('.JS--intervalDropdown').prop('checked', false);
                hiddenForm.interval.setIntervalValue('');

                // Az idősáv kiválasztásakor elmenti a hidden mezőbe az értéket.
                // Ez akkor triggerelődik, amikor kattintunk a kalendáriumra.
                onSelectInterval($intervalModule.find('.JS--intervalDropdown'));
                // $(this).find('.vp-checked')[0].focus();
                $(this).closest('.JS--dateWrapper').find('*[tabindex=0]').focus();
            });
            $('.JS--Button-clickDate').on('cancel.daterangepicker', function(ev, picker) {
                $(this).val('');
                $(this).closest('.JS--dateWrapper').find('*[tabindex=0]').focus();
            });
        });
    </script>
{% endblock %}
        

