{% extends 'admin/template-listing.html.twig' %}

{% set activeMenu = 'orders' %}
{% set pageTitle = 'Rendelések' %}
{% set breadcrumb = {
    0: {
        'url': path('dashboard'),
        'text': 'dashboard.dashboard'|trans,
    },
} %}

{% block title %}
    {{ pageTitle }}
{% endblock %}

{% block bodyClass %}order order-list{% endblock %}

{% block modal %}
    <div class="sidebar sidebar-right" id="sidebar--Filters" tabindex="-1" role="dialog" aria-labelledby="sidebarLabel" aria-hidden="true">
        <div class="sidebar-dialog sidebar-dialog-scrollable sidebar-dialog-centered" role="document">
            <div class="sidebar-content">
{#                {{ form_start(filterFormSidebar, { 'attr': {'class': 'needs-validationX' }}) }}#}
                <div class="sidebar-header">
                    <h3 class="sidebar-title" id="sidebarLabel">{{ 'order.filter.filters'|trans }}</h3>
                    <button type="button" class="close" data-dismiss="sidebar" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="sidebar-body pb-0">
                    {{ form_start(filterFormSidebar, { 'attr': {'class': 'JS--orderFilters' }}) }}
                            <div class="form-group">
                                <label>{{ 'order.filter.search'|trans }}</label>
                                <div class="field-prepend">
                                    <div class="field-addon-prepend w-addon-sm">
                                        <i class="fas fa-search"></i>
                                    </div>
                                </div>
                                {{ form_widget(filterFormSidebar.searchTerm, {'attr': {'class': 'form-control pl-addon-sm' }}) }}
                            </div>
                            <div class="form-group">
                                <label>{{ 'order.filter.filter-by-date'|trans }}</label>
                                <div class="" id="JS--idosavS">
                                    <div class="field-prepend field-append">
                                        <div class="field-addon-prepend w-addon-sm">
                                            <i class="far fa-calendar-alt mr-0"></i>
                                        </div>
                                        <div class="field-addon-append w-addon-sm">
                                            <a href="" class="btn btn-link-secondary JS--clearDateS"><i class="far fa-times-circle"></i></a>
                                        </div>
                                    </div>
                                    {{ form_widget(filterFormSidebar.dateRange, { 'attr': {
                                        'class' : 'pl-addon-sm pr-addon-sm bg-transparent custom-date JS--inputDateS',
                                    }}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label>{{ 'order.filter.filter-by-order-status'|trans }}</label>
                                <div class="form-control--Wrapper form-control--Wrapper-bg flex-grow-1">
                                    {{ form_widget(filterFormSidebar.orderStatus, {'attr': {'class': 'form-control' }}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label>{{ 'order.filter.filter-by-payment-status'|trans }}</label>
                                <div class="form-control--Wrapper form-control--Wrapper-bg flex-grow-1">
                                    {{ form_widget(filterFormSidebar.paymentStatus, {'attr': {'class': 'form-control' }}) }}
                                </div>
                            </div>
{#                            <div class="form-group">#}
{#                                <div class="form-control--WrapperX input-group-appendX flex-lg-grow-0X">#}
{#                                    <input type="submit" value="{{ 'generic.ok'|trans }}" class="btn btn-secondary px-4" formnovalidate>#}
{#                                </div>#}
{#                            </div>#}

                    <div style="display:none">
                        {{ form_rest(filterFormSidebar) }}
                    </div>
                    {{ form_end(filterFormSidebar) }}
                </div>
                <div class="sidebar-footer">
                    <div class="loadingWrapper">
                        <input type="submit" value="{{ 'generic.apply'|trans }}" onclick="$('.JS--orderFilters').submit();" class="btn btn-primary" formnovalidate>
                        <div class="JS--loadingOverlay d-flex align-items-stretch"></div>
                    </div>
                    <div class="loadingWrapper loadingWrapper-secondary">
                        <a href="" class="btn btn-secondary" data-dismiss="sidebar">{{ 'generic.close'|trans }}</a>
                        <div class="JS--loadingOverlay d-flex align-items-stretch"></div>
                    </div>
                </div>
{#                {{ form_end(filterFormSidebar) }}#}
            </div>
        </div>
    </div>

    {% if orders is defined %}
        {% for order in orders %}
            <div class="modal fade" id="modal--orderDetail-{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                    <div class="modal-content JS--orderWrapper">
                        <div class="modal-header bg-light">
                            <h3 class="modal-title" id="modalLabel">{{ 'order.order'|trans }} <span class="text-primaryX font-weight-bold">#{{ order.number }}</span>
                                <a href="{{ path('order-detail', {'id': order.id}) }}" class="btn-link-secondary" target="_blank"><i class="fas fa-external-link-alt mr-0"></i></a>
                            </h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body JS--orderContentBlock pb-0 bg-light">
                            <div class="mb-20px">
                                {% include 'admin/order/_order-quickInfo-widget.html.twig' %}
                            </div>
                            <div class="mb-20px">
                                <div class="card">
                                    <div class="card-body">
                                        {% include 'admin/order/_order-items-widget.html.twig' %}
                                        {% include 'admin/order/_order-summary-widget.html.twig' %}
                                    </div>
                                </div>
                            </div>
                            <div class="mb-20px">
                                <div class="card">
                                    {% include 'admin/order/_order-delivery-overdue-widget.html.twig' %}
                                    <div class="card-body">
                                        {% include 'admin/order/_order-delivery-widget.html.twig' %}
                                    </div>
                                </div>
                            </div>
                            <div class="mb-20px">
                                <div class="card">
                                    <div class="card-body">
                                {% include 'admin/order/_order-sender-recipient-widget.html.twig' %}
                                    </div>
                                </div>
                            </div>
                            <div class="mb-20px">
                                <div class="card">
                                    <div class="card-body">
                                {% include 'admin/order/_order-payment-widget.html.twig' %}
                                    </div>
                                </div>
                            </div>
                            <div class="mb-20px">
                                <div class="d-flex justify-content-end">
                                    <a href="" class="btn btn-secondary" data-dismiss="modal">Bezár</a>
                                    <a href="{{ path('order-detail', {'id': order.id}) }}" class="btn btn-primary ml-2">Rendelés módosítása</a>
                                </div>
                            </div>
                        </div>
{#                        <div class="modal-footer">#}
{#                        </div>#}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block headerTopright %}
    <a href="{{ path('delivery-date-type-edit') }}" class="btn btn-primary">Új rendelés</a>
{% endblock %}

{% block contentFilter %}
    <div class="no-margins">
        <nav class="adaptive-tabs">
            <ul class="nav nav-tabs adaptive-primary">
                {% for quickLink in filterQuickLinks %}
                    <li class="nav-item adaptive-item">
                        <a href="{{ quickLink['url'] }}" class="nav-link {% if quickLink['active'] is defined and quickLink['active'] %}active{% endif %}">
                                    <span class="d-flex justify-content-between align-items-center">
                                        <span class="d-flex">{{ quickLink['name'] }}</span>
{#                                        <span class="d-flex ml-2 badge badge-light">{{ quickLink['itemCount'] }}</span>#}
                                    </span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <ul class="adaptive-template">
                <li class="nav-item adaptive-item adaptive-more">
                    <button type="button" class="adaptive-button btn btn-link dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                        {#											<i class="fas fa-ellipsis-h"></i>#}
                        {{ 'generic.more'|trans }}
                    </button>
                    <ul class="adaptive-secondary">
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div class="no-margins mt-3 border-top pt-3">
        {{ form_start(filterForm, { 'attr': {'class': 'needs-validationX' }}) }}
        <div class="w-100 d-flex flex-columnX flex-md-row justify-content-between">
            <div class="field-group align-middle flex-columnX flex-md-row mr-2">
                <div class="field-item flex-grow-3">
                    <div class="field-prepend">
                        <div class="field-addon-prepend w-addon-sm">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                    {{ form_widget(filterForm.searchTerm, {'attr': {'class' : 'pl-addon-sm'}}) }}
                </div>
                <div class="field-item flex-grow-1 d-none d-md-flex" id="JS--idosav">
                    <div class="field-prepend field-append">
                        <div class="field-addon-prepend w-addon-sm">
                            <i class="far fa-calendar-alt mr-0"></i>
                        </div>
                        <div class="field-addon-append w-addon-sm">
                            <a href="" class="btn btn-link-secondary JS--clearDate"><i class="far fa-times-circle"></i></a>
                        </div>
                    </div>
                    {{ form_widget(filterForm.dateRange, { 'attr': {
                        'class' : 'pl-addon-sm pr-addon-sm bg-transparent custom-date JS--inputDate',
                        'data-toggle' : 'date-pickerX',
                    }}) }}
                </div>

                <div class="field-item form-control--WrapperX form-control--Wrapper-bgX d-none d-md-flex flex-grow-1">
                    {{ form_widget(filterForm.orderStatus, {'attr': {'class': 'form-control' }}) }}
                </div>
                <div class="field-item form-control--WrapperX form-control--Wrapper-bgX d-none d-md-flex flex-grow-1">
                    {{ form_widget(filterForm.paymentStatus, {'attr': {'class': 'form-control' }}) }}
                </div>
                <div class="field-item form-control--WrapperX form-control--Wrapper-bgX flex-grow-1">
                    <a class="btn btn-secondary w-100 text-nowrap" href="#" data-toggle="sidebar" data-target="#sidebar--Filters">Több szűrő</a>
                </div>
            </div>
            <div class="form-control--WrapperX input-group-appendX flex-lg-grow-0X position-relative">
                <input type="submit" value="{{ 'generic.ok'|trans }}" class="btn btn-secondary w-100" formnovalidate data-toggle="loading-overlay" aria-hidden="true">
                {#                    <button onclick="return false" role="button" class="btn btn-secondary px-3" data-toggle="loading-overlay" aria-hidden="true">{{ 'generic.ok'|trans }}</button>#}
            </div>
        </div>
        <div style="display:none">
            {{ form_rest(filterForm) }}
        </div>
        {{ form_end(filterForm) }}
    </div>
    <div class="no-margins mt-2">
        <div>
            {% if filterTags is defined and filterTags is not empty %}
                <div class="form-row-vertical">
                    {% for filterKey,value in filterTags %}
                        {% if value is defined and value is not null %}
                            <div class="col-vertical">
                                <div class="filter-tag">
                                    <div class="filter-tag-content">{{ value }}</div>
                                    <a href="{{ filterUrls[filterKey] }}" class="filter-tag-button"><i class="fas fa-times mr-0"></i></a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block tableHeader %}
    {% if orders is defined and orders is not empty %}
        <tr>
            <th scope="col">Rendelés</th>
            <th scope="col">Dátum</th>
            <th scope="col">Vásárló</th>
            <th scope="col">Címzett</th>
            <th scope="col">Szállítási időpont</th>
            <th scope="col">Fizetés</th>
            <th scope="col" class="text-right">Összesen</th>
            <th scope="col" class="text-center"><i class="fas fa-ellipsis-h"></i></th>
            {#<th scope="col" class="text-center">Állapot</th>#}
            {#<th scope="col"><i class="fas fa-ellipsis-h"></i></th>#}
        </tr>
    {% endif %}
{% endblock %}

{% block tableBody %}
    {% if orders is defined and orders is not empty %}
        {% for order in orders %}
            <tr>
                <td class="text-nowrap text-centerX">
{#                    <div class="overlay-container">#}
{#                        <div class="overlay-cell">#}
{#                            <div class="overlay-content">#}
{#                                <div class="text-centerX w-100">#}
{#                                    <a class="btn btn-sm btn-secondary" href="#" data-toggle="modal" data-target="#modal--orderDetail-{{ loop.index }}"><i class="far fa-eye mr-1"></i> Preview</a>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
                        <div class="d-flex align-items-end flex-column h-100">
                            <div class="align-self-start">
                                <a href="{{ path('order-detail', {'id': order.id}) }}" class="mr-1">#{{ order.number|number_format(0, '', '') }}</a>
                                {% if order.hasComment is defined and order.hasComment == true %}
                                    <i class="far fa-comment-dots text-muted"></i>
                                {% endif %}
    {#                            <a class="d-block btn-link-secondary text-lg mt-1" href="#" data-toggle="modal" data-target="#modal--orderDetail-{{ loop.index }}"><i class="far fa-eye"></i></a>#}
                            </div>
{#                            <div class="mt-autoX align-self-start align-self-centerX mt-1">#}
{#                                {% if order.status %}#}
{#                                <span class="badge badge-{{ order.status.css }}">{{ order.status }}</span>#}
{#                                {% endif %}#}
{#                            </div>#}
                        </div>
{#                    </div>#}
                </td>
                <td class="text-nowrap">
                    <span class="">{{ order.createdAt|localizedDate|lower }}</span> <br>
                    <small class="text-muted">{{ order.createdAt|localizedDate('l') }}</small>
                </td>
                <td class="text-nowrapX">
                        <span class="">
                            {% if order.customer is defined and order.customer is not null %}
                                <a href="{{ path('customer-show', {'id': order.customer.id}) }}">
                                    {{ order.billingFullname ? order.billingFullname : '' }}
                                    {% if order.billingCompany is defined and order.billingCompany %}
                                        <br>
                                        {{ order.billingCompany }}
                                    {% endif %}
                                </a>
                            {% else %}
                                {{ order.billingFullname ? order.billingFullname : '' }} {{ order.billingCompany is defined and order.billingCompany ? '/ ' ~ order.billingCompany : '' }}
                            {% endif %}
                        </span><br>
                    <div class="order-billingInfo">
                        {% if order.billingPhone %}
                            {% set firstSeg = order.billingPhone|slice(0, 2) %}
                            {% set secondSeg = order.billingPhone|slice(2, 2) %}
                            {% set thirdSeg = order.billingPhone|slice(4, 3) %}
                            {% set fourthSeg = order.billingPhone|slice(7, 4) %}

                            {% set phone = firstSeg ~ ' ' ~ secondSeg ~ ' ' ~ thirdSeg ~ ' ' ~ fourthSeg %}
                        {% endif %}
                        <span class="text-nowrap">{{ phone is defined ? '+' ~ phone : ''}} </span><br>
{#                        {% if order.billingAddress %}#}
{#                            <span>#}
{#                                    {{ order.billingAddress.street }} <br>#}
{#                                    {{ order.billingAddress.zip }} {{ order.billingAddress.city }}#}
{#                                </span>#}
{#                        {% endif %}#}
                    </div>
                </td>
                <td class="text-nowrapX">
                    <span class="text-success">{{ order.shippingFullname ? order.shippingFullname : '' }}</span> <br>
                    <div class="order-shippingInfo">
                        {% if order.shippingPhone %}
                            {% set firstSeg = order.shippingPhone|slice(0, 2) %}
                            {% set secondSeg = order.shippingPhone|slice(2, 2) %}
                            {% set thirdSeg = order.shippingPhone|slice(4, 3) %}
                            {% set fourthSeg = order.shippingPhone|slice(7, 4) %}

                            {% set phone = firstSeg ~ ' ' ~ secondSeg ~ ' ' ~ thirdSeg ~ ' ' ~ fourthSeg %}
                        {% endif %}
                        <span class="text-nowrap">{{ phone is defined ? '+' ~ phone : '' }} </span><br>
                        {% if order.shippingAddress %}
                            <span>
                                    {{ order.shippingAddress.street }} <br>
                                    {{ order.shippingAddress.zip }} {{ order.shippingAddress.city }}
                                </span>
                        {% endif %}
                    </div>
                </td>
                <td class="text-nowrapX">
                    {% include 'admin/order/_order-delivery-overdue-widget.html.twig' with {'isSizedSm': true, 'showFutureDatesOnly': true} %}
                    <div class="d-flex align-items-end flex-column h-100">
                        <div class="d-flex justify-content-start align-self-start">
                            {% if order.deliveryDate %}
                                <div class="mr-1">
                                    <i class="far fa-clock mr-1 text-muted-extra"></i>
                                </div>
                                <div class="d-inline-block">
                                    <span class="text-nowrap">{{ order.deliveryDate|localizedDate('Y M j.')|lower }}</span> <br>
                                    <span class="order-deliveryInfo text-nowrap">{{ order.deliveryInterval ? order.deliveryInterval ~ ' óra között': '' }}</span>
                                </div>
                            {% endif %}
                        </div>
                        <div class="d-flex mt-auto align-self-start order-deliveryInfo">
                            <em>{{ order.shippingMethod ? order.shippingMethod.getName() : '' }}</em>
                        </div>
                    </div>
                </td>
                <td class="text-center text-nowrap">
                    {% if order.paymentMethod %}
                        <small>{{ order.paymentMethod.shortCode }}</small>
                    {% endif %}
                </td>
                <td class="text-right text-nowrap">
                    <span class="">{{ order.summary.totalAmountToPay|money }}</span>
                </td>
                <td class="text-center">
                    <div class="overlay-container">
                        <div class="overlay-cell">
                            <div class="overlay-content">
                                <a class="btn btn-secondary" href="#" data-toggle="modal" data-target="#modal--orderDetail-{{ loop.index }}"><i class="far fa-eye"></i> {{ 'generic.preview'|trans }}</a>
                                <a href="{{ path('order-detail', {'id': order.id}) }}" class="btn btn-secondary mt-2" target="_blank"><i class="fas fa-external-link-alt"></i> {{ 'generic.open'|trans }}</a>
                            </div>
                        </div>
                        <div class="d-flex align-items-end flex-column h-100 flex-sm-column">
                            <div class="align-self-center d-flex flex-column">
                                {% if order.status %}
                                    <span class="badge badge-{{ order.status.css }}">{{ order.status }}</span>
                                {% endif %}
{#                                {% if order.isUnpaid %}#}
                                    <span class="badge badge-{{ order.paymentStatus.css }}">{{ order.paymentStatus }}</span>
{#                                {% endif %}#}
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
    {% endif %}
{% endblock %}


{% block tableEmpty %}
    {% if orders is defined and orders is empty %}
    <div class="h-100 text-center p-4">
        <div class="h1 text-muted-extra">
            <i class="fas fa-search"></i>
        </div>
        <div class="font-18 mt-3 mb-2">Nem talált rendeléseket!</div>
        <div class="text-muted-extra">Próbáld módosítani a szűrőket.</div>
    </div>
    {% endif %}
{% endblock %}



{% block javascripts %}
    {{ parent() }}
    <script>
        $(function() {
            let dateField = $('#JS--idosav .JS--inputDate');
            let sidebarDateField = $('#JS--idosavS .JS--inputDateS');

            // Innen: https://momentjs.com/docs/#/i18n/
            moment.locale("{{ app.request.locale }}", {
                monthsShort : [
                    "{{ 'datetime.jan'|trans }}",
                    "{{ 'datetime.feb'|trans }}",
                    "{{ 'datetime.mar'|trans }}",
                    "{{ 'datetime.apr'|trans }}",
                    "{{ 'datetime.may'|trans }}",
                    "{{ 'datetime.jun'|trans }}",
                    "{{ 'datetime.jul'|trans }}",
                    "{{ 'datetime.aug'|trans }}",
                    "{{ 'datetime.sep'|trans }}",
                    "{{ 'datetime.oct'|trans }}",
                    "{{ 'datetime.nov'|trans }}",
                    "{{ 'datetime.dec'|trans }}",
                ]
            });
            let dateSettings = {
                parentEl: "#JS--idosav",
                opens: 'right',
                autoApply: false,
                autoUpdateInput: false,
                // linkedCalendars: false,

                ranges: {
                    "{{ 'datetime.today'|trans }}": [moment(), moment()],
                    "{{ 'datetime.yesterday'|trans }}": [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    "{{ 'datetime.this-month'|trans }}": [moment().startOf('month'), moment().endOf('month')],
                    "{{ 'datetime.previous-month'|trans }}": [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                    "{{ 'datetime.last-7-days'|trans }}": [moment().subtract(6, 'days'), moment()],
                    "{{ 'datetime.last-30-days'|trans }}": [moment().subtract(29, 'days'), moment()],
                    "{{ 'datetime.this-year'|trans }}": [moment().startOf('year'), moment().endOf('year')],
                    "{{ 'datetime.previous-year'|trans }}": [moment().subtract(1, 'year').startOf('year'), moment().subtract(1, 'year').endOf('year')],
                    "{{ 'datetime.lifetime'|trans }}": [moment('{{ settings_general.get('general.launch-date') }}'), moment()],
                },
                alwaysShowCalendars: false,
                showCustomRangeLabel: true,

                // singleDatePicker: true,
                // showWeekNumbers: true,

                // showRangesAsDropdown: true,
                // showDropdowns: true,
                drops: "auto",
                // timePicker: true,
                // timePickerSeconds: true,
                // timePicker24Hour: true,

                // maxDate: moment(),
                locale: {
                    // format: 'YYYY/MM/DD',
                    // format: 'MMM DD, [<span class="text-muted">]YYYY[</span>]',
                    format: 'MMM DD, YYYY',
                    separator: ' - ',
                    dateRange: "{{ 'datetime.date-range'|trans }}",
                    customRangeLabel: "{{ 'datetime.custom-range'|trans }}",
                    applyLabel: "{{ 'generic.apply'|trans }}",
                    cancelLabel: "{{ 'generic.delete'|trans }}",
                    daysOfWeek: [
                        "{{ 'datetime.sun'|trans }}",
                        "{{ 'datetime.mon'|trans }}",
                        "{{ 'datetime.tue'|trans }}",
                        "{{ 'datetime.wed'|trans }}",
                        "{{ 'datetime.thu'|trans }}",
                        "{{ 'datetime.fri'|trans }}",
                        "{{ 'datetime.sat'|trans }}",
                    ],
                    monthNames: [
                        "{{ 'datetime.january'|trans }}",
                        "{{ 'datetime.february'|trans }}",
                        "{{ 'datetime.march'|trans }}",
                        "{{ 'datetime.april'|trans }}",
                        "{{ 'datetime.mayy'|trans }}",
                        "{{ 'datetime.june'|trans }}",
                        "{{ 'datetime.july'|trans }}",
                        "{{ 'datetime.august'|trans }}",
                        "{{ 'datetime.september'|trans }}",
                        "{{ 'datetime.october'|trans }}",
                        "{{ 'datetime.november'|trans }}",
                        "{{ 'datetime.december'|trans }}",
                    ],
                    firstDay: 1,
                },

                buttonClasses: 'btn',
                applyClass: 'btn-primary',
                cancelClass: 'btn-secondary',
            }
            let sidebarDateSettings = {
                parentEl: "#JS--idosavS",
                opens: 'right',
                // autoApply: true,
                autoUpdateInput: false,
                // linkedCalendars: false,

                ranges: {
                    "{{ 'datetime.today'|trans }}": [moment(), moment()],
                    "{{ 'datetime.yesterday'|trans }}": [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    "{{ 'datetime.this-month'|trans }}": [moment().startOf('month'), moment().endOf('month')],
                    "{{ 'datetime.previous-month'|trans }}": [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                    "{{ 'datetime.last-7-days'|trans }}": [moment().subtract(6, 'days'), moment()],
                    "{{ 'datetime.last-30-days'|trans }}": [moment().subtract(29, 'days'), moment()],
                    "{{ 'datetime.this-year'|trans }}": [moment().startOf('year'), moment().endOf('year')],
                    "{{ 'datetime.previous-year'|trans }}": [moment().subtract(1, 'year').startOf('year'), moment().subtract(1, 'year').endOf('year')],
                    "{{ 'datetime.lifetime'|trans }}": [moment('{{ settings_general.get('general.launch-date') }}'), moment()],
                },
                alwaysShowCalendars: true,
                showCustomRangeLabel: true,
                autoWidth: true,

                // singleDatePicker: true,
                // displayInline: true,
                // showWeekNumbers: true,

                // showRangesAsDropdown: true,
                // showDropdowns: true,
                drops: "auto",
                // timePicker: true,
                // timePickerSeconds: true,
                // timePicker24Hour: true,

                // maxDate: moment(),
                locale: {
                    // format: 'YYYY/MM/DD',
                    // format: 'MMM DD, [<span class="text-muted">]YYYY[</span>]',
                    format: 'MMM DD, YYYY',
                    separator: ' - ',
                    dateRange: "{{ 'datetime.date-range'|trans }}",
                    customRangeLabel: "{{ 'datetime.custom-range'|trans }}",
                    applyLabel: "{{ 'generic.apply'|trans }}",
                    cancelLabel: "{{ 'generic.delete'|trans }}",
                    daysOfWeek: [
                        "{{ 'datetime.sun'|trans }}",
                        "{{ 'datetime.mon'|trans }}",
                        "{{ 'datetime.tue'|trans }}",
                        "{{ 'datetime.wed'|trans }}",
                        "{{ 'datetime.thu'|trans }}",
                        "{{ 'datetime.fri'|trans }}",
                        "{{ 'datetime.sat'|trans }}",
                    ],
                    monthNames: [
                        "{{ 'datetime.january'|trans }}",
                        "{{ 'datetime.february'|trans }}",
                        "{{ 'datetime.march'|trans }}",
                        "{{ 'datetime.april'|trans }}",
                        "{{ 'datetime.mayy'|trans }}",
                        "{{ 'datetime.june'|trans }}",
                        "{{ 'datetime.july'|trans }}",
                        "{{ 'datetime.august'|trans }}",
                        "{{ 'datetime.september'|trans }}",
                        "{{ 'datetime.october'|trans }}",
                        "{{ 'datetime.november'|trans }}",
                        "{{ 'datetime.december'|trans }}",
                    ],
                    firstDay: 1,
                },

                buttonClasses: 'btn',
                applyClass: 'btn-primary',
                cancelClass: 'btn-secondary',
            }
            dateField.daterangepicker(dateSettings);
            sidebarDateField.daterangepicker(sidebarDateSettings);

            // Ha van dateRange a query-ben, akkor a ketto datumot betoltom a datum valasztoba
            let string = "{{ app.request.query.get('dateRange') is defined ? app.request.query.get("dateRange") : false }}";
            if (string) {
                picker = dateField.data('daterangepicker');
                picker.setStartDate(moment(string.split(picker.locale.separator)[0], 'YYYY-MM-DD'));
                picker.setEndDate(moment(string.split(picker.locale.separator)[1], 'YYYY-MM-DD'));

                pickerS = sidebarDateField.data('daterangepicker');
                pickerS.setStartDate(moment(string.split(pickerS.locale.separator)[0], 'YYYY-MM-DD'));
                pickerS.setEndDate(moment(string.split(pickerS.locale.separator)[1], 'YYYY-MM-DD'));
            }


            // mobilon a hatter ezzel nem mozog, nem gorgeti
            dateField.on('show.daterangepicker', function(ev, picker) {
                picker.parentEl.addClass('daterangepicker-overflow-hiddenX');
            });
            // ujra gorgetheto a hatter
            dateField.on('hide.daterangepicker', function(ev, picker) {
                picker.parentEl.removeClass('daterangepicker-overflow-hiddenX');
            });
            dateField.on('apply.daterangepicker', function(ev, picker) {
                $(this).val(picker.startDate.format('YYYY-MM-DD') + picker.locale.separator + picker.endDate.format('YYYY-MM-DD'));
                $(this).focus();
                picker.hide();
            });
            dateField.on('cancel.daterangepicker', function(ev, picker) {
                picker.startDate = moment();
                picker.endDate = moment();
                $(this).val('');
            });
            $('#JS--idosav .JS--clearDate').on('click', function(ev) {
                ev.preventDefault();
                dateField.val('');
                dateField.data('daterangepicker').setStartDate(moment());
                dateField.data('daterangepicker').setEndDate(moment());
            });


            sidebarDateField.on('show.daterangepicker', function(ev, pickerS) {
                pickerS.parentEl.addClass('daterangepicker-overflow-hiddenX');
            });
            // ujra gorgetheto a hatter
            sidebarDateField.on('hide.daterangepicker', function(ev, pickerS) {
                pickerS.parentEl.removeClass('daterangepicker-overflow-hiddenX');
            });
            sidebarDateField.on('apply.daterangepicker', function(ev, pickerS) {
                $(this).val(pickerS.startDate.format('YYYY-MM-DD') + pickerS.locale.separator + pickerS.endDate.format('YYYY-MM-DD'));
                $(this).focus();
                pickerS.hide();
            });
            sidebarDateField.on('cancel.daterangepicker', function(ev, pickerS) {
                pickerS.startDate = moment();
                pickerS.endDate = moment();
                $(this).val('');
            });
            $('#JS--idosavS .JS--clearDateS').on('click', function(ev) {
                ev.preventDefault();
                sidebarDateField.val('');
                sidebarDateField.data('daterangepicker').setStartDate(moment());
                sidebarDateField.data('daterangepicker').setEndDate(moment());
            });
        });
    </script>
{% endblock %}


