{% extends 'admin/base_admin.html.twig' %}


{% block title %}
	{{ title }}
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
{% endblock %}


{% block page_content %}
		
	{% block LISTA %}

        <div class="row mt-3 mb-2">
            <div class="col-lg-12">
                <div class="page-title h1 d-inline mr-md-2 mr-1">{{ title }}</div>
                <div class="d-inline float-rightX">
                    <a href="{{ path('delivery-date-type-edit') }}" class="btn btn-xs btn-primary mb-2"><i class="fas fa-plus-circle mr-2"></i>Új rendelés</a>
                </div>
            </div>
        </div>

        {% include('/admin/_alert_widget.html.twig') %}

        <!-- header of default page content widget -->
        {{ include('/admin/_header_of_default_page_content.html.twig') }}

        <div class="row mb-2X">
            <div class="col-sm-6 col-lg-8">
                <div class="d-inline-block my-1 my-lg-0">

                    <!-- dateRange Widget -->
                    {{ include('/admin/dateRange-picker-widget.html.twig') }}
                </div>
                <div class="d-inline-block">
                    <a href="{{  path('order-list') }}" class="btn-link ml-1">Teljes lista</a>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="text-sm-right my-1 my-lg-0">
                    {#<a href="{{ path('boltzaras-edit') }}" class="btn btn-primary mb-2"><i class="fas fa-plus-circle mr-2"></i>Új rendelés</a>#}
                </div>
            </div>
        </div>




        <div class="table-responsive mb-3">
            <table class="table table-smX table-centeredX table-striped table-hover table-bordered mb-0" id="boltzaras-list">
                <thead class="thead-light">
				<tr>
                    <th scope="col">Rendelés</th>
                    <th scope="col">Vásárló</th>
				    <th scope="col">Címzett</th>
				    <th scope="col">Szállítási időpont</th>
                    <th scope="col">Fizetés</th>
                    <th scope="col" class="text-center">Állapot</th>
                    {#<th scope="col"><i class="fas fa-ellipsis-h"></i></th>#}
				  </tr>
			  </thead>
			  <tbody>
				{% if orders is defined %}
				{% for order in orders %}
				<tr>
                    <td class="text-nowrap">
                        <span class="text-sm">{{ order.createdAt|date('Y-m-d')}}</span><br>
                        <a href="{{ path('order-detail', {'id': order.id}) }}" class="font-weight-boldX">#{{ order.number|number_format(0, '', '') }}</a>
                    </td>
				    <td class="text-nowrapX">
                        <strong>{{ order.billingFullname ? order.billingFullname : '' }} {{ order.billingCompany is defined and order.billingCompany ? '/ ' ~ order.billingCompany : '' }}</strong> <br>
                        <div class="text-mutedZ">
                            +{{ order.billingPhone ? order.billingPhone : ''}} <br>
                            {% if order.billingAddress %}
                            {{ order.billingAddress.street }} <br>
                            <span class="text-sm">{{ order.billingAddress.zip }} {{ order.billingAddress.city }}</span> <br>
                            {% endif %}
                        </div>
                    </td>
				    <td class="text-nowrapX">
                        <strong>{{ order.shippingName ? order.shippingName : '' }}</strong> <br>
                        <div class="text-mutedZ">
                            +{{ order.shippingPhone ? order.shippingPhone : '' }} <br>
                            {% if order.shippingAddress %}
                            {{ order.shippingAddress.street }} <br>
                            <span class="text-sm">{{ order.shippingAddress.zip }} {{ order.shippingAddress.city }}</span> <br>
                            {% endif %}
                        </div>
                    </td>
				    <td class="text-nowrapX">
                        {% if order.deliveryDate %}
                            <i class="far fa-clock mr-1 text-muted"></i> <strong>{{ order.deliveryDate|date('Y M j.')|lower }}</strong> <br>
                            <span class="text-mutedZ">{{ order.deliveryInterval ? order.deliveryInterval ~ ' óra között': '' }}</span> <br>
                        {% endif %}
                        <span class="text-mutedZ text-sm">{{ order.shippingMethod ? order.shipping.getName() : '' }}</span>
                    </td>
                    <td class="text-right text-nowrap">
                        <strong>{{ order.priceTotalAfterDiscount }} Ft</strong> <br>
                        {% if order.paymentMethod %}
                            {% if order.paymentMethod.image %}
                                <img class="img-thumbnail img-grayscaleX border-0 h-15px" src="{{ asset('/uploads/images/icons/' ~ order.paymentMethod.image) }}" />
                            {% else %}
                                {{ order.paymentMethod ? order.paymentMethod.getName() : '' }} <br>
                            {% endif %}
                        {% endif %}

                    </td>
                    <td class="text-right text-mutedZ">
                        <span class="badge badge-warning text-uppercase">Függőben levő</span>
                    </td>
				</tr>
				{% endfor %}
				{% else %}
				<tr>
			        <td><li><em>nincs rendelés</em></li></td>
			    </tr>
				{% endif %}
			  </tbody>
			</table>
		</div>
		<div class="pagerfanta">
                {% if paginator is defined %}
					{{ pagerfanta(paginator, 'twitter_bootstrap4') }}
                {% endif %}
		</div>

        <!-- footer of default page content widget -->
        {{ include('/admin/_footer_of_default_page_content.html.twig') }}

	{% endblock %}
{% endblock %}





{% block javascripts %}
    {{ parent() }}
    {#
     A dateRange-picker-widget.html.twig fajlban van hasznalva
 #}
    <script>
        $(function() {
            $('#JS--idosav input').daterangepicker({
                opens: 'right',
                autoApply: false,
                autoUpdateInput: false,
                locale: {
                    format: 'YYYY-MM-DD',
                    separator: ' / ',
                    applyLabel: 'Alkalmaz',
                    cancelLabel: 'Mégse',
                    daysOfWeek: [
                        'V',
                        'H',
                        'K',
                        'Sz',
                        'Cs',
                        'P',
                        'Sz'
                    ],
                    monthNames: [
                        'Január',
                        'Február',
                        'Március',
                        'Április',
                        'Május',
                        'Június',
                        'Július',
                        'Augusztus',
                        'Szeptember',
                        'Október',
                        'November',
                        'December'
                    ],
                    firstDay: 1,
                }
            });

            $('#JS--idosav input').on('apply.daterangepicker', function(ev, picker) {
                $(this).val(picker.startDate.format('YYYY-MM-DD') + ' / ' + picker.endDate.format('YYYY-MM-DD'));
            });

            $('#JS--idosav input').on('cancel.daterangepicker', function(ev, picker) {
                $(this).val('');
            });

        });
    </script>
{% endblock %}
        

