{{ form_start(recipientForm, { 'attr': {'class': 'JS--Wrapper-recipientForm' }}) }}
<div class="row">
    <div class="col-lg-12">
        <div class="form-row">
            <div class="form-group col-sm-6 pr-lg-2">
                <label for="{{ recipientForm.shippingFirstname.vars.full_name }}" class="form-label">Keresztnév</label>
                {{ form_widget(recipientForm.shippingFirstname, {'attr': {'class': ''}}) }}
                {{ form_errors(recipientForm.shippingFirstname) }}
            </div>
            <div class="form-group col-sm-6 pr-lg-2">
                <label for="{{ recipientForm.shippingLastname.vars.full_name }}" class="form-label">Vezetéknév</label>
                {{ form_widget(recipientForm.shippingLastname, {'attr': {'class': ''}}) }}
                {{ form_errors(recipientForm.shippingLastname) }}
            </div>
            <div class="form-group col-md-12 pl-lg-2">
                <label for="{{ recipientForm.shippingAddress.street.vars.full_name }}" class="form-label">Címe</label>
                {{ form_widget(recipientForm.shippingAddress.street, {'attr': {'class': ''}}) }}
                {{ form_errors(recipientForm.shippingAddress.street) }}
            </div>
            <div class="form-group col-md-12 pr-lg-2">
                <label for="{{ recipientForm.shippingAddress.city.vars.full_name }}" class="form-label">Város</label>
                {{ form_widget(recipientForm.shippingAddress.city, {'attr': {'class': 'JS--form-city'}}) }}
                {{ form_errors(recipientForm.shippingAddress.city) }}
            </div>
            <div class="form-group col-sm-5 col-12 pl-lg-2">
                <label for="{{ recipientForm.shippingAddress.country.vars.full_name }}" class="form-label">Ország</label>
                {{ form_widget(recipientForm.shippingAddress.country, {'attr': {'class': 'form-control'}}) }}
                {#<i class="fas fa-chevron-down form-control-dropdown"></i>#}
                {{ form_errors(recipientForm.shippingAddress.country) }}
            </div>
            <div class="form-group col-sm-4 col-6 pr-lg-2">
                <label for="{{ recipientForm.shippingAddress.province.vars.full_name }}" class="form-label">Megye</label>
                {{ form_widget(recipientForm.shippingAddress.province, {'attr': {'class': 'JS--form-province'}}) }}
                {{ form_errors(recipientForm.shippingAddress.province) }}
            </div>
            <div class="form-group col-sm-3 col-6 pl-lg-2">
                <label for="{{ recipientForm.shippingAddress.zip.vars.full_name }}" class="form-label">Irányítószám</label>
                {{ form_widget(recipientForm.shippingAddress.zip, {'attr': {'class': 'JS--form-zip', 'data-url' : path('cart-getPlaceByZip') }}) }}
                {{ form_errors(recipientForm.shippingAddress.zip) }}
            </div>
            <div class="form-group col-md-12 pr-lg-2">
                <label for="{{ recipientForm.shippingPhone.vars.full_name }}" class="form-label">Telefonszám</label>
                {{ form_widget(recipientForm.shippingPhone, {'attr': {'class': '' }}) }}
                {{ form_errors(recipientForm.shippingPhone|raw) }}
            </div>
        </div>
    </div>
</div>


{{ form_end(recipientForm) }}
{#{% do recipientForm.setRendered() %}#}