{#{% form_theme statusForm 'bootstrap_4_layout.html.twig' %}#}
{{ form_start(statusForm, { 'attr': {'class': 'JS--statusForm' }}) }}
    <div class="row">
        <div class="col-lg-12">
                <div class="form-group row">
                    <div class="col-sm-4 col-lg-4">
                        {{ form_label(statusForm.status, '', {'label_attr': {'class': 'col-form-label'}}) }}
                    </div>
                    <div class="col-sm-8 col-lg-8">
                        {{ form_widget(statusForm.status, {'attr': {'class': '' }}) }}
                        {{ form_errors(statusForm.status) }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 col-sm-4">
                        <label class="">Értesítés az ügyfélnek</label>
                    </div>
                    <div class="col-4 col-sm-8 d-flex justify-content-sm-start justify-content-end">
                        {{ form_widget(statusForm.sendNotification, {'label_attr': {'class': 'switch-custom'}, 'label': ' '}) }}
{#                        <input type="checkbox" id="{{ statusForm.sendNotification.vars.id }}" name="{{ statusForm.sendNotification.vars.full_name }}" required="required" class="form-check-input" value="{{ statusForm.sendNotification.vars.value }}" {{ statusForm.sendNotification.vars.checked == 1 ? 'checked=\"checked\"' : ''}} data-switch="primary">#}
{#                        <label class="form-check-label" role="checkbox" tabindex="" for="{{ statusForm.sendNotification.vars.id }}" data-on-label="Igen" data-off-label="Nem"></label>#}
                        {{ form_errors(statusForm.sendNotification) }}
                        {% do statusForm.sendNotification.setRendered() %}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 col-sm-4">
                        <label class="">Megjegyzés hozzáadása</label>
                    </div>
                    <div class="col-4 col-sm-8 d-flex justify-content-sm-start justify-content-end">
                        {{ form_widget(statusForm.addNote, {'label_attr': {'class': 'switch-custom'}, 'label': ' '}) }}
{#                        <input type="checkbox" id="{{ statusForm.addNote.vars.id }}" name="{{ statusForm.addNote.vars.full_name }}" required="required" class="form-check-input" value="{{ statusForm.addNote.vars.value }}" {{ statusForm.addNote.vars.checked == 1 ? 'checked=\"checked\"' : ''}} data-switch="primary">#}
{#                        <label class="form-check-label" for="{{ statusForm.addNote.vars.id }}" data-on-label="Igen" data-off-label="Nem"></label>#}
                        {{ form_errors(statusForm.addNote) }}
                        {% do statusForm.addNote.setRendered() %}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4 col-lg-4">
                        {{ form_label(statusForm.note, '', {'label_attr': {'class': 'col-form-label'}}) }}
                    </div>
                    <div class="col-sm-8 col-lg-8">
                        {{ form_widget(statusForm.note) }}
                        {{ form_errors(statusForm.note) }}
                    </div>
                </div>
        </div>
    </div>
{{ form_end(statusForm) }}
{% do statusForm.setRendered() %}