		{{ form_start(form, { 'attr': {'class': '' }}) }}
		<div class="row pb-2">
			<div class="col-lg-12">

				<div class="mb-3">
                    {{ form_label(form.month) }}
					<div>
						<div class="input-group" id="JS--datum">
                            {{ form_widget(form.month, {'attr': {
                                'class': 'form-control date',
                            }}) }}
                            {#<input type="text" class="form-control date" id="birthdatepicker" data-toggle="date-picker" data-single-date-picker="true">#}
							<span class="input-group-append input-group-addon">
						<span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
					</span>
						</div>
					</div>

				</div>
				<div class="mb-3">
                    {{ form_label(form.amount) }} <br />
					<div class="input-group">
                        {{ form_widget(form.amount, {'attr': {'class': ''}}) }}
						<div class="input-group-append">
							<span class="input-group-text">Ft</span>
						</div>
					</div>
				</div>

                {# Render CSRF token etc .#}
				<div style="display:none">
                    {{ form_rest(form) }}
				</div>

                <input type="submit" value="Adatok mentése" class="btn btn-lgg btn-success mr-1" formnovalidate>
                {#<button type="submit" class="btn btn-lgg btn-success" formnovalidate><i class="fas fa-save mr-1"></i> Adatok mentése</button>#}
                <a href="{{ path('boltzaras_list') }}" class="btn btn-secondary">Mégse</a>

			</div>
		</div>


		{{ form_end(form) }}