		{{ form_start(form, { 'attr': {'class': '' }}) }}
		<div class="row pb-2">
			<div class="col-md-12 col-lg-8 col-xl-6">

				<div class="mb-3">
                    {{ form_label(form.munkatars) }}
					<div class="input-group">
                        {{ form_widget(form.munkatars, {'attr': {
                                'class': 'form-control custom-selectX select2 select2-multiple select2-hidden-accessible',
                                'data-toggle' : 'select2',
                                'data-placeholder' : 'Válassz...',
                                'aria-hidden' : 'true',
                        }}) }}
					</div>
					<small class="form-text text-muted">
						Kattints a legördülőre és válaszd ki a nevedet.
					</small>

				</div>

				{#<div class="mb-3">#}
                    {#{{ form_label(form.munkatars) }}#}
					{#<div class="input-group">#}
                        {#{{ form_widget(form.munkatars, {'attr': {'class': 'form-control custom-select'}}) }}#}
					{#</div>#}
					{#<small class="form-text text-muted">#}
						{#Kattints a legördülőre és válaszd ki a nevedet.#}
					{#</small>#}
				{#</div>#}

				<div class="mb-3">
                    {{ form_label(form.idopont) }}
					<div>
						<div class="input-group" id="JS--datum">
                            {{ form_widget(form.idopont, {'attr': {
                                'class': 'form-control date',
                            }}) }}
                            {#<input type="text" class="form-control date" id="birthdatepicker" data-toggle="date-picker" data-single-date-picker="true">#}
							<span class="input-group-append input-group-addon">
						<span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
					</span>
						</div>
					</div>

				</div>
				<div class="mb-3">
                    {{ form_label(form.kassza) }} <br />
					<div class="input-group no-spinners">
                        {{ form_widget(form.kassza, {'attr': {'class': ''}}) }}
						<div class="input-group-append">
							<span class="input-group-text">Ft</span>
						</div>
					</div>
				</div>
				<div class="mb-3">
                    {{ form_label(form.bankkartya) }} <br />
					<div class="input-group no-spinners">
						<!--div class="input-group-prepend">
					<span class="input-group-text">{{ form.bankkartya.vars.label }}</span>
				  </div-->
                        {{ form_widget(form.bankkartya, {'attr': {'class': ''}}) }}
						<div class="input-group-append">
							<span class="input-group-text">Ft</span>
						</div>
					</div>
				</div>
				<div class="mb-3">
                    {{ form_label(form.keszpenz) }} <br />
					<div class="input-group no-spinners">
                        {{ form_widget(form.keszpenz, {'attr': {'class': ''}}) }}
						<div class="input-group-append">
							<span class="input-group-text">Ft</span>
						</div>
					</div>
				</div>

				<div class="mb-3">
                    {{ form_label(form.note) }} <br />
					<div class="input-group">
                        {{ form_widget(form.note, {'attr': {'class': ''}}) }}
					</div>
                    <small class="form-text text-muted">
                        Ide írj be bármilyen megjegyzést. Pl: miért vagy mit módosítottál utólag ezen a boltzáráson.
                    </small>

				</div>

                {# Render CSRF token etc .#}
				<div style="display:none">
                    {{ form_rest(form) }}
				</div>

                <input type="submit" value="Adatok mentése" class="btn btn-lgg btn-success" formnovalidate>
                {#<button type="submit" class="btn btn-lgg btn-success" formnovalidate><i class="fas fa-save mr-1"></i> Adatok mentése</button>#}
                <a href="{{ path('boltzaras_list') }}" class="btn btn-outline-secondary">Mégse</a>

			</div>
		</div>


		{{ form_end(form) }}