{% extends 'admin/base_admin.html.twig' %}


{% block title %}
	Előző boltzárások
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
{% endblock %}


{% block page_content %}
		
	{% block LISTA %}
		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
			<div class="col-sm-4 text-left">
				<h2>Boltzárás jelentések</h2>
			</div>
			<div class="col-sm-8 text-right">
				<a href="{{ path('boltzaras_new') }}" class="btn btn-success">Új jelentés</a>
			</div>
		</div>

		{% block AZUZENET %}
		{% for msg in app.session.flashBag.get('livSuccess') %}
			<div class="alert alert-success" role="alert">	{{ msg }} </div>
		{% endfor %}
		{% endblock %}

		<div class="table-responsive">
			<table class="table table-striped table-sm table-hover">
			  <caption>Eddigi boltzárás jelentések | <a href="{{ path('boltzaras_list_all') }}" class="">Mutasd mindet</a> (El fog tartani egy ideig!)</caption>
			  <thead>
				<tr>
                    <th scope="col">Dátum</th>
                    <th scope="col">Kassza</th>
				    <th scope="col">Bankkártya</th>
				    <th scope="col">Készpénz</th>
				    <th scope="col">Munkatárs</th>
				    <th scope="col">Összbevétel</th>
				    <th scope="col">ID</th>
				    <th scope="col"><i class="fas fa-ellipsis-h"></i></th>
                    <th scope="col">Módosítás időpontja</th>
				  </tr>
			  </thead>
			  <tbody>
				{% if jelentesek is defined %}
				{% for jelentes in jelentesek %}
				<tr>
                    <td class="align-middle">{{ jelentes.idopont|date('Y. M d. ')}}</th>
				    <td class="align-middle text-right">{{ jelentes.kassza|number_format(0, ',', ' ') }}</td>
				    <td class="align-middle text-right">{{ jelentes.bankkartya|number_format(0, ',', ' ') }}</td>
				    <td class="align-middle text-right">{{ jelentes.keszpenz|number_format(0, ',', ' ') }}</td>
				    <td>{{ jelentes.munkatars }}</td>
				    <td class="align-middle text-right "><em>{{ (jelentes.bankkartya + jelentes.keszpenz)|number_format(0, ',', ' ') }}</em></td>
  				    <td class="align-middle">{{ jelentes.id }}</td>
				    <td>
				  	    <a href="{{ path('boltzaras_show', {'id': jelentes.id}) }}" class="btn-sm">
				  		    <i class="fas fa-eye"></i></a>
				  	    <a href="{{ path('boltzaras_edit', {'id': jelentes.id}) }}" class="btn-sm">
				  		    <i class="fas fa-edit"></i></a>
				  	</td>
                    <td class="align-middle">{{ jelentes.modositasIdopontja|date('Y. M d. \\| H:i')}}</td>
				</tr>
				{% endfor %}
				{% elseif jelentes is defined %}
                    <tr>
                        <td class="align-middle">{{ jelentes.idopont|date('Y. M d. ')}}</th>
                        <td class="align-middle text-right">{{ jelentes.kassza|number_format(0, ',', ' ') }}</td>
                        <td class="align-middle text-right">{{ jelentes.bankkartya|number_format(0, ',', ' ') }}</td>
                        <td class="align-middle text-right">{{ jelentes.keszpenz|number_format(0, ',', ' ') }}</td>
                        <td>{{ jelentes.munkatars }}</td>
                        <td class="align-middle text-right "><em>{{ (jelentes.bankkartya + jelentes.keszpenz)|number_format(0, ',', ' ') }}</em></td>
                        <td class="align-middle">{{ jelentes.id }}</td>
                        <td>
                            <a href="{{ path('boltzaras_show', {'id': jelentes.id}) }}" class="btn-sm">
                                <i class="fas fa-eye"></i></a>
                            <a href="{{ path('boltzaras_edit', {'id': jelentes.id}) }}" class="btn-sm">
                                <i class="fas fa-edit"></i></a>
                        </td>
                        <td class="align-middle">{{ jelentes.modositasIdopontja|date('Y. M d. \\| H:i')}}</td>
                    </tr>
				{% else %}
				<tr>
			        <li><em>nincs user found</em></li>
			    </tr>
				{% endif %}
			  </tbody>
			</table>
		</div>
		<div class="pagerfanta">
                {% if paginator is defined %}
					{{ pagerfanta(paginator, 'twitter_bootstrap4') }}
                {% endif %}
		</div>

	</div>
	{% endblock %}
{% endblock %}





{% block javascripts %}
    {{ parent() }}
{% endblock %}
        

