{% import _self as myOwnMacro %}

{% macro firstname(item) %}
    <div class="form-group col-md-6">
        <label for="{{ item.firstname.vars.full_name }}" class="form-label">{{ 'registration.firstname'|trans }}</label>
        {{ form_widget(item.firstname, {'attr': {'class': ''}}) }}
        {{ form_errors(item.firstname) }}
    </div>
{% endmacro %}

{% macro lastname(item) %}
    <div class="form-group col-md-6">
        <label for="{{ item.lastname.vars.full_name }}" class="form-label">{{ 'registration.lastname'|trans }}</label>
        {{ form_widget(item.lastname, {'attr': {'class': ''}}) }}
        {{ form_errors(item.lastname) }}
    </div>
{% endmacro %}

{{ form_start(registrationForm, { 'attr': {'class': '' }}) }}
<div class="form-row">
    <div class="col-lg-12 mb-4">
        <h3 class="font-weight-normal">{{ 'registration.create-account-title'|trans }}</h3>
    </div>
    <div class="form-group col-lg-12">
        <label for="{{ registrationForm.email.vars.full_name }}" class="form-label">{{ 'registration.email-address'|trans }}</label>
        {{ form_widget(registrationForm.email, {'attr': {'class': ''}}) }}
        {{ form_errors(registrationForm.email) }}
    </div>
    {% if app.request.locale == 'hu' %}
        {{ myOwnMacro.lastname(registrationForm) }}
        {{ myOwnMacro.firstname(registrationForm) }}
    {% endif %}
    {% if app.request.locale == 'en' %}
        {{ myOwnMacro.firstname(registrationForm) }}
        {{ myOwnMacro.lastname(registrationForm) }}
    {% endif %}
    <div class="form-group col-lg-12">
        <label for="{{ registrationForm.password.vars.full_name }}" class="form-label">{{ 'registration.password'|trans }}</label>
        <div class="input-group">
            {{ form_widget(registrationForm.password, {'attr': {'class': 'border-right-0X'}}) }}
            {#<div class="input-group-append">#}
                {#<span class="input-group-text bg-white text-gray-500"><i class="fas fa-eye"></i></span>#}
            {#</div>#}
        </div>
        {{ form_errors(registrationForm.password) }}
    </div>
    {#<div class="form-group col-lg-12">#}
        {#<label for="{{ registrationForm.username.vars.full_name }}" class="form-label">{{ registrationForm.username.vars.label }} {% if registrationForm.username.vars.required == true %} <span class='text-danger'>*</span> {% endif %} <span class="detail-option-heading font-weight-bold"><span class="text-muted ml-1">(Nem kötelező)</span></span></label>#}
        {#{{ form_widget(registrationForm.username, {'attr': {'class': ''}}) }}#}
        {#{{ form_errors(registrationForm.username) }}#}
    {#</div>#}
    <div class="form-group col-lg-12">
        <div class="custom-control custom-checkbox mb-2 text-muted">
            <input id="{{ registrationForm.optin.vars.id }}" type="checkbox" name="{{ registrationForm.optin.vars.full_name }}" class="custom-control-input" {{ registrationForm.optin.vars.checked == true ? 'checked=\"checked\"' : '' }}>
            <label for="{{ registrationForm.optin.vars.id }}" class="custom-control-label align-middle">{{ 'registration.newsletter-sign-up'|trans }}</label>
            {{ form_errors(registrationForm.optin) }}
            {% do registrationForm.optin.setRendered() %}
        </div>
        <div class="custom-control custom-checkbox text-muted">
            <input id="{{ registrationForm.terms.vars.id }}" type="checkbox" name="{{ registrationForm.terms.vars.full_name }}" class="custom-control-input" {{ registrationForm.terms.vars.checked == true ? 'checked=\"checked\"' : '' }}>
            <label for="{{ registrationForm.terms.vars.id }}" class="custom-control-label align-middle">{{ 'registration.accept-terms-and-conditions'|trans }}</label>
            {{ form_errors(registrationForm.terms) }}
            {% do registrationForm.terms.setRendered() %}
        </div>
    </div>

    <div class="col-lg-12 mt-2 text-center mb-1">
        <button type="submit" value="Regisztrálok" class="btn btn-primary px-5" formnovalidate>{{ 'registration.register-button'|trans }}</button>
    </div>

    {# Render CSRF token etc .#}
    <div style="display:none">
        {{ form_rest(registrationForm) }}
    </div>
</div>
{{ form_end(registrationForm) }}
