{{ form_start(registrationForm, { 'attr': {'class': '' }}) }}
<div class="form-row">
    <div class="col-lg-12 mb-4">
        <h4 class="font-weight-normal mb-0">Fiók létrehozása</h4>
        <span class="text-muted-extra text-xs">* Kötelező mezők</span>
    </div>
    {#<div class="col-lg-12 text-muted mb-5">#}
        {#Regisztrálj, hogy gyorsabb és kényelmesebb legyen a vásárlás élménye. Regisztrált felhasználóként tudni fogod követni rendelésed állapotát, címzetteket kezelni.#}
    {#</div>#}

    <div class="form-group col-lg-12">
        <label for="{{ registrationForm.email.vars.full_name }}" class="form-label">{{ registrationForm.email.vars.label }}
            {#{% if registrationForm.email.vars.required == true %} <span class='text-danger'>*</span> {% endif %}#}
        </label>
        {{ form_widget(registrationForm.email, {'attr': {'class': ''}}) }}
        {{ form_errors(registrationForm.email) }}
    </div>
    {#<div class="col-lg-12">#}
    {#<div class="form-row">#}
        <div class="form-group col-lg-6">
            <label for="{{ registrationForm.lastname.vars.full_name }}" class="form-label">{{ registrationForm.lastname.vars.label }}
                {#{% if registrationForm.lastname.vars.required == true %} <span class='text-danger'>*</span> {% endif %}#}
            </label>
            {{ form_widget(registrationForm.lastname, {'attr': {'class': ''}}) }}
            {{ form_errors(registrationForm.lastname) }}
        </div>
        <div class="form-group col-lg-6">
            <label for="{{ registrationForm.firstname.vars.full_name }}" class="form-label">{{ registrationForm.firstname.vars.label }}
                {#{% if registrationForm.firstname.vars.required == true %} <span class='text-danger'>*</span> {% endif %}#}
            </label>
            {{ form_widget(registrationForm.firstname, {'attr': {'class': ''}}) }}
            {{ form_errors(registrationForm.firstname) }}
        </div>
    {#</div>#}
    {#</div>#}
    <div class="form-group col-lg-12">
        <label for="{{ registrationForm.password.vars.full_name }}" class="form-label">{{ registrationForm.password.vars.label }}
            {#{% if registrationForm.password.vars.required == true %} <span class='text-danger'>*</span> {% endif %}#}
        </label>
        <div class="input-group">
            {{ form_widget(registrationForm.password, {'attr': {'class': 'border-right-0X'}}) }}
            {#<div class="input-group-append">#}
                {#<span class="input-group-text bg-white text-gray-500"><i class="fas fa-eye"></i></span>#}
            {#</div>#}
        </div>
        {{ form_errors(registrationForm.password) }}
    </div>
    {#<div class="form-group col-lg-12">#}
        {#<label for="{{ registrationForm.username.vars.full_name }}" class="form-label">{{ registrationForm.username.vars.label }} {% if registrationForm.username.vars.required == true %} <span class='text-danger'>*</span> {% endif %} <span class="detail-option-heading font-weight-bold"><span class="text-muted ml-1">(Nem kötelező)</span></span></label>#}
        {#{{ form_widget(registrationForm.username, {'attr': {'class': ''}}) }}#}
        {#{{ form_errors(registrationForm.username) }}#}
    {#</div>#}
    <div class="form-group col-lg-12">
        <div class="custom-control custom-checkbox mb-2 text-sm text-muted">
            <input id="{{ registrationForm.optin.vars.id }}" type="checkbox" name="{{ registrationForm.optin.vars.full_name }}" class="custom-control-input" {{ registrationForm.optin.vars.checked == true ? 'checked=\"checked\"' : '' }}>
            <label for="{{ registrationForm.optin.vars.id }}" class="custom-control-label align-middle">{{  registrationForm.optin.vars.label }}</label>
            {{ form_errors(registrationForm.optin) }}
            {% do registrationForm.optin.setRendered() %}
        </div>
        <div class="custom-control custom-checkbox text-sm text-muted">
            <input id="{{ registrationForm.terms.vars.id }}" type="checkbox" name="{{ registrationForm.terms.vars.full_name }}" class="custom-control-input" {{ registrationForm.terms.vars.checked == true ? 'checked=\"checked\"' : '' }}>
            <label for="{{ registrationForm.terms.vars.id }}" class="custom-control-label align-middle">{{  registrationForm.terms.vars.label }}</label>
            {{ form_errors(registrationForm.terms) }}
            {% do registrationForm.terms.setRendered() %}
        </div>
    </div>

    <div class="col-lg-12 mt-2 text-center mb-1">
        <button type="submit" value="Regisztrálok" class="btn btn-primary" formnovalidate>Regisztrálok</button>
    </div>

    {# Render CSRF token etc .#}
    <div style="display:none">
        {{ form_rest(registrationForm) }}
    </div>
</div>
{{ form_end(registrationForm) }}
