{% if app.request.locale == 'en' %}
    {% set myLocale = 'gb' %}
{% else %}
    {% set myLocale = app.request.locale %}
{% endif %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <title>{% block title %}{% if pageTitle is defined and pageTitle is not empty %}{{ pageTitle }} | {% endif %} {{ storeSettings.get('meta.name') }}{% endblock %}</title>

    {% block stylesheets %}
{#        <!-- 48×48 -->#}
        <link rel="shortcut icon" href="{{ storeFavicon }}" type="image/png">
        {#        <link rel="icon" href="{{ asset('webshop/site/favicon/icon.svg')}}" type="image/svg+xml">#}
{#        <!-- 180×180 -->#}
        <link rel="apple-touch-icon" href="{{ storeSettings.get('store.apple-touch-icon') }}">
        <link rel="manifest" href="{{ asset('webshop/site/favicon/manifest.webmanifest')}}">

        <style>
            {% include 'webshop/_css/fonts.html.twig' %}

            :root {
                --blue: #9cdbf1;
                --blue-lighten: #ebf6fd;
                --blue-dark: #0070be;
                --indigo: #6610f2;
                --purple: #876ebd;
                --purple-lighten: #d1bff8;
                --pink: #e83e8c;
                --red: #dc3545;
                --red-lighten: #ffc8c9;
                --orange: #fd7e14;
                --yellow: #fff0ca;
                --yellow-lighten: #f4eddd;
                --green: #41aa9e;
                --green-lighten: #bbe5b3;
                --teal: #20c997;
                --cyan: #469ab9;
                --white: #fff;
                --peach: #ffedee;
                --purple-gray: #5b6377;
                --purple-gray-dark: #404756;
                --gray-eee: #eee;
                --gray: #6d7175;
                --gray-dark: #343a40;
                --body-color: #121519;
                --primary: #3c3c3c;
                --secondary: #eee;
                --success: #41aa9e;
                --info: #876ebd;
                --warning: #fff0ca;
                --danger: #dc3545;
                --light: #e1e5e9;
                --dark: #343a40;
                --breakpoint-xs: 0;
                --breakpoint-sm: 576px;
                --breakpoint-md: 768px;
                --breakpoint-lg: 992px;
                --breakpoint-xl: 1200px;
                --breakpoint-xxl: 1360px;
                --font-family-sans-serif: "HK Grotesk", Roboto, Arial, sans-serif;
                --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
            }
            *,
            :after,
            :before {
                box-sizing: border-box;
            }
            html {
                font-family: sans-serif;
                line-height: 1.15;
                -webkit-text-size-adjust: 100%;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            }
            article,
            aside,
            figcaption,
            figure,
            footer,
            header,
            hgroup,
            main,
            nav,
            section {
                display: block;
            }
            body {
                margin: 0;
                font-family: HK Grotesk, Roboto, Arial, sans-serif;
                font-display: auto;
                font-size: 0.9375rem;
                font-weight: 400;
                line-height: 1.35;
                color: #121519;
                text-align: left;
                background-color: #fff;
            }
        </style>
        <style>
            @media (max-width: 767.98px) {
                .col-form-label,
                .dropdown-menu,
                .h5,
                .h6,
                .list-group-item,
                body,
                h5,
                h6 {
                    font-size: 1rem;
                    line-height: 1.4;
                }
                .collapse-arrow-show:after,
                .svg-icon:not(.svg-icon-md):not(.svg-icon-lg) {
                    --font-size: 1rem;
                    --line-height: 1.4rem;
                }
                .btn,
                .form-control,
                .input-float .form-control {
                    font-size: 1rem;
                    line-height: 1.4;
                }
                .form-control {
                    height: calc(1.4em + 1rem + 2px);
                }
                .btn {
                    padding-left: 0.75rem !important;
                    padding-right: 0.75rem !important;
                }
                .btn-sm,
                .checkout-summary,
                .progress--bar,
                .text-sm,
                small {
                    font-size: 0.875rem;
                    line-height: 1.25;
                }
                .form-control-sm {
                    height: calc(1.2em + 0.75rem + 2px);
                }
            }
            @media (max-width: 767.98px) {
                .container {
                    padding-right: 1rem;
                    padding-left: 1rem;
                }
                .row {
                    margin-right: -1rem;
                    margin-left: -1rem;
                }
                .row > .col,
                .row > [class*="col-"] {
                    padding-right: 1rem;
                    padding-left: 1rem;
                }
                .row-narrow {
                    margin-right: -0.5rem;
                    margin-left: -0.5rem;
                }
                .row-narrow > .col,
                .row-narrow > [class*="col-"] {
                    padding-right: 0.5rem;
                    padding-left: 0.5rem;
                }
            }
        </style>

        {{ encore_entry_link_tags('store-theme') }}

{#      <!-- Media type (print) doesn't match the current environment, so browser decides it's not that important#}
{#      and loads the stylesheet asynchronously (without delaying page rendering). On load, we change media type#}
{#      so that the stylesheet gets applied to screens. -->#}
        <link rel="stylesheet" href="{{ asset('build/store-plugins.css') }}" media="print" onload="this.media='all'">
{#    <!-- Fallback that only gets inserted when JavaScript is disabled, in which case we can't load CSS asynchronously. -->#}
        <noscript><link rel="stylesheet" href="{{ asset('build/store-plugins.css') }}" media="all" type="text/css"></noscript>

{#        JS scripts with defer                 #}
        {{ encore_entry_script_tags('store-app') }}
    {% endblock %}

    {% block trackingCodes %}
    {% include 'webshop/widgets/tracking-codes.html.twig' %}
    {% endblock %}

    <style>
{#        {% include 'webshop/_css/css.html.twig' %}#}


    </style>
</head>

<body class="{% block bodyClass %}{% endblock %}">

{#<div data-controller="counter">#}
{#    <button class="btn btn-primary btn-sm" data-action="counter#incrementCounter">#}
{#        Click me!#}
{#    </button>#}
{#    <div>#}
{#        I have been clicked#}
{#        <span data-counter-target="count">0</span>#}
{#        times!#}
{#    </div>#}
{#</div>#}

{% block body %}
    {% block trackingCodesBody %}
        {% include 'webshop/widgets/tracking-codes-body.html.twig' %}
    {% endblock %}

{% endblock %}


{% block javascripts %}
    <script async>
        // ------------------------------------------------------- //
        //   Inject SVG Sprite -
        //   see more here
        //   https://css-tricks.com/ajaxing-svg-sprite/
        // ------------------------------------------------------ //
        function injectSvgSprite(path) {

            var ajax = new XMLHttpRequest();
            ajax.open("GET", path, true);
            ajax.send();
            ajax.onload = function(e) {
                var div = document.createElement("div");
                div.className = 'd-none';
                div.innerHTML = ajax.responseText;
                document.body.insertBefore(div, document.body.childNodes[0]);
            }
        }
        injectSvgSprite('{{ asset('webshop/site/icons-sprite.svg') }}');
    </script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="{{ asset('webshop/lodash.core.min.js') }}"></script>
    <script src="{{ asset('webshop/validate.min.js') }}"></script>

    {% include 'webshop/widgets/store-localization-js.html.twig' %}
    {% include 'webshop/widgets/store-settings-js.html.twig' %}


    <script src="{{ asset('webshop/site/js/moment.min.js') }}"></script>
    <script src="{{ asset('webshop/site/js/daterangepicker.min.js') }}"></script>
    {{ encore_entry_script_tags('store') }}
{% endblock %}
</body>
</html>
