{% extends 'webshop/site/base.html.twig' %}

{% block title %}
    {% if pageTitle is defined and pageTitle is not empty %}
    {{ pageTitle }} |
    {% endif %} {{ settings_general.get('meta.name') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    {{ render(controller('App\\Controller\\Shop\\CartUtilsController::showSidebarCart')) }}
    <div class="sidebar sidebar-left sidebar-sm mobileMenu fade" id="sidebar--mobileMenu" tabindex="-1" role="dialog" data-backdrop-css="mobileMenu-backdrop" aria-labelledby="mobileMenuLabel" aria-hidden="true">
        <div class="sidebar-dialog sidebar-dialog-scrollable sidebar-dialog-centered" role="document">
            <div class="sidebar-content">
                <div class="sidebar-header p-2X">
{#                    <h3 class="sidebar-title" id="mobileMenuLabel">Rendelés: <span class="font-weight-bold">#21043523</span></h4>#}
                        <button type="button" class="close modal-close" data-dismiss="sidebar" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="sidebar-body sidebar-header-noneX p-0">
                    <ul class="navbar-nav mx-auto px-3 px-lg-0 flex-grow-1X justify-content-center">
                        {% include 'webshop/site/navbar-menu-items.html.twig' %}
                        <li class="nav-item dropdown">
                            <a href="#" id="langsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Nyelvek</a>
                            <div aria-labelledby="langsDropdown" class="dropdown-menu dropdown-menu-right">
                                {% include 'webshop/site/navbar-language-dropdown.html.twig' %}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

	<header class="header">
        {{ include('webshop/site/navbar-impersonate-user.html.twig') }}
		<div class="top-bar text-sm d-none d-lg-block">
			<div class="container-fluid">
				<div class="row d-flex align-items-center">
					<div class="col-sm-12 text-center">
						<ul class="list-inline mb-0">
							{#<li class="list-inline-item pr-3 mr-0">#}
								{#<svg class="svg-icon mr-2">#}
									{#<use xlink:href="#calls-1"> </use>#}
								{#</svg>06 1 466 6286#}
							{#</li>#}
							<li class="list-inline-item px-3 border-leftX d-none d-lg-inline-block">Ingyenes szállítás Budapesten!
								<a class="..." href="{{ path ('site-page-show', { 'slug': 'szallitasi-dijak'}) }}">Bővebben itt</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

        {% block navbar %}
		<nav class="navbar px-0 navbar-expand-lg navbar-stickyX navbar-dark navbar-stulipan flex-column">
			<div class="container h-100">
                <div class="d-flex justify-content-between align-items-center w-100 h-100 px-2 px-lg-0 py-0 py-lg-2">
                        <!-- Navbar Ted -->
                        <div class="navbar--ted d-none d-md-flex justify-content-md-center mr-md-3 order-md-3 order-2">
                            <div class="nav-item login-cart-link">
                                <svg class="svg-icon">
                                    <use xlink:href="#calls-1"> </use>
                                </svg>
                                <span class="login-cart-text d-lg-inline ml-1">{{ settings_general.get('store.phone')}}</span>
                            </div>
                        </div>

                        <a href="#" role="button" data-toggle="sidebar" data-target="#sidebar--mobileMenu" class="navbar-toggler navbar-toggler-right d-lg-none text-left order-lg-10 order-1 mr-2"><i class="fas fa-bars"></i></a>

                        <!-- Navbar Logo -->
                        <div class="navbar--logo d-flex justify-content-md-start flex-grow-1 order-md-2 order-3 ml-2X ml-md-0">
                            <a href="{{ path('homepage') }}" class="navbar-brand order-lg-1 order-2">
                                <span class="h3 font-weight-bold text-uppercase text-info">tulipan<span class="text-danger">.</span>futar  </span>
                            </a>
                        </div>

                        <!-- Navbar Login Cart -->
                        <div class="navbar-custom justify-content-end pl-0 order-md-4 order-4">
                            <ul class="navbar-nav mb-0 flex-row">

                                <li class="nav-item dropdown h-100 pr-3 border-right d-none d-md-flex">
                                    <a id="langsDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle login-cart-link">
                                        <img src="{{ asset('/webshop/site/flags/4x3/' ~ myLocale ~'.svg') }}" alt="magyar" class="topbar-flag topbar-flag-selected">
                                    </a>
                                    <div aria-labelledby="langsDropdown" class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left dropdown--flownX mt-0">
                                        {% include 'webshop/site/navbar-language-dropdown.html.twig' %}
                                    </div>
                                </li>

                                <li class="nav-item pl-0 pl-md-2">
                                    <div class="login-cart-link">
                                        <svg class="svg-icon">
                                            <use xlink:href="#search-1"> </use>
                                        </svg>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    {% if not is_granted('ROLE_USER') %}
                                        <a href="{{ path('site-login') }}" class="dropdown-toggle login-cart-link">
                                            <svg class="svg-icon">
                                                <use xlink:href="#male-user-1"> </use>
                                            </svg>
                                            <span class="login-cart-text d-none d-lg-inline ml-1 ml-lg-2 ">{{ 'navbar.login'|trans }}</span>
                                        </a>
                                    {% endif %}
                                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                        <a href="#" id="myaccountDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle login-cart-link">
                                            <svg class="svg-icon">
                                                <use xlink:href="#male-user-1"> </use>
                                            </svg>
                                            <span class="login-cart-text d-none d-lg-inline ml-1 ml-lg-2">{{ 'navbar.my-account'|trans }}</span>
                                        </a>
                                        <div aria-labelledby="myaccountDropdown" class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left dropdown--flownX mt-0">
                                            {#                                        <div class="dropdown--flown-b1">#}
                                            {#                                            <div class="dropdown--flown-b2">#}
                                            <span class="dropdown-item text-dark disabled font-weight-bold border-bottom">{{ 'account.welcome'|trans({'{{ user }}': app.user.firstname}) }}</span>
                                            <a href="{{ path('site-user-myAccount') }}" class="dropdown-item">
                                                <svg class="svg-icon svg-icon-heavy">
                                                    <use xlink:href="#male-user-1"> </use>
                                                </svg>
                                                {{ 'account.my-account'|trans }}</a>
                                            <a href="{{ path('site-user-myOrders') }}" class="dropdown-item">
                                                <svg class="svg-icon svg-icon-heavy"><use xlink:href="#retail-bag-2"></use></svg> {{ 'account.my-orders'|trans }}</a>
                                            <a href="{{ path('logout') }}" class="dropdown-item">
                                                <svg class="svg-icon svg-icon-heavy"><use xlink:href="#exit-1"></use></svg>
                                                {{ 'account.logout'|trans }}</a>
                                            {#                                            </div>#}
                                            {#                                        </div>#}
                                        </div>
                                    {% endif %}
                                </li>
                                <li class="nav-item">
                                    {{ render(controller('App\\Controller\\Shop\\CartUtilsController::cartDetailsDropdown')) }}
                                </li>
                            </ul>

                        </div>

                </div>
			</div>

            <div id="navbarCollapse" class="collapse navbar-collapse w-100 bg-menu order-lg-2 order-1">
                <div class="container">
                    <div class="">
                        <ul class="navbar-nav mx-auto px-3 px-lg-0 justify-content-center">
                            {% include 'webshop/site/navbar-menu-items.html.twig' %}
                        </ul>
                    </div>
                </div>
            </div>
		</nav>
        {% endblock %}
        {% block underNavbar %}
        <div class="announcement-bar announcement-bar-warning-lighten">
            <div class="container">
                <div class="">Minden virágtermék árát csökkentettük. <a href="" class="">Klikk ide!</a></div>
            </div>
        </div>
        {% endblock %}
    </header>

    <main>
        <div class="content-page">
            <div class="content">
                {% block page_content %}
                {% endblock %}
            </div>
        </div>
    </main>

    {% block page_footer %}
    {% endblock %}

    {% block footerHighlights %}
        <div class="bg-secondary py-4 py-md-5">
            <div class="container">
                <div class="row miert-dobozok">
                    <div class="col-sm-11 col-xl-12 mx-auto">
                        <div class="row">
                            <div class="col-lg-3 col-sm-6 text-center px-lg-5 mb-5 mb-lg-0">
                                <div class="d-flex flex-row flex-sm-column align-items-start align-items-sm-center">
                                    <div class="service-icon">
                                        <img src="{{  asset('uploads/images/icons/legnepszerubb-2.png') }}">
                                    </div>
                                    <div class="service-text">
                                        <h6 class="">A legnépszerűbb virágfutár</h6>
                                        <p class="font-weight-light text-sm">Budapesten és környékén. A Difiori kevesebb csupán 4 év alatt a legnépszerűbb virágfutárrá nőtte ki magát. Válassz te is minket!
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-sm-6 text-center px-lg-5 mb-5 mb-lg-0">
                                <div class="d-flex flex-row flex-sm-column align-items-start align-items-sm-center">
                                    <div class="service-icon">
                                        <img src="{{  asset('uploads/images/icons/futar-kezbesites-1.png') }}">
                                    </div>
                                    <div class="service-text">
                                        <h6 class="">Házhozszállítás akár aznap</h6>
                                        <p class="font-weight-light text-sm">A gyors kézbesítést saját futárokkal biztosítjuk, választható időpontban. A szállítási módokról és díjakról <a class="text-underlineX" href="{{ path ('site-page-show', { 'slug': 'szallitasi-dijak'}) }}" title="Szállítási díjak">itt tudsz bővebben olvasni</a>.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-sm-6 text-center px-lg-5 mb-5 mb-lg-0">
                                <div class="d-flex flex-row flex-sm-column align-items-start align-items-sm-center">
                                    <div class="service-icon">
                                        <img src="{{  asset('uploads/images/icons/kockazat-nelkul-1.png') }}">
                                    </div>
                                    <div class="service-text">
                                        <h6 class="">Virágküldés kockázat nélkül!</h6>
                                        <p class="font-weight-light text-sm">Fizess online kényelmesen és biztonságosan bankkártyáddal. A bankkártyás fizetést a CIB Bank biztosítja.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-sm-6 text-center px-lg-5 mb-5 mb-lg-0">
                                <div class="d-flex flex-row flex-sm-column align-items-start align-items-sm-center">
                                    <div class="service-icon">
                                        <img src="{{  asset('uploads/images/icons/vasarloi-elegedetseg-1.png') }}">
                                    </div>
                                    <div class="service-text">
                                        <h6 class="">Magas vásárlói elégedettség</h6>
                                        <p class="font-weight-light text-sm">A virágküldés folyamata alatt, a beszerzéstől a kézbesítésig rendkívüli figyelmet szentelünk annak, hogy virágaink mindig frissek és szépek maradjanak.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
	<footer class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-11 col-xl-12 mx-auto">
                    <div class="footer-body">
                        <div class="row text-center text-sm-left">
                            <div class="col-sm-6 col-md-4 col-lg-3 mb-3 mb-lg-0">
                                <h6 class="text-uppercase  mb-2">Elérhetőségek</h6>
                                <p>{{ settings_general.get('company.zip') }} {{ settings_general.get('company.city') }}, {{ settings_general.get('company.address') }}</p>
                                <ul class="list-inline">
                                    {% if settings_general.get('social.facebook') and settings_general.get('social.facebook') is not null %}
                                    <li class="list-inline-item"><a href="{{ settings_general.get('social.facebook') }}" target="_blank" title="facebook" class="h3"><i class="fab fa-facebook"></i></a></li>
                                    {% endif %}
                                    {% if settings_general.get('social.instagram') and settings_general.get('social.instagram') is not null %}
                                    <li class="list-inline-item"><a href="{{ settings_general.get('social.instagram') }}" target="_blank" title="instagram" class="h3"><i class="fab fa-instagram"></i></a></li>
                                    {% endif %}
                                    {% if settings_general.get('social.pinterest') and settings_general.get('social.pinterest') is not null %}
                                    <li class="list-inline-item"><a href="{{ settings_general.get('social.pinterest') }}" target="_blank" title="pinterest" class="h3"><i class="fab fa-pinterest"></i></a></li>
                                    {% endif %}
                                    {% if settings_general.get('social.twitter') and settings_general.get('social.twitter') is not null %}
                                    <li class="list-inline-item"><a href="{{ settings_general.get('social.twitter') }}" target="_blank" title="vimeo" class="h3"><i class="fab fa-twitter"></i></a></li>
                                    {% endif %}
                                    {% if settings_general.get('social.youtube') and settings_general.get('social.youtube') is not null %}
                                    <li class="list-inline-item"><a href="{{ settings_general.get('social.youtube') }}" target="_blank" title="vimeo" class="h3"><i class="fab fa-youtube"></i></a></li>
                                    {% endif %}
                                </ul>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 mb-3 mb-lg-0">
                                <h6 class="text-uppercase  mb-2">Virágküldés</h6>
                                <ul class="list-unstyled">
                                    <li> <a href="/termekek/csokrok" class="" title="Virágcsokrok">Csokrok</a></li>
                                    <li> <a href="/termekek/viragdobozok" class="" title="Virágboxok">Virágdobozok</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 mb-3 mb-lg-0">
                                <h6 class="text-uppercase  mb-2">Információk</h6>
                                <ul class="list-unstyled">
                                    <li> <a href="{{ path ('site-page-show', { 'slug': 'rolunk'}) }}" class="">Rólunk</a></li>
                                    <li> <a href="{{ path ('site-page-show', { 'slug': 'szallitasi-dijak'}) }}" class="">Szállítási díjak</a></li>
                                    <li> <a href="{{ path ('site-page-show', { 'slug': 'aszf'}) }}" class="">ÁSZF</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-6 col-md-12 col-lg-3">
                                <h6 class="text-uppercase  mb-2">Daily Offers &amp; Discounts</h6>
                                <p class="mb-3"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. At itaque temporibus.</p>
                                <form action="#" id="newsletter-form">
                                    <div class="input-group">
                                        <input type="email" placeholder="Your Email Address" aria-label="Your Email Address" class="form-control bg-transparent border-secondary border-right-0">
                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-outline-secondary border-left-0"> <i class="fa fa-paper-plane text-lg "></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
		<div class="footer-body footer-nav-copyright">
			<div class="container">
                <div class="row">
                    <div class="col-sm-11 col-xl-12 mx-auto">
                        <div class="row">
                            <div class="col-md-8 text-center text-sm-left">
                                <p class="mb-md-0">©2014 - {{ "now"|date('Y') }} {{ settings_general.get('store.url')}}. Virágküldés Budapesten és környékén, rózsadobozok, csokrok, esküvő, rendezvénydekoráció</p>
                            </div>
                            <div class="col-md-4">
                                <div class="mt-2 mt-md-0 text-center text-sm-left text-md-right">
                                    <div class=""><img src="{{  asset('uploads/images/icons/CIB_logo.png') }}" alt="..." class="w-50"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</footer>


{% endblock %}

{% block javascripts %}
	{{ parent() }}
    {{ encore_entry_script_tags('webshop') }}
    <script>
        $(document).ready(function () {
            $.fn.webshop();
            var limitFunc = function(){
                if (window.innerWidth>991.98){
                    $('#sidebar--mobileMenu').sidebar('hide');
                }
            };
            window.addEventListener("resize", limitFunc);
        });
    </script>
{% endblock %}