{% extends 'webshop/site/base.html.twig' %}

{% block title %}
    {% if pageTitle is defined and pageTitle is not empty %}
    {{ pageTitle }} |
    {% endif %} {{ settings.get('meta.name') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    {{ render(controller('App\\Controller\\Shop\\CartUtilsController::cartSliderSidebar')) }}

    <div class="body__fade"></div>
	<header class="header">
        {{ include('webshop/site/navbar-impersonate-user.html.twig') }}
		<!-- Top Bar-->
		<div class="top-bar text-sm d-none d-lg-block">
			<div class="container-fluid">
				<div class="row d-flex align-items-center">
					<div class="col-sm-12 text-center">
						<ul class="list-inline mb-0">
							{#<li class="list-inline-item pr-3 mr-0">#}
								{#<svg class="svg-icon mr-2">#}
									{#<use xlink:href="#calls-1"> </use>#}
								{#</svg>06 1 466 6286#}
							{#</li>#}
							<li class="list-inline-item px-3 border-leftX d-none d-lg-inline-block">Ingyenes szállítás Budapesten!
								<a class="..." href="{{ path ('site-page-show', { 'slug': 'szallitasi-dijak'}) }}">Bővebben itt</a></li>
						</ul>
					</div>
{#					<div class="col-sm-5 d-flex justify-content-end">#}
						<!-- Language Dropdown-->
{#						<div class="dropdown border-right px-3"><a id="langsDropdown" href="https://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle topbar-link"><img src="https://d19m59y37dris4.cloudfront.net/sell/1-2-0/img/united-kingdom.svg" alt="english" class="topbar-flag">English</a>#}
{#							<div aria-labelledby="langsDropdown" class="dropdown-menu dropdown-menu-right"><a href="#" class="dropdown-item text-sm"><img src="https://d19m59y37dris4.cloudfront.net/sell/1-2-0/img/germany.svg" alt="german" class="topbar-flag">German</a><a href="#" class="dropdown-item text-sm"> <img src="https://d19m59y37dris4.cloudfront.net/sell/1-2-0/img/france.svg" alt="french" class="topbar-flag">French</a></div>#}
{#						</div>#}
						{#<!-- Currency Dropdown-->#}
						{#<div class="dropdown pl-3 ml-0">#}
                            {#<a id="currencyDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle topbar-link">USD</a>#}
							{#<div aria-labelledby="currencyDropdown" class="dropdown-menu dropdown-menu-right">#}
                                {#<a href="#" class="dropdown-item text-sm">EUR</a>#}
                                {#<a href="#" class="dropdown-item text-sm"> GBP</a>#}
                            {#</div>#}
						{#</div>#}
{#					</div>#}
				</div>
			</div>
		</div>
		<!-- Navbar-->
		<nav class="navbar navbar-expand-lg flex-lg-wrap navbar-stickyX navbar-darkX navbar--bg-white">
			<div class="container">
                <div class="w-100 d-flex justify-content-between align-items-center my-lg-2 mt-1">
                        <!-- Navbar Ted -->
                        <div class="col-md-3X col-lg-4X navbar--ted d-none d-md-flex justify-content-md-center mr-md-3 mt-1 mb-2 my-lg-0 order-md-3 order-2">
                            <div class="nav-item">
                                <svg class="svg-icon login-cart--color mr-1">
                                    <use xlink:href="#calls-1"> </use>
                                </svg>
                                <span class="login-cart--text d-lg-inline">{{ settings.get('store.phone')}}</span>
                            </div>
                        </div>

                        <!-- Navbar Logo -->
                        <div class="col-md-4X col-lg-4X navbar--logo d-flex justify-content-md-start flex-grow-1 order-md-2 order-3 ml-2X ml-md-0">
                            <a href="{{ path('homepage') }}" class="navbar-brand order-lg-1 order-2">
                                <span class="h3 font-weight-bold text-uppercase text-info">tulipan<span class="text-danger">.</span>futar  </span>
                            </a>
                        </div>

                        <!-- Navbar Login Cart -->
                        <div class="col-md-4X col-lg-4X navbar--login-cart d-flex justify-content-end mt-1 mb-1 my-lg-0 pl-0 order-md-4 order-4">
                            <!-- Language Selector -->
                            <div class="nav-item navbar-icon-link login-cart--color dropdown border-right px-3 d-none d-md-flex">
                                <a id="langsDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle topbar-link">
{#                                    {{ dump(app.request.locale) }}#}
                                    {% if app.request.locale == 'en' %}
                                        {% set myLocale = 'gb' %}
                                    {% else %}
                                        {% set myLocale = app.request.locale %}
                                    {% endif %}
                                    <img src="{{ asset('/webshop/site/flags/4x3/' ~ myLocale ~'.svg') }}" alt="magyar" class="topbar-flag topbar-flag-selected rounded-circleX">
                                </a>
                                <div aria-labelledby="langsDropdown" class="dropdown-menu dropdown-menu-right dropdown--flown mt-0">
                                    <div class="dropdown--flown-b1">
                                        <div class="dropdown--flown-b2">
{#                                            <a href="/hu" class="dropdown-item text-smX">#}
{#                                                <img src="{{ asset('/webshop/site/flags/4x3/hu.svg') }}" alt="magyar" class="topbar-flag">Magyar#}
{#                                            </a>#}
{#                                            <a href="/en" class="dropdown-item text-sXm">#}
{#                                                <img src="{{ asset('/webshop/site/flags/4x3/gb.svg') }}" alt="english" class="topbar-flag">English#}
{#                                            </a>#}
                                            {% include 'webshop/site/navbar-language-dropdown.html.twig' %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Search Button-->
                            <div data-toggle="search" class="nav-item navbar-icon-link">
                                <svg class="svg-icon login-cart--color">
                                    <use xlink:href="#search-1"> </use>
                                </svg>
                            </div>

                            <div class="nav-item">
                                {% if not is_granted('ROLE_USER') %}
                                    <a href="{{ path('site-login') }}" class="dropdown-toggle navbar-icon-link">
                                        <svg class="svg-icon login-cart--color">
                                            <use xlink:href="#male-user-1"> </use>
                                        </svg>
                                        <span class="login-cart--text d-none d-lg-inline ml-1 ml-lg-2 ">Bejelentkezés</span>
                                    </a>
                                {% endif %}
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    <a id="myaccountDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle navbar-icon-link">
                                        <svg class="svg-icon login-cart--color">
                                            <use xlink:href="#male-user-1"> </use>
                                        </svg>
                                        <span class="login-cart--text d-none d-lg-inline ml-1 ml-lg-2">Fiókom</span>
                                    </a>
                                    <div aria-labelledby="myaccountDropdown" class="dropdown-menu dropdown-menu-right dropdown--flown mt-0">
                                        <div class="dropdown--flown-b1">
                                            <div class="dropdown--flown-b2">
                                                <span class="dropdown-item text-dark disabled font-weight-bold border-bottom">Helló, {{ app.user.firstname }}</span>
                                                <a href="{{ path('site-user-myAccount') }}" class="dropdown-item">
                                                    <svg class="svg-icon svg-icon-heavy">
                                                        <use xlink:href="#male-user-1"> </use>
                                                    </svg>
                                                    Saját fiókom</a>
                                                <a href="{{ path('site-user-myOrders') }}" class="dropdown-item">
                                                    <svg class="svg-icon svg-icon-heavy"><use xlink:href="#retail-bag-2"></use></svg> Rendeléseim</a>
                                                <a href="{{ path('logout') }}" class="dropdown-item">
                                                    <svg class="svg-icon svg-icon-heavy"><use xlink:href="#exit-1"></use></svg>
                                                    Kijelentkezés</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>

                            <!-- Cart Dropdown-->
                            {{ render(controller('App\\Controller\\Shop\\CartUtilsController::cartDetailsDropdown')) }}
                            <!-- /Cart Dropdown-->
                        </div>
{#                        <button type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right d-lg-none text-left order-lg-10 order-1 mr-2"><i class="fas fa-bars"></i></button>#}
                        <button type="button" data-toggle="modal" data-target="#modal--mobileMenu" class="navbar-toggler navbar-toggler-right d-lg-none text-left order-lg-10 order-1 mr-2"><i class="fas fa-bars"></i></button>
                </div>

			</div>
            <div class="modal fade mobileMenu" id="modal--mobileMenu" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-slider modal-slider-left modal-dialog modal-dialog-scrollable" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-secondary p-2">
{#                            <h3 class="modal-title" id="modalLabel">Rendelés: <span class="text-infoX font-weight-bold">#21043523</span></h4>#}
                            <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
                                <svg class="svg-icon w-100 h-100 svg-icon-light align-middle">
                                    <use xlink:href="#close-1"> </use>
                                </svg>
                            </button>
                        </div>
                        <div class="modal-body modal-header-none p-0">
                            <ul class="navbar-nav mx-auto px-3 px-lg-0 flex-grow-1X justify-content-center">
                                {% include 'webshop/site/navbar-menu-items.html.twig' %}
                                <li class="nav-item dropdown">
                                    <a href="#" id="langsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Nyelvek</a>
                                    <div aria-labelledby="langsDropdown" class="dropdown-menu dropdown-menu-right">
                                        {% include 'webshop/site/navbar-language-dropdown.html.twig' %}
                                    </div>
                                </li>
                            </ul>



                        </div>
                    </div>
                </div>
            </div>
            <div id="navbarCollapse" class="collapse navbar-collapse bg-menu order-lg-2 order-1 py-2X">
                <div class="flex-grow-1">
                    <div class="container">
                        <ul class="navbar-nav mx-auto px-3 px-lg-0 flex-grow-1X justify-content-center">
                            {% include 'webshop/site/navbar-menu-items.html.twig' %}
                        </ul>
                    </div>
                </div>
            </div>

		</nav>
        <div class="info--underMenu info-lightenX warning-lighten d-noneX">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <span class="info--underMenu-text">Ünnepi árak! A Difiori 4 éves évfordulója alkalmából minden virágtermék árát csökkentettük. <a href="" class="">Klikk ide!</a></span>
                    </div>
                </div>
            </div>
        </div>
		<!-- /Navbar -->

		<!-- Fullscreen search area-->
		<div class="search-area-wrapper">
			<div class="search-area d-flex align-items-center justify-content-center">
				<div class="close-btn">
					<svg class="svg-icon svg-icon-light w-3rem h-3rem">
						<use xlink:href="#close-1"> </use>
					</svg>
				</div>
				<form action="#" class="search-area-form">
					<div class="form-group position-relative">
						<input type="search" name="search" id="search" placeholder="What are you looking for?" class="search-area-input">
						<button type="submit" class="search-area-button">
							<svg class="svg-icon">
								<use xlink:href="#search-1"> </use>
							</svg>
						</button>
					</div>
				</form>
			</div>
		</div>
		<!-- /Fullscreen search area-->

	</header>

    <main>
        <div class="content-page">
            <div class="content">
                {% block page_content %}
                {% endblock %}
            </div>
        </div>
    </main>

    {% block page_footer %}
    {% endblock %}
	<footer class="main-footer">
        {% block footerHighlights %}
		<div class="bg-custom-blueX py-6">
			<div class="container">
				<div class="miert-dobozok">
					<div class="row">
						<div class="col-md-3 col-sm-6 col-6 text-center px-md-5 mb-5 mb-md-0">
							<img class="center-block w-25 mb-4 service-icon" src="{{  asset('uploads/images/icons/legnepszerubb-2.png') }}">
							<h6 class="text-uppercase">A legnépszerűbb virágfutár</h6>

							<p class="font-weight-light text-sm">Budapesten és környékén. A Difiori kevesebb csupán 4 év alatt a legnépszerűbb virágfutárrá nőtte ki magát. Válassz te is minket!
							</p>
						</div>

						<div class="col-md-3 col-sm-6 col-6 text-center px-md-5 mb-5 mb-md-0">
							<img class="center-block w-25 mb-4 service-icon" src="{{  asset('uploads/images/icons/futar-kezbesites-1.png') }}">
							<h6 class="text-uppercase">Házhozszállítás akár aznap</h6>

							<p class="font-weight-light text-sm">A gyors kézbesítést saját futárokkal biztosítjuk, választható időpontban. A szállítási módokról és díjakról <a class="text-underlineX" href="{{ path('shipping_details') }}" title="Szállítási díjak">itt tudsz bővebben olvasni</a>.
							</p>
						</div>

						<div class="col-md-3 col-sm-6 col-6 text-center px-md-5 mb-5 mb-md-0">
							<img class="center-block w-25 mb-4 service-icon" src="{{  asset('uploads/images/icons/kockazat-nelkul-1.png') }}">
							<h6 class="text-uppercase">Virágküldés kockázat nélkül!</h6>

							<p class="font-weight-light text-sm">Fizess online kényelmesen és biztonságosan bankkártyáddal. A bankkártyás fizetést a CIB Bank biztosítja.
							</p>
						</div>

						<div class="col-md-3 col-sm-6 col-6 text-center px-md-5 mb-5 mb-md-0">
							<img class="center-block w-25 mb-4 service-icon" src="{{  asset('uploads/images/icons/vasarloi-elegedetseg-1.png') }}">
							<h6 class="text-uppercase">Magas vásárlói elégedettség</h6>

							<p class="font-weight-light text-sm">A virágküldés folyamata alatt, a beszerzéstől a kézbesítésig rendkívüli figyelmet szentelünk annak, hogy virágaink mindig frissek és szépek maradjanak.
							</p>
						</div>
					</div>
				</div>
				{#<div class="row">#}
					{#<div class="col-lg-4 service-column">#}
						{#<svg class="svg-icon service-icon">#}
							{#<use xlink:href="#delivery-time-1"> </use>#}
						{#</svg>#}
						{#<div class="service-text">#}
							{#<h6 class="text-uppercase">Igyenes szállítás Budapesten</h6>#}
							{#<p class="text-muted font-weight-light text-sm">Free Shipping over $300</p>#}
						{#</div>#}
					{#</div>#}
					{#<div class="col-lg-4 service-column">#}
						{#<svg class="svg-icon service-icon">#}
							{#<use xlink:href="#money-1"> </use>#}
						{#</svg>#}
						{#<div class="service-text">#}
							{#<h6 class="text-uppercase">Money back guarantee</h6>#}
							{#<p class="text-muted font-weight-light text-sm">30 Days Money Back Guarantee</p>#}
						{#</div>#}
					{#</div>#}
					{#<div class="col-lg-4 service-column">#}
						{#<svg class="svg-icon service-icon">#}
							{#<use xlink:href="#customer-support-1"> </use>#}
						{#</svg>#}
						{#<div class="service-text">#}
							{#<h6 class="text-uppercase">020-800-456-747</h6>#}
							{#<p class="text-muted font-weight-light text-sm">24/7 Available Support</p>#}
						{#</div>#}
					{#</div>#}
				{#</div>#}
			</div>
		</div>
        {% endblock %}
		<div class="py-6 bg-gray-300 text-muted">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 mb-5 mb-lg-0">
						<div class="font-weight-bold text-uppercase text-lg text-dark mb-3">Tulipán<span class="text-primary">.</span>Futár</div>
						<p>{{ settings.get('company.zip') }} {{ settings.get('company.city') }}, {{ settings.get('company.address') }}</p>
						<ul class="list-inline">
                            {% if settings.get('social.facebook') and settings.get('social.facebook') is not null %}
							<li class="list-inline-item"><a href="{{ settings.get('social.facebook') }}" target="_blank" title="facebook" class="text-muted text-hover-primary"><i class="fab fa-facebook"></i></a></li>
                            {% endif %}
                            {% if settings.get('social.instagram') and settings.get('social.instagram') is not null %}
							<li class="list-inline-item"><a href="{{ settings.get('social.instagram') }}" target="_blank" title="instagram" class="text-muted text-hover-primary"><i class="fab fa-instagram"></i></a></li>
                            {% endif %}
                            {% if settings.get('social.pinterest') and settings.get('social.pinterest') is not null %}
							<li class="list-inline-item"><a href="{{ settings.get('social.pinterest') }}" target="_blank" title="pinterest" class="text-muted text-hover-primary"><i class="fab fa-pinterest"></i></a></li>
                            {% endif %}
                            {% if settings.get('social.twitter') and settings.get('social.twitter') is not null %}
							<li class="list-inline-item"><a href="{{ settings.get('social.twitter') }}" target="_blank" title="vimeo" class="text-muted text-hover-primary"><i class="fab fa-twitter"></i></a></li>
                            {% endif %}
                            {% if settings.get('social.youtube') and settings.get('social.youtube') is not null %}
                            <li class="list-inline-item"><a href="{{ settings.get('social.youtube') }}" target="_blank" title="vimeo" class="text-muted text-hover-primary"><i class="fab fa-youtube"></i></a></li>
                            {% endif %}
						</ul>
					</div>
					<div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
						<h6 class="text-uppercase text-dark mb-3">Virágküldés</h6>
						<ul class="list-unstyled">
							<li> <a href="/termekek/csokrok" class="text-muted" title="Virágcsokrok">Csokrok</a></li>
							<li> <a href="/termekek/viragdobozok" class="text-muted" title="Virágboxok">Virágdobozok</a></li>
							{#<li> <a href="#" class="text-muted">Stores</a></li>#}
							{#<li> <a href="#" class="text-muted">Our Blog</a></li>#}
							{#<li> <a href="#" class="text-muted">Shop</a></li>#}
						</ul>
					</div>
					<div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
						<h6 class="text-uppercase text-dark mb-3">Információk</h6>
						<ul class="list-unstyled">
							<li> <a href="{{ path('about') }}" class="text-muted">Rólunk                    </a></li>
							<li> <a href="{{ path('shipping_details') }}" class="text-muted">Szállítási díjak                    </a></li>
							{#<li> <a href="#" class="text-muted">Wishlist                    </a></li>#}
							{#<li> <a href="#" class="text-muted">Our Products                    </a></li>#}
							{#<li> <a href="#" class="text-muted">Checkouts                    </a></li>#}
						</ul>
					</div>
					<div class="col-lg-4">
						<h6 class="text-uppercase text-dark mb-3">Daily Offers &amp; Discounts</h6>
						<p class="mb-3"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. At itaque temporibus.</p>
						<form action="#" id="newsletter-form">
							<div class="input-group mb-3">
								<input type="email" placeholder="Your Email Address" aria-label="Your Email Address" class="form-control bg-transparent border-secondary border-right-0">
								<div class="input-group-append">
									<button type="submit" class="btn btn-outline-secondary border-left-0"> <i class="fa fa-paper-plane text-lg text-dark"></i></button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="py-4 font-weight-light bg-gray-400 bg-info-lightenX text-whiteX">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-md-8 text-center text-md-left">
						<p class="mb-md-0 text-sm">©2014 - {{ "now"|date('Y') }} {{ settings.get('store.url')}}. Virágküldés Budapesten és környékén, rózsadobozok, csokrok, esküvő, rendezvénydekoráció</p>
					</div>
					<div class="col-md-4">
						<ul class="list-inline mb-0 mt-2 mt-md-0 text-center text-md-right">
							<li class="list-inline-item"><img src="{{  asset('uploads/images/icons/CIB_logo.png') }}" alt="..." class="w-50"></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
    <script>
        var limitFunc = function(){
            if (window.innerWidth>991.98){
                /*your functions for big screen*/
                $('#modal--mobileMenu').modal('hide');
                // console.log('bigScreen')
            }
        };
        window.addEventListener("resize", limitFunc);
    </script>
    <script>
        $(function() {
            var $bag = $('.JS--cartDetails');
            var $html = $('html');
            var $header = $('header');
            var $main = $('main');
            var $footer = $('footer');

//            var $section = $('body-content');
            var $summary = $('#JS--slideCheckout');
            $bag.on('click', function (e) {
                e.preventDefault();
                $header[0].scrollIntoView({ block: 'start'});
                if (!$bag.hasClass('slideOpen')) {
                    if ($main.hasClass('main-left')) {
                        $header.removeClass('main-left');
                        $main.removeClass('main-left');
                        $footer.removeClass('main-left');
                        $html.addClass('nav-hidden');
                        setTimeout(function () {
                            $bag.addClass('slideOpen');
                            $summary.addClass('slideOpen');
                            $header.addClass('main-right');
                            $main.addClass('main-right');
                            $footer.addClass('main-right');
//                            $section.addClass('main-right');
                            $('body').addClass('body-right');
                        }, 600);
                    } else {
                        $bag.addClass('slideOpen');
                        $summary.addClass('slideOpen');
                        $header.addClass('main-right');
                        $main.addClass('main-right');
                        $footer.addClass('main-right');
//                        $section.addClass('main-right');
                        $html.addClass('nav-hidden');
                        $('body').addClass('body-right');
                    }
                } else {
                    $bag.removeClass('slideOpen');
                    $summary.removeClass('slideOpen');
                    $header.removeClass('main-right');
                    $main.removeClass('main-right');
                    $footer.removeClass('main-right');
//                    $section.removeClass('main-right');
                    $html.removeClass('nav-hidden');
                    $('body').removeClass('body-right');
                }
            });
            function triggerSummaryClose() {
                $bag.removeClass('slideOpen');
                $summary.removeClass('slideOpen');
                $header.removeClass('main-right');
                $main.removeClass('main-right');
                $footer.removeClass('main-right');
//                $section.removeClass('main-right');
                $html.removeClass('nav-hidden');
                $('body').removeClass('body-right');
            }
            $('#JS--checkoutClose').on('click', function() {
                triggerSummaryClose();
            });
//            var $grey = $('section');
//            $grey.on('click', function() {
//                triggerSummaryClose();
//            });
            $(document).on('click', '.body__fade', function(e) {
                if (e.pageX < $('.slide-checkout').position().left) {
                    triggerSummaryClose();
                }
            });

            // Displays the loading circle
            var proceed = false;
            $(document).on('click', '.JS--Button-gotoCheckout', function (event) {
//                if (!$(event.currentTarget).hasClass('disabled')) {
                    if (proceed) {
                        proceed = false;
                        return;
                    }
                    event.preventDefault();
                    var $element = $(event.currentTarget);
                    $element.addClass('text-warning-faded');
                    $element.next('.JS--loadingOverlay').addClass('loading-overlay loading');
                    proceed = true;
                    $element.trigger('click');
//                    $element.addClass('disabled');
                    var url = $element.attr('href');
                    window.location.href = url;
//                }

            });
        });
    </script>
{% endblock %}