{% extends 'webshop/site/base-checkout.html.twig' %}

{% block title %}
    Kosár | {{ parent() }}
{% endblock %}



{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block page_content %}
<div class="JS--globalWrapper">


    {{ include('webshop/site/alert-widget.html.twig') }}
    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
        {{ include('webshop/cart/already-registered-widget.html.twig') }}
    {% endif %}

	<section name="basket">
		<div class="container mb-4">
			<div class="row">
                <div class="col-md-12 col-lg-10 mx-lg-auto">
                    {{ include('webshop/cart/progress-bar-widget.html.twig') }}

                    <div class="row row-narrow">

                        <div name="left_column" class="col-md-7 col-lg-12 pt-3 col-narrow">
                            <div name="basket_content" class="mb-10px">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="cart bg-white">
                                            <div class="cart-wrapper">
                                                <div class="JS--cartWrapper">
                                                    <div class="checkout-block-header">
                                                        <h4>Kosár</h4>
                                                    </div>
                                                    <div class="cart-body JS--resultWrapper px-3 px-md-4">
                                                        <div name="kosar_tartalma" class="">
                                                            {{ include('webshop/cart/cart-product-list.html.twig') }}
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% if order.hasItems %}
                            <div name="shipping_deliveryDate" class="mb-10px">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="cart bg-white">
                                            <div class="cart-wrapper JS--deliveryDateContainer">

                                                <div class="checkout-block-header">
                                                    <h4>Szállítás ideje</h4>
                                                </div>

                                                {{ include('webshop/cart/alert-deliveryDate-insert.html.twig') }}
                                                <div class="block-body p-3 p-md-4">
                                                    <div class="row">
                                                        <div class="col-lg-12 mb-3">
                                                            {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                                                                Ha már regisztrált felhasználó vagy, <a href="{{ path('site-login') }}">itt tudsz bejelentkezni.</a>
                                                            {% endif %}
                                                        </div>
                                                    </div>

                                                    {{ include('/webshop/cart/deliveryDate-form.html.twig') }}

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div name="shipping_address" class="mb-10px">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="cart bg-white">
                                            <div class="cart-wrapper JS--recipientWrapper">

                                                <div class="checkout-block-header">
                                                    <h4>Kinek küldöd?</h4>
                                                </div>

                                                {{ include('webshop/cart/alert-recipient-insert.html.twig') }}
                                                <div class="block-body p-3 p-md-4">
                                                    <div class="row">
                                                        <div class="col-lg-12 mb-3">
                                                            <span class="detail-option-heading font-weight-bold"></span>
                                                            <span class="text-mutedX">A sikeres kézbesítéshez add meg a címzett személy nevét, címét, telefonszámát.</span>
                                                            {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                                                                Ha már regisztrált felhasználó vagy, <a href="{{ path('site-login') }}">itt tudsz bejelentkezni.</a>
                                                            {% endif %}
                                                            </span>
                                                        </div>
                                                    </div>

                                                    <div class="JS--recipientListWrapper">
                                                        {{ include('webshop/cart/recipient_list.html.twig') }}
                                                    </div>
                                                    <div class="JS--recipientEditFormWrapper">
                                                        {% if recipientForm is defined %}
                                                            {{ include('webshop/cart/recipient_form.html.twig') }}
                                                        {% endif %}
                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </div>

                            <div name="write_message" class="mb-10px">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="cart bg-white">
                                            <div class="cart-wrapper JS--messageWrapper">

                                                <div class="checkout-block-header">
                                                    <h4>Üzenet a címzettnek</h4>
                                                </div>

                                                {{ include('webshop/cart/alert-message-insert.html.twig') }}
                                                <div class="block-body col-lg-10 p-3 p-md-4">
                                                    <div class="JS--formWrapper">
                                                        {{ render(controller('App\\Controller\\Shop\\CartController::createMessageForm', {'id' : order.id})) }}
                                                        {#{{ include('webshop/cart/message_form.html.twig') }}#}
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                        </div>

                        <div name="right_column" class="col-md-5 col-lg-12 col-narrow">
                            <div class="navbar-sticky sticky-top pt-0 pt-md-3 mb-10px">
                                <div class="cart block bg-white bg-gray-200X px-0 px-md-1">
                                    <div class="block-header">
                                        <h6 class="text-uppercase mb-0">Összesen</h6>
                                    </div>
                                    <div class="block-body text-sm p-3 p-md-4 pt-1">
                                        <div class="mb-3">
                                            <span class="">Shipping and additional costs are calculated based on values you have entered.</span>
                                            <ul class="order-summary mb-0 list-unstyled">
                                                <li class="order-summary-item">
                                                    <span>Részösszeg </span>
                                                    <span>{{  order.summary.totalBeforeDiscount|number_format(0, ',', ' ') }} Ft</span>
                                                </li>
                                                <li class="order-summary-item">
                                                    <span>Szállítás</span>
                                                    <span> Ft</span>
                                                </li>
                                                <li class="order-summary-item">
                                                    <span>Kedvezmény</span>
                                                    <span>25%:</span>
                                                </li>
                                                <li class="order-summary-item border-0">
                                                    <span>Fizentendő {# totalAmountToPay #}</span>
                                                    <strong class="order-summary-total">{{ order.summary.totalAmountToPay|number_format(0, ',', ' ') }} Ft</strong>
                                                </li>
                                            </ul>
                                        </div>
                                        <div name="kupon_ervenyesites" class="mb-3X">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <span class="d-block form-label mb-2">Promóciós kód / kupon beváltása</span>
                                                    {% form_theme setDiscountForm 'bootstrap_4_layout.html.twig' %}
                                                    {{ form_start(setDiscountForm) }}
                                                    <div class="">
                                                        <div class="row row-narrow">
                                                            <div class="form-group col-sm-6 col-8 col-narrow">
                                                                {{ form_widget(setDiscountForm.id) }}
                                                                {{ form_widget(setDiscountForm.couponCode, {'attr' : {'class' : 'form-control-smX'}}) }}
                                                                {{ form_errors(setDiscountForm.couponCode) }}
                                                            </div>
                                                            <div class="form-group col-sm-6 col-4 col-narrow">
                                                                <button type="submit" class="JS--Button-validateCoupon w-100 btn btn-smX btn-primary" data-url="/cart/validateCoupon"><i class="fas fa-tag mr-1 d-none d-md-inline-block"></i> Érvényesít</button>
                                                            </div>
                                                        </div>
                                                        <span class="text-xs text-muted-extra"><span class="font-weight-bold text-muted">Jó tudni!</span> Csak egy promóciós kódot / kupont tudsz felhasználni rendeléskor.</span>
                                                    </div>
                                                    {{ form_end(setDiscountForm) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div name="goto_checkout" class="col-lg-12 col-narrow mt-3 mb-5">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="d-flex justify-content-between flex-column flex-lg-row mb-4">
                                <a href="category.html" class="btn btn-lg btn-link d-none d-md-inline-block text-muted order-2 order-lg-1 px-0"><i class="fa fa-chevron-left"></i> Vásárlás folytatása</a>
                                <a href="{{ path('site-checkout') }}" class="JS--Button-nextStep btn btn-lg btn-success order-1 order-lg-2">Tovább a pénztárhoz <i class="fa fa-chevron-right"></i></a>

                            </div>
                        </div>
                    </div>
                </div>

                    </div>
                </div>
			</div>
		</div>
	</section>



    <!-- Ajandek valasztasa -->
    {#{{ render(controller('App\\Controller\\Shop\\CartController::pickAGift')) }}#}
    <!-- /Ajandek valasztasa -->

</div>



{% endblock %}

{% block javascripts %}
	{{ parent() }}
    <script>
        $(document).ready(function () {
            var $cartPageWrapper = $('.JS--globalWrapper');
            var cartPageHandler = new handleOrder($cartPageWrapper);

            var $cartWrapper = $('.JS--cartWrapper');
            var cartEdit = new InlineEdit($cartWrapper);

            var $recipientWrapper = $('.JS--recipientWrapper');
            var recipientEdit = new InlineEdit($recipientWrapper);
        });
    </script>
    <script src="{{ asset('webshop/site/js/moment.min.js') }}"></script>
    <script src="{{ asset('webshop/site/js/daterangepicker.js') }}"></script>
    <script>
        $(function() {
            $('.JS--Button-clickDate').daterangepicker({
                opens: 'right',
                autoApply: true,
                autoUpdateInput: false,
                singleDatePicker: true,
                //            alwaysShowCalendars: true,
                minDate: moment().add(4, 'hours'),
                maxDate: moment().add(2, 'months'),
                locale: {
                    format: 'YYYY-MM-DD',
                    separator: ' / ',
                    applyLabel: 'Alkalmaz',
                    cancelLabel: 'Mégse',
                    daysOfWeek: [
                        'V',
                        'H',
                        'K',
                        'Sz',
                        'Cs',
                        'P',
                        'Sz'
                    ],
                    monthNames: [
                        'Január',
                        'Február',
                        'Március',
                        'Április',
                        'Május',
                        'Június',
                        'Július',
                        'Augusztus',
                        'Szeptember',
                        'Október',
                        'November',
                        'December'
                    ],
                    firstDay: 1,
                }
            });
            $('.JS--Button-clickDate').on('apply.daterangepicker', function(ev, picker) {
                ev.preventDefault();
                $pickerDate = picker.startDate.format('YYYY-MM-DD');
                $wrapper = $(this).closest('.JS--deliveryDateContainer');
                $dateValueWrapper = $(this).closest('.JS--dateWrapper').find('.JS--showDateValue');
                $calendarIconWrapper = $(this).closest('.JS--dateWrapper').find('.JS--showCalendarIcon');
                /**
                 * Csak az első 3 rádió opcióba keresi a pickerDate-et. És ha benne van, akkor a Calendárt mutatja.
                 */
                $selectedRadio = $(this).closest('.JS--dateWrapper').find('input[type="radio"][value="' + $pickerDate + '"]:not(".JS--Button-clickDate")');
                if ($selectedRadio.val()) {
//                    console.log($selectedRadio);
                    $selectedRadio.prop('checked', true);
                    $dateValueWrapper.hide();
                    $calendarIconWrapper.show();
                }
                /**
                 * Ha nincs benne, akkor negyedik rádió inputhoz rendeli a pickerDate-et és elrejti a Calendárt.
                 */
                else {
                    $(this).val($pickerDate);  // az input, amihez kötve van a gomb, megkapja a daterangepicker értékét (dátumot)
                    $html = '<span class="font-weight-bold my-0">' + picker.startDate.format('MMM D') + '</span><br> <span class="price--gross text-nowrap">' + picker.startDate.format('ddd') + '</span>';
                    $dateValueWrapper.html($html);
                    $calendarIconWrapper.hide();
                    $dateValueWrapper.show();
                }
                console.log($wrapper.find('.JS--alertMessage')+ ' alertMessage');
                $wrapper.find('.JS--alertMessage').hide();
            });
            $('.JS--Button-clickDate').on('cancel.daterangepicker', function(ev, picker) {
                $(this).val('');
            });
            /**
             * Amikor nem a Daterangepicker-re klikkel, akkor biztos a Calendárt kell mutatnia.
             */
            $('.JS--dateWrapper input[type="radio"]:not(".JS--Button-clickDate")').on('click', function () {
                $dateValueWrapper = $(this).closest('.JS--dateWrapper').find('.JS--showDateValue');
                $calendarIconWrapper = $(this).closest('.JS--dateWrapper').find('.JS--showCalendarIcon');
                $dateValueWrapper.hide();
                $calendarIconWrapper.show();
                $wrapper = $(this).closest('.JS--deliveryDateContainer');
                $wrapper.find('.JS--alertMessage').hide();
            });
        });
    </script>
    <script>
        $(function() {
            var $option1 = $('input[name="dateForm[deliveryDate]"]');  // When 'Több méretű csokor' gets selected...
//            var $option2 = $('#product_form_kind_1');
            $option1.click(function () {
                var $form = $(this).closest('form'); // ...retrieve the corresponding form.
                // Simulate form data, but only include the selected Kind value.
                var data = {};
                console.log('Action URL: ' + $form.attr('action'));
                data[$option1.attr('name')] = $option1.val();
//                console.log(data);
                $('.JS--intervalsWrapper').fadeOut("slow", function () {
//                    $('.JS--intervalsWrapper').show();
                });
                // Submit data via AJAX to the form's action path.
                $.ajax({
                    url: $form.attr('action'),
                    type: 'POST',
                    data: $form.serialize(),
                    success: function (response) {
//                        console.log($(response));
//                        console.dir($(response).find('.JS--intervalsWrapper'));
                        $('.JS--intervalsWrapper').show();
                        $('.JS--intervalsWrapper').replaceWith($(response).find('.JS--intervalsWrapper')); // Replace current form with the new one which now has the extra field: 'subproducts'
                    },
//                    error: function (err) {
                    error: function(jqXHR) {
                        $form.replaceWith(jqXHR.responseText);
                    }
                });
            });
//            $option2.click(function () {
//                var $form = $(this).closest('form'); // ...retrieve the corresponding form.
//                $('.JS--intervalsWrapper').empty();
//            });
        });

    </script>
{% endblock %}
