{% extends 'webshop/site/base-site.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block page_content %}

	<!-- Banner area -->
    <div class="container py-3 pb-5 mt-2">
        <div class="row">
            <div class="col-lg-4 d-flex d-noneX d-md-blockX align-items-lg-stretch order-2 order-lg-1">

                    <div class="row flex-grow-1">
                        <div class="col-lg-12 col-sm-6 d-flex align-items-stretch mb-lg-30px">
                            <div style="background: center center url(https://difiorivirag.cdn.shoprenter.hu/custom/difiorivirag/image/cache/w0h0q80np1/Banner/card/otthon-card-8.jpg?v=1547034881) no-repeat; background-size: cover;" class="d-flex align-items-center text-white border-0 w-100 py-6 py-lg-5 text-center mb-30px mb-lg-0">
                                <a href="/termekek/ajandek" class="tile-link"> </a>
                                <div class="w-100 text-light">
                                    <h3 class="heroBanner-title text-uppercase mb-0">Otthon dekor</h3>
                                    <a class="btn heroBanner-btnZ mt-2">Vásárlás<i class="fa-arrow-right fa ml-2"></i></a>
                                    {#<p class="lead">Consectetur adipisicing elit sed do eiusmod tempor.</p>#}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-6 d-flex align-items-stretch">
                            <div style="background: center center url(https://difiorivirag.cdn.shoprenter.hu/custom/difiorivirag/image/data/Banner/card/IMG_0826-2.jpg?v=1547034881) no-repeat; background-size: cover;" class="d-flex align-items-center text-white border-0 w-100 py-6 py-lg-4 text-center mb-30px mb-lg-0">
                                <a href="/termekek/viragdobozok" class="tile-link"> </a>
                                <div class="w-100">
                                    <h3 class="text-uppercase heroBanner-title mb-0">Virágdobozok</h3>
                                    <a class="btn heroBanner-btnZ mt-2">Vásárlás<i class="fa-arrow-right fa ml-2"></i></a>
                                    {#<p class="lead">Consectetur adipisicing elit sed do eiusmod tempor.</p>#}
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-lg-8 order-1 order-lg-2 mb-lg-0 mb-30px align-items-stretch" style="height: 487px;">
                {#<div class="card light-overlay text-dark border-0">#}
                <div class="dark-overlay light-overlayX d-flex align-items-center text-white border-0 h-100 py-6 py-lg-5 text-center mb-30px mb-lg-0" style="height: 748px; background: center center url(http://www.stulipan.dfr/uploads/images/termekek/vegyes-pasztell-csokor-3.jpg) no-repeat; background-size: cover;">
                    <a href="/termekek/viragdobozok" class="tile-link"> </a>
                </div>

                    {#<img src="https://difiorivirag.cdn.shoprenter.hu/custom/difiorivirag/image/cache/w0h0q80np1/Landing/menyasszonyi-csokor-ankert-1.jpg?v=null.1510219410" alt="Card image" class="card-img">#}
                    <a href="{{ path('site-product-listall') }}" class="tile-link"> </a>
                    <div class="card-img-overlay d-flex align-items-center">
                        <div class="text-center w-100 overlay-content p-2 text-white">
                            <h1 class="heroBanner-title text-uppercase mb-0">Virágküldés</h1>
                            <p class="font-weight-bold mb-2">Budapestre és környékére. Házhozszállítás akár aznap vagy későbbi dátumra.</p>
                            <a class="btn heroBanner-btn">Vásárlás<i class="fa-arrow-right fa ml-2"></i></a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
	<!-- /Banner area -->

    <!-- Product list -->
    <div class="container pb-5">
        <div class="row">
            <div class="products-grid col-12 sidebar-none">
                <div class="hero-content text-center">
                    <h2 class="">Virágdobozok</h2>
                </div>

                {{ include('/webshop/site/product-list-widget.html.twig') }}

            </div>
        </div>
    </div>

    <div class="container pb-5">
        <div class="row">
            <div class="col-md-12 sidebar-none mb-2">
                <div class="hero-content text-center">
                    <h2 class="">Vásárlóink mondták</h2>
                </div>

                <div class="col-md-12">
                    <div class="row">

                        {% for i in 0..9 %}
                        <div class="col-md-6">
                            <div class="reviewbox mb-4">
                                <div class="details">
                                    <span class="text-lg mr-2">Szabó Béla</span>
                                    <a href="#" class="text-body text-underline"><span class="mr-2">Budaörs</span></a>
                                    <time itemprop="dateCreated" class="date">11/09/2019</time>
                                    <div class="d-inline-block">
                                        <ul class="list-inline ml-2 mb-0 text-sm">
                                            <li class="list-inline-item mr-0"><i class="fa fa-star text-warning"></i></li>
                                            <li class="list-inline-item mr-0"><i class="fa fa-star text-warning"></i></li>
                                            <li class="list-inline-item mr-0"><i class="fa fa-star text-warning"></i></li>
                                            <li class="list-inline-item mr-0"><i class="fa fa-star text-warning"></i></li>
                                            <li class="list-inline-item mr-0"><i class="fa fa-star text-gray-300"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="testimonial text-muted-extra mt-4 px-2">
                                    {%  if loop.index in [1, 4, 6, 9] %}
                                    <span>I have bought from you several times in the past and have recommended you to friends. This particular bouquet was sent as a surprise for a 90th birthday.
                                        <a data-expand="">Read More</a>
                                    </span>
                                    {% elseif loop.index is odd %}
                                    <span>
                                        Serenata dellivered my order to my mum in law on the chosen day, and my mum was absolutely delighted, she sent photos to all as they were indeed beautiful. Her birthday was 29/8 and today 05/09 they are still as beautiful as they were on the day. Their prices are brilliant and affordable, and I would recommend Serenata to anyone looking for the perfect 'bouquet' for that special person.
                                    </span>
                                    {% else %}
                                    <span>
                                        Easy to order from web site, delivery very good, flowers were for my daughters birthday who lives in Norfolk, she was very pleased with them. This is the third time I have used Serenata Flowers and would not hesitate to recommend them to others.
                                    </span>
                                    {% endif %}
                                </div>
                                {#<div class="clear"></div>#}
                            </div>
                        </div>
                        {%  endfor %}

                    </div>
                </div>

            </div>
        </div>
    </div>




{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}
