<div class="sidebar sidebar-right fade" id="sidebar--Cart" tabindex="-1" role="dialog" aria-labelledby="sidebarLabel" aria-hidden="true">
    <div class="sidebar-dialog sidebar-dialog-scrollable sidebar-dialog-centered" role="document">
        <div class="sidebar-content">
            <div class="sidebar-header">
                <span class="sidebar-title h5" id="sidebarLabel">{{ 'cart.cart-content'|trans }}</span>
                <button type="button" class="close" data-dismiss="sidebar" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="sidebar-body">
                <div class="d-flex flex-column justify-content-between h-100">
                    <div class="cart">
                        {% include 'webshop/cart/cart.html.twig' with {
                            'showQuantity': false,
                            'showRemove': false,
                            'showTotal': true,
                        } %}
{#                        {% if order.items is empty %}#}
{#                            {% include('webshop/cart/cart-is-empty.html.twig') %}#}
{#                        {% endif %}#}

{#                        {% if order.items is defined %}#}
{#                            {% for item in order.items %}#}
{#                                <div class="cart-item">#}
{#                                    {% include('webshop/cart/cart-item.html.twig') %}#}
{#                                </div>#}
{#                            {% endfor %}#}

{#                            <div class="cart-item cart-total">#}
{#                                <span class="text-uppercase text-muted">Összesen</span>#}
{#                                <strong class="text-uppercase">{{  order.summary.totalAmountToPay|money }}</strong>#}
{#                            </div>#}
{#                        {% endif %}#}
                    </div>
                </div>
            </div>
            <div class="sidebar-footer">
                <div class="d-flex flex-column justify-content-between flex-grow-1">
                        <button class="JS--Button-gotoCheckoutX btn btn-lg btn-warning w-100" data-webshop-selector="button" data-eval="showCart" data-url="{{ path('site-checkout-step0-pickExtraGift') }}" >
                            <span class="btn-loading-invisible"><svg class="svg-icon"><use xlink:href="#cart-1"> </use></svg>{{ 'cart.continue-to-checkout'|trans }}</span>
                            <div class="loading-spinner" role="status"></div>
                        </button>

                        <div class="mt-3">
                            <div class="card-body bg-warning-lightenX text-center p-0 px-2">
                                <a href="{{ path('site-checkout-step0-pickExtraGift') }}" class="text-link-checkout mt-0 d-block">{{ 'cart.edit-cart-content'|trans }}</a>
                                {#                                    <img alt="" class="img-fluid h-15px left-block mb-2 mr-4" src="http://www.stulipan.dfr/uploads/images/icons/CIB_logo.png">#}
                                {#                                    <img alt="" class="img-fluid h-15px left-block mb-2" src="http://www.stulipan.dfr/uploads/images/termekek/paypal.png">#}
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

{#<div id="JS--slideCheckout" class="slide-checkout">#}

{#    <!-- Title / Close button  -->#}
{#    <div class="checkout-block-header px-2 px-md-3 mt-3">#}
{#        <div id="JS--checkoutClose">#}
{#            <button type="button" class="close modal-close">#}
{#                <svg class="svg-icon w-100 h-100 svg-icon-light align-middle">#}
{#                    <use xlink:href="#close-1"> </use>#}
{#                </svg>#}
{#            </button>#}
{#        </div>#}
{#        <h4 class="checkout--sidebar-title">Kosár tartalma</h4>#}
{#    </div>#}

{#    <!-- Items -->#}
{#    <div class="slide-checkout__wrapper px-2 px-md-3">#}
{#        <div id="dvBasketItemsContainer" class="slide-checkout__basket-container mt-3">#}
{#            {% if order.items is empty %}#}
{#                {% include('webshop/cart/cart-is-empty.html.twig') %}#}
{#            {% endif %}#}

{#            {% if order.items is defined %}#}
{#                {% for item in order.items %}#}
{#                    <div class="cart-item">#}
{#                        {% include('webshop/cart/_cart-item-single-widget.html.twig') %}#}
{#                    </div>#}
{#                {% endfor %}#}

{#                <div class="navbar-cart-total">#}
{#                    <span class="text-uppercase text-muted">Összesen</span>#}
{#                    <strong class="text-uppercase">{{  order.summary.totalAmountToPay|money }}</strong>#}
{#                </div>#}
{#            {% endif %}#}

{#        </div>#}
{#    </div>#}

{#    <div class="slide-checkout__payment px-2 px-md-3">#}
{#        <div class="row">#}
{#            <div class="col-lg-12 mb-4 mx-2">#}
{#                <a href="{{ path('site-checkout-step0-pickExtraGift') }}" class="JS--Button-gotoCheckout btn btn-warning mb-1 w-100" data-toggle="loading-overlay" aria-hidden="true">#}
{#                    #}{#                <a href="javascript:void(0)" class="JS--Button-gotoCheckout btn btn-warning w-100" data-toggle="loading-overlay" aria-hidden="true">#}
{#                    <svg class="svg-icon"><use xlink:href="#cart-1"> </use></svg>Fizetés#}
{#                </a>#}
{#                #}{#                <div class="JS--loadingOverlayX">DELEL</div>#}
{#            </div>#}
{#        </div>#}

{#        <div class="mb-3">#}
{#            <div class="card-body bg-warning-lightenX text-center p-0 px-2">#}
{#                <a href="{{ path('site-checkout-step0-pickExtraGift') }}" class="mt-0 mb-3 d-block text-sm">Kosár módosítása</a>#}
{#                <img alt="" class="img-fluid h-15px left-block mb-2 mr-4" src="http://www.stulipan.dfr/uploads/images/icons/CIB_logo.png">#}
{#                <img alt="" class="img-fluid h-15px left-block mb-2" src="http://www.stulipan.dfr/uploads/images/termekek/paypal.png">#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}

{#<div id="JS--slideCheckout" class="slide-checkout">#}

{#    <!-- Title / Close button  -->#}
{#    <div class="checkout-block-header px-2 px-md-3 mt-3">#}
{#        <div id="JS--checkoutClose">#}
{#            <button type="button" class="close modal-close">#}
{#                <svg class="svg-icon w-100 h-100 svg-icon-light align-middle">#}
{#                    <use xlink:href="#close-1"> </use>#}
{#                </svg>#}
{#            </button>#}
{#        </div>#}
{#        <h4 class="checkout--sidebar-title">Kosár tartalma</h4>#}
{#    </div>#}

{#    <!-- Items -->#}
{#    <div class="slide-checkout__wrapper px-2 px-md-3">#}
{#        <div id="dvBasketItemsContainer" class="slide-checkout__basket-container mt-3">#}
{#            {% if order.items is empty %}#}
{#                {% include('webshop/cart/cart-is-empty.html.twig') %}#}
{#            {% endif %}#}

{#            {% if order.items is defined %}#}
{#                {% for item in order.items %}#}
{#                    <div class="cart-item">#}
{#                        {% include('webshop/cart/_cart-item-single-widget.html.twig') %}#}
{#                    </div>#}
{#                {% endfor %}#}

{#                <div class="navbar-cart-total">#}
{#                    <span class="text-uppercase text-muted">Összesen</span>#}
{#                    <strong class="text-uppercase">{{  order.summary.totalAmountToPay|money }}</strong>#}
{#                </div>#}
{#            {% endif %}#}

{#        </div>#}
{#    </div>#}

{#    <div class="slide-checkout__payment px-2 px-md-3">#}
{#        <div class="row">#}
{#            <div class="col-lg-12 mb-4 mx-2">#}
{#                <a href="{{ path('site-checkout-step0-pickExtraGift') }}" class="JS--Button-gotoCheckout btn btn-warning mb-1 w-100" data-toggle="loading-overlay" aria-hidden="true">#}
{#                <a href="javascript:void(0)" class="JS--Button-gotoCheckout btn btn-warning w-100" data-toggle="loading-overlay" aria-hidden="true">#}
{#                    <svg class="svg-icon"><use xlink:href="#cart-1"> </use></svg>Fizetés#}
{#                </a>#}
{#                <div class="JS--loadingOverlayX">DELEL</div>#}
{#            </div>#}
{#        </div>#}

{#        <div class="mb-3">#}
{#            <div class="card-body bg-warning-lightenX text-center p-0 px-2">#}
{#                <a href="{{ path('site-checkout-step0-pickExtraGift') }}" class="mt-0 mb-3 d-block text-sm">Kosár módosítása</a>#}
{#                <img alt="" class="img-fluid h-15px left-block mb-2 mr-4" src="http://www.stulipan.dfr/uploads/images/icons/CIB_logo.png">#}
{#                <img alt="" class="img-fluid h-15px left-block mb-2" src="http://www.stulipan.dfr/uploads/images/termekek/paypal.png">#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}