{% set nav = 0|fetchNavigationBySlug('fomenu') %}
{% if nav is defined and nav %}
{% for item in nav.navigationItems %}
    {% if item.enabled is same as true %}
    <li class="nav-item{% if item.classname is defined and item.classname %} {{ item.classname }}{% endif %}"><a href="{{ item.url }}" class="nav-link">{{ item.name }}</a>
    </li>
    {% endif %}
{% endfor %}
{% endif %}

{#    <li class="nav-item"><a href="/" class="nav-link">Nyitóoldal</a>#}
{#    </li>#}
{#    <li class="nav-item"><a href="{{ path('site-product-listall') }}" class="nav-link">Összes termék</a>#}
{#    </li>#}
{#    <div class="nav-item dropdown">#}
{#        <a id="navbarDropdownMenuLink" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle nav-link">Termékek</a>#}
{#        <div aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu dropdown-menu-left mt-0">#}

{#                    {{ render(controller('App\\Controller\\Shop\\CartUtilsController::listProductCategoriesInMenu')) }}#}

{#        </div>#}
{#    </div>#}
{#    <li class="nav-item"><a href="{{ path ('site-page-show', { 'slug': 'rolunk'}) }}" class="nav-link ">Rólunk</a>#}
{#    </li>#}