<div class="nav-item dropdown">
    <a href="{{ path('site-cart') }}" class="navbar-icon-link d-lg-none">
        <svg class="svg-icon">
            <use xlink:href="#cart-1"> </use>
        </svg><span class="text-sm ml-2 ml-lg-0 text-uppercase text-sm font-weight-bold d-none d-sm-inline d-lg-none">View cart</span>
    </a>
    <div class="d-none d-lg-block">
        <a id="cartdetails" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="{{ path('site-cart') }}" class="navbar-icon-link dropdown-toggle">
            <svg class="svg-icon">
                <use xlink:href="#cart-1"> </use>
            </svg>
            <div class="navbar-icon-link-badge">
                {% if itemsInCart is defined %}
                    {{  itemsInCart }}
                {% else %}
                    0
                {% endif %}
            </div>
        </a>

        <!-- Cart details dropdown -->
        <div aria-labelledby="cartdetails" class="dropdown-menu dropdown-menu-right p-4">
            {% if order.items is defined %}
                {% for item in order.items %}
                <!-- cart item-->
                <div class="navbar-cart-product">
                    <div class="d-flex align-items-center">
                        <a href="{{ path('site_product_show', {'id': item.product.id}) }}">
                            <img src="{{ asset('/uploads/images/termekek/' ~ item.product.image) }}" alt="..." class="img-fluid navbar-cart-product-image">
                        </a>
                        <div class="d-flex w-100 justify-content-between">
                            <div class="pl-3">
                                <a href="{{ path('site_product_show', {'id': item.product.id}) }}" class="navbar-cart-product-link">{{ item.product.productName }}</a>
                                <small class="d-block text-muted">Mennyiség: {{ item.quantity }} </small>
                                <strong class="d-block text-sm">{{ (item.price * item.quantity) |number_format(0, ',', ' ') }} </strong>
                            </div>
                            <a href="#"><i class="fa fa-trash-o"></i></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- total price-->
                <div class="navbar-cart-total">
                    <span class="text-uppercase text-muted">Összesen</span>
                    <strong class="text-uppercase">{{  order.summary.totalBeforeDiscount|number_format(0, ',', ' ') }}</strong>
                </div>
                <!-- buttons-->
                <div class="d-flex justify-content-between">
                    <a href="{{ path('temp_cart') }}" class="btn btn-link text-dark mr-3">Kosár <i class="fa-arrow-right fa"></i></a>
                    <a href="{{ path('site-cart') }}" class="btn btn-outline-dark">Pénztár</a></div>
            {% endif %}
        </div>
        <!-- /Cart details dropdown -->


    </div>
</div>
