{% extends 'webshop/site/template-general.html.twig' %}

{% set pageTitle = page.name %}
{% set breadcrumb = {
    0: {
        'url': path('homepage'),
        'text': 'generic.home'|trans,
    },
    1: {
        'url': path('site-page-show', { 'slug': page.slug }),
        'text': page.name,
    },
} %}

{% block stylesheets %}
    {{ parent() }}
    {% set contentDescription = page.content|raw|striptags %}
    {% set contentDescription = contentDescription|length > 200 ? contentDescription|slice(0, 200) ~ '...' : contentDescription %}

    <meta property="og:title" content="{{ page.name }} - {{ storeSettings.get('meta.title')}}">
    <meta property="og:description" content="{{ contentDescription }}">
{#    {% if product.coverImage %}#}
{#        <meta property="og:image" content="{{ uploaded_asset(product.coverImage)|imagine_filter('size_facebook') }}">#}
{#        <meta property="og:image:width" content="1000" />#}
{#        <meta property="og:image:height" content="1000" />#}
{#    {% endif %}#}
    <meta property="og:url" content="{{ url('site-page-show', {'slug': page.slug}) }}" />

    <meta name="description" content="{{ contentDescription }}">
    <link rel="canonical" href="{{ url('site-page-show', {'slug': page.slug}) }}" />
{% endblock %}


{% block header %}
{% endblock %}

{% block content %}
    <div class="row mt-5">
        <div class="col-xl-7 col-md-8 col-sm-11 mx-auto">
            <div class="cms-page-title">
                <h1>{{ page.name }}</h1>
            </div>
            <div class="cms-page-body pb-5">
                {{ page.content|raw }}
            </div>
        </div>
    </div>
{% endblock %}


{% block footerHighlights %}
{% endblock %}

