{% extends 'webshop/site/base_site.html.twig' %}

{% block title %}
    {{ termek.productName }} | 	{{ parent() }}
{% endblock %}



{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block page_content %}



	<!-- Product detail -->
	<section class="product-details">
		<div class="container mb-4">
			<div class="row">
				<div class="col-lg-6 pt-4 order-2 order-lg-1">
					<div class="row">
						<div class="col-2 pr-0">
							<div data-slider-id="1" class="owl-thumbs">
								<button class="owl-thumb-item detail-thumb-item mb-3 active"><img src="{{ asset('/uploads/images/termekek/' ~ termek.image) }}" alt="Modern Jacket 0" class="img-fluid"></button>
								<button class="owl-thumb-item detail-thumb-item mb-3"><img src="{{ asset('/uploads/images/termekek/' ~ termek.image) }}" alt="Modern Jacket 1" class="img-fluid"></button>
								<button class="owl-thumb-item detail-thumb-item mb-3"><img src="{{ asset('/uploads/images/termekek/' ~ termek.image) }}" alt="Modern Jacket 2" class="img-fluid"></button>
								<button class="owl-thumb-item detail-thumb-item mb-3"><img src="{{ asset('/uploads/images/termekek/' ~ termek.image) }}" alt="Modern Jacket 3" class="img-fluid"></button>
								<button class="owl-thumb-item detail-thumb-item mb-3"><img src="{{ asset('/uploads/images/termekek/' ~ termek.image) }}" alt="Modern Jacket 4" class="img-fluid"></button>
							</div>
						</div>
						<div class="col-10 detail-carousel">
							<div class="ribbon ribbon-info">Új termék</div>
							<div class="ribbon ribbon-primary">Sale</div>
							<div data-slider-id="1" class="owl-carousel detail-slider owl-loaded owl-drag">





								<div class="owl-stage-outer">
									<div class="owl-stage" style="transform: translate3d(-3668px, 0px, 0px); transition: all 0s ease 0s; width: 5764px;">
										<div class="owl-item cloned active" style="width: 524px;">
											<div class="item"><a href="{{ asset('/uploads/images/termekek/' ~ termek.image) }}" data-footer="{{ termek.productName }} | {{ termek.category }}" data-toggle="lightbox" data-gallery="product-gallery">
													<img src="{{ asset('/uploads/images/termekek/' ~ termek.image) }}" alt="Modern Jacket 3" class="img-fluid"></a>
											</div>
										</div>
										<div class="owl-item cloned" style="width: 524px;">
											<div class="item"><a href="{{ asset('/uploads/images/termekek/' ~ termek.image) }}" data-footer="Modern Jacket 4 - Caption text" data-toggle="lightbox" data-gallery="product-gallery">
													<img src="{{ asset('/uploads/images/termekek/' ~ termek.image) }}" alt="Modern Jacket 4" class="img-fluid"></a>
											</div>
										</div>
										<div class="owl-item cloned" style="width: 524px;">
											<div class="item"><a href="{{ asset('/uploads/images/termekek/' ~ termek.image) }}" data-footer="Modern Jacket 5 - Caption text" data-toggle="lightbox" data-gallery="product-gallery">
													<img src="{{ asset('/uploads/images/termekek/' ~ termek.image) }}" alt="Modern Jacket 5" class="img-fluid"></a>
											</div>
										</div>
										<div class="owl-item" style="width: 524px;">
											<div class="item"><a href="{{ asset('/uploads/images/termekek/' ~ termek.image) }}" data-footer="Modern Jacket 1 - Caption text" data-toggle="lightbox" data-gallery="product-gallery">
													<img src="{{ asset('/uploads/images/termekek/' ~ termek.image) }}" alt="Modern Jacket 1" class="img-fluid"></a>
											</div>
										</div>
										<div class="owl-item" style="width: 524px;">
											<div class="item"><a href="{{ asset('/uploads/images/termekek/' ~ termek.image) }}" data-footer="Modern Jacket 2 - Caption text" data-toggle="lightbox" data-gallery="product-gallery">
													<img src="{{ asset('/uploads/images/termekek/' ~ termek.image) }}" alt="Modern Jacket 2" class="img-fluid"></a>
											</div>
										</div>
										<div class="owl-item" style="width: 524px;">
											<div class="item"><a href="{{ asset('/uploads/images/termekek/' ~ termek.image) }}" data-footer="Modern Jacket 3 - Caption text" data-toggle="lightbox" data-gallery="product-gallery">
													<img src="{{ asset('/uploads/images/termekek/' ~ termek.image) }}" alt="Modern Jacket 3" class="img-fluid"></a>
											</div>
										</div>
										<div class="owl-item" style="width: 524px;">
											<div class="item"><a href="{{ asset('/uploads/images/termekek/' ~ termek.image) }}" data-footer="Modern Jacket 4 - Caption text" data-toggle="lightbox" data-gallery="product-gallery">
													<img src="{{ asset('/uploads/images/termekek/' ~ termek.image) }}" alt="Modern Jacket 4" class="img-fluid"></a>
											</div>
										</div>
										<div class="owl-item" style="width: 524px;">
											<div class="item"><a href="{{ asset('/uploads/images/termekek/' ~ termek.image) }}" data-footer="Modern Jacket 5 - Caption text" data-toggle="lightbox" data-gallery="product-gallery">
													<img src="{{ asset('/uploads/images/termekek/' ~ termek.image) }}"></a>
											</div>
										</div>
										<div class="owl-item cloned" style="width: 524px;">
											<div class="item"><a href="{{ asset('/uploads/images/termekek/' ~ termek.image) }}" data-footer="Modern Jacket 1 - Caption text" data-toggle="lightbox" data-gallery="product-gallery">
													<img src="{{ asset('/uploads/images/termekek/' ~ termek.image) }}" alt="Modern Jacket 1" class="img-fluid"></a>
											</div>
										</div>
										<div class="owl-item cloned" style="width: 524px;">
											<div class="item"><a href="{{ asset('/uploads/images/termekek/' ~ termek.image) }}" data-footer="Modern Jacket 2 - Caption text" data-toggle="lightbox" data-gallery="product-gallery">
													<img src="{{ asset('/uploads/images/termekek/' ~ termek.image) }}" alt="Modern Jacket 2" class="img-fluid"></a>
											</div>
										</div>
										<div class="owl-item cloned" style="width: 524px;">
											<div class="item"><a href="{{ asset('/uploads/images/termekek/' ~ termek.image) }}" data-footer="Modern Jacket 3 - Caption text" data-toggle="lightbox" data-gallery="product-gallery">
													<img src="{{ asset('/uploads/images/termekek/' ~ termek.image) }}" alt="Modern Jacket 3" class="img-fluid"></a>
											</div>
										</div>
									</div>
								</div>
								<div class="owl-nav disabled">
									<button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button>
									<button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button>
								</div>
								<div class="owl-dots disabled"></div>
							</div>

						</div>
                        <div class="col-lg-12 px-4">
                            <ul role="tablist" class="nav nav-tabs">
                                <li class="nav-item"><a data-toggle="tab" href="#description" role="tab" class="nav-link detail-nav-link active show" aria-selected="true">Description</a></li>
                                <li class="nav-item"><a data-toggle="tab" href="#additional-information" role="tab" class="nav-link detail-nav-link" aria-selected="false">Additional Information</a></li>
                            </ul>
                            <div class="tab-content py-4">
                            <div id="description" role="tabpanel" class="tab-pane active show">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. LOLUt enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. LOLDuis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. LOLUt enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. LOLDuis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                            <div id="additional-information" role="tabpanel" class="tab-pane">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <table class="table text-sm">
                                            <tbody>
                                            <tr>
                                                <th class="text-uppercase font-weight-normal border-0">Product #</th>
                                                <td class="text-muted border-0">Lorem ipsum dolor sit amet</td>
                                            </tr>
                                            <tr>
                                                <th class="text-uppercase font-weight-normal ">Available packaging</th>
                                                <td class="text-muted ">LOLDuis aute irure dolor in reprehenderit</td>
                                            </tr>
                                            <tr>
                                                <th class="text-uppercase font-weight-normal ">Weight</th>
                                                <td class="text-muted ">dolor sit amet</td>
                                            </tr>
                                            <tr>
                                                <th class="text-uppercase font-weight-normal ">Sunt in culpa qui</th>
                                                <td class="text-muted ">Lorem ipsum dolor sit amet</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-lg-6">
                                        <table class="table text-sm">
                                            <tbody>
                                            <tr>
                                                <th class="text-uppercase font-weight-normal border-0">Weight</th>
                                                <td class="text-muted border-0">dolor sit amet</td>
                                            </tr>
                                            <tr>
                                                <th class="text-uppercase font-weight-normal ">Sunt in culpa qui</th>
                                                <td class="text-muted ">Lorem ipsum dolor sit amet</td>
                                            </tr>
                                            <tr>
                                                <th class="text-uppercase font-weight-normal ">Product #</th>
                                                <td class="text-muted ">Lorem ipsum dolor sit amet</td>
                                            </tr>
                                            <tr>
                                                <th class="text-uppercase font-weight-normal ">Available packaging</th>
                                                <td class="text-muted ">LOLDuis aute irure dolor in reprehenderit</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
					</div>
				</div>
				<div class="col-lg-6 pl-lg-4 order-1 order-lg-2 mb-4">
					<ul class="breadcrumb undefined pb-2">
						<li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
						<li class="breadcrumb-item"><a href="{{ path('site_product_list', { 'slug': termek.category.slug }) }}">{{ termek.category }}</a></li>
						<li class="breadcrumb-item active">{{ termek.productName }}    </li>
					</ul>
					<h1 class="">{{ termek.productName }}</h1>
					{#<div class="d-flex align-items-center justify-content-between mb-4">#}
						{#<ul class="list-inline mb-0">#}
							{#<li class="list-inline-item h4 font-weight-light mb-0">{{ termek.grossPrice|number_format(0, ',', ' ')  }} Ft</li>#}
							{#<li class="list-inline-item text-muted font-weight-light">#}
								{#<del>54 990 Ft</del>#}
							{#</li>#}
						{#</ul>#}
						{##}
					{#</div>#}
					<p class="mb-2 text-muted">{{ termek.description }}
					</p>
                    <ul class="product-bullet-points text-muted mb-4">
                        <li>Ingyenes szállítás Budapesten!</li>
                        <li>Standard méret látható a képen</li>
                        <li>Mindig friss virágból</li>
                    </ul>

                    <div class="mb-2">
                        <span class="detail-option-heading font-weight-bold">1. Válasz csokortípust</span>
                    </div>
                    <form>
                    <div class="row">
                        <div class="col-sm-4 col-4">
                            <div class="visual-picker visual-picker-sm has-peekX mr-1">
                                <input type="radio" name="fds" id="a1" checked>
                                       {#id="{{ choice.vars.id }}" name="{{ choice.vars.full_name }}" required="required" value="{{ choice.vars.value }}" {{ choice.vars.checked ? 'checked' : '' }}/>#}
                                <label class="visual-picker-figure bg-tulipan-gray required" for="a1">
        {#{% if choice.vars.checked is defined and choice.vars.checked == 1 %}visual-valami{% endif %}" for="{{ choice.vars.id }}">#}
                                    <span class="visual-picker-content text-muted">
                                        {#<span class="tile tile-lg">#}
                                        {#<i class="text-lg fas fa-file-contract"></i>#}
                                        <h6 class="mb-1">Standard</h6>
                                        <span>{{ termek.grossPrice|number_format(0, ',', ' ')  }} Ft</span>
                                        {#</span>#}
                                    </span>
                                </label>
                                {#<span class="visual-picker-peek">{{ choice.vars.label }}</span>#}
                            </div>
                        </div>
                        <div class="col-sm-4 col-4">
                            <div class="visual-picker visual-picker-sm has-peekX mr-1">
                                <input type="radio" name="fddsdsds" id="a2" >
                                {#id="{{ choice.vars.id }}" name="{{ choice.vars.full_name }}" required="required" value="{{ choice.vars.value }}" {{ choice.vars.checked ? 'checked' : '' }}/>#}
                                <label class="visual-picker-figure bg-tulipan-gray required" for="a2">
                                    {#{% if choice.vars.checked is defined and choice.vars.checked == 1 %}visual-valami{% endif %}" for="{{ choice.vars.id }}">#}
                                    <span class="visual-picker-content text-muted">
                                        {#<span class="tile tile-lg">#}
                                        {#<i class="text-lg fas fa-file-contract"></i>#}
                                        <h6 class="mb-1">Deluxe</h6>
                                         <span>14.990 Ft</span>
                                        {#</span>#}
                                    </span>
                                </label>
                                {#<span class="visual-picker-peek">{{ choice.vars.label }}</span>#}
                            </div>
                        </div>
                        <div class="col-sm-4 col-4">
                            <div class="visual-picker visual-picker-sm has-peekX mr-2">
                                <input type="radio" name="fetetteds" id="a3" >
                                {#id="{{ choice.vars.id }}" name="{{ choice.vars.full_name }}" required="required" value="{{ choice.vars.value }}" {{ choice.vars.checked ? 'checked' : '' }}/>#}
                                <label class="visual-picker-figure bg-tulipan-gray required" for="a3">
                                    {#{% if choice.vars.checked is defined and choice.vars.checked == 1 %}visual-valami{% endif %}" for="{{ choice.vars.id }}">#}
                                    <span class="visual-picker-content text-muted">
                                        {#<span class="tile tile-lg">#}
                                        {#<i class="text-lg fas fa-file-contract"></i>#}
                                        <h6 class="mb-1">Prémium</h6>
                                         <span>20.990 Ft</span>
                                        {#</span>#}
                                    </span>
                                </label>
                                {#<span class="visual-picker-peek">{{ choice.vars.label }}</span>#}
                            </div>
                        </div>
                    </div>
                    </form>

                    <div class="mb-2">
                        <span class="detail-option-heading font-weight-bold">2. Hova kéred? <span class="text-muted">Írd be a települést</span></span>
                    </div>
                    <div class="mb-4">
                        <input type="text" id="message_messageAuthor" name="message[messageAuthor]" class="form-control" placeholder="Szabó János" value="Liviu">
                    </div>

                    <div class="mb-2">
                        <span class="detail-option-heading font-weight-bold">3. Mikorra kéred? <span class="text-muted">Válasz időpontot</span></span>
                    </div>
                    <div class="order-delivery-date mb-4">
                        {#<div class="mb-2">#}
                            {#<button class="btn btn-smX btn-light w-100" type="submit" id="message_messageAuthor" name="message[messageAuthor]" value="Liviu">#}
                                {#Kattints ide a dátum és idősáv kiválasztásához#}
                            {#</button>#}
                        {#</div>#}
                        <div class="d-flex">
                            <select class="d-inline-flex form-control w-50 pt-1 text-sm" name="order_d_date" id="delivery-deliverydate" size="6">
                                <option class="py-1" value="2018-11-29">Nov 29 - Thursday</option>
                                <option class="py-1" value="2018-11-30">Nov 30 - Friday</option>
                                <option class="py-1" value="2018-12-01">Dec 1 - Saturday</option>
                                <option class="py-1" value="2018-12-02">Dec 2 - Sunday</option>
                                <option class="py-1" value="2018-12-03">Dec 3 - Monday</option>
                                <option class="py-1" value="2018-12-04">Dec 4 - Tuesday</option>
                                <option class="py-1" value="2018-12-05">Dec 5 - Wednesday</option>
                                <option class="py-1" value="2018-12-06">Dec 6 - Thursday</option>
                                <option class="py-1" value="2018-12-07">Dec 7 - Friday</option>
                                <option class="py-1" value="2018-12-08">Dec 8 - Saturday</option>
                                <option class="py-1" value="2018-12-09">Dec 9 - Sunday</option>
                                <option class="py-1" value="2018-12-10">Dec 10 - Monday</option>
                                <option class="py-1" value="2018-12-11">Dec 11 - Tuesday</option>
                                <option class="py-1" value="2018-12-12">Dec 12 - Wednesday</option>
                                <option class="py-1" value="2018-12-13">Dec 13 - Thursday</option>
                                <option class="py-1" value="2018-12-14">Dec 14 - Friday</option>
                                <option class="py-1" value="2018-12-15">Dec 15 - Saturday</option>
                                <option class="py-1" value="2018-12-16">Dec 16 - Sunday</option>
                                <option class="py-1" value="2018-12-17">Dec 17 - Monday</option>
                                <option class="py-1" value="2018-12-18">Dec 18 - Tuesday</option>
                                <option class="py-1" value="2018-12-19">Dec 19 - Wednesday</option>
                                <option class="py-1" value="2018-12-20">Dec 20 - Thursday</option>
                                <option class="py-1" value="2018-12-21">Dec 21 - Friday</option>
                                <option class="py-1" value="2018-12-22">Dec 22 - Saturday</option>
                                <option class="py-1" value="2018-12-23">Dec 23 - Sunday</option>
                                <option class="py-1" value="2018-12-24">Dec 24 - Monday</option>
                                <option class="py-1" value="2018-12-25">Dec 25 - Tuesday</option>
                                <option class="py-1" value="2018-12-26">Dec 26 - Wednesday</option>
                                <option class="py-1" value="2018-12-27">Dec 27 - Thursday</option>
                                <option class="py-1" value="2018-12-28">Dec 28 - Friday</option>
                                <option class="py-1" value="2018-12-29">Dec 29 - Saturday</option>
                                <option class="py-1" value="2018-12-30">Dec 30 - Sunday</option>
                                <option class="py-1" value="2018-12-31">Dec 31 - Monday</option>
                                <option class="py-1" value="2019-01-01">Jan 1 - Tuesday</option>
                                <option class="py-1" value="2019-01-02">Jan 2 - Wednesday</option>

                            </select>
                            <div class="">
                            <button class="btn btn-smX btn-infoX bg-gray-200 d-inline-flexX align-self-start p-3 ml-2" type="submit" id="message_messageAuthor" name="message[messageAuthor]" value="Liviu">
                                <i class="far fa-calendar-alt fa-2x"></i>
                            </button>
                            </div>
                        </div>

                    </div>


                    <!-- Add to cart form -->
                    {{ render(controller('App\\Controller\\Shop\\CartController::addItemForm', {'id' : termek.id})) }}
                    <!-- /Add to cart form -->

                    <div class="card border-0 mb-3">
                        <div class="card-body bg-warning-lightenX p-0">
                            {#<h4 class="card-title">Szallitasi dijak INFOBOX</h4>#}
                            <img alt="" class="img-fluid h-15px left-block mb-2 mr-4" src="https://difiorivirag.cdn.shoprenter.hu/custom/difiorivirag/image/cache/w0h0q80np1/icons/CIB_logo.png?v=1537911486">
                            <img alt="" class="img-fluid h-15px left-block mb-2" src="http://www.stulipan.dfr/uploads/images/termekek/paypal.png">

                            <p class="card-text text-sm text-muted">
                                 Fizess online bankkártyáddal vagy utalással internet bankodon keresztül. A kártyás fizetést intézheted a CIB Bank biztonságos szerverén keresztül vagy Paypalon.</p>
                        </div>
                    </div>







				</div>
			</div>
		</div>
	</section>

    <section class="marketing-details">
        <div class="container-fluid selected">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 bg-white order-2 order-lg-1">
                            <section class="miert-dobozok p-3 mt-3">
                                <div class="row">
                                    <div class="col-md-12 col-lg-10 mb-3">
                                        <span class="marketing-title text-lg">Miért válaszd a Tulipánfutárt?</span>
                                        <p></p>
                                        <p class="marketing-subtitle">INGYENES szállítás Budapesten!</p>
                                        <p class="text-muted">Virágküldés Budapestre és környékére. A szállítási módokról és díjakról <a class="underline" href="/szallitasi-dijak" title="Szállítási díjak">itt tudsz bővebben olvasni</a>.
                                        </p>

                                        <p class="marketing-subtitle">Virágküldés a nap 24 órájában</p>
                                        <p class="text-muted">A nap 24 órájában tudsz virágot rendelni. A kézbesítést a kivánt időpontra teljesítjük. A szállítás idejét nincs módunkban percre pontosan teljesíteni. Az általad meghatározott kézbesítési időponttól fél órás eltérés lehetséges. &nbsp;
                                        </p>

                                        <p class="marketing-subtitle">Magas vásárlói elégedettség</p>
                                        <p class="text-muted">A virágküldés folyamata alatt, a beszerzéstől a kézbesítésig rendkívüli figyelmet szentelünk annak, hogy virágaink mindig frissek és szépek maradjanak.
                                        </p>

                                        <p class="marketing-subtitle">Egyedi terméket szeretnél?</p>
                                        <p class="text-muted">Hívd munkatársainkat a <a class="underline" href="tel:06 1 466 6286"><span class="nowrap">06 1 466 6286</span></a> telefonszámon személyre szabott ajándék elkészítése esetén.
                                        </p>

                                        <p class="marketing-subtitle">Ügyfélszolgálat</p>
                                        <p class="text-muted">
                                            Telefon: 06 1 466 6286<br>
                                            Email: info@difiori.hu
                                        </p>








                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="col-lg-6 order-1 order-lg-2">
                            <section class="miert-dobozok selected p-3 mt-3">
                                <div class="row">
                                    <div class="col-md-12 mb-3 text-center">
                                        <span class="detail-option-heading text-lg">Delivered by a carefully selected courier partner</span>
                                    </div>
                                    <div class="col-md-6 col-6 mb-3">
                                        <h5>Courier Flower Delivery</h5>
                                        <img class="img-fluid" src="https://www.ifloraimg.co.uk/kernel/client/images/test-images/tab-courier-pic1.jpg"/>
                                        <p> We work closely with our courier partner to ensure that your beautifully designed bouquet arrives in pristine condition.</p>
                                    </div>
                                    <div class="col-md-6 col-6 mb-3">
                                        <h5>Signature Interflora Black Gift Box</h5>
                                        <img class="img-fluid" src="https://www.ifloraimg.co.uk/kernel/client/images/test-images/tab-courier-pic2.jpg"/>
                                        <p>Your bouquet will be delivered in a signature Interflora black gift box, with the impact of the flowers seen as soon as the box is opened.</p>
                                    </div>
                                    <div class="col-md-6 col-6 mb-3">
                                        <h5>Gift Wrap and Ribbon</h5>
                                        <img class="img-fluid" src="https://www.ifloraimg.co.uk/kernel/client/images/test-images/tab-courier-pic3.jpg"/>
                                        <p>Your bouquet will be presented in elegant Interflora gift wrap and a pretty ribbon. A specially formulated gel solution ensures freshness during delivery.	</p>
                                    </div>
                                    <div class="col-md-6 col-6 mb-3">
                                        <h5>Gift Message and Flower Food</h5>
                                        <img class="img-fluid" src="https://www.ifloraimg.co.uk/kernel/client/images/test-images/tab-hampers-pic4.jpg"/>
                                        <p>Your personal message will be displayed on an attractive greeting card and will accompany your gift. To ensure the flowers remain fresh and in the best possible condition we include some flower food.</p>
                                    </div>
                                </div>


                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}
