{% extends 'webshop/site/base_site.html.twig' %}

{% block title %}
    {{ product.name }} | 	{{ parent() }}
{% endblock %}



{% block stylesheets %}
    {{ parent() }}
    {#<link rel="stylesheet" href="{{ asset('build/v-shop.css') }}"/>#}

    <link href="{{ asset('webshop/site/js/daterangepicker.css') }}" rel="stylesheet" />
{% endblock %}

{% block page_content %}



	<!-- Product detail -->
	<div class="product-details">
		<div class="container mb-0 mb-md-4">
			<div class="row">
                <div class="col-lg-12 mb-3 mb-md-0">
                    <div class="d-none d-md-block">
                        <ul class="breadcrumb undefined">
                            <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
                            <li class="breadcrumb-item"><a href="{{ path('site-product-list', { 'slug': product.categories[0].slug }) }}">{{ product.categories[0].name }}</a></li>
                            <li class="breadcrumb-item active">{{ product.name }}    </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-10 col-lg-10 mx-auto">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-md-6 col-lg-7 order-1 mb-4">
                                    <div class="row">
                                        <div class="col-2 pr-0">
                                            <div data-slider-id="1" class="owl-thumbs">
                                                {% if product.images is defined %}
                                                    {% for image in product.images %}
                                                        <button class="owl-thumb-item detail-thumb-item mb-3">
                                                            <img src="{{ uploaded_asset(image.imagePath)|imagine_filter('product_thumbnail') }}" alt="{{ product.name }} {{ loop.index }}" class="img-fluid product-image">
                                                        </button>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-10 detail-carousel pl-3">
                                            {% set bestseller = false %}
                                            {% if product.isUnavailable %}
                                                <div class="ribbon ribbon-dark">MIND ELKELT</div>
                                            {% elseif product.hasBadges %}
                                                {% for badge in product.badges %}
                                                    {% if badge.css is defined and badge.css != 'bestseller' %}
                                                        <div class="ribbon ribbon-{{ badge.css }}">{{ badge }}</div>
                                                    {% else %}
                                                        {% set bestseller = true %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                            <div>
                                                {#<span class="delivery show-for-large mr-10px"></span>#}
                                                <div data-slider-id="1" class="owl-carousel detail-slider product-image">
                                                    {% if product.images is defined %}
                                                        {% for image in product.images %}
                                                            <div class="item"><a href="{{ uploaded_asset(image.imagePath)|imagine_filter('product_image') }}" data-footer="{{ product.name }} 1" data-toggle="lightbox" data-gallery="product-gallery">
                                                                    <img src="{{ uploaded_asset(image.imagePath)|imagine_filter('product_image') }}" alt="{{ product.name }} 1" class="img-fluid">
                                                                    {% if bestseller %}
                                                                        <div class="card-img-overlay d-flex align-items-end p-0">
                                                                            <div class="text-center w-100 overlay--bestseller">
                                                                                <i class="fas fa-trophy"></i> Bestseller
                                                                            </div>
                                                                        </div>
                                                                    {% endif %}
                                                                </a>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {#<div class="row">#}
                                    {#<div class="col-12 mt-4">#}
                                    {#<p class="mb-2">{{ product.description }}#}
                                    {#</p>#}
                                    {#</div>#}
                                    {#</div>#}
                                </div>
                                <div class="col-md-6 col-lg-5 pl-lg-4 order-2 mb-4">
                                    <h1 class="mb-1">{{ product.name }}</h1>
                                    <div class="d-flex align-items-center justify-content-between mb-4">
                                        {#<ul class="list-inline mb-0">#}
                                            {#<li class="list-inline-item h4 font-weight-light mb-0">{{ product.price.value|number_format(0, ',', ' ')  }} Ft</li>#}
                                            {#<li class="list-inline-item text-muted font-weight-light">#}
                                                {#<del>54 990 Ft</del>#}
                                            {#</li>#}
                                        {#</ul>#}
                                        <div class="d-flex align-items-center">
                                            <ul class="list-inline mr-2 mb-0">
                                                <li class="list-inline-item mr-0"><i class="fa fa-star text-warning"></i></li>
                                                <li class="list-inline-item mr-0"><i class="fa fa-star text-warning"></i></li>
                                                <li class="list-inline-item mr-0"><i class="fa fa-star text-warning"></i></li>
                                                <li class="list-inline-item mr-0"><i class="fa fa-star text-warning"></i></li>
                                                <li class="list-inline-item mr-0"><i class="fa fa-star text-gray-300"></i></li>
                                            </ul>
                                            <a href="#" class="minicard--toolLink">25 értékelés</a>
                                        </div>
                                    </div>



                                    {#<p class="mb-2">{{ product.description }}</p>#}


                                    {#<ul class="product--bullet-points text-smX mb-4">#}
                                        {#<li>Ingyenes szállítás Budapesten!</li>#}
                                        {#<li>Standard méret látható a képen</li>#}
                                        {#<li>Mindig friss virágból</li>#}
                                    {#</ul>#}


                                    <!-- Add to cart form -->
                                    {#{{ render(controller('App\\Controller\\Shop\\CartController::addItemForm', {'id' : product.id})) }}#}

                                    {% form_theme form 'bootstrap_4_layout.html.twig' %}
                                    {{ form_start(form) }}
                                    <div class="mt-2 mb-2">
                                        <span class="detail-option-heading">1. Válasz méretet</span>
                                    </div>
                                    <div class="form-row">
                                        {% if form.selectedSubproduct is defined and form.selectedSubproduct is not empty %}
                                            {% for choice in form.selectedSubproduct %}
                                                <div class="col-sm-4 col-4">
                                                    {{ include('webshop/site/choiceItem-onProductPage.html.twig') }}
                                                </div>
                                            {% endfor %}
                                            {% do form.selectedSubproduct.setRendered() %}
                                        {% else %}
                                            <div class="col-sm-4 col-4">
                                                <div class="visual-picker visual-picker-fluid visual-picker-checked visual-picker-sm align-top has-peekX mr-2">
                                        <span class="visual-picker-figure required">
                                            <span class="visual-picker-content">
                                                <span class="tile tile-lg">
                                                    <span class="font-weight-bold my-0">Egy méret</span><br>
                                                    <span class="price--gross text-nowrap">{{ product.price.value|number_format(0, ',', ' ') }} Ft</span>
                                                </span>
                                            </span>
                                        </span>
                                                </div>

                                            </div>
                                        {% endif %}
                                    </div>

                                    <div class="mt-2 mb-2">
                                <span class="detail-option-heading">2. Hova kéred?
                                    {#<span>Írd be a települést vagy irányítószámot</span>#}
                                </span>
                                    </div>
                                    <div class="form-group mb-4">
                                        <div id="v--whereTo">
                                            {#{{ form_widget(form.whereTo.whereTo, {'attr': {'class': 'form-control', 'placeholder': 'Település: Budakalász, vagy Irányítószám: 2011' }}) }}#}
                                            {#{{ form_widget(form.whereTo.whereTo, {'attr': {#}
                                            {#'class': 'form-control select2 select2-multiple select2-hidden-accessible',#}
                                            {#'placeholder': 'Település: Budakalász, vagy Irányítószám: 2011',#}
                                            {#'data-toggle' : 'select2',#}
                                            {#'aria-hidden' : 'true',#}
                                            {#}}) }}#}
                                            {#{{ form_errors(form.whereTo) }}#}
                                            {% do form.whereTo.setRendered() %}
                                        </div>
                                    </div>

                                    <div class="mt-2 mb-2">
                                <span class="detail-option-heading">3. Mikorra kéred?
                                    {#<span>Válasz időpontot</span>#}
                                </span>
                                    </div>
                                    <div class="row order-delivery-date mb-4">
                                        <div class="col-md-12 col-lg-12 JS--dateWrapper">
                                            <div class="flex-grow-1X form-row">
                                                {% for choice in form.deliveryDate.deliveryDate %}
                                                    <div class="col-sm-3 col-3">
                                                        {% if not loop.last %}
                                                            {{ include('webshop/site/choiceItem.html.twig') }}
                                                        {% else %}
                                                            <div class="visual-picker visual-picker-fluid visual-picker-sm align-top has-peekX mr-2">
                                                                <input class="JS--Button-clickDate" type="radio" id="{{ choice.vars.id }}" name="{{ choice.vars.full_name }}" required="required" value="" {{ choice.vars.checked ? 'checked' : '' }}/>
                                                                <label class="visual-picker-figure justify-content-lg-center justify-content-center required px-2" for="{{ choice.vars.id }}">
                                                <span class="visual-picker-content">
                                                    <span class="tile tile-lg JS--showDateValue">

                                                    </span>
                                                    <span class="tile tile-lg JS--showCalendarIcon">
                                                        <i class="far fa-calendar-alt fa-2x text-gray-700"></i>
                                                    </span>
                                                </span>
                                                                </label>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                {% endfor %}
                                                {% do form.deliveryDate.deliveryDate.setRendered() %}
                                                {#{{ form_widget(form.deliveryDate.deliveryDate, {'attr' : {'class' : 'd-inline-flex pt-1 text-sm'}}) }}#}
                                                {{ form_errors(form.deliveryDate.deliveryDate) }}
                                            </div>
                                            <div class="text-sm text-muted">
                                                Kosárba rakás után megadható a napszakasz is.

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row d-none">
                                        <div class="col-12 detail-option mb-4">
                                            <label class="detail-option-heading">Items <span>(required)</span></label>
                                            {{ form_widget(form.quantity, {'attr': {'class': 'form-control detail-quantity'}}) }}

                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-lg-12">
                                            <button type="submit" class="JS--Button-addToCart btn btn-success btn-lg mb-1 w-100 h3"> <i class="fa fa-shopping-cart mr-2"></i>Kosárba rakom</button>
                                            <div class="JS--loadingOverlay d-flex align-items-stretch loading-lg"></div>
                                        </div>
                                    </div>

                                    {{ form_end(form) }}
                                    {#{% do form.setRendered() %}#}

                                    <!-- /Add to cart form -->

                                    <div class="card border-0 mb-3">
                                        <div class="card-body bg-warning-lightenX text-center p-0 px-2">
                                            <img alt="" class="img-fluid h-15px left-block mb-2 mr-4" src="https://difiorivirag.cdn.shoprenter.hu/custom/difiorivirag/image/cache/w0h0q80np1/icons/CIB_logo.png?v=1537911486">
                                            <img alt="" class="img-fluid h-15px left-block mb-2" src="http://www.stulipan.dfr/uploads/images/termekek/paypal.png">
                                            <p class="card-text text-xs text-muted">
                                                Fizess online bankkártyáddal vagy utalással internet bankodon keresztül. A kártyás fizetést intézheted a CIB Bank biztonságos szerverén keresztül vagy Paypalon.</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

			</div>
		</div>
	</div>

    <div class="marketing-details">
        <div class="d-flex flex-column flex-md-row">
            <div class="d-flex flex-grow-1 w-100 justify-content-center justify-content-md-end bg-custom-gray py-3 my-4X ml-3X">
                <div class="order-2 order-lg-1" style="max-width: 500px;">
                    <div class="miert-dobozok p-3">
                        <div class="row">
                            <div class="col-md-12 col-lg-10 mb-3">
                                <div class="marketing-title text-lg mb-5">Miért válaszd a Tulipánfutárt?</div>
                                <p></p>
                                <h5 class="h5 marketing-subtitleX">INGYENES szállítás Budapesten!</h5>
                                <p class="text-muted font-weight-light text-smX">Virágküldés Budapestre és környékére. A szállítási módokról és díjakról <a class="underline" href="/szallitasi-dijak" title="Szállítási díjak">itt tudsz bővebben olvasni</a>.
                                </p>

                                <h5 class="h5 marketing-subtitleX">Virágküldés a nap 24 órájában</h5>
                                <p class="text-muted font-weight-light text-smX">A nap 24 órájában tudsz virágot rendelni. A kézbesítést a kivánt időpontra teljesítjük. A szállítás idejét nincs módunkban percre pontosan teljesíteni. Az általad meghatározott kézbesítési időponttól fél órás eltérés lehetséges. &nbsp;
                                </p>

                                <h5 class="h5 marketing-subtitleX">Magas vásárlói elégedettség</h5>
                                <p class="text-muted font-weight-light text-smX">A virágküldés folyamata alatt, a beszerzéstől a kézbesítésig rendkívüli figyelmet szentelünk annak, hogy virágaink mindig frissek és szépek maradjanak.
                                </p>

                                <h5 class="h5 marketing-subtitleX">Egyedi terméket szeretnél?</h5>
                                <p class="text-muted font-weight-light text-smX">Hívd munkatársainkat a <a class="underline" href="tel:06 1 466 6286"><span class="nowrap">06 1 466 6286</span></a> telefonszámon személyre szabott ajándék elkészítése esetén.
                                </p>

                                <h5 class="h5 marketing-subtitleX">Ügyfélszolgálat</h5>
                                <p class="text-muted font-weight-light text-smX">
                                    Telefon: 06 1 466 6286<br>
                                    Email: info@difiori.hu
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-grow-1 w-100 justify-content-center justify-content-md-start bg-custom-yellow px-0 px-md-2">
                <div class="order-1 order-lg-2" style="max-width: 500px;">
                    <div class="miert-dobozok p-3 mt-3">
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <div class="marketing-title text-lg mb-4">Delivered by a carefully selected courier partner</div>
                            </div>
                            <div class="col-md-6 col-6 mb-3">
                                <h5>Courier Flower Delivery</h5>
                                <img class="img-fluid mb-2" src="https://www.ifloraimg.co.uk/kernel/client/images/test-images/tab-courier-pic1.jpg"/>
                                <p class="text-muted font-weight-light"> We work closely with our courier partner to ensure that your beautifully designed bouquet arrives in pristine condition.</p>
                            </div>
                            <div class="col-md-6 col-6 mb-3">
                                <h5>Signature Interflora Black Gift Box</h5>
                                <img class="img-fluid mb-2" src="https://www.ifloraimg.co.uk/kernel/client/images/test-images/tab-courier-pic2.jpg"/>
                                <p class="text-muted font-weight-light">Your bouquet will be delivered in a signature Interflora black gift box, with the impact of the flowers seen as soon as the box is opened.</p>
                            </div>
                            <div class="col-md-6 col-6 mb-3">
                                <h5>Gift Wrap and Ribbon</h5>
                                <img class="img-fluid mb-2" src="https://www.ifloraimg.co.uk/kernel/client/images/test-images/tab-courier-pic3.jpg"/>
                                <p class="text-muted font-weight-light">Your bouquet will be presented in elegant Interflora gift wrap and a pretty ribbon. A specially formulated gel solution ensures freshness during delivery.	</p>
                            </div>
                            <div class="col-md-6 col-6 mb-3">
                                <h5>Gift Message and Flower Food</h5>
                                <img class="img-fluid mb-2" src="https://www.ifloraimg.co.uk/kernel/client/images/test-images/tab-hampers-pic4.jpg"/>
                                <p class="text-muted font-weight-light">Your personal message will be displayed on an attractive greeting card and will accompany your gift. To ensure the flowers remain fresh and in the best possible condition we include some flower food.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block javascripts %}
	{{ parent() }}
    <script src="{{ asset('build/v-shop.js') }}"></script>


    <script src="{{ asset('webshop/site/js/moment.min.js') }}"></script>
    <script src="{{ asset('webshop/site/js/daterangepicker.js') }}"></script>
    <script>
        // ------------------------------------------------------- //
        // Detail Carousel with thumbs
        // ------------------------------------------------------ //
        $('.detail-slider').owlCarousel({
            loop: true,
            items: 1,
            thumbs: true,
            thumbsPrerendered: true,
            dots: false,
            responsiveClass: false
        });

        // ------------------------------------------------------- //
        //   Ekko Lightbox
        // ------------------------------------------------------ //

        $(document).on('click', '[data-toggle="lightbox"]', function (event) {
            event.preventDefault();
            $(this).ekkoLightbox({
                alwaysShowClose: true,
//                leftArrow: '<span><img src="img/prev.svg" class="nav-arrow nav-arrow-left" alt="" width="50"></span>',
//                rightArrow: '<span><img src="img/next.svg" class="nav-arrow nav-arrow-right" alt="" width="50"></span>'
            });
        });
    </script>


    <script>
        $(function() {
            $('.JS--Button-clickDate').daterangepicker({
                opens: 'right',
                autoApply: true,
                autoUpdateInput: false,
                singleDatePicker: true,
    //            alwaysShowCalendars: true,
                minDate: moment().add(4, 'hours'),
                maxDate: moment().add(2, 'months'),
                locale: {
                    format: 'YYYY-MM-DD',
                    separator: ' / ',
                    applyLabel: 'Alkalmaz',
                    cancelLabel: 'Mégse',
                    daysOfWeek: [
                        'V',
                        'H',
                        'K',
                        'Sz',
                        'Cs',
                        'P',
                        'Sz'
                    ],
                    monthNames: [
                        'Január',
                        'Február',
                        'Március',
                        'Április',
                        'Május',
                        'Június',
                        'Július',
                        'Augusztus',
                        'Szeptember',
                        'Október',
                        'November',
                        'December'
                    ],
                    firstDay: 1,
                }
            });
            $('.JS--Button-clickDate').on('apply.daterangepicker', function(ev, picker) {
                ev.preventDefault();
                $pickerDate = picker.startDate.format('YYYY-MM-DD');

                $dateValueWrapper = $(this).closest('.JS--dateWrapper').find('.JS--showDateValue');
                $calendarIconWrapper = $(this).closest('.JS--dateWrapper').find('.JS--showCalendarIcon');
                /**
                 * Csak az első 3 rádió opcióba keresi a pickerDate-et. És ha benne van, akkor a Calendárt mutatja.
                 */
                $selectedRadio = $(this).closest('.JS--dateWrapper').find('input[type="radio"][value="' + $pickerDate + '"]:not(".JS--Button-clickDate")');
                if ($selectedRadio.val()) {
                    console.log($selectedRadio);
                    $selectedRadio.prop('checked', true);
                    $dateValueWrapper.hide();
                    $calendarIconWrapper.show();
                }
                /**
                 * Ha nincs benne, akkor negyedik rádió inputhoz rendeli a pickerDate-et és elrejti a Calendárt.
                 */
                else {
                    $(this).val($pickerDate);  // az input, amihez kötve van a gomb, megkapja a daterangepicker értékét (dátumot)
                    $html = '<span class="font-weight-bold my-0">' + picker.startDate.format('MMM D') + '</span><br> <span class="price--gross text-nowrap">' + picker.startDate.format('ddd') + '</span>';
                    $dateValueWrapper.html($html);
                    $calendarIconWrapper.hide();
                    $dateValueWrapper.show();
                }
            });
            $('.JS--Button-clickDate').on('cancel.daterangepicker', function(ev, picker) {
                $(this).val('');
            });
            /**
             * Amikor nem a Daterangepicker-re klikkel, akkor biztos a Calendárt kell mutatnia.
             */
            $('.JS--dateWrapper input[type="radio"]:not(".JS--Button-clickDate")').on('click', function () {
                $dateValueWrapper = $(this).closest('.JS--dateWrapper').find('.JS--showDateValue');
                $calendarIconWrapper = $(this).closest('.JS--dateWrapper').find('.JS--showCalendarIcon');
                $dateValueWrapper.hide();
                $calendarIconWrapper.show();
            });
        });
    </script>
    <script>
        // Displays the loading circle
        $(function() {
            var proceed = false;
            $(document).on('click', '.JS--Button-addToCart', function (event) {
                if (proceed) {
                    proceed = false;
                    return;
                }
                event.preventDefault();
                var $element = $(event.currentTarget);
                $element.addClass('text-success-faded');
                $element.next('.JS--loadingOverlay').addClass('loading-overlay loading');
                proceed = true;
                $element.trigger('click');
                $element.prop('disabled', true);
            });
        });
    </script>
{% endblock %}
