{% extends 'webshop/site/template-collection.html.twig' %}

{% if category.name is defined and category.name is not empty %}
    {% set pageTitle = category.name %}
{% else %}
    {% set pageTitle = 'collection.products'|trans %}
{% endif %}

{% block stylesheets %}
    {{ parent() }}
    {% if category.name is defined and category.name is not empty %}
        <meta property="og:title" content="{{ category.name }}">

        <meta property="og:description" content="{{ category.description|striptags }} {{ storeSettings.get('store.name') }}">
        {% if category.imagePath %}
            <meta property="og:image" content="{{ uploaded_asset(category.imagePath)|imagine_filter('size_facebook') }}">
            <meta property="og:image:width" content="1000" />
            <meta property="og:image:height" content="1000" />
        {% endif %}
        <meta property="og:url" content="{{ url('site-product-list', {'slug': category.slug}) }}" />
    {% else %}
        <meta property="og:title" content="{{ 'collection.products'|trans }}">
        <meta property="og:description" content="{{ storeSettings.get('meta.description') }}">
        <meta property="og:image" content="https://rafina.hu/media/cache/unscaled/uploads/images/store/szappan-rozsa-box-6657-608385608ad84.jpg">
        <meta property="og:image:width" content="1000" />
        <meta property="og:image:height" content="1000" />
        <meta property="og:url" content="{{ url('site-product-listall') }}" />
    {% endif %}

{% endblock %}

{% block content %}

    <div class="container-fluid p-0">
        <div class="jumbotron jumbotron-fluid">
            <div class="position-relative text-white">
                <div class="jumbotron--cover jumbotron--cover-collection dark-overlay" {% if category.image is defined and category.image is not empty %} style="background-image: url({{ uploaded_asset(category.imagePath)|imagine_filter('unscaled') }});" {% else %}style="background-image: url('/uploads/images/ajtodisz-hero-banner.jpg');" {% endif %}>
                </div>
                <div class="container card-img-overlay d-flex align-items-center px-md-6">
                    <div class="text-center w-100">
                        <h1 class="font-weight-bold">{{ category is defined ? category : 'collection.products'|trans }}</h1>
                        <span class="lead">{{ category.description is defined ? category.description|raw : '' }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-11 col-xl-12 mx-auto">
                <div class="products-grid">
{#                    <div class="products-grid--header d-none d-md-flex" {% if category.imagePath is defined %} style="background-image: url({{ uploaded_asset(category.imagePath)|imagine_filter('category_image') }});" {% endif %}>#}
{#                        <div class="row flex-grow-1">#}
{#                            <div class="col-md-8 d-flex align-items-center">#}
{#                                <div class="landing--heading p-md-3 ml-2 ml-lg-3">#}
{#                                    <h1><span class="text-danger">{{ category is defined ? category : 'collection.products'|trans }}</span> </h1>#}
{#                                    <div class="row">#}
{#                                        <div class="col-md-8 p-3" style="background-color: rgba(255,255,255,.7);">#}
{#                                            <span class="listing--lead">{{ category.description is defined ? category.description : '' }}</span>#}
{#                                        </div>#}
{#                                    </div>#}
{#            #}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-md-4">#}
{#                                <div class="landing--info ml-lg-5">#}
{#                                    <div class="p-lg-3">#}
{#                                        <h3>ORDER UP TO 10pm</h3>#}
{#                                        <span>For next day delivery</span>#}
{#                                    </div>#}
{#                                    <div class="p-lg-3">#}
{#                                        <h3>FREE DELIVERY</h3>#}
{#                                        <span>monday - sunday</span>#}
{#                                    </div>#}
{#                                    <div class="p-lg-3">#}
{#                                        <h3>CUSTOMER SATISFACTION</h3>#}
{#                                        <span><span class="ratings small r-45 no-margin"></span> <strong>4.3/5</strong> <a href="/en/uk/reviews">based on 348792 reviews</a></span>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#            #}
{#                    <div class="products-grid--header-mobile mt-4 d-flex d-md-none flex-column">#}
{#                        <h1 class="">{{ category is defined ? category : 'collection.products'|trans }}</h1>#}
{#                        <p class="listing--lead">{{ category.description is defined ? category.description : '!Születésnapra, évfordulóra, randira, köszönet kifejezésére, babaköszöntőre, vendégségbe, ballagásra, vagy csak úgy, ajándékozz egy szép virágcsokrot. Csak válaszd ki a csokrot és a kézbesítésről mi gondoskodunk.' }}</p>#}
{#                    </div>#}
{#                    <div class="products-grid--countdown mt-3 d-none d-md-block">#}
{#                        <i class="far fa-clock"></i> <span>Rendelj a következő <span class="font-weight-bold">XX óra és YY percen</span> belül, <span class="font-weight-bold">holnapi</span> kiszállításhoz.</span>#}
{#                    </div>#}

                    {% include '/webshop/site/product-list-widget.html.twig' %}

                </div>
                {% if category is defined and category %}
                    {% if category.seoContent is defined and category.seoContent is not empty %}
                    <div class="row mt-4 mb-5">
                        <div class="col-lg-9">
                            <div class="cms-page-title">
                                <h2 class="font-weight-bold text-reset">{{ category.name }}</h2>
                            </div>
                            <div class="cms-page-body">
                                {{ category.seoContent|raw }}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% else %}
                    <div class="row mt-4 mb-5">
                        <div class="col-lg-9">
                            <div class="cms-page-title">
                                <h2 class="font-weight-bold text-reset">Alakíts ki egy élhető és kényelmes életteret</h2>
                            </div>
                            <div class="cms-page-body">
                                <p>Az életünk nagy részét az irodában és otthon töltjük. Az iroda az az hely ahol a legjobban akarunk teljesíteni, míg otthon a munka fáradalmait próbáljuk kipihenni. De mi törtenik akkor, ha egyik sem megy valami fényesen?</p>
                                <p>Hogyan alakítsunk ki kellemes élettereket? Inspirálódj a Rafinával! Ráadásul, kopogtatóink, asztadíszeink a költségvetésedben sem fognak nagy éket verni.</p>
                                <p>A Rafina kopogtatói, asztaldíszei egytől egyig mind kézzel készül, nem sorozatgyártottak. A Rafina virágdobozok selyem virágok felhasználásával, míg a rózsaboxok szappan rózsából készülnek. Előfordulhat, hogy egy-egy termék limitált számban kapható, ezért érdemes a kiszemelt darabot minél hamarabb megrendelni. Az elkészítésük során, minden termékre nagy figyelmet fordítunk és gondosan ügyelünk a végeredmény minőségi darab legyen.</p>
                                <p>Az ajtódíszek és kopogtatók esetén, tudd, hogy rendelkeznek egy akasztóval, úgy ahogy egy képkeretnél az megszokott. Továbbá minden kopogtatót, egy dekorativ akasztó szalaggal is ellátunk, hogy kézhezvétel után a kopogtatót azonnal fel tudd lógatni az ajtóra.</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{#{% block footerHighlights %}#}
{#{% endblock %}#}

