{% extends 'webshop/site/template-general.html.twig' %}

{% set pageTitle = product.name %}
{% set breadcrumb = {
    0: {
        'url': path('homepage'),
        'text': 'generic.home'|trans,
    },
    1: {
        'url': path('site-product-list', { 'slug': product.categories[0].slug }),
        'text': product.categories[0].name,
    },
    2: {
        'url': path('site-product-show', { 'slug': product.slug }),
        'text': product.name,
    },
} %}

{% set isThumbnailsLeft = true %}

{% block stylesheets %}
    {{ parent() }}
    {#<link rel="stylesheet" href="{{ asset('build/v-shop.css') }}"/>#}
    {{ encore_entry_link_tags('daterangepicker') }}
{% endblock %}

{% block bodyClass %}
    product-details
{% endblock %}

{% block content %}
    <div class="row mt-0 mt-sm-3">
        <div class="col-lg-11X col-xl-12 mx-auto">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-6 col-lg-7 order-1 correction-product-image-no-padding">
                            <div class="row">
                                <!-- Thumbnails lef to the  Main Image -->
                                {% if isThumbnailsLeft == true %}
                                <div class="d-none d-sm-flex col-sm-2 pr-0 order-2 order-sm-1">
                                    <div data-slider-id="1" class="owl-thumbs">
                                        {% if product.images is defined %}
                                            {% for image in product.images %}
                                                <button class="owl-thumb-item detail-thumb-item mb-10px">
                                                    <img src="{{ uploaded_asset(image.imagePath)|imagine_filter('product_thumbnail') }}" alt="{{ product.name }} {{ loop.index }}" class="img-fluid product-image">
                                                </button>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                {% endif %}
                                <!-- MAIN IMAGE -->
                                <div class="order-1 order-sm-2 {% if isThumbnailsLeft == true %}col-12 col-sm-10{% else %}col-12{% endif %}">
                                    <div class="detail-carousel position-relative">
                                        {% set bestseller = false %}
                                        {% if product.isUnavailable %}
                                            <div class="ribbon ribbon-dark">MIND ELKELT</div>
                                        {% elseif product.hasBadges %}
                                            {% for badge in product.badges %}
                                                {% if badge.css is defined and badge.css != 'bestseller' %}
                                                    <div class="ribbon ribbon-{{ badge.css }}">{{ badge }}</div>
                                                {% else %}
                                                    {% set bestseller = true %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        <div class="">
                                            <div data-slider-id="1" class="owl-carousel detail-slider owl-theme">
                                                {% if product.images is defined %}
                                                    {% for image in product.images %}
                                                        <div class="item">
                                                            <a href="{{ uploaded_asset(image.imagePath)|imagine_filter('product_image') }}" data-footer="{{ product.name }} 1" data-toggle="lightbox" data-gallery="product-gallery">
                                                                <img src="{{ uploaded_asset(image.imagePath)|imagine_filter('product_image') }}" alt="{{ product.name }} 1" class="img-fluid">
                                                            </a>
                                                        </div>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                        {% if bestseller %}
                                            <div class="ribbon ribbon-bottom"><i class="fas fa-trophy"></i> Bestseller</div>
                                        {% endif %}
                                    </div>
                                </div>
                                {% if isThumbnailsLeft == false %}
                                <!-- Thumbnails bellow Main Image -->
                                <div class="col-12">
                                    <div data-slider-id="1" class="owl-thumbs row">
                                        {% if product.images is defined %}
                                            {% for image in product.images %}
                                                <button class="owl-thumb-item detail-thumb-item col-2 mt-3 mb-3 ml-3">
                                                    <img src="{{ uploaded_asset(image.imagePath)|imagine_filter('product_thumbnail') }}" alt="{{ product.name }} {{ loop.index }}" class="img-fluid product-image">
                                                </button>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-5 order-2 mt-3 mt-md-0">
                            <div class="row">
                                <div class="col-12">
                                    <div class="product-reviews">
                                        <div class="d-flex align-items-center justify-content-between mb-1">
                                            <div class="d-flex align-items-center">
                                                <ul class="review-stars-group mr-2 mb-0">
                                                    <li class="review-stars-item"><i class="fa fa-star text-warning"></i></li>
                                                    <li class="review-stars-item"><i class="fa fa-star text-warning"></i></li>
                                                    <li class="review-stars-item"><i class="fa fa-star text-warning"></i></li>
                                                    <li class="review-stars-item"><i class="fa fa-star text-warning"></i></li>
                                                    <li class="review-stars-item"><i class="fa fa-star text-gray-300"></i></li>
                                                </ul>
                                            </div>
                                            <div class="">
                                                <a href="#" class="text-sm">25 értékelés <i class="fas fa-long-arrow-alt-right ml-1"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="product-name">
                                        <h1 class="">{{ product.name }}</h1>
                                    </div>
                                </div>

                                <div class="col-12">
                                    {% if product.isPubliclyAvailable %}
                                        {% if product.isFlower %}

                                        {% else %}
                                            <div class="product-price">
                                                <div class="d-flex align-items-center justify-content-between">
                                                    <ul class="list-inline mb-0">
                                                        <li class="list-inline-item price">
                                                            <del>{{ (product.price.numericValue*4)|money }}</del>
                                                        </li>
                                                        <li class="list-inline-item price price-sale">{{ product.price.numericValue|money }}</li>

                                                    </ul>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endif %}

                                    <!-- Add to cart form -->
                                    {% if product.isPubliclyAvailable %}
                                        <div data-section-id="addToCart-template" data-section-type="addToCart-template">
                                            {% include 'webshop/site/product-show-addToCartForm-widget.html.twig' %}

                                            <div class="row mb-3">
                                                <div class="col-lg-12">
                                                    <button type="submit" class="JS--Button-addToCart btn btn-lg btn-primary btn-uppercase w-100">
                                                    <span class="btn-loading-invisible">
                                                        <svg class="svg-icon svg-icon-heavy addtocart">
                                                            <use xlink:href="#cart-1"> </use>
                                                        </svg>
                                                        Kosárba rakom
                                                    </span>
                                                        <div class="loading-spinner" role="status"></div>
                                                    </button>
                                                </div>
                                            </div>


                                            <div class="product-credit-card">
                                                <div class="text-center">
                                                    <img alt="" class="img-fluid h-15px left-block mb-2 mr-4" src="/uploads/images/icons/CIB_logo.png">
                                                    <img alt="" class="img-fluid h-15px left-block mb-2" src="/uploads/images/termekek/paypal.png">
                                                    <div class="text-sm">
                                                        Fizess online bankkártyáddal vagy utalással internet bankodon keresztül. A kártyás fizetést intézheted a CIB Bank biztonságos szerverén keresztül vagy Paypalon.</div>
                                                </div>
                                            </div>
                                            <div class="product-quickinfo-link">
                                                <div class="">
                                                    <div>
                                                        <span class="text-sm mr-2"><i class="fas fa-shipping-fast"></i></span>
                                                        <a href="#" class="text-link-quickinfo" data-toggle="modal" data-target="#modal--ShippingInfo">Szállítási díjak</a>
                                                        <div class="modal fade" id="modal--ShippingInfo" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                                                            <div class="modal-dialog modal-lg modal-quickinfo modal-dialog-centered modal-dialog-scrollable" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <h3 class="modal-title" id="modalLabel">{{ pages.szallitasiDijak.name }}</h3>
                                                                        <div class="mt-4">
                                                                            {{ pages.szallitasiDijak.content|raw }}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div >
                                                        <span class="text-sm mr-2"><i class="far fa-credit-card"></i></span>
                                                        <a href="" class="text-link-quickinfo">Fizess online bankkártyáddal</a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        <span class="badge badge--unavailableProduct"><i class="fas fa-info-circle"></i>A termék már nem áll forgalmazásban</span>
                                    {% endif %}
                                    </div>
                                </div>

                            </div>

                            {#<p class="mb-2">{{ product.description }}</p>#}


                            {#<ul class="product--bullet-points text-smX mb-4">#}
                            {#<li>Ingyenes szállítás Budapesten!</li>#}
                            {#<li>Standard méret látható a képen</li>#}
                            {#<li>Mindig friss virágból</li>#}
                            {#</ul>#}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block contentWide %}
    <div class="general-info-section">
        <div class="d-flex flex-column flex-md-row">
            <div class="d-flex flex-grow-1 w-100 justify-content-center justify-content-md-end bg-custom-gray py-3 my-4X ml-3X order-2 order-md-1">
                <div class="general-info-section-left">
                    <div class="miert-dobozok p-3">
                        <div class="row">
                            <div class="col-sm-11 mx-sm-auto col-md-11 mr-md-auto ml-md-0 col-lg-11">
                                <div class="h3 general-info-title">Miért válaszd a Tulipánfutárt?</div>
                            </div>
                            <div class="col-sm-11 mx-sm-auto col-md-10 mr-md-auto ml-md-0 col-lg-7X mt-3">
                                <div class="card accordion" id="accordionMiertDobozok">
                                    <div class="list-group">
                                        <div class="list-group-item p-0">
                                            <div class="card-body position-relative">
                                                <div class="position-relative d-flex justify-content-between align-items-center">
                                                    <div class="d-inline-flex align-items-center">
                                                        <div class="general-info-item-title mb-0">INGYENES szállítás Budapesten!</div>
                                                    </div>
                                                    <div class="d-flex text-sm">
                                                        <i class="fas fa-chevron-right"></i>
                                                    </div>
                                                </div>
                                                <a href="" class="tile-link" id="miertDobozOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"></a>
                                            </div>
                                            <div id="collapseOne" class="card-body collapse" aria-labelledby="miertDobozOne" data-parent="#accordionMiertDobozok">
                                                <p class="general-info-item-description">Virágküldés Budapestre és környékére. A szállítási módokról és díjakról <a class="underline" href="{{ path('site-page-show', { 'slug': 'szallitasi-dijak'}) }}" title="Szállítási díjak">itt tudsz bővebben olvasni</a>.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="list-group-item p-0">
                                            <div class="card-body position-relative">
                                                <div class="position-relative d-flex justify-content-between align-items-center">
                                                    <div class="d-inline-flex align-items-center">
                                                        <div class="general-info-item-title mb-0">Virágküldés a nap 24 órájában</div>
                                                    </div>
                                                    <div class="d-flex text-sm">
                                                        <i class="fas fa-chevron-right"></i>
                                                    </div>
                                                </div>
                                                <a href="" class="tile-link" id="miertDobozOne" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"></a>
                                            </div>
                                            <div id="collapseTwo" class="card-body collapse" aria-labelledby="miertDobozOne" data-parent="#accordionMiertDobozok">
                                                <p class="general-info-item-description">A nap 24 órájában tudsz virágot rendelni. A kézbesítést a kivánt időpontra teljesítjük. A szállítás idejét nincs módunkban percre pontosan teljesíteni. Az általad meghatározott kézbesítési időponttól fél órás eltérés lehetséges. &nbsp;
                                                </p>
                                            </div>
                                        </div>
                                        <div class="list-group-item p-0">
                                            <div class="card-body position-relative">
                                                <div class="position-relative d-flex justify-content-between align-items-center">
                                                    <div class="d-inline-flex align-items-center">
                                                        <div class="general-info-item-title mb-0">Magas vásárlói elégedettség</div>
                                                    </div>
                                                    <div class="d-flex text-sm">
                                                        <i class="fas fa-chevron-right"></i>
                                                    </div>
                                                </div>
                                                <a href="" class="tile-link" id="miertDobozOne" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"></a>
                                            </div>
                                            <div id="collapseThree" class="card-body collapse" aria-labelledby="miertDobozOne" data-parent="#accordionMiertDobozok">
                                                <p class="general-info-item-description">A virágküldés folyamata alatt, a beszerzéstől a kézbesítésig rendkívüli figyelmet szentelünk annak, hogy virágaink mindig frissek és szépek maradjanak.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="list-group-item p-0">
                                            <div class="card-body position-relative">
                                                <div class="position-relative d-flex justify-content-between align-items-center">
                                                    <div class="d-inline-flex align-items-center">
                                                        <div class="general-info-item-title mb-0">Egyedi terméket szeretnél?</div>
                                                    </div>
                                                    <div class="d-flex text-sm">
                                                        <i class="fas fa-chevron-right"></i>
                                                    </div>
                                                </div>
                                                <a href="" class="tile-link" id="miertDobozOne" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour"></a>
                                            </div>
                                            <div id="collapseFour" class="card-body collapse" aria-labelledby="miertDobozOne" data-parent="#accordionMiertDobozok">
                                                <p class="general-info-item-description">Hívd munkatársainkat a <a class="underline" href="tel:06 1 466 6286"><span class="nowrap">06 1 466 6286</span></a> telefonszámon személyre szabott ajándék elkészítése esetén.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="list-group-item p-0">
                                            <div class="card-body position-relative">
                                                <div class="position-relative d-flex justify-content-between align-items-center">
                                                    <div class="d-inline-flex align-items-center">
                                                        <div class="general-info-item-title mb-0">Ügyfélszolgálat</div>
                                                    </div>
                                                    <div class="d-flex text-sm">
                                                        <i class="fas fa-chevron-right"></i>
                                                    </div>
                                                </div>
                                                <a href="" class="tile-link" id="miertDobozOne" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive"></a>
                                            </div>
                                            <div id="collapseFive" class="card-body collapse" aria-labelledby="miertDobozOne" data-parent="#accordionMiertDobozok">
                                                <p class="general-info-item-description">
                                                    Telefon: 06 1 466 6286<br>
                                                    Email: info@difiori.hu
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>


{#                                <div class="general-info-group">#}
{#                                    <div class="general-info-item">#}
{#                                        <div class="general-info-item-title">INGYENES szállítás Budapesten!</div>#}
{#                                        <p class="general-info-item-description">Virágküldés Budapestre és környékére. A szállítási módokról és díjakról <a class="underline" href="{{ path('site-page-show', { 'slug': 'szallitasi-dijak'}) }}" title="Szállítási díjak">itt tudsz bővebben olvasni</a>.#}
{#                                        </p>#}
{#                                    </div>#}

{#                                    <div class="general-info-item">#}
{#                                        <div class="general-info-item-title">Virágküldés a nap 24 órájában</div>#}
{#                                        <p class="general-info-item-description">A nap 24 órájában tudsz virágot rendelni. A kézbesítést a kivánt időpontra teljesítjük. A szállítás idejét nincs módunkban percre pontosan teljesíteni. Az általad meghatározott kézbesítési időponttól fél órás eltérés lehetséges. &nbsp;#}
{#                                        </p>#}
{#                                    </div>#}

{#                                    <div class="general-info-item">#}
{#                                        <div class="general-info-item-title">Magas vásárlói elégedettség</div>#}
{#                                        <p class="general-info-item-description">A virágküldés folyamata alatt, a beszerzéstől a kézbesítésig rendkívüli figyelmet szentelünk annak, hogy virágaink mindig frissek és szépek maradjanak.#}
{#                                        </p>#}
{#                                    </div>#}

{#                                    <div class="general-info-item">#}
{#                                        <div class="general-info-item-title">Egyedi terméket szeretnél?</div>#}
{#                                        <p class="general-info-item-description">Hívd munkatársainkat a <a class="underline" href="tel:06 1 466 6286"><span class="nowrap">06 1 466 6286</span></a> telefonszámon személyre szabott ajándék elkészítése esetén.#}
{#                                        </p>#}
{#                                    </div>#}

{#                                    <div class="general-info-item">#}
{#                                        <div class="general-info-item-title">Ügyfélszolgálat</div>#}
{#                                        <p class="general-info-item-description">#}
{#                                            Telefon: 06 1 466 6286<br>#}
{#                                            Email: info@difiori.hu#}
{#                                        </p>#}
{#                                    </div>#}
{#                                </div>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-grow-1 w-100 justify-content-center justify-content-md-start bg-custom-yellow px-0 px-md-2 order-1 order-md-2">
                <div class="general-info-section-right">
                    <div class="miert-dobozok general-info-group p-3 mt-3">
                        <div class="row">
                            <div class="col-sm-11 mx-sm-auto col-md-12 mb-3">
                                <div class="h3 general-info-title mb-5">Delivered by a carefully selected courier partner</div>
                            </div>
                            <div class="col-sm-11 mx-sm-auto col-md-12">
                                <div class="row row-narrow">
                                    <div class="col-md-6 col-6 mb-3">
                                        <div class="general-info-item-title">Courier Flower Delivery</div>
                                        <img class="img-fluid mb-2" src="/uploads/images/other/tab-courier-pic1.jpg"/>
                                        <p class="general-info-item-description"> We work closely with our courier partner to ensure that your beautifully designed bouquet arrives in pristine condition.</p>
                                    </div>
                                    <div class="col-md-6 col-6 mb-3">
                                        <div class="general-info-item-title">Signature Interflora Black Gift Box</div>
                                        <img class="img-fluid mb-2" src="/uploads/images/other/tab-courier-pic2.jpg"/>
                                        <p class="general-info-item-description">Your bouquet will be delivered in a signature Interflora black gift box, with the impact of the flowers seen as soon as the box is opened.</p>
                                    </div>
                                    <div class="col-md-6 col-6 mb-3">
                                        <div class="general-info-item-title">Gift Wrap and Ribbon</div>
                                        <img class="img-fluid mb-2" src="/uploads/images/other/tab-courier-pic3.jpg"/>
                                        <p class="general-info-item-description">Your bouquet will be presented in elegant Interflora gift wrap and a pretty ribbon. A specially formulated gel solution ensures freshness during delivery.	</p>
                                    </div>
                                    <div class="col-md-6 col-6 mb-3">
                                        <div class="general-info-item-title">Gift Message and Flower Food</div>
                                        <img class="img-fluid mb-2" src="/uploads/images/other/tab-hampers-pic4.jpg"/>
                                        <p class="general-info-item-description">Your personal message will be displayed on an attractive greeting card and will accompany your gift. To ensure the flowers remain fresh and in the best possible condition we include some flower food.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
    <script src="{{ asset('build/v-shop.js') }}"></script>
    <script src="{{ asset('webshop/lodash.core.min.js') }}"></script>
    <script src="{{ asset('build/store.js') }}"></script>


    <script src="{{ asset('webshop/site/js/moment.min.js') }}"></script>
    <script src="{{ asset('webshop/site/js/daterangepicker.js') }}"></script>
    <script>
        // ------------------------------------------------------- //
        // Detail Carousel with thumbs
        // ------------------------------------------------------ //
        // $('.detail-slider').owlCarousel({
        //     loop: true,
        //     items: 1,
        //     thumbs: true,
        //     thumbsPrerendered: true,
        //     dots: true,
        //     responsiveClass: false
        // });
        $('.detail-slider').owlCarousel({
            loop: true,
            thumbs: true,
            thumbsPrerendered: true,
            margin: 0,
            nav: false,
            dots: true,
            navText: ['<img src="img/prev.svg" alt="" width="50">', '<img src="img/next.svg" alt="" width="50">'],
            smartSpeed: 400,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 1
                },
                1000: {
                    items: 1
                }
            }
        });

        // ------------------------------------------------------- //
        //   Ekko Lightbox
        // ------------------------------------------------------ //

        $(document).on('click', '[data-toggle="lightbox"]', function (event) {
            event.preventDefault();
            $(this).ekkoLightbox({
                alwaysShowClose: true,
//                leftArrow: '<span><img src="img/prev.svg" class="nav-arrow nav-arrow-left" alt="" width="50"></span>',
//                rightArrow: '<span><img src="img/next.svg" class="nav-arrow nav-arrow-right" alt="" width="50"></span>'
            });
        });
    </script>


    <script>
        $(function() {
            $('.JS--Button-clickDate').daterangepicker({
                opens: 'left',
                autoApply: true,
                autoUpdateInput: false,
                singleDatePicker: true,
    //            alwaysShowCalendars: true,
                minDate: moment().add(4, 'hours'),
                maxDate: moment().add(2, 'months'),
                locale: {
                    format: 'YYYY-MM-DD',
                    separator: ' / ',
                    applyLabel: 'Alkalmaz',
                    cancelLabel: 'Mégse',
                    daysOfWeek: [
                        'V',
                        'H',
                        'K',
                        'Sz',
                        'Cs',
                        'P',
                        'Sz'
                    ],
                    monthNames: [
                        'Január',
                        'Február',
                        'Március',
                        'Április',
                        'Május',
                        'Június',
                        'Július',
                        'Augusztus',
                        'Szeptember',
                        'Október',
                        'November',
                        'December'
                    ],
                    firstDay: 1,
                }
            });
        //     $('.JS--Button-clickDate').on('apply.daterangepicker', function(ev, picker) {
        //         ev.preventDefault();
        //         $pickerDate = picker.startDate.format('YYYY-MM-DD');
        //
        //         $dateValueWrapper = $(this).closest('.JS--dateWrapper').find('.JS--showDateValue');
        //         $calendarIconWrapper = $(this).closest('.JS--dateWrapper').find('.JS--showCalendarIcon');
        //         /**
        //          * Csak az első 3 rádió opcióba keresi a pickerDate-et. És ha benne van, akkor a Calendárt mutatja.
        //          */
        //         $selectedRadio = $(this).closest('.JS--dateWrapper').find('input[type="radio"][value="' + $pickerDate + '"]:not(".JS--Button-clickDate")');
        //         if ($selectedRadio.val()) {
        //             console.log($selectedRadio);
        //             $selectedRadio.prop('checked', true);
        //             $dateValueWrapper.hide();
        //             $calendarIconWrapper.show();
        //         }
        //         /**
        //          * Ha nincs benne, akkor negyedik rádió inputhoz rendeli a pickerDate-et és elrejti a Calendárt.
        //          */
        //         else {
        //             $(this).val($pickerDate);  // az input, amihez kötve van a gomb, megkapja a daterangepicker értékét (dátumot)
        //             $html = '<span class="font-weight-bold my-0">' + picker.startDate.format('MMM D') + '</span><br> <span class="price--gross text-nowrap">' + picker.startDate.format('ddd') + '</span>';
        //             $dateValueWrapper.html($html);
        //             $calendarIconWrapper.hide();
        //             $dateValueWrapper.show();
        //         }
        //     });
        //     $('.JS--Button-clickDate').on('cancel.daterangepicker', function(ev, picker) {
        //         $(this).val('');
        //     });
        //     /**
        //      * Amikor nem a Daterangepicker-re klikkel, akkor biztos a Calendárt kell mutatnia.
        //      */
        //     $('.JS--dateWrapper input[type="radio"]:not(".JS--Button-clickDate")').on('click', function () {
        //         $dateValueWrapper = $(this).closest('.JS--dateWrapper').find('.JS--showDateValue');
        //         $calendarIconWrapper = $(this).closest('.JS--dateWrapper').find('.JS--showCalendarIcon');
        //         $dateValueWrapper.hide();
        //         $calendarIconWrapper.show();
        //     });
        });
    </script>
    <script>
        $(function() {
            let $wrapper = $('.JS--deliveryDateContainer');
            let $vp = $wrapper.find('.vp-checked');
            // let $currentValue = $vp.find('input').val();
            // console.log($currentValue);

            // $selectedDate = $wrapper.find('.JS--generatedDate-' + hiddenForm.date.value);

            /**
             * Kezeli melyik dátum boxra lett kattintva, és azt jelöli kiválasztotnak.
             */
            $("[class*='JS--generatedDate-']").click(function () {
                $dateWrapper = $wrapper.find('.JS--dateWrapper');

                $dateWrapper.find('.vp-checked').removeClass('vp-checked');
                $(this).find('.vp').find('input').prop('checked', true);
                $(this).find('.vp').addClass('vp-checked');

                // ha a 4-ikre klikkelek amikor az ő temporary, akkor nem csinal semmit
                // amugy visszallitja (ujra mutatja) a CalendarIcont
                if (! ($(this).hasClass('d-temporary')) ) {
                    $dateWrapper.find('.d-temporary').removeClass('d-temporary').addClass('d-none');
                    $dateWrapper.find('.JS--showCalendarIcon').show();
                }

            });
            /**
             * Kezeli a kalendáriumra kattintást.
             */
            $('.JS--Button-clickDate').on('apply.daterangepicker', function(ev, picker) {
                ev.preventDefault();
                $pickerDate = picker.startDate.format('YYYY-MM-DD');
                $wrapper = $(this).closest('.JS--deliveryDateContainer');
                $dateWrapper = $(this).closest('.JS--dateWrapper');

                $dateWrapper.find('.d-temporary').removeClass('d-temporary').addClass('d-none');
                $dateWrapper.find('.vp-checked').find('input').prop('checked', false);
                $dateWrapper.find('.vp-checked').removeClass('vp-checked');

                $dateModule = $wrapper.find('.JS--generatedDate-' + $pickerDate);

                if ($dateModule.is(':hidden')) {  // if it's hidden, de-hide it and make it temporary + hide the CalendarIcon
                    $wrapper.find('.JS--showCalendarIcon').hide();
                    $dateModule.removeClass('d-none').addClass('d-temporary');
                }
                $dateModule.find('.vp').find('input').prop('checked', true);
                $dateModule.find('.vp').addClass('vp-checked');

                if ($dateWrapper.find("[class*='JS--generatedDate-']:not(.d-none)").length <= 3) {
                    $wrapper.find('.JS--showCalendarIcon').show();
                }
            });
            $('.JS--Button-clickDate').on('cancel.daterangepicker', function(ev, picker) {
                $(this).val('');
            });
        });
    </script>
    <script>
        // Displays the loading circle
        $(function() {
            // let _proceed = false;
            // $(document).on('click', '.JS--Button-addToCart', function (e) {
            //     if (_proceed) {
            //         _proceed = false;
            //         return;
            //     }
            //     e.preventDefault();
            //     var el = $(e.currentTarget);
            //
            //     el.addClass('btn-loading');
            //     _proceed = true;
            //     el.trigger('click');
            // });
        });
    </script>
{% endblock %}
