{% extends 'webshop/site/template-general.html.twig' %}

{% if category.name is defined and category.name is not empty %}
    {% set pageTitle = category.name %}
{% else %}
    {% set pageTitle = 'Virágok' %}
{% endif %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="products-grid col-lg-12 sidebar-none">
        {#                    {{ dump(category.imagePath) }}#}
        <div class="landing--grid d-none d-md-flex" {% if category.imagePath is defined %} style="background-image: url({{ uploaded_asset(category.imagePath)|imagine_filter('category_image') }});" {% endif %}>
            <div class="row flex-grow-1">
                <div class="col-md-8 d-flex align-items-center">
                    <div class="landing--heading p-md-3 ml-2 ml-lg-3">
                        <h1><span class="text-danger">{{ category }}</span> </h1>
                        <div class="row">
                            <div class="col-md-8 p-3" style="background-color: rgba(255,255,255,.7);">
                                <span class="listing--lead">{{ category.description is defined ? category.description : '!Születésnapra, évfordulóra, randira, köszönet kifejezésére, babaköszöntőre, vendégségbe, ballagásra, vagy csak úgy, ajándékozz egy szép virágcsokrot. Csak válaszd ki a csokrot és a kézbesítésről mi gondoskodunk.' }}</span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 d-noneX d-md-flexX">
                    <div class="landing--info ml-lg-5">
                        <div class="p-lg-3">
                            <h3>ORDER UP TO 10pm</h3>
                            <span>For next day delivery</span>
                        </div>
                        <div class="p-lg-3">
                            <h3>FREE DELIVERY</h3>
                            <span>monday - sunday</span>
                        </div>
                        <div class="p-lg-3">
                            <h3>CUSTOMER SATISFACTION</h3>
                            <span><span class="ratings small r-45 no-margin"></span> <strong>4.3/5</strong> <a href="/en/uk/reviews">based on 348792 reviews</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="listing--content mb-4 text-center d-flex d-md-none">
            <div class="row">
                <div class="col-lg-6 listing--heading">
                    <h1 class="listing--heading">{{ category }}</h1>
                </div>
                <div class="col-lg-6 text-left">
                    <p class="listing--lead">{{ category.description is defined ? category.description : '!Születésnapra, évfordulóra, randira, köszönet kifejezésére, babaköszöntőre, vendégségbe, ballagásra, vagy csak úgy, ajándékozz egy szép virágcsokrot. Csak válaszd ki a csokrot és a kézbesítésről mi gondoskodunk.' }}</p>
                </div>
            </div>
        </div>
        <div class="mt-3 d-none d-md-block">
            <div class="listing--countdown">
                <i class="far fa-clock"></i> <span>Rendelj a következő <span class="text-info">XX óra és YY percen</span> belül, <span class="text-info">holnapi</span> kiszállításhoz.</span>
            </div>
        </div>

        {{ include('/webshop/site/product-list-widget.html.twig') }}

    </div>
{% endblock %}

{% block footerHighlights %}
{% endblock %}

