					<div class="row">
                        {% if termekek is defined %}
                        {% for termek in termekek %}
                        <!-- product-->
						<div class="col-xl-4 col-lg-4 col-sm-6">
							<div class="product">
								<div class="product-image">
									<!--div class="ribbon ribbon-info">Új termék</div>
                                    <div class="ribbon ribbon-primary">Akció</div>
                                    <div class="ribbon ribbon-danger">Mind elkelt</div-->

									<a href="{{ path('site_product_show', {'id': termek.id}) }}" class="product-hover-overlay-link">
										<img src="{{ asset('/uploads/images/termekek/' ~ termek.image) }}" alt="product" class="img-fluid">
									</a>

                                    <!--img src="{{ asset('/uploads/images/termekek/' ~ termek.image) }}" alt="product" class="img-fluid">
									<div class="product-hover-overlay">
										<a href="{{ path('site_product_show', {'id': termek.id}) }}" class="product-hover-overlay-link"></a>
										<div class="product-hover-overlay-buttons">
                                            <a href="#" class="btn btn-outline-dark btn-product-left"><i class="fa fa-shopping-cart"></i></a>
                                            <a href="{{ path('site_product_show', {'id': termek.id}) }}" class="btn btn-dark btn-buy">
                                                <i class="fa-search fa"></i><span class="btn-buy-label ml-2">View</span></a>
                                            <a href="#" data-toggle="modal" data-target="#exampleModal" class="btn btn-outline-dark btn-product-right"><i class="fa fa-expand-arrows-alt"></i></a>
										</div>
									</div-->
								</div>
								<div class="py-2">
									<p class="text-muted text-sm mb-1">{{ termek.category }}</p>
									<h3 class="h6 text-uppercase mb-1"><a href="{{ path('site_product_show', {'id': termek.id}) }}" class="text-dark">{{ termek.productName }}</a></h3>
                                    <span class="text-muted">{{ termek.grossPrice|number_format(0, ',', ' ')  }} Ft</span>
								</div>
							</div>
						</div>
						<!-- /product-->
                        {% endfor %}
                        {% endif %}

					</div>
