{% extends 'webshop/site/base-site.html.twig' %}

{% block bodyClass %}my-account{% endblock %}

{% block page_content %}

    {% block modal %}
    {% endblock %}

    <div class="container">
        <div class="row">
{#            <div class="col-md-12 col-xl-10 mx-auto">#}
            <div class="col-sm-10 col-md-11 col-xl-10 mx-auto">
                {% block header %}
                    <div class="row mt-3 d-none d-md-block">
                        <div class="col-lg-12">
                            <div class="">
                                <ul class="breadcrumb undefined">
                                    {% if breadcrumb is defined and breadcrumb is not empty %}
                                        {% for item in breadcrumb %}
                                            <li class="breadcrumb-item"><a href="{{ item.url }}">{{ item.text }}</a></li>
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endblock %}

                <div class="row mt-3">
                    <div class="col-md-4 correction-no-padding">
                        {% block sidebar %}
                            <div class="account-sidebar card mb-20px">
                                <div class="list-group list-group-flush">
{#                                    <li class="list-group-item">#}
                                        <a href="{{ path('site-user-myAccount') }}" class="text-darkX list-group-item list-group-item-action">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="d-inline-flex align-items-center">
                                                    <svg class="svg-icon svg-icon-heavy">
                                                        <use xlink:href="#male-user-1"> </use>
                                                    </svg>
                                                    {{ 'account.my-account'|trans }}
                                                </div>
                                                <div class="d-flex text-mutedX text-sm">
                                                    <i class="fas fa-chevron-right"></i>
                                                </div>
                                            </div>
                                        </a>
{#                                    </li>#}
{#                                    <li class="list-group-item">#}
                                        <a href="{{ path('site-user-myOrders') }}" class="text-darkX list-group-item list-group-item-action">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="d-inline-flex align-items-center">
                                                    <svg class="svg-icon svg-icon-heavy"><use xlink:href="#retail-bag-2"></use></svg>
                                                    {{ 'account.my-orders'|trans }}
                                                </div>
                                                <div class="d-flex text-mutedX text-sm">
                                                    <i class="fas fa-chevron-right"></i>
                                                </div>
                                            </div>

                                        </a>
{#                                    </li>#}
{#                                    <li class="list-group-item">#}
                                        <a href="{{ path('site-user-myDetails') }}" class="text-darkX list-group-item list-group-item-action">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="d-inline-flex align-items-center">
                                                    <i class="fas fa-clipboard-list"></i>
                                                    {{ 'account.account-information'|trans }}
                                                </div>
                                                <div class="d-flex text-mutedX text-sm">
                                                    <i class="fas fa-chevron-right"></i>
                                                </div>
                                            </div>
                                        </a>
{#                                    </li>#}
{#                                    <li class="list-group-item">#}
                                        <a href="{{ path('site-user-myAccount') }}" class="text-darkX list-group-item list-group-item-action">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="d-inline-flex align-items-center">
                                                    <i class="fa fa-sign-in-alt"></i>
                                                    {{ 'account.change-password'|trans }}
                                                </div>
                                                <div class="d-flex text-mutedX text-sm">
                                                    <i class="fas fa-chevron-right"></i>
                                                </div>
                                            </div>
                                        </a>
{#                                    </li>#}
                                </div>
                            </div>
                        {% endblock %}
                    </div>
                    <div class="col-md-8 mb-4">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="back-to-my-account mb-3 mb-md-0">
                                    <a href="{{ path('site-user-myAccount') }}" class="text-dark">
                                        <i class="fas fa-long-arrow-alt-left mr-2"></i>
                                        {#            <svg class="svg-icon svg-icon-heavy">#}
                                        {#                <use xlink:href="#male-user-1"> </use>#}
                                        {#            </svg>#}
                                        {{ 'account.my-account'|trans }}
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-12 correction-no-padding">
                                {% block content %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block footerHighlights %}
{% endblock %}