{% extends 'webshop/site/base-site.html.twig' %}


{# this tag only applies to the forms defined in this template #}
{#{% form_theme form 'bootstrap_4_layout.html.twig' %}#}

{% block title %}
    {{ title }}
{% endblock %}



{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('webshop/site/checkout.css') }}" rel="stylesheet" />
{% endblock %}

{% block page_content %}


{#{{ form_start(form) }}#}
    <section name="user_regisztracio">
        <div class="container mb-3 mt-3 mt-lg-4">
            <div class="row row-wide-mobile">
                <div class="col-12 col-wide-mobile">
                    <div class="row justify-content-center">
                <div class="col-lg-6 col-md-7">
                    <div class="cart bg-white">
                        <div class="cart-wrapper">

                            <div class="block-body col-lg-12 px-3 px-md-4">
                                <div class="row">
                                    <div class="col-lg-12">
                                        {{ include('webshop/site/_registration-form.html.twig') }}
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
                </div>
            </div>
        </div>
    </section>


    <section name="tovabb_lepes">
        <div class="container mb-5">
            <div class="row">
                <div class="col-lg-12">

                    <div class="d-flex justify-content-between flex-column flex-lg-row mx-lg-6">

                        {# Render CSRF token etc .#}
                        <div style="display:none">
                            {#{{ form_rest(form) }}#}
                        </div>

                        {#<button type="submit" value="Mentés" class="btn btn-lg btn-success order-1 order-lg-2" formnovalidate>Regisztrálok </button>#}
                    </div>

                </div>
            </div>
        </div>
    </section>
{#{{ form_end(form) }}#}


{% endblock %}

{% block javascripts %}
	{{ parent() }}
    <script>

    </script>
{% endblock %}
