{#{% extends 'webshop/site/base-site.html.twig' %}#}
{% extends 'webshop/site/template-account.html.twig' %}


{% block title %}
    {{ title }}
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('webshop/site/checkout.css') }}" rel="stylesheet" />
{% endblock %}

{% block bodyClass %} my-account{% endblock %}

{% block underNavbar %}
{% endblock %}

{% block page_content %}
    <section id="user_regisztracio">
        <div class="container mb-3 mt-3 mt-lg-4">
            <div class="row">
                <div class="col-12">
                    <div class="row justify-content-center">
                        <div class="col-lg-5 col-md-6 mb-3">
                            <div class="card">
                                <div class="">

                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-12 mb-4">
                                                <h3 class="font-weight-normal">{{ 'registration.login-title'|trans }}</h3>
                                            </div>
                                            {#<div class="col-lg-12 text-muted mb-5">#}
                                            {#Jelentkezz be fiókodba, hogy tudd követni rendelésed állapotát, elmentett címre kérni a kiszállítást.#}
                                            {#</div>#}
                                            {% if error is defined and error is not empty %}
                                                <div class="col-lg-12 mb-3">
                                                    <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                                </div>
                                            {% endif %}

                                            <div class="col-lg-12">
                                                <form action="{{ path('site-login') }}" method="post" name="login">
                                                    <div class="form-group">
                                                        <label for="_username" class="sr-onlyX form-label">{{ 'registration.email-address'|trans }}</label>
                                                        <input type="text" id="username" name="_username" class="form-control" placeholder="" required {% if last_username is defined and last_username is empty %}autofocus{% endif %} value="{{ last_username is defined ? last_username : '' }}" />
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="inputPassword" class="sr-onlyX form-label">{{ 'registration.password'|trans }}</label>
                                                        <div class="input-group">
                                                            <input type="password" id="inputPassword" name="_password" class="form-control border-right-0X" placeholder="" required />
                                                        </div>
                                                    </div>

                                                    <div class="form-group mb-3 text-left">
                                                        <div class="custom-control custom-checkbox text-muted align-items-center">
                                                            <input type="checkbox" id="remember_me" name="_remember_me" class="custom-control-input" checked="checked">
                                                            <label class="custom-control-label align-middle" for="remember_me">{{ 'registration.remember-me'|trans }}</label>
                                                        </div>
                                                    </div>
                                                    {#{% set referer = app.request.server.get('http-referer')|default('/') %}#}
                                                    {#<input type="hidden" name="_target_path" value="{{ path('site-cart') }}" />#}
                                                    {#<input type="hidden" name="_target_path" value="{{ app.session.get('_security.main.target_path') }}" />#}
                                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                                    <div class="mt-2 text-center mb-1">
                                                        <button type="submit" value="Mentés" class="btn btn-primary px-5" formnovalidate>{{ 'registration.login-button'|trans }}</button>
                                                    </div>
                                                </form>
                                            </div>


                                        </div>
                                        {#{{ render(controller('App\\Controller\\Shop\\RegistrationController::showLoginForm')) }}#}
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-6">
                            <div class="card">
                                <div class="">

                                    <div class="card-body">
                                        {% include('webshop/site/_registration-form.html.twig') %}
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section name="tovabb_lepes">
        <div class="container mb-5">
            <div class="row">
                <div class="col-lg-12">

                    <div class="d-flex justify-content-between flex-column flex-lg-row">

                        {# Render CSRF token etc .#}
                        <div style="display:none">
                            {#{{ form_rest(form) }}#}
                        </div>

                        {#<button type="submit" value="Mentés" class="btn btn-success order-1 order-lg-2" formnovalidate>Regisztrálok </button>#}
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block footerHighlights %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        // $(document).ready(function() {
        //     $('#username').focus();
        // });
        window.onload = function() {
            document.getElementById("username").focus();
        };
    </script>
{% endblock %}