<div class="vp vp-has-checkbox">
    <input type="radio" id="{{ choice.vars.id }}" name="{{ choice.vars.full_name }}" required="required" value="{{ choice.vars.value }}" {{ choice.vars.checked ? 'checked' : '' }}/>
    <label class="vp-figure" for="{{ choice.vars.id }}">
            <span class="vp-content">
                {{ choice.vars.label|raw }}
            </span>
    </label>
</div>