<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box my-2 my-sm-3">
            {#<div class="page-title-right">#}
                {#<ol class="breadcrumb m-0">#}
                    {#<li class="breadcrumb-item"><a href="{{ path('dashboard') }}">Admin</a></li>#}
                    {#<li class="breadcrumb-item"><a href="{{ path('inventory-supply-list-all') }}">Szállítmányok</a></li>#}
                    {#<li class="breadcrumb-item active">{{ title }}</li>#}
                {#</ol>#}
            {#</div>#}

            <!-- header of default page content widget -->
            {{ include('/admin/_title_insert.html.twig') }}

            {#<small class="form-text text-muted">#}
            {#Itt rögzíteni új szállítmányt vagy módosítani egy létezőt.#}
            {#</small>#}

            {% block AZUZENET %}
            {% for msg in app.session.flashBag.get('success') %}
            <div class="alert alert-success mt-2" role="alert">	{{ msg }} </div>
            {% endfor %}
            {% for msg in app.session.flashBag.get('danger') %}
                <div class="alert alert-danger mt-2" role="alert">	{{ msg }} </div>
            {% endfor %}

            {% endblock %}

        </div>
    </div>
</div>
<!-- end page title -->
