{% extends 'admin/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <meta name="format-detection" content="telephone=no">
{% endblock %}

{% block body %}
<!-- Begin page -->
<div class="wrapper">
    <nav class="sidebar-sticky">
    <div class="left-side-menu left-side-menu-light bg-dark text-light">

        {#<div class="slimScrollDivX" style="position: relative; overflow: hidden; width: auto; height: 443px;">#}
            <div class="slimscroll-menu active" style="overflow: hidden; width: auto; height: 443px;">

                <!-- LOGO -->
                <a href="{{ path('homepage') }}" class="logo text-center my-3" target="_blank">
                    <span class="logo-lg">
                            <h3 class="font-weight-bold text-uppercase text-light">tulipan<span class="text-danger">.</span>futar  </h3>
                            {#<img src="assets/images/logo-dark.png" alt="" height="16">#}
                    </span>
                    <span class="logo-sm text">
                        <span class="font-weight-bold text-uppercase text-light">t<span class="text-danger">.</span>f  </span>
                            {#<img src="assets/images/logo_sm.png" alt="" height="16">#}
                    </span>
                </a>

                <!--- Sidemenu -->
                <ul class="metismenu side-nav side-nav-light">

                    <li class="side-nav-title side-nav-item">Webshop</li>

                    <li class="side-nav-item">
                        <a href="{{ path('dashboard') }}" class="side-nav-link">
                            {#<i class="dripicons-meter"></i>#}
                            <i class="fas fa-tachometer-alt"></i>
                            <span class="badge badge-success float-right">7</span>
                            <span> Dashboard </span>
                        </a>
                    </li>

                    <li class="side-nav-item">
                        <a href="javascript: void(0);" class="side-nav-link">
                            <i class="fas fa-th"></i>
                            <span> Termékek </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="side-nav-second-level collapse" aria-expanded="true">
                            <li>
                                <a href="{{ path('product-list') }}">Termékek</a>
                            </li>
                            {#<li class="side-nav-item">#}
                                {#<a href="javascript: void(0);" aria-expanded="false">Kategoriak#}
                                    {#<span class="menu-arrow"></span>#}
                                {#</a>#}
                                {#<ul class="side-nav-third-level collapse" aria-expanded="false">#}
                                    {#<li>#}
                                        {#<a href="apps-projects-list.html">Kepek</a>#}
                                    {#</li>#}
                                    {#<li>#}
                                        {#<a href="apps-projects-details.html">Egyeb</a>#}
                                    {#</li>#}
                                {#</ul>#}
                            {#</li>#}

                        </ul>
                    </li>


                    <li class="side-nav-title side-nav-item mt-1">Bolt</li>

                    <li class="side-nav-item">
                        <a href="{{ path('boltzaras_list') }}" class="side-nav-link">
                            <i class="far fa-calendar-check"></i>
                            <span> Boltzárás </span>
                        </a>
                    </li>

                    <li class="side-nav-item">
                        <a href="{{ path('invoice-list') }}" class="side-nav-link">
                            {#<i class="dripicons-heart"></i>#}
                            <i class="fas fa-lgX fa-file-invoice-dollar fa-dollar-signX"></i>
                            <span class="badge badge-danger float-right">Új</span>
                            <span> Számlák </span>
                        </a>
                    </li>

                    <li class="side-nav-title side-nav-item">Leltár</li>
                    <li class="side-nav-item">
                        <a href="{{ path('inventory-supply-list') }}" class="side-nav-link">
                            <i class="far fa-file-alt"></i>
                            <span> Szállítmányok</span>
                        </a>
                    </li>
                    <li class="side-nav-item mb-0">
                        <a href="{{ path('inventory-waste-list') }}" class="side-nav-link">
                            <i class="far fa-file-alt"></i>
                            <span> Selejt</span>
                        </a>
                    </li>
                    <li class="side-nav-item">
                        <a href="{{ path('inventory-product-list-all') }}" class="side-nav-link">
                            <i class="far fa-file-alt"></i>
                            <span> Terméklista</span>
                        </a>
                    </li>

                    {#<!-- Lenyíló menü -->#}
                    {#<li class="side-nav-item mm-active">#}
                        {#<a href="javascript: void(0);" class="side-nav-link" aria-expanded="true">#}
                            {#<i class="far fa-file-alt"></i>#}
                            {#<span> Leltár </span>#}
                            {#<span class="menu-arrow"></span>#}
                        {#</a>#}
                        {#<ul class="side-nav-second-level collapse" aria-expanded="true">#}
                            {#<li>#}
                                {#<a href="{{ path('inventory-supply-list') }}">Szállítmányok</a>#}
                            {#</li>#}
                            {#<li>#}
                                {#<a href="{{ path('inventory-product-list-all') }}">Terméklista</a>#}
                            {#</li>#}
                            {#<li>#}
                                {#<a href="{{ path('inventory-waste-list') }}">Selejt</a>#}
                            {#</li>#}
                        {#</ul>#}
                    {#</li>#}


                </ul>

                <!-- Help Box -->
                <div class="help-box text-light text-center">
                    <a href="{{ path('homepage') }}" class="text-light" target="_blank">Webshop megnyitása</a>
                    {#<img src="assets/images/help-icon.svg" height="90" alt="Helper Icon Image">#}
                    {#<h5 class="mt-3">Unlimited Access</h5>#}
                    {#<p class="mb-3">Upgrade to plan to get access to unlimited reports</p>#}
                    {#<a href="javascript: void(0);" class="btn btn-outline-light btn-sm">Upgrade</a>#}
                </div>
                <!-- end Help Box -->
                <!-- End Sidebar -->

                <div class="clearfix"></div>

                <ul class="metismenu side-nav side-nav-light text-center">
                <li class="side-nav-item">
                    <a href="{{ path('logout') }}" class="side-nav-link">
                        <span> Kilépés </span>
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                </li>
                </ul>

            </div>
            <div class="slimScrollBar" style="background: rgb(158, 165, 171); width: 8px; position: absolute; top: 0; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 143.983px;"></div>
            <div class="slimScrollRail" style="width: 8px; height: 100%; position: absolute; top: 0; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
        {#</div>#}
        <!-- Sidebar -left -->

    </div>
    </nav>


    <div class="content-page">
        <div class="content">

            {{ include('/admin/admin-navbar-widget.html.twig') }}

            <div class="container-fluid">

                {% block page_content %}{% endblock %}

            </div>
        </div>
    </div>


</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
	<script>
        jQuery(document).ready(function() {
            $('.input-group.date').datepicker({
                format: 'yyyy-mm-dd',
                endDate: '0d',
                todayHighlight: true,
                autoclose: true,
                language: 'hu-HU',
                weekStart: 1
            });
        });
	</script>
{% endblock %}
