<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}Admin Page{% endblock %}</title>
    {% block stylesheets %}
        <!-- FONTS  -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Nunito:400,400i,600,600i,700,700i" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('webshop/site/fonts/hkgrotesk/stylesheet.css') }}">

        <!-- MATERIAL-UI requires these: -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css" rel="stylesheet"/>

        <link href="{{ asset('webshop/admin/hyper/dataTables.bootstrap4.css') }}" rel="stylesheet" type="text/css" />

        {#<link href="{{ asset('webshop/admin/hyper/responsive.bootstrap4.css') }}" rel="stylesheet" type="text/css" />#}
        <link href="{{ asset('webshop/site/bootstrap.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('webshop/site/style.css') }}" rel="stylesheet" type="text/css" />

        <!-- HYPER CSS -->
        {#<link href="{{ asset('webshop/admin/hyper/style.css') }}" rel="stylesheet" type="text/css" />#}
        <link href="{{ asset('webshop/admin/hyper/custom.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('webshop/admin/v-style.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('build/v-admin.css') }}" rel="stylesheet" type="text/css"/>
        <link rel="shortcut icon" href="https://d19m59y37dris4.cloudfront.net/sell/1-2-0/img/favicon.png">

        <link href="{{ asset('webshop/site/js/daterangepicker.css') }}" rel="stylesheet" />

    {% endblock %}
</head>
<body data-layout="topnav" class="admin {% block bodyClass %} {% endblock %}">


    {% block body %}{% endblock %}



<!-- JAVASCRIPT -->
{% block javascripts %}
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    {#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>#}

    <!-- App js -->
    <script src="{{ asset('webshop/admin/hyper/js/app.min.js') }}"></script>

    <script src="{{ asset('webshop/admin/hyper/js/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('webshop/admin/hyper/js/dataTables.bootstrap4.js') }}"></script>
    <script src="{{ asset('webshop/admin/hyper/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('webshop/admin/hyper/js/responsive.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('webshop/admin/hyper/js/dataTables.checkboxes.min.js') }}"></script>
    {#<script src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>#}
    {#<script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>#}

    <!-- Date Picker -->
    <script src="{{ asset('webshop/site/js/moment.min.js') }}"></script>
    <script src="{{ asset('webshop/site/js/daterangepicker.js') }}"></script>
    <script src="{{ asset('webshop/admin/hyper/js/custom.js') }}"></script>
    <script src="{{ asset('webshop/admin/hyper/js/jquery.formula.js') }}"></script>

    <script src="{{ asset('webshop/admin/hyper/js/order.detail.js') }}"></script>
    <script src="{{ asset('build/v-admin.js') }}"></script>
{% endblock %}
</body>
</html>
