<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>{% block title %}Admin Page{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('webshop/site/fonts/hkgrotesk/stylesheet.css') }}">

        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

{#        <link href="{{ asset('webshop/site/bootstrap.css') }}" rel="stylesheet" type="text/css" />#}
        {{ encore_entry_link_tags('v-bootstrap') }}


{#        <link href="{{ asset('webshop/site/style.css') }}" rel="stylesheet" type="text/css" />#}

        <!-- HYPER CSS -->
        <link href="{{ asset('webshop/admin/hyper/custom.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('webshop/admin/v-style.css') }}" rel="stylesheet" type="text/css" />


        {{ encore_entry_link_tags('v-admin') }}
{#        <link href="{{ asset('build/v-admin.css') }}" rel="stylesheet" type="text/css"/>#}
        <link rel="shortcut icon" href="{{ asset('webshop/site/favicon.png')}}">

        <link href="{{ asset('webshop/site/js/daterangepicker.css') }}" rel="stylesheet" />

    {% endblock %}
</head>
<body data-layout="topnav" class="admin {% block bodyClass %} {% endblock %}">


    {% block body %}{% endblock %}



{% block javascripts %}
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>#}
{#    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>#}

    <script src="{{ asset('webshop/site/js/moment.min.js') }}"></script>
    <script src="{{ asset('webshop/site/js/daterangepicker.js') }}"></script>

    <script src="https://sciactive.com/pnotify/lib/iife/PNotify.js"></script>
    <script src="https://sciactive.com/pnotify/lib/iife/PNotifyButtons.js"></script>

    <script src="{{ asset('webshop/admin/hyper/js/order.detail.js') }}"></script>
    <script src="{{ asset('build/v-admin.js') }}"></script>
    {{ encore_entry_script_tags('v-boostrap-js') }}
{% endblock %}
</body>
</html>
