{% extends 'admin/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <meta name="format-detection" content="telephone=no">
{% endblock %}

{% block body %}
{#    <div class="modal fade" id="modal--Settings" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">#}
    <div class="sidebar sidebar-right sidebar-lg fade" id="slider--Settings" tabindex="-1" role="dialog" aria-labelledby="sidebarLabel" aria-hidden="true">
        <div class="sidebar-dialog sidebar-dialog-scrollable sidebar-dialog-centered" role="document">
            <div class="sidebar-content">
                <div class="sidebar-header">
                    <h3 class="sidebar-title" id="sidebarLabel">{{ 'settings.settings'|trans }}</h3>
                    <button type="button" class="close" data-dismiss="sidebar" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="sidebar-body pb-0">
                    {% include '/admin/settings/_settings-dashboard-widget.html.twig' %}
                </div>
                <div class="sidebar-footer">
                    <div class="loadingWrapper loadingWrapper-secondary">
                        <a href="" class="btn btn-secondary" data-dismiss="sidebar">{{ 'generic.close'|trans }}</a>
                        <div class="JS--loadingOverlay d-flex align-items-stretch"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar sidebar-left sidebar-sm fade" id="burgerMenuContent" tabindex="-1" role="dialog" aria-labelledby="sidebarMenu" aria-hidden="true">
        <div class="sidebar-dialog sidebar-dialog-scrollable sidebar-dialog-centered" role="document">
            <div class="sidebar-content">
                <div class="sidebar-header">
{#                    <h3 class="sidebar-title" id="sidebarMenu">Menu</h3>#}
                    <a href="/" class="navbar-brand" id="sidebarMenu" target="_blank">
                        <span class="h4 font-weight-bold text-uppercase text-primary ml-0">tulipan<span class="text-danger">.</span>futar  </span>
                    </a>
                    <button type="button" class="close" data-dismiss="sidebar" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="sidebar-body bg-body p-0">
                    {% include 'admin/navbar-sidenav-widget.html.twig' %}
{#                    {% include '/admin/settings/_settings-dashboard-widget.html.twig' %}#}
                </div>
            </div>
        </div>
    </div>

<!-- Begin page -->
<div class="wrapper">
    <div class="topnav navbar-sticky sticky-top">
        <div class="container-fluid px-0">
            <nav class="navbar navbar-dark navbar-expand-lg topnav-menu">

                    <a href="/" class="navbar-brand order-lg-1 order-2 mr-4" target="_blank">
                        <span class="h4 font-weight-bold text-uppercase text-white ml-0">tulipan<span class="text-danger">.</span>futar  </span>
                    </a>
{#                    <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#burgerMenuContent" aria-controls="burgerMenuContent" aria-expanded="false" aria-label="Toggle navigation">#}
                    <button class="navbar-toggler order-1" type="button" data-toggle="sidebar" data-target="#burgerMenuContent">
                        {#<span class="navbar-toggler-icon"></span>#}
                        <i class="fas fa-bars mr-0"></i>
                    </button>
                    <div class="collapse navbar-collapse active coll justify-content-center order-lg-2 order-5" id="burgerMenuContent_">
                        <ul class="navbar-nav" style="display: none;">
                            <li class="nav-item">
                                <a href="{{ path('dashboard') }}" class="nav-link text-nowrap">
                                    {#<i class="dripicons-meter"></i>#}
                                    <i class="fas fa-tachometer-alt"></i>
                                    {#<span class="badge badge-success float-right">7</span>#}
                                    <span> Dashboard </span>
                                </a>
                            </li>


                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle arrow-noneX" href="javascript: void(0);" id="topnavTermekek" role="button" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-boxes"></i> Termékek
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnavTermekek">
                                    <a href="{{ path('product-list') }}" class="dropdown-item">
                                        <i class="fas fa-boxes mr-1"></i>
                                        Termékek
                                    </a>
                                    <a href="{{ path('product-listCategories') }}" class="dropdown-item">
                                        <i class="fas fa-list-ul mr-1"></i>
                                        Kategóriák
                                    </a>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle arrow-noneX" href="javascript: void(0);" id="topnav-apps" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {#<i class="mdi mdi-apps mr-1X"></i>#}
                                    <i class="fas fa-store"></i> Bolt
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-apps">
                                    <a href="{{ path('boltzaras_list') }}" class="dropdown-item">
                                        <i class="far fa-calendar-check mr-1"></i>
                                        Boltzárás
                                    </a>
                                    <a href="{{ path('invoice-list') }}" class="dropdown-item">
                                        <i class="fas fa-lgX fa-file-invoice-dollar fa-dollar-signX mr-1"></i>
                                        Számlák
                                    </a>

                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle arrow-noneX" href="javascript: void(0);" id="topnav-apps" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {#<i class="fas fa-lgX fa-file-invoice-dollar mr-1"></i>#}
                                    <i class="fas fa-shopping-cart"></i>
                                    Rendelések 
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-apps">
                                    <a href="{{ path('order-list-table') }}" class="dropdown-item"><i class="fas fa-shopping-cart"></i> Rendelések</a>

                                    <a href="{{ path('customer-list') }}" class="dropdown-item"><i class="fas fa-user-friends mr-1"></i> Vásárlók</a>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle arrow-noneX" href="javascript: void(0);" id="topnav-apps" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {#<i class="mdi mdi-apps mr-1"></i>#}
                                    <i class="fas fa-cubes mr-1X"></i>
                                    Leltár 
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-apps">
                                    <a href="{{ path('inventory-supply-list') }}" class="dropdown-item">
                                        <i class="fas fa-dolly mr-1"></i>
                                        Szállítmányok</a>
                                    <a href="{{ path('inventory-waste-list') }}" class="dropdown-item">
                                        <i class="far fa-trash-alt mr-1"></i>
                                        Selejt</a>
                                    <a href="{{ path('inventory-product-list-all') }}" class="dropdown-item">
                                        <i class="far fa-list-alt mr-1"></i>
                                        Terméklista</a>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle arrow-noneX" href="javascript: void(0);" id="topnav-apps" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-columns"></i>
                                    CMS
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-apps">
                                    <a href="{{ path('cms-page-list') }}" class="dropdown-item">
                                        <i class="far fa-file-code"></i>
                                        Oldalak
                                    </a>
                                    <a href="{{ path('about') }}" class="dropdown-item">
                                        <i class="far fa-trash-alt mr-1"></i>
                                        HTML modulok
                                    </a>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
{#                                <a class="nav-link dropdown-toggle arrow-noneX" href="javascript: void(0);" id="topnav-apps" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                                <a class="nav-link" href="" data-toggle="modal" data-target="#modal--Settings">#}
                                <a class="nav-link" hrefX="" data-toggle="sidebar" data-target="#slider--Settings">
                                    <i class="fas fa-cog"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="order-lg-3 order-3 d-flex">
                        {{ include('/admin/navbar-widget.html.twig') }}
                    </div>
                    {#<button class="button-menu-mobile open-left disable-btn">#}

                    {#</button>#}
            </nav>
        </div>
    </div>






    <nav class="sidenav-sticky">
        {% include 'admin/navbar-sidenav-widget.html.twig' %}
    </nav>

    <div class="content-page p-0" style="overflow: hidden; min-height: 0; ">
        {{ include('webshop/site/navbar-impersonate-user.html.twig') }}
    </div>
    <div class="content-page">
        <div class="content">
            {#{{ include('/admin/navbar-widget.html.twig') }}#}
            <div class="container">
{#                <div class="row">#}
{#                    <div class="col-lg-12">#}
                        {% block page_content %}
                        {% endblock %}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>

    </div>

</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
        $(function() {
            // Catch all the `[data-toggle-sidebar]` elements on the document.
            document.querySelectorAll("[data-toggle='slider']").forEach(el => {
                // Add an event listener on those elements "click" event
                el.addEventListener('click', e => {
                    // get the sidebar ID from the current element data attribute
                    const sliderId = el.dataset.target;

                    console.log(sliderId);
                    // check if there is an element on the doc with the id
                    const sidebarElement = sliderId ? document.getElementById(sliderId.replace('#','')) : undefined;
                    console.log(sidebarElement);
                    // if there is a sidebar with the passed id (data-toggle-sidebar)
                    if (sidebarElement) {
                        // toggle the aria-hidden state of the given sidebar
                        let sidebarState = sidebarElement.getAttribute('aria-hidden');
                        sidebarElement.setAttribute('aria-hidden', sidebarState == 'true' ? false : true);
                    }
                });
            });



            $('.JS--inputDate').daterangepicker({
                singleDatePicker: true,
                opens: 'right',
                autoApply: true,
                autoUpdateInput: false,
                alwaysShowCalendars: true,
                maxDate: moment(),
                locale: {
                    // format: 'YYYY/MM/DD',
                    // format: 'MMM DD, [<span class="text-muted">]YYYY[</span>]',
                    format: 'MMM DD, YYYY',
                    separator: ' - ',
                    cancelLabel: 'Mégse',
                    daysOfWeek: ['V', 'H', 'K', 'Sz', 'Cs', 'P', 'Sz'],
                    monthNames: ['Január', 'Február', 'Március', 'Április', 'Május', 'Június', 'Július', 'Augusztus', 'Szeptember', 'Október', 'November', 'December'],
                    firstDay: 1,
                },
                buttonClasses: 'btn',
                cancelClass: 'btn-secondary',
            });
            $('.JS--inputDate').on('apply.daterangepicker', function(ev, picker) {
                $(this).val(picker.startDate.format('YYYY-MM-DD'));
                $(this).focus();
                picker.hide();
            });
        });

        $(document).ready(function () {
//            const stackBottomModal = {
//                dir1: 'up', // With a dir1 of 'up', the stacks will start appearing at the bottom.
//                // Without a `dir2`, this stack will be horizontally centered, since the `dir1` axis is vertical.
//                firstpos1: 25, // The notices will appear 25 pixels from the bottom of the context.
//                // Without a `spacing1`, this stack's notices will be placed 25 pixels apart.
//                push: 'top', // Each new notice will appear at the bottom of the screen, which is where the 'top' of the stack is. Other notices will be pushed up.
//                // modal: true, // When a notice appears in this stack, a modal overlay will be created.
//                overlayClose: true, // When the user clicks on the overlay, all notices in this stack will be closed.
//                context: document.getElementById('page-container') // The notices will be placed in the 'page-container' element.
//            };
            PNotify.defaults.styling = 'bootstrap4';
            PNotify.defaults.icons = 'fontawesome5';

            {% for msg in app.session.flashBag.get('success') %}
            PNotify.success({
                title: 'Siker!',
                text: '{{ msg|raw }}',
                modules: { Desktop: { desktop: true } },
                textTrusted: true,
//                stack: stackBottomModal,
            });
            {% endfor %}
            {% for msg in app.session.flashBag.get('warning') %}
            PNotify.notice({
                title: 'Figyelem!',
                text: '{{ msg|raw }}',
                modules: { Desktop: { desktop: true } },
//                stack: stackBottomModal,
            });
            {% endfor %}
            {% for msg in app.session.flashBag.get('danger') %}
            PNotify.error({
                title: 'Upsz...',
                text: '{{ msg|raw }}',
                modules: { Desktop: { desktop: true } },
//                cornerClass: 'alert-dark',
//                stack: stackBottomModal,
            });
            {% endfor %}

        });
    </script>
{% endblock %}
