{% extends 'admin/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <meta name="format-detection" content="telephone=no">
{% endblock %}

{% block body %}
{#    <div class="modal fade" id="modal--Settings" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">#}
    <div class="sidebar sidebar-right sidebar-lg fade" id="slider--Settings" tabindex="-1" role="dialog" aria-labelledby="sidebarLabel" aria-hidden="true">
        <div class="sidebar-dialog sidebar-dialog-scrollable sidebar-dialog-centered" role="document">
            <div class="sidebar-content">
                <div class="sidebar-header">
                    <h3 class="sidebar-title" id="sidebarLabel">{{ 'settings.settings'|trans }}</h3>
                    <button type="button" class="close" data-dismiss="sidebar" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="sidebar-body pb-0">
                    {% include 'admin/settings/home-widget.html.twig' %}
                </div>
{#                <div class="sidebar-footer">#}
{#                    <div class="loadingWrapper loadingWrapper-secondary">#}
{#                        <a href="" class="btn btn-secondary" data-dismiss="sidebar">{{ 'generic.close'|trans }}</a>#}
{#                        <div class="JS--loadingOverlay d-flex align-items-stretch"></div>#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>
    </div>
    <div class="sidebar sidebar-left sidebar-sm fade" id="burgerMenuContent" tabindex="-1" role="dialog" aria-labelledby="sidebarMenu" aria-hidden="true">
        <div class="sidebar-dialog sidebar-dialog-scrollable sidebar-dialog-centered" role="document">
            <div class="sidebar-content">
                <div class="sidebar-header">
{#                    <h3 class="sidebar-title" id="sidebarMenu">Menu</h3>#}
                    <a href="/" class="navbar-brand" id="sidebarMenu" target="_blank">
                        <span class="h4 font-weight-bold text-uppercase text-primary ml-0">tulipan<span class="text-danger">.</span>futar  </span>
                    </a>
                    <button type="button" class="close" data-dismiss="sidebar" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="sidebar-body bg-body p-0">
{#                    {% include 'admin/navbar-sidenav-widget.html.twig' %}#}
                </div>
            </div>
        </div>
    </div>

<!-- Begin page -->
<div class="wrapper">
{#     page-wrapper" style="overflow: hidden;">#}
    <div class="topnav navbar-sticky sticky-top">
        <div class="container-fluid px-0">
            <nav class="navbar navbar-dark navbar-expand-lg topnav-menu">
                    <div class="navbar-brand order-lg-1 order-2 mr-4">
                        {% include 'admin/widgets/logo.html.twig' with {'isBgDark': true} %}
                    </div>
{#                    <button class="navbar-toggler order-1" type="button" data-toggle="sidebar" data-target="#burgerMenuContent">#}
{#                        #}{#<span class="navbar-toggler-icon"></span>#}
{#                        <i class="fas fa-bars"></i>#}
{#                    </button>#}

                    <div class="navbar-custom order-1">
                        <ul class="navbar-nav flex-row">
                            <li class="nav-item">
{#                                <a id="toggle-sidebar" class="btn btn-secondary rounded-0" href="#">#}
{#                                    <span>Toggle Sidebar</span>#}
{#                                </a>#}

                                <button id="JS--toggleSmenu-button" class="navbar-toggler" type="button" data-toggleX="sidebar" data-targetX="#burgerMenuContent">
                                    <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
                                </button>
{#                                <button class="navbar-toggler" type="button" data-toggle="sidebar" data-target="#burgerMenuContent">#}
{#                                    <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>#}
{#                                </button>#}
                            </li>
                        </ul>
                    </div>

                    <div class="collapse navbar-collapse active coll justify-content-center order-lg-2 order-5" id="burgerMenuContent_">
                        <ul class="navbar-nav" style="display: none;">
                            <li class="nav-item">
                                <a href="{{ path('dashboard') }}" class="nav-link text-nowrap">
                                    <i class="fas fa-tachometer-alt"></i>
                                    <span>{{ 'dashboard.dashboard'|trans }}</span>
                                </a>
                            </li>


                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="javascript: void(0);" id="topnavTermekek" role="button" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-boxes"></i> {{ 'product.products'|trans }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnavTermekek">
                                    <a href="{{ path('product-list') }}" class="dropdown-item">
                                        <i class="fas fa-boxes mr-1"></i>
                                        {{ 'product.products'|trans }}
                                    </a>
                                    <a href="{{ path('collection-list') }}" class="dropdown-item">
                                        <i class="fas fa-list-ul mr-1"></i>
                                        {{ 'collection.collections'|trans }}
                                    </a>
                                    <a href="{{ path('product-listCategories') }}" class="dropdown-item">
                                        <i class="fas fa-list-ul mr-1"></i>
                                        Kategóriák (react)
                                    </a>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle arrow-noneX" href="javascript: void(0);" id="topnav-apps" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {#<i class="mdi mdi-apps mr-1X"></i>#}
                                    <i class="fas fa-store"></i> Bolt
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-apps">
                                    <a href="{{ path('boltzaras_list') }}" class="dropdown-item">
                                        <i class="far fa-calendar-check mr-1"></i>
                                        Boltzárás
                                    </a>
                                    <a href="{{ path('invoice-list') }}" class="dropdown-item">
                                        <i class="fas fa-file-invoice-dollar mr-1"></i>
                                        Számlák
                                    </a>

                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle arrow-noneX" href="javascript: void(0);" id="topnav-apps" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {#<i class="fas fa-lgX fa-file-invoice-dollar mr-1"></i>#}
                                    <i class="fas fa-shopping-cart"></i>
                                    {{ 'order.orders'|trans }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-apps">
                                    <a href="{{ path('order-list-table') }}" class="dropdown-item">
                                        <i class="fas fa-shopping-cart"></i>  {{ 'order.orders'|trans }}
                                    </a>

                                    <a href="{{ path('customer-list') }}" class="dropdown-item">
                                        <i class="fas fa-user-friends mr-1"></i> {{ 'customer.customers'|trans }}
                                    </a>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle arrow-noneX" href="javascript: void(0);" id="topnav-apps" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {#<i class="mdi mdi-apps mr-1"></i>#}
                                    <i class="fas fa-cubes mr-1X"></i>
                                    Leltár 
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-apps">
                                    <a href="{{ path('inventory-supply-list') }}" class="dropdown-item">
                                        <i class="fas fa-dolly mr-1"></i>
                                        Szállítmányok</a>
                                    <a href="{{ path('inventory-waste-list') }}" class="dropdown-item">
                                        <i class="far fa-trash-alt mr-1"></i>
                                        Selejt</a>
                                    <a href="{{ path('inventory-product-list-all') }}" class="dropdown-item">
                                        <i class="far fa-list-alt mr-1"></i>
                                        Terméklista</a>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle arrow-noneX" href="javascript: void(0);" id="topnav-apps" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-columns"></i>
                                    CMS
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-apps">
                                    <a href="{{ path('cms-page-list') }}" class="dropdown-item">
                                        <i class="far fa-file-code"></i>
                                        Oldalak
                                    </a>
                                    <a href="{{ path ('site-page-show', { 'slug': 'rolunk'}) }}" class="dropdown-item">
                                        <i class="far fa-trash-alt mr-1"></i>
                                        HTML modulok
                                    </a>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
{#                                <a class="nav-link dropdown-toggle arrow-noneX" href="javascript: void(0);" id="topnav-apps" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                                <a class="nav-link" href="" data-toggle="modal" data-target="#modal--Settings">#}
                                <a class="nav-link" hrefX="" data-toggle="sidebar" data-target="#slider--Settings">
                                    <i class="fas fa-cog"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="order-lg-3 order-3 d-flex">
                        {% include 'admin/navbar-widget.html.twig' %}
                    </div>
                    {#<button class="button-menu-mobile open-left disable-btn">#}

                    {#</button>#}
            </nav>
        </div>
    </div>

    <nav id="sMenu" class="sMenu" tabindex="-1">
        <div class="sMenu-dialog">
            <div class="sMenu-content">
                <div class="sMenu--nav">
                    <ul>
                        <li class="{% if activeMenu is defined and activeMenu == 'dashboard' %}active-item{% endif %}">
                            <a href="{{ path('dashboard') }}">
                                <div class="s-icon">
                                    <i class="fas fa-tachometer-alt"></i>
                                </div>
                                <div class="s-text">{{ 'dashboard.dashboard'|trans }}</div>
                            </a>
                        </li>

                        <li class="sMenu--dropdown {% if activeMenu is defined and activeMenu == 'products' %}active-item{% endif %}">
                            <a href="#" role="button">
                                <div class="s-icon"><i class="fas fa-boxes"></i></div>
                                <div class="s-text">{{ 'product.products'|trans }}</div>
                            </a>
                            <div class="sMenu--submenu">
                                <ul>
                                    <li>
                                        <a href="{{ path('product-list') }}" class="{% if app.request.get('_route') == 'product-list' %}active-subitem{% endif %}">
                                            <div class="s-icon">
                                                <i class="fas fa-boxes"></i>
                                            </div>
                                            <div class="s-text">{{ 'product.products'|trans }}</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('collection-list') }}" class="{% if app.request.get('_route') == 'collection-list' %}active-subitem{% endif %}">
                                            <div class="s-icon">
                                                <i class="fas fa-list-ul"></i>
                                            </div>
                                            <div class="s-text">{{ 'collection.collections'|trans }}</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('smart-label-list') }}" class="{% if app.request.get('_route') == 'smart-label-list' %}active-subitem{% endif %}">
                                            <div class="s-icon">
                                                <i class="fas fa-tags"></i>
                                            </div>
                                            <div class="s-text">Matricák</div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="sMenu--dropdown {% if activeMenu is defined and activeMenu == 'orders' %}active-item{% endif %}">
                            <a href="#" role="button">
                                <div class="s-icon">
                                    <i class="fas fa-shopping-cart"></i>
                                </div>
                                <div class="s-text">{{ 'order.orders'|trans }}</div>
                            </a>
                            <div class="sMenu--submenu">
                                <ul>
                                    <li>
                                        <a href="{{ path('order-list-table') }}" class="{% if app.request.get('_route') == 'order-list-table' %}active-subitem{% endif %}">
                                            <div class="s-icon">
                                                <i class="fas fa-shopping-cart"></i>
                                            </div>
                                            <div class="s-text">{{ 'order.orders'|trans }}</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('order-list-abandoned') }}" class="{% if app.request.get('_route') == 'order-list-abandoned' %}active-subitem{% endif %}">
                                            <div class="s-icon">
                                                <i class="fas fa-shopping-cart"></i>
                                            </div>
                                            <div class="s-text">{{ 'order.abandoned-orders'|trans }}</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('customer-list') }}" class="{% if app.request.get('_route') == 'customer-list' %}active-subitem{% endif %}">
                                            <div class="s-icon">
                                                <i class="fas fa-user-friends"></i>
                                            </div>
                                            <div class="s-text">{{ 'customer.customers'|trans }}</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('user-list') }}" class="{% if app.request.get('_route') == 'user-list' %}active-subitem{% endif %}">
                                            <div class="s-icon">
                                                <i class="fas fa-user-friends"></i>
                                            </div>
                                            <div class="s-text">{{ 'user.users'|trans }}</div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="sMenu--dropdown {% if activeMenu is defined and activeMenu == 'boltzaras' %}active-item{% endif %}">
                            <a href="#" role="button">
                                <div class="s-icon">
                                    <i class="fas fa-store"></i>
                                </div>
                                <div class="s-text">Bolt</div>
                            </a>
                            <div class="sMenu--submenu">
                                <ul>
                                    <li>
                                        <a href="{{ path('boltzaras_list') }}" class="{% if app.request.get('_route') == 'boltzaras_list' %}active-subitem{% endif %}">
                                            <div class="s-icon">
                                                <i class="fas fa-file-invoice-dollar"></i>
                                            </div>
                                            <div class="s-text">Boltzárások</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('invoice-list') }}" class="{% if app.request.get('_route') == 'invoice-list' %}active-subitem{% endif %}">
                                            <div class="s-icon">
                                                <i class="fas fa-user-friends"></i>
                                            </div>
                                            <div class="s-text">Számlák</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('inventory-supply-list') }}" class="{% if app.request.get('_route') == 'inventory-supply-list' %}active-subitem{% endif %}">
                                            <div class="s-icon">
                                                <i class="fas fa-dolly"></i>
                                            </div>
                                            <div class="s-text">Szállítmányok</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('inventory-waste-list') }}" class="{% if app.request.get('_route') == 'inventory-waste-list' %}active-subitem{% endif %}">
                                            <div class="s-icon">
                                                <i class="far fa-trash-alt"></i>
                                            </div>
                                            <div class="s-text">Selejt</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('inventory-product-list-all') }}" class="{% if app.request.get('_route') == 'inventory-product-list-all' %}active-subitem{% endif %}">
                                            <div class="s-icon">
                                                <i class="far fa-list-alt"></i>
                                            </div>
                                            <div class="s-text">Terméklista</div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="sMenu--dropdown {% if activeMenu is defined and activeMenu == 'cms' %}active-item{% endif %}">
                            <a href="#">
                                <div class="s-icon">
                                    <i class="fas fa-columns"></i>
                                </div>
                                <div class="s-text">{{ 'page.pages'|trans }}</div>
                                <sup class="badge badge-warning">NEW</sup>
                            </a>
                            <div class="sMenu--submenu">
                                <ul>
                                    <li>
                                        <a href="{{ path('cms-page-list') }}" class="{% if app.request.get('_route') == 'cms-page-list' %}active-subitem{% endif %}">
                                            <div class="s-icon">
                                                <i class="fas fa-shopping-cart"></i>
                                            </div>
                                            <div class="s-text">{{ 'page.pages'|trans }}</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('cms-section-list') }}" class="{% if app.request.get('_route') == 'cms-page-list' %}active-subitem{% endif %}">
                                            <div class="s-icon">
                                                <i class="far fa-file-code"></i>
                                            </div>
                                            <div class="s-text">{{ 'cms.section.sections'|trans }}</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('cms-navigation-list') }}" class="{% if app.request.get('_route') == 'cms-navigation-list' %}active-subitem{% endif %}">
                                            <div class="s-icon">
                                                <i class="fas fa-shopping-cart"></i>
                                            </div>
                                            <div class="s-text">{{ 'cms.navigation.navigations'|trans }}</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('image-list') }}" class="{% if app.request.get('_route') == 'image-list' %}active-subitem{% endif %}">
                                            <div class="s-icon">
                                                <i class="far fa-images"></i>
                                            </div>
                                            <div class="s-text">Képek</div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="sMenu--nav">
                    <ul>
                        <li class="{% if activeMenu is defined and activeMenu == 'settings' %}active-item{% endif %}">
                            <a href="{{ path('settings-home') }}">
                                <div class="s-icon">
                                    <i class="fas fa-cog"></i>
                                </div>
                                <div class="s-text">Beállítások</div>
                                <sup class="badge badge-light">VIEW</sup>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>



    <nav class="sidenav-sticky">
{#        {% include 'admin/navbar-sidenav-widget.html.twig' %}#}
    </nav>

    <div class="content-page p-0" style="overflow: hidden; min-height: 0; ">
        {{ include('webshop/widgets/_navbar-impersonate-user.html.twig') }}
    </div>
    <div class="content-page">
        <div class="content">
            {#{{ include('/admin/navbar-widget.html.twig') }}#}
            <div class="container">
{#                <div class="row">#}
{#                    <div class="col-lg-12">#}
                        {% block page_content %}
                        {% endblock %}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>

    </div>

</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
    {% include 'admin/widgets/sidenav1-js.html.twig' %}
	<script>
        $(function() {
            // // Catch all the `[data-toggle-sidebar]` elements on the document.
            // document.querySelectorAll("[data-toggle='slider']").forEach(el => {
            //     // Add an event listener on those elements "click" event
            //     el.addEventListener('click', e => {
            //         // get the sidebar ID from the current element data attribute
            //         const sliderId = el.dataset.target;
            //
            //         console.log(sliderId);
            //         // check if there is an element on the doc with the id
            //         const sidebarElement = sliderId ? document.getElementById(sliderId.replace('#','')) : undefined;
            //         console.log(sidebarElement);
            //         // if there is a sidebar with the passed id (data-toggle-sidebar)
            //         if (sidebarElement) {
            //             // toggle the aria-hidden state of the given sidebar
            //             let sidebarState = sidebarElement.getAttribute('aria-hidden');
            //             sidebarElement.setAttribute('aria-hidden', sidebarState == 'true' ? false : true);
            //         }
            //     });
            // });



            $('.JS--inputDate').daterangepicker({
                singleDatePicker: true,
                opens: 'right',
                autoApply: true,
                autoUpdateInput: false,
                alwaysShowCalendars: true,
                maxDate: moment(),
                locale: {
                    // format: 'YYYY/MM/DD',
                    // format: 'MMM DD, [<span class="text-muted">]YYYY[</span>]',
                    format: 'MMM DD, YYYY',
                    separator: ' - ',
                    cancelLabel: 'Mégse',
                    daysOfWeek: ['V', 'H', 'K', 'Sz', 'Cs', 'P', 'Sz'],
                    monthNames: ['Január', 'Február', 'Március', 'Április', 'Május', 'Június', 'Július', 'Augusztus', 'Szeptember', 'Október', 'November', 'December'],
                    firstDay: 1,
                },
                buttonClasses: 'btn',
                cancelClass: 'btn-secondary',
            });
            $('.JS--inputDate').on('apply.daterangepicker', function(ev, picker) {
                $(this).val(picker.startDate.format('YYYY-MM-DD'));
                $(this).focus();
                picker.hide();
            });
        });

        $(document).ready(function () {
            {% for msg in app.session.flashBag.get('success') %}
                notyf.success('Sikeres modosítás.');
            {% endfor %}

            {% for msg in app.session.flashBag.get('warning') %}
                notyf.success('Figyelem!');
            {% endfor %}

            {% for msg in app.session.flashBag.get('danger') %}
                notyf.error('Upsz... Hiba történt!);
            {% endfor %}
        });
    </script>
{% endblock %}
