        <div class="row">
            <div class="col-lg-12 text-left px-2">
                <span class="text-darkX mb-1">{{ type.name }}</span><br>
                <span class="font-weight-normal">{{ type.description }}</span>
            </div>
            {#<div class="col-md-6 border-md-right mb-md-0 mb-1 text-left">#}
                {#<div class="">#}
                    {#<span class="h5 text-dark mb-1">{{ type.name }}</span>#}
                {#</div>#}
                {#<div class="text-mutedX mb-0">#}
                    {#{{ type.description }}#}
                {#</div>#}
            {#</div>#}
            {#<div class="col-md-3 col-6 mb-1">#}
                {#<div class="">#}
                    {#{% if type.intervals is defined %}#}
                    {#{% for interval in intervals %}#}
                        {#<div class="row">#}
                            {#<div class="col-auto text-nowrap">#}
                                {#{{ interval.name }} között#}
                                {#<span class="h6 font-italic text-mutedX text-nowrap ml-1"> {{ interval.price|number_format(0, ',', ' ') }} Ft</span>#}
                            {#</div>#}
                            {#<div class="col-3">#}
                                {#{{ interval.deliveryLimit }}#}
                            {#</div>#}
                        {#</div>#}
                    {#{% endfor %}#}
                    {#{% endif %}#}
                {#</div>#}
            {#</div>#}
        </div>