
                {#<div>#}
                    <h4 class="mt-0 mb-3 d-inline-block">{{ 'admin.customer.Customer'|trans }}</h4>
                    <div class="d-inline-block float-right">
                        <a href="{{ path('customer-show', {'id': customer.id}) }}">
                            {{ 'admin.customer.View profile'|trans }}
                        </a>
                    </div>
                {#</div>#}
                <div class="text-left">
                    <p class="mb-0">
                        {% if customer is defined and customer %}
                            <a href="{{ path('customer-show', {'id': customer.id}) }}">
                                {{  customer.fullname }}
                            </a>
                        {% else %}
                            {{ include('admin/_notAvailable-insert.html.twig') }}
                        {% endif %}
                    </p>
                    {% if customer is defined and customer %}
                        <p>
                            {{ 'admin.customer.%count% orders'|trans({'%count%': customer.realOrders.count}) }}
                        </p>
                    {% endif %}


                    <p class="mb-0">
                        <strong>{{ 'admin.customer.Email'|trans }}</strong>
                        <span class="ml-2">
                            {% if customer.email is defined and customer.email %}
                                {{  customer.email }}
                            {% else %} {{ include('admin/_notAvailable-insert.html.twig') }}
                            {% endif %}
                        </span>
                    </p>
                </div>