{% extends 'admin/template-with-sidebar.html.twig' %}

{% set pageTitle = user.fullname %}
{% set breadcrumb = {
    0: {
        'url': path('dashboard'),
        'text': 'dashboard.dashboard'|trans,
    },
    1: {
        'url': path('customer-list'),
        'text': 'customer.customers'|trans,
    }
} %}

{% if order.isClosed is defined and order.isClosed == false %}
    {% set isEditEnabled = true %}
{% else %}
    {% set isEditEnabled = false %}
{% endif %}

{% block title %}
    {{ pageTitle }}
{% endblock %}

{% block headerMoreActions %}
    <div class="mt-2">
        <a class="btn-link-secondary mr-3" href="#"><i class="far fa-envelope"></i>{{ 'customer.send-account-invite'|trans }}</a>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="card tilebox-one mb-20px">
                <div class="card-body">
                    <div class="float-right text-muted">
                        <i class="fas fa-shopping-basket"></i>
                    </div>
                    <span class="h6 quickinfo-title">{{ 'customer.orders'|trans }}</span>
                    <span class="h5 quickinfo-highlight">{{ user.ordersPlaced ? user.ordersPlaced.count : user.ordersPlaced.count }} </span>
                    <span class="text-sm font-weight-normal">&nbsp;</span>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card tilebox-one mb-20px">
                <div class="card-body">
                    <div class="float-right text-muted">
                        <i class="fas fa-dollar-sign"></i>
                    </div>
                    <span class="h6 quickinfo-title">{{ 'customer.spent-total'|trans }}</span>
                    <span class="h5 quickinfo-highlight">{{ totalRevenue|money }} </span>
                    <div class="text-muted">{{ 'customer.average-cart-value'|trans }}:&nbsp;{{ user.ordersPlaced.count != 0 ? (totalRevenue/user.ordersPlaced.count)|money : 0|money }}</div>
                </div>
            </div>
        </div>

    </div>
    <div class="card mb-20px">
        <div class="card-body">
            <span class="h5 admin-card-title mb-3">{{ 'customer.previous-orders'|trans }}</span>
            <div class="no-margins">
                <div class="table-responsive">
                <table class="table table-hover table-centered mb-0">
                    <thead>
                    <tr>
                        <th>Rendelés</th>
                        <th>Dátum</th>
                        <th>Címzett</th>
                        <th>Termékek</th>
                        <th>Összesen</th>
                        <th>Állapot</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if user.ordersPlaced is defined and user.ordersPlaced.isEmpty == false %}
                        {% for order in user.ordersPlaced %}
                            <tr>
                                <td><a href="{{ path('order-detail', {'id': order.id}) }}" class="font-weight-boldX">#{{ order.number|number_format(0, '', '') }}</a></td>
                                <td class="text-nowrap">{{ order.createdAt|date('Y-m-d')}}</td>

                                <td class="text-nowrap">{{ order.shippingName ? order.shippingName : '' }}</td>
                                <td>
                                    {% for item in order.items %}
                                        <a class="mr-1" href="{{ path('site-product-show', {'slug': item.product.slug}) }}" target="_blank">
                                            <img class="img-thumbnail mb-1" src="{{ uploaded_asset(item.product.coverImage)|imagine_filter('product_thumbnail') }}" width="30px;" />
                                        </a>
                                    {% endfor %}
                                </td>
                                <td class="text-nowrap text-right">{{ order.summary.totalAmountToPay|number_format(0, ',', '.') }} Ft</td>
                                <td><span class="badge badge-sm badge-{{ order.status.css }}">{{ order.status }}</span></td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    <div class="card card-sidebar mb-20px">
        <div class="card-body card-sidebar">
            {% include 'admin/customer-card.html.twig' with {'customer': user} %}
        </div>
    </div>
{% endblock %}