{# admin/base_admin.html.twig #}
{% extends 'admin/base_admin.html.twig' %}

{% set activeMenu = 'dashboard' %}
{%- block title -%}
    Dashboard
{%- endblock -%}

{% block page_content %}

    <div class="row mt-3">
        <div class="col-lg-12 col-xl-10 mx-auto">
            <div class="row">
                <div class="col-lg-12">
                    <div class="mb-20px">
                        <div class="vertical-row">
                            <div class="vertical-col">
                                <a href="{{ path('order-list-table') }}" class="btn btn-secondary mr-2"><i class="fas fa-shopping-cart mr-2"></i>{{ 'dashboard.orders'|trans }}</a>
                            </div>
                            <div class="vertical-col">
                                <a href="{{ path('customer-list') }}" class="btn btn-secondary mr-2"><i class="fas fa-user-friends mr-2"></i>{{ 'dashboard.customers'|trans }}</a>
                            </div>
                            <div class="vertical-col">
                                <a href="{{ path('product-list') }}" class="btn btn-secondary"><i class="fas fa-boxes mr-2"></i>{{ 'dashboard.products'|trans }}</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 overflow-x-scroll overflow-x-md-hidden">
                    <div class="position-relative">
                        <div class="w-lg mx-auto py-1 pr-3 pr-md-0">
                            <div class="form-row">
                                <div class="col-4 col-md-4">
                                    <div class="card">
                                        <div class="card-wrapper">
                                            <div class="card-body">
                                                <div class="float-right text-muted">
                                                    <i class="fas fa-shopping-basket"></i>
                                                </div>
                                                <span class="h6 quickinfo-title">{{ 'dashboard.sales-last-day'|trans }}</span>
                                                <span class="h4 quickinfo-highlight">{{ lastDay ? lastDay.totalRevenue|money : '' }} <span class=""></span></span>
                                                <div class="d-flex justify-content-between align-items-start border-top pt-3">
                                                    <div class="text-muted">{{ 'dashboard.orders'|trans }}: {{ lastDay ? lastDay.orderCount : '' }}</div>
                                                    <div class="">
                                                        <a href="{{ path('order-list-table', {'dateRange': lastDay.dateRange}) }}" class="">{{ 'dashboard.details'|trans }}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-4 col-md-4">
                                    <div class="card">
                                        <div class="card-wrapper">
                                            <div class="card-body">
                                                <div class="float-right text-muted">
                                                    <i class="fas fa-shopping-basket"></i>
                                                </div>
                                                <span class="h6 quickinfo-title">{{ 'dashboard.sales-last-week'|trans }}</span>
                                                <span class="h4 quickinfo-highlight">{{ lastWeek ? lastWeek.totalRevenue|money : '' }} <span class=""></span></span>
                                                <div class="d-flex justify-content-between align-items-start border-top pt-3">
                                                    <div class="text-muted">{{ 'dashboard.orders'|trans }}: {{ lastWeek ? lastWeek.orderCount : '' }}</div>
                                                    <div class="">
                                                        <a href="{{ path('order-list-table', {'dateRange': lastWeek.dateRange}) }}" class="">{{ 'dashboard.details'|trans }}</a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-4 col-md-4">
                                    <div class="card">
                                        <div class="card-wrapper">
                                            <div class="card-body">
                                                <div class="float-right text-muted">
                                                    <i class="fas fa-shopping-basket"></i>
                                                </div>
                                                <span class="h6 quickinfo-title">{{ 'dashboard.sales-last-month'|trans }}</span>
                                                <span class="h4 quickinfo-highlight">{{ lastMonth ? lastMonth.totalRevenue|money : '' }} <span class=""></span></span>
                                                <div class="d-flex justify-content-between align-items-start border-top pt-3">
                                                    <div class="text-muted">{{ 'dashboard.orders'|trans }}: {{ lastMonth ? lastMonth.orderCount : '' }}</div>
                                                    <div class="">
                                                        <a href="{{ path('order-list-table', {'dateRange': lastMonth.dateRange}) }}" class="">{{ 'dashboard.details'|trans }}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 correction-no-padding mt-20px">
                    <div class="card">
                        <div class="list-group list-group-flush">
                                <div class="list-group-item">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="">
                                            <span class="text-primary">
                                                <i class="far fa-credit-card mr-2"></i>
                                            </span>
                                            <span class="">
                                                <span class="font-weight-bold">
                                                    {% if lifetime is defined %}
                                                        {{ lifetime.unpaidCount == 1 ? 'dashboard.order-count'|trans({ '{{ count }}': lifetime.unpaidCount }) : 'dashboard.orders-count'|trans({ '{{ count }}': lifetime.unpaidCount }) }}
                                                    {% endif %}
                                                </span>
                                                {{ 'dashboard.to-capture-payment'|trans }}
                                            </span>
                                        </div>
                                        <div class="text-muted">
                                            <i class="fas fa-chevron-right"></i>
                                        </div>
                                    </div>
                                    <a href="{{ path('order-list-table', {'paymentStatus': 'pending'}) }}" class="text-dark tile-link"></a>
                                </div>
                                <div class="list-group-item">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="">
                                            <span class="text-primary">
                                                <i class="fas fa-dolly mr-2"></i>
                                            </span>
                                            <span class="">
                                                <span class="font-weight-bold">
                                                    {% if lifetime is defined %}
                                                        {{ lifetime.unfulfilledCount == 1 ? 'dashboard.order-count'|trans({ '{{ count }}': lifetime.unfulfilledCount }) : 'dashboard.orders-count'|trans({ '{{ count }}': lifetime.unfulfilledCount }) }}
                                                    {% endif %}
                                                </span>
                                                {{ 'dashboard.to-fulfill'|trans }}
                                            </span>
                                        </div>
                                        <div class="text-muted">
                                            <i class="fas fa-chevron-right"></i>
                                        </div>
                                    </div>
                                    <a href="{{ path('order-list-table', {'orderStatus': 'created'}) }}" class="text-dark tile-link"></a>
                                </div>
                            </div>
                    </div>
                </div>

                <div class="col-lg-12 correction-no-padding mt-20px">
                    <div class="card">
                        <div class="card-body">
                            <div class="h3 card-title">{{ 'dashboard.settings'|trans }}</div>
                            <div class="">
                                {{ 'dashboard.setup-your-store-general-settings'|trans }}
                            </div>
                            <a href="{{ path('settings-home') }}" class="btn btn-secondary mt-4"><i class="fas fa-cog mr-2"></i>{{ 'dashboard.edit-general-settings'|trans }}</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 correction-no-padding mt-20px mb-20px">
                    <div class="card">
                        <div class="card-body">
                            <div class="h3 card-title">{{ 'dashboard.your-store-and-company-details'|trans }}</div>
                            <div class="row">
                                <div class="col-lg-6 pb-2 pb-md-0">
                                    {{ 'settings.general-settings.store-name'|trans }}: <span class="text-muted">{{ storeSettings.get('store.name') }}</span> <br>
                                    {{ 'settings.general-settings.store-url'|trans }}: <span class="text-muted">{{ storeSettings.get('store.url') }}</span> <br>
                                    {{ 'settings.general-settings.customer-support'|trans }}: <span class="text-muted">{{ storeSettings.get('store.email') }}, {{ storeSettings.get('store.phone') }}</span>
                                </div>
                                <div class="col-lg-6">
                                    {{ 'settings.general-settings.business-name'|trans }}: <span class="text-muted">{{ storeSettings.get('company.name') }}</span> <br>
                                    {{ 'settings.general-settings.business-address'|trans }}: <span class="text-muted">{{ storeSettings.get('company.address') }}, {{ storeSettings.get('company.city') }} {{ storeSettings.get('company.zip') }}</span>
                                </div>
                            </div>
                            <div class="mt-4">
                                <a href="{{ path('settings-configuration') }}" class="btn btn-secondary mr-2"><i class="fas fa-store mr-2"></i>{{ 'dashboard.edit-store-details'|trans }}</a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>



{% endblock %}