{% extends 'admin/template-listing.html.twig' %}

{% set activeMenu = 'settings' %}
{% set pageTitle = title %}
{% set backToText = 'Beállítások' %}
{% set backToUrl = path('settings-home') %}
{% set breadcrumb = {
	0: {
		'url': path('settings-home'),
		'text': 'settings.settings'|trans,
	},
	1: {
		'url': path('occasion-list'),
		'text': 'Kiemelt napok',
	}
} %}

{% block title %}
	{{ title }}
{% endblock %}

{% block headerActionsWrapper %}
	<nav class="w-100 adaptive-tabs adaptive-tabs-right mr-2">
		<ul class="nav nav-tabs adaptive-primary">
			<li class="nav-item adaptive-item">
				<a class="nav-link" href="{{ path('occasion-list') }}">Kiemelt napok</a>
			</li>
		</ul>
		<ul class="adaptive-template">
			<li class="nav-item adaptive-item adaptive-more">
				<a href="" class="adaptive-button nav-link dropdown-toggle btn-more-actions" aria-haspopup="true" aria-expanded="false">
					<span>{{ 'generic.more-actions'|trans }}</span>
				</a>
				<ul class="adaptive-secondary">
				</ul>
			</li>
		</ul>
	</nav>
	<a class="btn btn-primary" href="{{ path('delivery-date-type-edit') }}">Új idősáv csoport</a>
{% endblock %}

{% block contentInner %}
	{% if items is defined and items is not empty %}
	<div class="card-body">
	 {% for item in items %}
		 <div class="mb-sm-2 mb-1">
			 <div class="py-1X">
				 <div class="row">
					 <div class="col-md-6 border-md-right mb-md-0 mb-1 pr-md-4">
						 <div class="">
							 <a href="{{ path('delivery-date-type-edit', {'id': item.id}) }}" class="">
								 <span class="">{{ item.name }} </span>
							 </a>
						 </div>
						 <div class="mb-0">
							 {{ item.description|raw  }}
						 </div>
					 </div>
					 <div class="col-md-3 col-7 mb-1 pl-md-2">
						 <div class="">
							 {% for interval in item.getIntervals %}
								 <div class="row">
									 <div class="col-auto text-nowrap">
										 {{ interval.name }} között
										 <span class="badge badge-{% if interval.price == 0 %}success{% else %}warning{% endif %} text-nowrap ml-1"> {{ interval.price|money }}</span>
									 </div>
									 <div class="col-3">
										 {{ interval.deliveryLimit }}
									 </div>
								 </div>
							 {% endfor %}
						 </div>
					 </div>
					 <div class="col-md-3 col-5 pl-md-2">
						 <a href="{{ path('delivery-date-type-edit', {'id': item.id}) }}" class="btn btn-secondary mb-2">
							 {#<i class="fas fa-edit mr-1"></i>#}
							 Módosít</a> <br>
						 <small class="text-muted">
							 <em>Létrehozva: {{ item.createdAt|date('Y M j')|lower }}, {{ item.createdAt|date('H:i')}}</em><br>
							 <em>Utolsó módosítás: {{ item.updatedAt|date('Y M j')|lower }}, {{ item.updatedAt|date('H:i')}}</em><br>
						 </small>
					 </div>

				 </div>
			 </div>
			 <div class="border-bottom pb-1 text-centerX">

			 </div>
		 </div>
	 {% endfor %}
	</div>
 {% else %}
	 <li><em>{{ noResult }}</em></li>
 {% endif %}
{% endblock %}