{% extends 'admin/base_admin.html.twig' %}

{% block title %}
    Belépés
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('webshop/admin/signin.css') }}" rel="stylesheet" />
{% endblock %}


{% block body %}

<form class="form-signin text-center" action="{{ path('admin_login') }}" method="post">
    <img class="mb-4" src="" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Bejelentkezés</h1>
    {% if error %}
        <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <label for="username" class="sr-only">Felhasználónév</label>
    <input type="text" id="username" name="_username" class="form-control" placeholder="Felhasználónév" required autofocus value="{{ last_username }}" />

    <label for="inputPassword" class="sr-only">Jelszó</label>
    <input type="password" id="inputPassword" name="_password"  class="form-control" placeholder="Jelszó" required />
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>

    {#
        If you want to control the URL the user
        is redirected to on success (more details below)
        <input type="hidden" name="_target_path" value="/account" />
    #}

    <button type="submit" class="btn btn-lg btn-primary btn-block">Belépés</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2018 Stulipan.dfr</p>
</form>

{% endblock %}