{% extends 'admin/base.html.twig' %}

{%- block title -%}
    {{ 'login.login-meta'|trans }}
{%- endblock -%}


{% block body %}
    <div class="vh-100 w-100 overflow-hidden">
        <div class="position-relative bg-light w-100 h-100 text-right">
            <svg class="h-100" xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'><rect fill='#eeeeee' width='1600' height='900'/><polygon fill='#2c6ecb' points='957 450 539 900 1396 900'/><polygon fill='#1f4f91' points='957 450 872.9 900 1396 900'/><polygon fill='#2c6eca' points='-60 900 398 662 816 900'/><polygon fill='#205296' points='337 900 398 662 816 900'/><polygon fill='#2c6dc9' points='1203 546 1552 900 876 900'/><polygon fill='#21559c' points='1203 546 1552 900 1162 900'/><polygon fill='#2b6dc9' points='641 695 886 900 367 900'/><polygon fill='#2257a1' points='587 900 641 695 886 900'/><polygon fill='#2b6cc8' points='1710 900 1401 632 1096 900'/><polygon fill='#245aa7' points='1710 900 1401 632 1365 900'/><polygon fill='#2b6cc7' points='1210 900 971 687 725 900'/><polygon fill='#255dac' points='943 900 1210 900 971 687'/></svg>
        </div>
        <div class="position-absolute vh-100 w-100" style="top: 0;">
            <div class="container h-100 px-5">
                <div class="row h-100 justify-content-center justify-content-md-start align-items-center">
                    <div class="col-lg-5 col-md-7">
                        <div class="card">

                            <div class="card-body px-4 pt-4 pb-0">
                                <a href="{{ path('index') }}" class="logo text-center" target="_blank">
                                    {% include 'admin/widgets/logo.html.twig' %}
                                </a>
                            </div>

                            <div class="card-body p-4">
                                {% if error %}
                                    <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}
                                <form class="form-signin mt-3" action="{{ path('admin-login') }}" method="post" novalidate>
                                    <div class="form-group">
                                        <h4 class="font-weight-bold">{{ 'login.login-title'|trans }}</h4>
                                    </div>
                                    <div class="form-group">
                                        <label for="username" class="sr-only">{{ 'login.email'|trans }}</label>
                                        <input type="text" id="username" name="_username" class="form-control form-control-lg" placeholder="{{ 'login.email'|trans }}" required {% if last_username is empty %}autofocus{% endif %} value="{{ last_username }}" />
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword" class="sr-only">{{ 'login.password'|trans }}</label>
                                        <input type="password" id="inputPassword" name="_password" class="form-control form-control-lg" placeholder="{{ 'login.password'|trans }}" required />
                                    </div>
                                    <div class="form-group mb-3 text-left">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" id="checkbox-signin" name="_remember_me" class="custom-control-input">
                                            <label class="custom-control-label font-weight-normal" for="checkbox-signin">{{ 'login.remember-me'|trans }}</label>
                                        </div>
                                    </div>
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                    <div class="form-group mb-0">
                                        <button class="btn btn-lg btn-primary px-4" type="submit">{{ 'login.login-button'|trans }}</button>
                                    </div>
                                </form>
                                <div class="text-muted text-sm mt-5">
                                    <p class="mb-md-0">©{{ copyrightYear }} {{ storeSettings.get('meta.footer')}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}