{% extends 'admin/base_admin.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block page_content %}

	<!-- page title -->
	{{ include('/admin/_title_widget.html.twig') }}

	<!-- header of default page content widget -->
	{{ include('/admin/_header_of_default_page_content.html.twig') }}

	<div class="row mb-2">
		<div class="col-lg-8">
			<!-- Kereso mezo + Filterek + Csoportos action opcio -->
		</div>
		<div class="col-lg-4">
		</div>
	</div>

	{{ include('/admin/_shipping-form.html.twig') }}

	<!-- footer of default page content widget -->
	{{ include('/admin/_footer_of_default_page_content.html.twig') }}

{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}

