<a href="{{ path('homepage') }}">
    {% if storeLogo is defined and storeLogo %}
        {% if isBgDark is defined and isBgDark == true %}
                <img src="{{ storeLogoInverted is defined and storeLogoInverted ? storeLogoInverted : storeLogo }}" class="store-logo" height="40">
        {% else %}
                <img src="{{ storeLogo }}" class="store-logo" height="40">
        {% endif %}
    {% else %}
        {% if isBgDark is defined and isBgDark == true %}
            <span class="h4 font-weight-bold text-uppercase text-white">{{ storeName is defined and storeName ? storeName : 'Store name' }}</span>
        {% else %}
            <span class="h4 font-weight-bold text-uppercase">{{ storeName is defined and storeName ? storeName : 'Store name' }}</span>
        {% endif %}
    {% endif %}
</a>