{% extends 'admin/template-with-sidebar.html.twig' %}

{% set pageTitle = form.vars.data ? form.vars.data.name : 'Új oldal' %}
{% set breadcrumb = {
	0: {
		'url': path('dashboard'),
		'text': 'dashboard.dashboard'|trans,
	},
	1: {
		'url': path('cms-page-list'),
		'text': 'Oldalak',
	},
} %}
{% set cancelUrl = path('cms-page-list') %}

{% block title %}
	{{ pageTitle }}
{% endblock %}

{% block headerMoreActions %}
	{%  if form.vars.data.id is defined and form.vars.data.id is not null %}
	<div class="navbar--toolbar">
		<div class="nav-item">
			<a class="btn btn-link-secondary" href="{{ path('cms-page-duplicate', {'id': form.vars.data.id}) }}"><i class="far fa-clone"></i>Másolat készítése</a>
		</div>
	</div>
	{% endif %}
{% endblock %}

{% block content %}
	<div class="card mb-20px">
		<div class="card-wrapper">
			<div class="card-body">
				<div class="h5 admin-card-title mb-4">Oldal részletei</div>
				<div>
					{% include '/admin/cms/_page-form.html.twig' with {'cancelUrl': cancelUrl}  %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block sidebar %}
	<div class="card text-whiteX bg-lightX overflow-hidden mb-20px">
		<div class="card-body">
			<div class="h5 admin-card-title mb-3">Kép</div>
			<div class="w-100 mt-2">
				{% if form.vars.data.image|default %}
					<div class="d-flexX w-100 img-thumbnail" style="background: url('{{ uploaded_asset(form.vars.data.imagePath)|imagine_filter('product_image') }}') center center / cover no-repeat; height: 250px;"></div>
				{% else %}
					<span class="text-muted">Nincs</span>
				{% endif %}
			</div>

		</div>
	</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
	{{ encore_entry_script_tags('CmsImageUpload') }}
	<script>
		$(function () {
			$('.JS--cmsPageContent').trumbowyg({
				btns: [
					// ['undo', 'redo'], // Only supported in Blink browsers
					['formatting'],
					['strong', 'em', 'underline'],
					['unorderedList', 'orderedList'],
					['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
					['link'],
					['insertImage'],
					['removeformat'],
					['viewHTML'],
				],
				// autogrow: true,
				changeActiveDropdownIcon: true,
				tagsToRemove: ['script', 'link'],
				imageWidthModalEdit: true,
				removeformatPasted: true,
			});
		});
	</script>
{% endblock %}
