{% extends 'admin/template-with-sidebar.html.twig' %}

{% set activeMenu = 'cms' %}

{% if form.vars.data is defined and form.vars.data.name is defined and form.vars.data.name is not empty %}
	{% set pageTitle = form.vars.data.name %}
{% else %}
	{% set pageTitle = 'page.new-page'|trans %}
{% endif %}

{% set breadcrumb = {
	0: {
		'url': path('dashboard'),
		'text': 'dashboard.dashboard'|trans,
	},
	1: {
		'url': path('cms-page-list'),
		'text': 'page.pages'|trans,
	},
} %}
{% set cancelUrl = path('cms-page-list') %}


{% block stylesheets %}
	{{ parent() }}
{#	<script src="https://cdn.tiny.cloud/1/lq4gczs0epyi1cahrkv32fdx7bt7s92hxhnleiooa95xdypk/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>#}
	{% include 'admin/widgets/tinymce-content-field.html.twig' %}
{% endblock %}

{% block headerActionsWrapper %}
	{% if form.vars.data.id is defined and form.vars.data.id is not null %}
	<nav class="w-100 adaptive-tabs adaptive-tabs-right">
		<ul class="nav nav-tabs adaptive-primary">
			<li class="nav-item adaptive-item">
				{% if form.vars.data.enabled is same as true %}
					{% set query = {
						'slug': form.vars.data.slug
					} %}
				{% else %}
					{% set query = {
						'slug': form.vars.data.slug,
						'preview_token': 'enabled'
					} %}
				{% endif %}
				<a class="nav-link" href="{{ path('site-page-show', query) }}" target="_blank"><i class="fas fa-external-link-alt mr-2"></i>{% if form.vars.data.enabled is same as true %}{{ 'generic.view'|trans }}{% else %}{{ 'generic.preview'|trans }}{% endif %}</a>
			</li>
			<li class="nav-item adaptive-item">
				<a class="nav-link" href="{{ path('cms-page-duplicate', {'id': form.vars.data.id}) }}"><i class="far fa-clone mr-2"></i>{{ 'page.duplicate-page'|trans }}</a>
			</li>
		</ul>
		<ul class="adaptive-template">
			<li class="nav-item adaptive-item adaptive-more">
				<a href="" class="adaptive-button nav-link dropdown-toggle btn-more-actions" aria-haspopup="true" aria-expanded="false">
					<span>{{ 'generic.more-actions'|trans }}</span>
				</a>
				<ul class="adaptive-secondary">
				</ul>
			</li>
		</ul>
	</nav>
	{% endif %}
{% endblock %}

{% block mainContent %}
	<div class="row mt-3">
		<div class="col-md-12">
			{% include 'admin/cms/_page-form.html.twig' with {'cancelUrl': cancelUrl}  %}
		</div>
	</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
	{{ encore_entry_script_tags('StoreImageUpload') }}
{% endblock %}
