{% extends 'admin/template-with-sidebar.html.twig' %}

{% set activeMenu = 'cms' %}

{% if form.vars.data is defined and form.vars.data.name is defined and form.vars.data.name is not empty %}
	{% set pageTitle = form.vars.data.name %}
{% else %}
	{% set pageTitle = 'cms.section.new-section'|trans %}
{% endif %}

{% set breadcrumb = {
	0: {
		'url': path('dashboard'),
		'text': 'dashboard.dashboard'|trans,
	},
	1: {
		'url': path('cms-section-list'),
		'text': 'cms.section.sections'|trans,
	},
} %}
{% set cancelUrl = path('cms-section-list') %}


{% block stylesheets %}
	{{ parent() }}
	{% include 'admin/widgets/tinymce-content-field.html.twig' %}
{% endblock %}

{% block headerActionsWrapper %}
	<nav class="w-100 adaptive-tabs adaptive-tabs-right">
		<ul class="nav nav-tabs adaptive-primary">
			<li class="nav-item adaptive-item">
				<a class="nav-link" href="{{ path('cms-navigation-new') }}" target="_blank"><i class="fas fa-plus mr-2"></i>{{ 'cms.section.new-section'|trans }}</a>
			</li>
{#			<li class="nav-item adaptive-item">#}
{#				<a class="nav-link" href="{{ path('cms-page-duplicate', {'id': form.vars.data.id}) }}"><i class="far fa-clone mr-2"></i>{{ 'page.duplicate-page'|trans }}</a>#}
{#			</li>#}
		</ul>
		<ul class="adaptive-template">
			<li class="nav-item adaptive-item adaptive-more">
				<a href="" class="adaptive-button nav-link dropdown-toggle btn-more-actions" aria-haspopup="true" aria-expanded="false">
					<span>{{ 'generic.more-actions'|trans }}</span>
				</a>
				<ul class="adaptive-secondary">
				</ul>
			</li>
		</ul>
	</nav>
{% endblock %}

{% block mainContent %}
	<div class="row mt-3">
		<div class="col-md-12">
			{% include 'admin/cms/section-form.html.twig' with {'cancelUrl': cancelUrl}  %}
		</div>
	</div>
{% endblock %}