
    {{ form_start(form, { 'attr': {'class': ' ' }}) }}

			<div class="mb-2">
				<div class="form-group row">
					<div class="col-sm-12 col-md-2">
						{{ form_label(form.name, form.name, { 'label_attr': {'class': '' }}) }}
					</div>
					<div class="col-sm-12 col-md-8 col-xl-7 mr-auto">
                        {{ form_widget(form.name) }}
                        {{ form_errors(form.name) }}
					</div>

				</div>
			</div>
			<div class="mb-2">
				<div class="form-group row">
					<div class="col-sm-12 col-md-2 text-sm-righttt">
						{{ form_label(form.parentCategory, form.parentCategory, { 'label_attr': {'class': '' }}) }}
					</div>
					<div class="col-sm-12 col-md-5 col-xl-4 mr-auto">
						{{ form_widget(form.parentCategory) }}
						{{ form_errors(form.parentCategory) }}
					</div>
		
				</div>
			</div>
            <div class="mb-2">
                <div class="form-group row">
                    <div class="col-sm-12 col-md-2">
                        {#{{ form_label(form.enabled) }}#}
                        <label class="form-control-label">Engedélyezve</label>
                    </div>
                    <div class="col-sm-8 col-lg-5 ">
                        <input type="checkbox" id="{{ form.enabled.vars.id }}" name="{{ form.enabled.vars.full_name }}" required="required" class="form-check-input" value="{{ form.enabled.vars.value }}" {{ form.enabled.vars.checked == 1 ? 'checked=\"checked\"' : ''}} data-switch="success">
                        <label class="form-check-label required" for="{{ form.enabled.vars.id }}" data-on-label="Igen" data-off-label="Nem"></label>
        
                        {#{{ form_widget(form.enabled) }}#}
                        {{ form_errors(form.enabled) }}
                        {% do form.enabled.setRendered() %}
                    </div>
                </div>
            </div>
			<div class="mb-2">
				<div class="form-group row">
					<div class="col-sm-12 col-md-2">
                        {{ form_label(form.slug, form.slug, { 'label_attr': {'class': '' }}) }}
					</div>
					<div class="col-sm-12 col-md-8 col-xl-7 mr-auto">
                        {{ form_widget(form.slug) }}
                        {{ form_errors(form.slug) }}
					</div>

				</div>
			</div>
			<div class="mb-2">
				<div class="form-group row">
					<div class="col-sm-12 col-md-2">
                        {{ form_label(form.description, form.description, { 'label_attr': {'class': '' }}) }}
					</div>
					<div class="col-sm-12 col-md-8 col-xl-7 mr-auto">
                        {{ form_widget(form.description) }}
                        {{ form_errors(form.description) }}
					</div>
				</div>
			</div>
			<div class="mb-2">
				<div class="form-group row">
					<div class="col-sm-12 col-md-2">
						<div class="">Kép</div>
					</div>
					<div class="col-sm-12 col-md-5 col-xl-4 mr-auto input-group">
						<div class="custom-file">
							{{ form_widget(form.imageFile) }}
							{#{{ form_label(form.imageFile, form.imageFile, { 'label_attr': {'class': '' }}) }}#}
						</div>
                        {{ form_errors(form.imageFile) }}
                        <div class="w-100 mt-2">
                            {#{% if form.vars.data.image|default %}#}
                            {% if form.vars.data is defined and form.vars.data is not null and form.vars.data.image %}
                                <img class="img-thumbnail" src="{{ uploaded_asset(form.vars.data.imagePath)|imagine_filter('category_thumbnail') }}" style="max-height: 50px; width: 250px;">
                            {% endif %}
                        </div>
                        {#<div class="w-100 mt-2">#}
                            {#<form action="" method="POST" enctype="multipart/form-data">#}
                                {#<input type="file" name="reference">#}
                                {#<button type="submit" class="btn btn-sm btn-primary">Add image</button>#}
                            {#</form>#}
                        {#</div>#}

					</div>
				</div>
			</div>


			{# Render CSRF token etc .#}
			<div style="display:none">
				{{ form_rest(form) }}
			</div>

			<div class="mb-2">
				<div class="form-group row">
					<div class="col-sm-12 col-md-2">
					</div>
					<div class="col-sm-12 col-md-8 col-xl-7 mr-auto">
						<input type="submit" value="Mentés" class="btn btn-lgg btn-primary" formnovalidate>
						<a href="{{ path('product-listCategories') }}" class="btn btn-outline-secondary">Mégse</a>
					</div>

				</div>
			</div>


    {{ form_end(form) }}