	{{ form_start(form, { 'attr': {'class': ' ' }}) }}

			<div class="mb-3">
				<div class="form-group row">
					<div class="col-sm-4 col-lg-2 text-sm-righttt">
						{{ form_label(form.productName, form.productName, { 'label_attr': {'class': 'col-form-label' }}) }}
					</div>
					<div class="col-sm-8 col-lg-5">
                        {{ form_widget(form.productName) }}
                        {{ form_errors(form.productName) }}
					</div>
                    <div class="col-lg-5"></div>
				</div>
			</div>
			<div class="mb-3">
				<div class="form-group row">
					<div class="col-sm-4 col-lg-2 text-sm-righttt">
                        {{ form_label(form.sku, form.sku, { 'label_attr': {'class': 'col-form-label' }}) }}
					</div>
					<div class="col-sm-8 col-lg-5">
                        {{ form_widget(form.sku) }}
                        {{ form_errors(form.sku) }}
					</div>
                    <div class="col-lg-5"></div>
				</div>
			</div>
			<div class="mb-3">
				<div class="form-group row">
					<div class="col-sm-4 col-lg-2 text-sm-righttt">
                        {{ form_label(form.description, form.description, { 'label_attr': {'class': 'col-form-label' }}) }}
					</div>
					<div class="col-sm-8 col-lg-5">
                        {{ form_widget(form.description) }}
                        {{ form_errors(form.description) }}
					</div>
                    <div class="col-lg-5"></div>
				</div>
			</div>
			<div class="mb-3">
				<div class="form-group row">
					<div class="col-sm-4 col-lg-2 text-sm-righttt">
                        {{ form_label(form.status, form.status, { 'label_attr': {'class': 'col-form-label' }}) }}
					</div>
					<div class="col-sm-8 col-lg-5">
                        {{ form_widget(form.status) }}
                        {{ form_errors(form.status) }}
					</div>
                    <div class="col-lg-5"></div>
				</div>
			</div>
			<div class="mb-3">
				<div class="form-group row">
					<div class="col-sm-4 col-lg-2 text-sm-righttt">
                        {{ form_label(form.grossPrice, form.grossPrice, { 'label_attr': {'class': 'col-form-label' }}) }}
					</div>
					<div class="col-sm-8 col-lg-5 input-group">
                        {{ form_widget(form.grossPrice) }}
						<div class="input-group-append">
							<span class="input-group-text">Ft</span>
						</div>
                        {{ form_errors(form.grossPrice) }}
					</div>
                    <div class="col-lg-5"></div>
				</div>
			</div>
			<div class="mb-3">
				<div class="form-group row">
					<div class="col-sm-4 col-lg-2 text-sm-righttt">
                        {{ form_label(form.stock, form.stock, { 'label_attr': {'class': 'col-form-label' }}) }}
					</div>
					<div class="col-sm-8 col-lg-5 input-group">
                        {{ form_widget(form.stock) }}
						<div class="input-group-append">
							<span class="input-group-text">darab</span>
						</div>
                        {{ form_errors(form.stock) }}
					</div>
                    <div class="col-lg-5"></div>
				</div>
			</div>
			<div class="mb-3">
				<div class="form-group row">
					<div class="col-sm-4 col-lg-2 text-sm-righttt">
                        {{ form_label(form.category, form.category, { 'label_attr': {'class': 'col-form-label' }}) }}
					</div>
					<div class="col-sm-8 col-lg-5">
                        {{ form_widget(form.category) }}
                        {{ form_errors(form.category) }}
					</div>
                    <div class="col-lg-5"></div>
				</div>
			</div>
            <div class="mb-3">
                <div class="form-group row">
                    <div class="col-sm-4 col-lg-2">
                        <strong>{{ form_label(form.kind) }}</strong>
                    </div>
                    <div class="col-sm-8 col-lg-5">
                        {% for choice in form.kind %}
                            {{ include('admin/choiceItem.html.twig') }}
                        {% endfor %}
                        {% do form.kind.setRendered() %}
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <div class="form-group row">
                    <div class="col-sm-4 col-lg-2">
                        <strong>{{ form_label(form.subproducts) }}</strong>
                    </div>
                    <div class="col-sm-8 col-lg-5">
                        {#{% for choice in form.subproducts %}#}
                            {#{{ include('admin/choiceItem.html.twig') }}#}
                        {#{% endfor %}#}
                        {% for item in form.subproducts %}
                            {#{{ item.id }}#}
                            {{ form_row(item.price) }}

                        {% endfor %}
                        {#{{ form_widget(form.subproducts) }}#}
                        {#{% do form.subproducts.setRendered() %}#}
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <div class="form-group row">
                    <div class="col-sm-4 col-lg-2 text-sm-righttt">
                        <div class="col-form-label">Termékkép</div>
                    </div>
                    <div class="col-sm-8 col-lg-5 input-group">
                        <div class="custom-file">
                            {#{{ form_widget(form.image) }}#}
                            {#{{ form_label(form.image, form.image, { 'label_attr': {'class': 'custom-file-label' }}) }}#}
                        </div>
                        <div class="input-group-append">
                            <span class="input-group-text" id="inputGroupFileAddon02">Feltöltés</span>
                        </div>
                    </div>
                    <div class="col-lg-5"></div>
                </div>
            </div>

			{# Render CSRF token etc .#}
			<div style="display:none">
				{{ form_rest(form) }}
			</div>

			<div class="mb-3">
				<div class="form-group row">
					<div class="col-sm-4 col-lg-2 text-sm-righttt">
					</div>
					<div class="col-sm-8 col-lg-5 ml-sm-auto">
						<input type="submit" value="Mentés" class="btn btn-lgg btn-success" formnovalidate>
						<a href="{{ path('product-list') }}" class="btn btn-outline-secondary">Mégse</a>
					</div>
                    <div class="col-lg-5"></div>
				</div>
			</div>


    {{ form_end(form) }}