{{ form_start(form, { 'attr': {'class': ' ' }}) }}
    <div class="row">
        <div class="col-md-8 correction-no-padding">

            <div class="card mb-20px">
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            {{ form_label(form.name, form.name, { 'label_attr': {'class': '' }, 'label': 'collection.name'|trans}) }}
                            {{ form_widget(form.name) }}
                            {{ form_errors(form.name) }}
                        </div>
                    </div>
                    <div class="form-group row mb-0">
                        <div class="col-sm-12">
                            {{ form_label(form.description, form.description, { 'label_attr': {'class': '' }, 'label': 'collection.description'|trans}) }}
                            {{ form_widget(form.description, {'attr': {'class': 'JS--TinyMce-description', rows: 4}}) }}
                            {{ form_errors(form.description) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-20px">
                <div class="card-body">
                    <div class="h5 mb-0">{{ 'collection.image'|trans }}</div>
                    <div class="form-group row mb-0 mt-3">
                        <div class="col-sm-12">
                            {{ form_widget(form.imageId, { 'attr': {'class': 'V--imageId' }}) }}
                            {{ form_errors(form.imageId) }}
                            <div id="v--imageUpload" class="d-flex justify-content-center align-items-center" style="border-radius: 6px; background-color: #f4f4f5; height:100px; width: 100%;">
                                <div class="spinner-border text-light" role="status"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-20px">
                <div class="card-body">
                    <div class="h5 mb-0">SEO</div>
                    <div class="form-group row mt-3">
                        <div class="col-sm-12">
                            {{ form_label(form.seoContent, form.seoContent, { 'label_attr': {'class': '' }, 'label': 'collection.seo-content'|trans}) }}
                            {{ form_widget(form.seoContent, {'attr': {'class': 'JS--TinyMce-description', rows: 4}}) }}
                            {{ form_errors(form.seoContent) }}
                        </div>
                    </div>
                    <div class="form-group row mb-0">
                        <div class="col-sm-12">
                            {{ form_label(form.slug, form.slug, { 'label_attr': {'class': '' }, 'label': 'collection.slug'|trans}) }}
                            {{ form_widget(form.slug) }}
                            {{ form_errors(form.slug) }}
                            <small class="form-text">{{ 'collection.slug-help'|trans }}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 correction-no-padding">

            <div class="card mb-20px">
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex">
                                    <label class="form-control-label">{{ 'collection.enabled'|trans }}</label>
                                </div>
                                <div class="d-flex">
                                    {{ form_widget(form.enabled, {'label_attr': {'class': 'switch-custom'}, 'label': ' '}) }}
                                </div>
                            </div>
                            {{ form_errors(form.enabled) }}
                            {% do form.enabled.setRendered() %}
                        </div>
                    </div>
                    <div class="form-group row mb-0">
                        <div class="col-sm-12">
                            {{ form_label(form.parent, form.parent, { 'label_attr': {'class': '' }, 'label': 'collection.parent-collection'|trans }) }}
                            {{ form_widget(form.parent) }}
                            {{ form_errors(form.parent) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="card overflow-hidden mb-20px">
                <div class="card-body">
                    <div class="h5 admin-card-title mb-3">{{ 'collection.image'|trans }}</div>
                    <div class="d-flex align-items-center w-100 mt-2 img-thumbnail img-preview" style="height: 250px;">
                        {% if form.vars.data.image|default %}
                            <div class="w-100">
                                <img class="w-100" src="{{ uploaded_asset(form.vars.data.imagePath)|imagine_filter('unscaled') }}" />
                            </div>

{#                            <div class="w-100 img-thumbnail" style="background: url('{{ uploaded_asset(form.vars.data.imagePath)|imagine_filter('unscaled') }}') center center / cover no-repeat; height: 250px;"></div>#}
                        {% else %}
                            {% include 'admin/_missing-image-insert.html.twig' with {
                                className: 'img-unavailable-lg'
                            } %}
                        {% endif %}
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="row mb-5">
        <div class="col-sm-12">
            {# Render CSRF token etc .#}
            <div style="display:none">
                {{ form_rest(form) }}
            </div>

            <div class="form-group row mb-0">
                <div class="col-sm-12">
                    <input type="submit" value="{{ 'generic.save-changes'|trans }}" class="btn btn-lgg btn-primary mr-1" formnovalidate>
                    <a href="{{ cancelUrl }}" class="btn btn-secondary">{{ 'generic.cancel'|trans }}</a>
                </div>
            </div>
        </div>
    </div>

{{ form_end(form) }}