{% extends 'admin/template-editing.html.twig' %}
{#{% extends 'admin/template-with-sidebar.html.twig' %}#}

{% set pageTitle = title %}
{% set breadcrumb = {
    0: {
        'url': path('dashboard'),
        'text': 'dashboard.dashboard'|trans,
    },
    1: {
        'url': path('product-list'),
        'text': 'Termékek',
    }
} %}
{% set cancelUrl = path('product-list') %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('ProductEdit') }}
{% endblock %}

{% block content %}
    <div id="v--product" class="mb-6">
        <product :product-id="{{ product is defined ? product.id : 0}}">
        </product>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('ProductEdit') }}
{% endblock %}