{% extends 'admin/base_admin.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block page_content %}

	<!-- page title -->
    {{ include('/admin/_title_widget.html.twig') }}

	<!-- header of default page content widget -->
    {{ include('/admin/_header_of_default_page_content.html.twig') }}

    <div id="v--product">
        <product :product-id="{{ product is defined ? product.id : 0}}">
        </product>
    </div>

    <div class="row mb-2">
        <div class="col-lg-12">
        </div>
    </div>

    {#{{ include('/admin/product/_form.html.twig') }}#}

	<!-- footer of default page content widget -->
    {{ include('/admin/_footer_of_default_page_content.html.twig') }}

{% endblock %}

{% block javascripts %}
	{{ parent() }}
    <script>
        // Used for showing the selected filename in the File input field
        $('.custom-file-input').on('change', function(event) {
            var inputFile = event.currentTarget;
            $(inputFile).parent()
                .find('.custom-file-label')
                .html(inputFile.files[0].name);
        });
    </script>
    <script>
        var $option1 = $('#product_form_kind_0');  // When 'Több méretű csokor' gets selected...
        var $option2 = $('#product_form_kind_1');
        $option1.click(function() {
            var $form = $(this).closest('form'); // ...retrieve the corresponding form.
            console.log($form);
            // Simulate form data, but only include the selected Kind value.
            var data = {};
            console.log($form.attr('action'));
            data[$option1.attr('name')] = $option1.val();
            // Submit data via AJAX to the form's action path.
            $.ajax({
                url : $form.attr('action'),
                type: $form.attr('method'),
//                data: $form.serialize(),
                data: data,
                success: function(html) {
                    console.log('true');
                    console.dir($(html).find('.JS--Wrapper-subproductsPriceFields'));

                    $('.JS--Wrapper-subproductsPriceFields').replaceWith($(html).find('.JS--Wrapper-subproductsPriceFields')); // Replace current form with the new one which now has the extra field: 'subproducts'
                },
                error: function (err) {
                    alert("Hiba történt... [JS]");
                }
            });
        });
        $option2.click(function() {
            var $form = $(this).closest('form'); // ...retrieve the corresponding form.
            $('.JS--Wrapper-subproductsPriceFields').empty();
        });

    </script>
{% endblock %}

