{% extends 'admin/template-editing.html.twig' %}

{% set pageTitle = 'Általános beállítások' %}
{% set breadcrumb = {
    0: {
        'url': path('settings-home'),
        'text': 'settings.settings'|trans,
    },
} %}

{% set cancelUrl = path('settings-home') %}

{% block content %}
    {{ form_start(form, { 'attr': {'class': '' }}) }}
    {% if parameters is defined and parameters %}
        {% for group, params in parameters %}
            <div class="row row-5">
                <div class="col-md-4 col-lg-5 pt-0 pt-md-3">
                    <div class="mb-3 pr-md-5 pr-lg-7">
                        <span class="h5 mb-2 mb-md-3 admin-card-title">{{ params['label']['content'] }}</span>
                        <p class="text-muted">{{ params['label']['label'] }}</p>
                    </div>
                    <div class="admin-card-toprightX">
                        {#                <a href="{{ path('shipping-edit') }}" class="btn btn-outline-primary mb-2"><i class="fas fa-plus-square mr-1"></i> Új szállítási  mód</a>#}
                    </div>
                </div>

                <div class="col-md-8 col-lg-7 px-0 px-md-10px">
                    <div class="card mb-20px">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    {% for key, value in params %}
                                        {% if key != 'label' %}
                                            {% if key == 'launch-date' %}
                                                <div class="form-group row {% if loop.last %}mb-0{% endif %}">
                                                    <div class="col-sm-12 text-muted">
                                                        {{ form_label(form.offsetGet(group ~ '_' ~ key)) }}
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="field-group">
                                                            <div class="field-item field-append">
                                                                <div class="field-addon-append">
                                                                    <i class="far fa-calendar-alt"></i>
                                                                </div>
                                                            </div>
                                                            {{ form_widget(form.offsetGet(group ~ '_' ~ key)) }}
                                                        </div>
                                                        {{ form_errors(form.offsetGet(group ~ '_' ~ key)) }}
                                                    </div>
                                                </div>
                                            {% endif %}
                                            <div class="form-group row {% if loop.last %}mb-0{% endif %}">
                                                <div class="col-sm-12 text-muted">
                                                    {{ form_label(form.offsetGet(group ~ '_' ~ key)) }}
                                                </div>
                                                <div class="input-fieldX col-sm-12">
                                                    {#                                                                        {{ form_label(form.offsetGet(group ~ '_' ~ key)) }}#}
                                                    {{ form_widget(form.offsetGet(group ~ '_' ~ key)) }}
                                                    {{ form_errors(form.offsetGet(group ~ '_' ~ key)) }}
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <div class="row row-5">
        <div class="col-md-4 col-lg-5 pt-0 pt-md-3">
        </div>
        <div class="col-md-8 col-lg-7 mb-3">
            <div class="">
                {# Render CSRF token etc .#}
                <div style="display:none">
                    {{ form_rest(form) }}
                </div>

                <input type="submit" value="Mentés" class="btn btn-primary mr-1" formnovalidate>
                <a href="{{ cancelUrl }}" class="btn btn-secondary">Mégse</a>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
    {% do form.setRendered() %}
{% endblock %}