{% extends 'webshop/site/template-account.html.twig' %}

{% set pageTitle = 'account.my-account'|trans %}
{% set breadcrumb = {
    0: {
        'url': path('homepage'),
        'text': 'generic.home'|trans,
    },
    1: {
        'url': path('site-user-myAccount'),
        'text': 'account.my-account'|trans
    },
} %}

{% block bodyClass %} {{ parent() }} my-account-show-sidebar{% endblock %}

{% block content %}
    <div class="d-none d-md-flex card">
        <div class="">
            <div class="card-body">
                <div class="card-title h3">{{ 'account.last-orders'|trans }}</div>
                {% if orders is defined and orders is empty %}
                    <div class="mt-3">
                        <span class="">{{ 'account.no-previous-orders-yet'|trans }}</span>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>


    {% if orders is defined and orders is not empty %}
        <div class="previous-orders list-groupX">
            {% for order in orders|slice(0,3) %}
                <div class="card mt-20px">
                    <div class="card-body">
                        {% include('webshop/user/user-myOrders-list-widget.html.twig') %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <div class="mt-20px pt-3 border-top text-center">
        <a href="{{ path('site-user-myOrders') }}" class="btn btn-secondary">{{ 'account.all-previous-orders'|trans }}</a>
    </div>
{% endblock %}